﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);


}


<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Nevada Insurance Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You have successfully completed ProSchools’ Insurance Prelicense course including Nevada Laws & Rules. You
are now perpared for both the national and state specific portions of the state exam.</i>.
	<br><br>

<b><u>Import Instructions</u></b><br>

<ol>
<li>ProSchools will transmit a record of completion to Sircon.</li>
<li>You may register for your state exam with Pearson VUE. They can be reached at www.pearsonvue.com
or at (800) 274-3444.</li>
<li>All questions and registration information pertaining to the examination should be directed to Pearson
VUE.</li>
<li>You should report 30 minutes prior to your scheduled exam time and be able to provide two forms of
identification. Candidates should bring their exam confirmation number received when making your
exam reservation.</li>
<li>Questions pertaining to licensure should be directed to:</li>
</ol>

Department of Business and Industry - Division of Insurance<br><br>

<table width=100%>
<tr width=100%>
	<td>1818 E. College Pkwy, Suite 103<br>
Carson City, NV 89706<br>
(775) 687-0700 (phone)<br>
(775) 687-0787 (fax)<br></td>

	<td>2501 East Sahara Avenue, Ste. 102<br>
Las Vegas, NV 89104-4137<br>
(702) 486-4009 (phone)<br>
(702) 486-4007 (fax)<br></td>
</tr>
</table>
<br>

<br>

<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>
<br>
<br>
<br>
<br>

<div class="completion_cert_nvpe">
	<br>
	<br>
	<div class="intro_title_nv">
		<b>STATE OF NEVADA<br>
DEPARTMENT OF BUSINESS AND INDUSTRY<br>
<u>DIVISION OF INSURANCE</u><br>
1818 East College Pkwy, Suite 103<br>
Carson City Nv 89706<br>
(775) 687-0700<br>
doi.nv.gov<br><br>
Certificate Of Completion Of <u>Prelicensing</u> Education Requirement<br>
	</b></div>

<br>
<div class="intro_text_nv">
@Model.UserFullName<br>
<img src="/Certificates/Default/student_name.png" border=0 style="style="text-align:left">
<br>


<b>Name and Address of Sponsor:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ProSchools<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6771 W Charleston Blvd, Ste C<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Las Vegas, NV 89146<br>
</b><br>

Title of Course: @Model.TrainingProgram.Name <br><br>
Type of Course: _____ Classroom Instruction __X__ Self-Study _____ Individual Instruction<br><br>
Hours of Attendance: @Model.TrainingProgram.Cost Beginning Date: @Model.FormatDate(@Model.TrainingProgram.StartDate.Value) Completion Date: @Model.FormatDate(targetTime)<br><br>
</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label_left">Provider Number:</td>
	<td class="completion_data">108077</td>
</tr>
<tr width=100%>
	<td class="completion_label_left">Course Approval Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr>
<tr width=100%>
	<td class="completion_label_left">Course Approval Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr>
<tr width=100%>
	<td class="completion_label_left">Physical Location of Course:</td>
	<td class="completion_data">Online</td>
</tr>
<tr width=100%>
	<td class="completion_label_left">Lines of Insurance:</td>
	<td class="completion_data">@Model.GetTrainingProgramMeta("Course Category Type")</td>
</tr>
</table>

<div class="intro_text_nv">
<b>Name of Instructor: Gary Sternberg, Director of Insurance</b></div>
<br>
<div class="completion_footer4">
I certify that the above named student was in attendance the required number of hours, received a passing score of 70 percent or
higher and successfully completed the Prelicensing Education Course(s) listed above. I also certify that the instructor listed has been
approved and qualifies pursuant to NAC 683A.190 through 683A.201.K</div>
<br>
<div class="intro_text_nv">
<img src="/Certificates/Default/mjackson_6.png" border=0 style="style="text-align:left">Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)

<br>
Prelicensing Certificate of Completion Revised 2/2011
<br>
</div>


<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>