/*------------------------------------------------------------------------- */
/* General */
/*------------------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

IMG {
  border: none;
}

.HEADER, .SECTION, .FOOTER, .NAV {
  display: block;
}

.NAV UL {
  list-style: none;
  margin: 0;
  padding: 0;
}
.NAV UL LI {
  display: inline-block;
  *display: inline;
}

/*------------------------------------------------------------------------- */
/* Typography */
/*------------------------------------------------------------------------- */
BODY {
  font-size: 85%;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

PRE, CODE, TT, KBD {
  font-family: "Courier New" Courier monospace;
  font-size: 1.2em;
}

H1 {
  font-size: 18px;
  font-weight: normal;
}

H2 {
  margin: 0;
  font-size: 22px;
}

H3 {
  margin: 0;
  font-size: 18px;
}

H1, H2, H3 {
  font-family: Helvetica, Arial, sans-serif;
}

H1, H2, H3, H4 {
  color: #a0c0c2;
}

.TitleBar h1 {
  color: #fff;
}

UL, OL, DL {
  margin: 1.4em 1.4em;
}

P, div.p {
  margin: 1.4em 0;
}
EM {
  /*font-style: normal;*/
}

HR {
  height: 1px;
  border: none;
  border-bottom: 1px solid #666666;
}

.hidden {
  display: none;
}

/*------------------------------------------------------------------------- */
/* Display */
/*------------------------------------------------------------------------- */
.aligned_left {
  float: left;
  margin: 0 1em 1em 0;
}

.aligned_right {
  float: right;
  margin: 0 0 1em 1em;
}

/*------------------------------------------------------------------------- */
/* Page Backgrounds */
/*------------------------------------------------------------------------- */
BODY {
  background: #8c9394;
}

.Header {
  background: #f0f5f6 url(../img/header_bg.jpg) no-repeat center bottom;
}

.TitleBar {
  background: #96adb7 url(../img/titlebar_bg.jpg) no-repeat center top;
}

.Main {
  background: url(../img/main_bg.jpg) no-repeat center 0px;
  height:100%;
}

.MainWrapper {
  background: #f8fafb;
}

/* The -48px is a magic number that must change if the height of the
 * .TopPageNav changes. */
.ContentWrapper {
  background: #e9e8e5 url(../img/content_wrapper_bg.jpg) no-repeat center -74px;
}

/*------------------------------------------------------------------------- */
/* Grid */
/*------------------------------------------------------------------------- */
.grid_1 {
  width: 45px;
}

.grid_2 {
  width: 120px;
}

.grid_3 {
  width: 195px;
}

.grid_4 {
  width: 270px;
}

.grid_5 {
  width: 345px;
}

.grid_6 {
  width: 420px;
}

.grid_7 {
  width: 495px;
}

.grid_8 {
  width: 570px;
}

.grid_9 {
  width: 645px;
}

.grid_10 {
  width: 720px;
}

.grid_11 {
  width: 795px;
}

.grid_12 {
  width: 870px;
}

.col {
  margin: 0 15px;
  overflow: hidden;
  float: left;
  display: inline;
}

.row {
  overflow: hidden;
  *zoom: 1;
  width: 900px;
  margin: 30px auto;
}

.row .row {
  margin: 30px -15px 0;
  width: auto;
  display: inline-block;
}

/*------------------------------------------------------------------------- */
/* Structure */
/*------------------------------------------------------------------------- */
BODY {
  margin: 0;
  padding: 0 0 2em;
}

.Header {
	position: relative;
	z-index: 1;
}
.Header .HeaderWrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.Header .Logo {
  padding: 10px 0;
  text-align: right;
  height: 50px;
}
.Header .Logo A {
  text-decoration: none;
}

.TitleBar {
  position: relative;
  padding: 6px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.TitleBar h1 {
  padding: 0;
  margin: 12px 0 12px 0;
}

.MainNav {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}

/* This is the selected item in the main navigation */
.artisan-sco .selected{
	background-color: #C01A4A;
}

.Main {
  border-top: 4px solid white;
  position: relative;
  z-index: 0;
}
.Main .MainWrapper {
  margin: 0 auto;
  padding: 0px 20px 10px;
  width: 960px;
}
.ie7 .Main .MainWrapper {
  width: 920px;
}

.Content {
  clear: both;
}
.Content .ContentWrapper {
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  min-height:400px;
  /* next 2 lines are for IE */
  height: auto !important; 
  height: 400px;
}
.Content .ContentWrapper .p,
.Content .ContentWrapper h3,
.Content .ContentWrapper .artisan-question {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #dbdbd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #f8fdff;
  padding: 1.5em 1.5em;
}

.Content .ContentWrapper h3 
{
    padding: 1em 1.5em;
}

/*---------------------*/
/*   Objectives Page   */
/*---------------------*/
.Content .ContentWrapper div.objectives .learningobject a {
	/*color: #980202;*/
}

div.objectives
{
	background-color: transparent !important; /* override jstree */
}
div.objectives a 
{
	color: #333333; /* need to respecify our main color to override jstree */
	white-space: normal !important;
	height: auto;
	padding: 1px 2px;
	width: 95%;
} 
div.objectives li > ins {
	vertical-align: top;
}

div.objectives .jstree-hovered,
div.objectives .jstree-clicked {
	border: 0;
}

/*--------------------*/
/*   Question Pages   */
/*--------------------*/
ol.artisan-answers {
	margin: 0;
	padding: 5px;
	padding-left: 18px;
	list-style-type: upper-alpha;
}

ol.artisan-answers li{
	margin: 5px 0 5px 0;
}

/* Do not display numbers for True/False answers */
div.artisan-question-truefalse ol.artisan-answers{
	list-style-type: none;
	padding-left: 0;
}

/*----------------*/
/*   Navigation   */
/*----------------*/
.TopPageNav {
  overflow: hidden;
  *zoom: 1;
  z-index: 0;
  /*margin: 0 0 1em;*/
  /*display: none;*/
}

.BottomPageNav {
  clear: both;
  overflow: hidden;
  *zoom: 1;
  margin: 10px 0 0;
}
/*.ie7 .BottomPageNav {
  margin: -10px 0 20px;
}*/

.artisan-page-numbers {
	color: #90ABB8;
}

/*------------------------------------------------------------------------- */
/* Buttons */
/*------------------------------------------------------------------------- */
.button, BUTTON {
  width: auto;
  overflow: visible;
  margin: 0 0.2em 0 0.2em;
  padding: 0.1em 1em;
  vertical-align: baseline;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: normal;
  background: #90ABB8;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border-width: 0;
  cursor: pointer;
}
.button:HOVER, BUTTON:HOVER {
  background-color: #d2e9ee;
}
.button:ACTIVE, BUTTON:ACTIVE {
  background-color: #64b2c3;
}

INPUT[type=submit], INPUT[type=button] {
  width: auto;
  overflow: visible;
  margin: 0 0.2em 0 0;
  padding: 0.1em 1em;
  vertical-align: baseline;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: normal;
  background: #90ABB8;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border-width: 0;
}
INPUT[type=submit]:HOVER, INPUT[type=button]:HOVER {
  background-color: #d2e9ee;
}
INPUT[type=submit]:ACTIVE, INPUT[type=button]:ACTIVE {
  background-color: #64b2c3;
}

a.button.disabled,
input[type="button"].disabled {
  background-color: #eeeeee;
  color: #dddddd;
  cursor: default;
}

.button {
  padding: 0.2em 1em;
}
.ie7 .button {
  /*position: relative;*/
  top: -0.15em;
  padding: 0.2em 1em;
  margin-left: 0.5em;
}

.call_to_action {
  font-size: 1.6em;
}

/*------------------------------------------------------------------------- */
/* Icons */
/*------------------------------------------------------------------------- */
.icon {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: 6px center;
}
.ie7 .icon {
  padding-left: 24px;
}

.icon_arrow {
  background-image: url(../img/icons/button_arrow.png);
}
.ie6 .icon_arrow {
  background-image: url(../img/icons/button_arrow.gif);
}

/*------------------------------------------------------------------------- */
/* Components */
/*------------------------------------------------------------------------- */
.page_nav {
  padding: 10px;
  padding-top:0;
  float: right;
}
.page_nav_inner{
	padding:0.2em 0;
}
.element_media
{
    position:relative;
    padding: 5px;
}
.element_text img{
  line-height: 1px;
  display: inline;
  border: 2px solid #dbdbd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.Content .p .icon{
	background-position: 0px 0px;
	background-repeat:no-repeat;
	padding-left:0;
}

.Content .p .icon.definition
{
    background-image:url(../img/definition.png);
}
.Content .p .icon.didyouknow
{
    background-image:url(../img/didyouknow.png);
}
.Content .p .icon.important
{
    background-image:url(../img/important.png);
}
.Content .p .icon.reminder
{
    background-image:url(../img/reminder.png);
}
.Content .p .icon.tip
{
    background-image:url(../img/tip.png);
}

.Content .p .icon h3{
	display:block;
	padding: 5px 0 0 75px;
	font-weight:heavy;
	color:#93c9d5;
	margin: 0;
	font-size:28px;
	background:none repeat scroll 0 0 transparent;
	border:0;
}
.Content .p .icon p{
	display:block;
	text-indent:70px;
	font-weight:heavy;
	color:#666666;
	padding: 10px 5px 5px 5px;
	margin: 0;
}


/*------------------------------------------------------------------------- */
/* Components Instances */
/*------------------------------------------------------------------------- */
li.course-objectives ins
{
    display:none;
}
li.course-objectives li ins
{
    display:inline-block;
}
.artisan-answers
{
    position:relative;
}


/*------------------------------------------------------------------------- */
/* Game Board */
/*------------------------------------------------------------------------- */
.artisan-game
{
	float: left;
	display: inline;
	padding-top: 20px;
}

/* GameBoard Buttons */
.game_button {
	display: inline-block;
	position:relative;
	width:80px;
	height:37px;
	line-height:37px;
	background-repeat:no-repeat;
	cursor:pointer;
	margin: 0 14px 30px 0;
	font-size: 20px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}
A.game_button:HOVER {
	color: #FFF;
}

.game_button_col_1 {
	background-image: URL(../img/gameboard/gameboard.button.green.jpg);
}
.game_button_col_2 {
	background-image: URL(../img/gameboard/gameboard.button.blue.jpg);
}
.game_button_col_3 {
	background-image: URL(../img/gameboard/gameboard.button.purple.jpg);
}
.game_button_col_4 {
	background-image: URL(../img/gameboard/gameboard.button.tan.jpg);
}

.game_button_col_1:hover {
	background-image: URL(../img/gameboard/gameboard.button.green.hover.jpg);
}
.game_button_col_2:hover {
	background-image: URL(../img/gameboard/gameboard.button.blue.hover.jpg);
}
.game_button_col_3:hover {
	background-image: URL(../img/gameboard/gameboard.button.purple.hover.jpg);
}
.game_button_col_4:hover{
	background-image: URL(../img/gameboard/gameboard.button.tan.hover.jpg);
}

.answered {
	background-image: URL(../img/gameboard/gameboard.button.answered.jpg);
}
.answered:HOVER {
	cursor: pointer;
	background-image: URL(../img/gameboard/gameboard.button.answered.jpg);
}

.off_button {
	background-image: URL(../img/gameboard/gameboard.button.answered.jpg);
}
.off_button:HOVER {
	cursor: default;
	background-image: URL(../img/gameboard/gameboard.button.answered.jpg);
}

.game_total 
{
	font-size: 20px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
    padding-top: 15px;
}

li.artisan-sco.disabled a
{
	color:#ccc;
	background-image: url(../img/icons/lock.png) !important;
	background-repeat:no-repeat;
    background-position:6px 10px;
}
.artisan-sco.selected
{
    background-repeat:no-repeat;
    background-position:6px 13px;
    background-image: url(../img/icons/arrow.png);
}
.ie6 .artisan-sco.selected
{
    background-image: url(../img/icons/arrow.gif);
}
.jstree a
{
    cursor:default;
}
.artisan-progress
{
    width:400px;
    height:1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.artisan-progress-inner
{
    
}

.artisan-progress-item,
.artisan-progress-item-inner{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
	color:#fff;
	white-space:nowrap;
}

.artisan-progress-item-inner{
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
    -webkit-border-radius-topright: 0;
	-webkit-border-radius-bottomright: 0;
    -o-border-radius-topright: 0;
	-o-border-radius-bottomright: 0;
    -ms-border-radius-topright: 0;
	-ms-border-radius-bottomright: 0;
    -khtml-border-radius-topright: 0;
	-khtml-border-radius-bottomright: 0;
}

.artisan-progress-item{
	height:13px;
}

.artisan-progress-item-wrap{
	float:left;
}

.artisan-progress
{
    width:100%;
    height:100%;
	padding-top:10px;
	padding-left:15px;
}
.artisan-progress-text{
	font-size:11px;
	font-weight:bold;
}
.artisan-progress-percent{
	font-size:10px;
	font-weight:bold;
	text-align:right;
	white-space:nowrap;
	padding-right:10px;	
}
.artisan-progress-inner,
.artisan-progress-lo,
.artisan-progress-sco,
.artisan-progress-course
{
    width:100%;
	position:relative;
}

.artisan-progress-lo,
.artisan-progress-sco,
.artisan-progress-course{
	border:1px solid #DBDBD8;
	overflow:hidden;
	margin-right:10px;
}

.artisan-progress-lo{
	width:30%;
	float:left;
	background-color:#B0CBD8;
	display:none;
}

.artisan-progress-sco{
	width:300px;
	background-color:#CBCBCB;
}
.artisan-progress-course{
	width:300px;
	background-color:#CBCBCB;
}

.artisan-progress-lo-inner{
	width:5%;
	background-color:#90ABB8;
	padding:0 5px;
}
.artisan-progress-sco-percent{
	color:#BD9728;
}
.artisan-progress-sco-inner{
	width:50%;
	background-color:#BD9728;
	padding:0 5px;
}
.artisan-progress-course-percent{
	color:#F69826;
}
.artisan-progress-course-inner{
	width:33%;
	background-color:#F69826;
	padding:0 5px;
}
.artisan-progress-item-inner{
	height:100%;
}
.artisan-review-missed-questions-header
{
    position:relative;
}
.artisan-review-nav
{
}
#artisan-review-page-summary,
#artisan-review-page-question,
#artisan-review-page-reference
{
    margin:-15px;
    padding:15px;
}
#artisan-review-page-summary
{
    margin-top:0;
    /*background-color:#FBFBF9;*/
}

#artisan-review-page-question
{
    margin-top:25px;
    padding-bottom:5px;
    background-color:#BBD1DC;
}
#artisan-review-page-reference
{
    margin-top:25px;
    /*background-color:#FBFBF9;*/
}
.artisan-review-content h3.artisan-review-title,
.artisan-review-content h3.questions-missed-title
{
    margin:0;
    padding:0;
    border:0;
    background:none;
}
.artisan-review-content .artisan-review-inner
{
    float:left;
    width:57%;
}

.artisan-review-content .artisan-review-missed-questions-header
{
    float:right;
    width:42%;
    margin:0;
    background-color:#fff !important;
}
.artisan-review-content .artisan-review-missed-questions-header h3
{
    padding-bottom:15px;
}
.artisan-review-content .artisan-review-missed-questions-header h3 span
{
    font-size:11px;
}
.artisan-review-inner p
{
    margin-top:0.4em;
}
.artisan-review-content div.spacer
{
    height:45px;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.artisan-site-image{
	height: 30px;
	width: 178px;
	background-image: url('../img/site_logo.png');
	position: absolute;
	right:0px;
}

.artisan-course-image{
	height: 48px;
	width: 40px;
	background-image: url('../img/course_logo.png');
	float: left;
}

#artisan_loading
{
    position:absolute;
    left:0;top:0;
    width:100%;height:100%;
    background-color:#fff;
    z-index:10000;
}
#artisan_loading div
{
    width:500px;
    padding:30px;
    margin:30px auto;
    border:1px solid #ccc;
	text-align:center;
}
#artisan-submenu
{
    position:relative;
}

ul li.artisan-sco.topitem.selected
{
    background-image:none;
}

/* Matching Question */
ul.artisan-matching-answers
{
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    float: left;
}

.artisan-matching-answer
{
    margin: 10px;
}

.artisan-matching-answer.left
{
    width: 200px;
    padding: 5px;
}
.artisan-matching-text-left
{
    width: 200px;
    background-color: #eeeef3;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #dbdbd8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.artisan-matching-answer.right
{
    background-color: #eeeef3;
    padding: 5px;
    border: 1px solid #dbdbd8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.artisan-matching-answer.right>span
{
    width: 300px;
    float: left;
}

.artisan-matching-dropzone
{
    width: 220px;
    height: 50px;
    border: 1px dashed #dbdbd8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    float: left;
    background-color: #ffffff;
    margin-right: 10px;
}

.droppable-active
{
    background-color: #ffeeee;
}

.droppable-hover
{
    background-color: #ffffee;
}

/* Category Matching Question */
.artisan-category-match
{
    /*width: 200px;*/
    background-color: #eeeef3;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #dbdbd8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: 5px;
    font-weight: bold;
}

.artisan-category-matches
{
    border-bottom: 1px solid #dbdbd8;
    padding: 10px;
}

.artisan-category
{
    background-color: #eeeef3;
    float: left;
    margin: 15px;
}

.artisan-category-head
{
    margin: 10px;
    font-size: 16pt;
    font-weight: bold;
}

.artisan-category-head span
{
    margin-right: 10px;
}

.artisan-category-dropzone
{
    width: 230px;
    border: 1px dashed #dbdbd8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 10px;
    margin-top: 0;
    padding-bottom: 100px;
    padding-right: 10px;
}

/**** Surveys ****/
.artisan-survey-items
{
    margin: 20px;
}

#survey-comments-field
{
    margin: 20px;
}

.artisan-survey-item-text
{
    width: 250px;
}

.artisan-survey-item-value
{
    width: 60px;
    text-align: center;
}

/**** Footer ****/
.artisan-footer
{
    text-align: center;
    margin-top: 10px;
    color: #eeeef3;
}

.artisan-footer a
{
    color: #eeeef3;
    text-decoration: none;
}


.MainWrapper {
	position: relative;
}
div.popup-menu-wrapper
{
    position: absolute;
    bottom: 22px;
    width: 400px;
}
body#tinymce > .pdf-menu,
div.popup-menu-wrapper div.pdf-menu
{
      display: none;
      position: absolute;
      bottom: 20px;
      border: 1px solid rgb(170, 170, 170);
      background: white;
      max-height: 135px;
      overflow-y: auto;
      left: 3px;
      -moz-border-radius: 5px 5px 5px 0px;
      -webkit-border-radius: 5px 5px 5px 0px;
      -o-border-radius: 5px 5px 5px 0px;
      -ms-border-radius: 5px 5px 5px 0px;
      -khtml-border-radius: 5px 5px 5px 0px;
      border-radius: 5px 5px 5px 0px;
      min-width: 120px;
      max-width: 400px;
      overflow-x: hidden;
      text-overflow: ellipsis;
}
div.popup-menu-wrapper.open div.pdf-menu
{
    display: block;
}

div.popup-menu-wrapper.open .button
{
      -moz-border-radius: 0px 0px 5px 5px;
      -webkit-border-radius: 0px 0px 5px 5px;
      -o-border-radius: 0px 0px 5px 5px;
      -ms-border-radius: 0px 0px 5px 5px;
      -khtml-border-radius: 0px 0px 5px 5px;
      border-radius: 0px 0px 5px 5px;
}

div.popup-menu-wrapper div.pdf-menu ul
{
    max-height: 120px;
    overflow: auto;
    list-style-type: none;
    margin: 5px;
    padding: 10px;

}