﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Online Course Completion";
}
<div id="CertificateHeading">
		    <br>
		    <img src="/images/coursecompletionheading.gif" border=0 id="certificate_heading" style="text-align:center">
		    <br><br><br><br><br>
		</div>
		<div id="NameLine" class="font2">It is hereby certified that</div>
		<div id="StudentName" class="student_name" style="padding-bottom:5px;">@Model.UserFullName</div>  
		<div id="CourseLine" class="font2">has successfully completed</div>
		<div id="Div1" class="font2">the online course</div>
		<div id="CourseName" class="font1">@Model.Course.Name<br><br></div>  
		<div id="ScoreLine" class="font2">With a score of</div>
		<div id="Score" class="font1">@Model.TranscriptEntry.Score<br><br></div> 
		<div id="DateLine" class="font2">On the date of</div>
@{
    var timeUtc = Model.TranscriptEntry.EndDate.Value;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Eastern Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);
}
		<div id="TestDate" class="font1">@targetTime</div>
