﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

} 

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Oregon Insurance Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ <i>@Model.TrainingProgram.Name</i>. You are now
prepared for both the national and state specific portions of the state exam.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
To renew your license:<br>
<ol>
<li>Register for your state exam with PSI. They can be reached at www.psiexams.com or at 1-800-733-9267.</li>
<li>All questions and registration information pertaining to the examination should be directed to PSI.</li>
<li>Questions pertaining to licensure should be directed to:<br><br>
	Oregon Department of Consumer & Business Services - Insurance Division<br>
	Phone: (503) 947-7980<br>
	FAX: (503) 378-4351<br>
	E-Mail: dcbs.instmail@state.or.us<br>
	Website: http://www.insurance.oregon.gov<br><br>
</li>
<li>You are required to bring your original certificate of completion with you to the test center on exam day.</li>
<li>You should report 30 minutes prior to your scheduled exam time and be able to provide two forms of
identification, including one with a picture and signature. Candidates should bring their exam
confirmation number received when making your exam reservation.</li>
</ol>

<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>
	<div class="intro_title">
		<b>Oregon Insurance Prelicense Certificate</b><br><br>


	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr>
<tr width=100%>
	<td class="completion_label">Date School Completed:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">School ID:</td>
	<td class="completion_data">4048 (ONLINE)</td>
</tr>

<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr>
<tr width=100%>
	<td class="completion_label">Trainer Signature:</td>
	<td class="completion_data"><img src="/Certificates/Default/abby_2.png" border=0 id="certificate_heading" style="style="text-align:left"></td>
</tr>
<tr width=100%>
	<td class="completion_label">Credit Hours:</td>
	<td class="completion_data">Number of Hours: @Model.TrainingProgram.Cost</td>
</tr>

</table>
<br>


<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>