<div style="font-family:Verdana;margin-top:15px;border:solid #ccc 1px;width:690px">
    <h3 style="font-family:inherit;font-size:18px;font-weight:bold;background:#d5d5d5 url(../../qa_type_bg.png) repeat-x top;border-bottom:solid #ccc 1px;margin:0;padding:5px 10px 10px 10px">Fill in the Blank</h3>
    <div style="padding-top:15px;background:#f8f8f8 url(../../qa_gb_fffeee.png) repeat-x top;">
       <p style="font-family:inherit;font-size:12px;font-weight:bold;padding:5px 10px 20px 10px;margin:12px 0 0 0">{question}</p>
       <div style="overflow:auto;float:left;margin:0 10px 0 10px;height:175px;width:320px">
            <ol id="fillInTheBlankList">
                {answertemplate:<li><input type="text" class="fillInTheBlankTextBox answerElToDisable" name="answerText{id}" value=""/></li>:endanswertemplate}
            </ol>
        </div>
        <div><input type="button" name="answerSubmitBtn" value="Submit" class="answerElToDisable" onclick="DisplayFeedback( CheckAnswer(this,'fillInTheBlankList','fillInTheBlankTextBox') );" /></div>
        <div id="correctAnswerFeedbackDiv" style="display:none">{correctFeedback}</div>
        <div id="incorrectAnswerFeedbackDiv" style="display:none">{incorrectFeedback}</div>
        <div style="float:right;height:175px;width:320px;text-align:left;overflow:hidden">
        </div>
    <div style="clear:both;font-size:1px height:1px"></div>
    </div>
</div>