<div style="font-family:Verdana;margin-top:15px;border:solid #ccc 1px;width:690px">
    <h3 style="font-family:inherit;font-size:18px;font-weight:bold;background:#d5d5d5 url(../../qa_type_bg.png) repeat-x top;border-bottom:solid #ccc 1px;margin:0;padding:5px 10px 10px 10px">Flash</h3>
    <div style="padding-top:15px;padding-bottom:10px;background:#f8f8f8 url(../../qa_gb_fffeee.png) repeat-x top;">
       <div style="overflow:auto;float:left;margin:0 10px 0 10px;min-height:175px;width:640px">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" id="test" width="500" height="300" align="middle">                <param name="allowScriptAccess" value="sameDomain" />                <param name="movie" value="../../test.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <embed src="../../test.swf" quality="high" bgcolor="#ffffff" width="500" height="300" name="test" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />            </object>        </div>
    <div style="clear:both;font-size:1px height:1px"></div>
    </div>
</div>