<div style="font-family:Verdana;margin-top:15px;border:solid #ccc 1px;width:690px">
    <h3 style="font-family:inherit;font-size:18px;font-weight:bold;background:#d5d5d5 url(../../qa_type_bg.png) repeat-x top;border-bottom:solid #ccc 1px;margin:0;padding:5px 10px 10px 10px">Hotspot</h3>
    <div id='imageAnswerContainer' style="padding-top:15px;background:#f8f8f8 url(../../qa_gb_fffeee.png) repeat-x top;">
       <p style="font-family:inherit;font-size:12px;font-weight:bold;padding:5px 10px 20px 10px;margin:12px 0 0 0">{question}</p>
       <div id="answerContainer" style="overflow:auto;float:left;margin:0 10px 0 10px;min-height:175px;width:640px">
            {assetcontent}<map name="map-{asset_element_id}"><area style='border:1px solid red;cursor:default;' coords="{coords}" shape="rect" /></map>
        </div>
        <div><input type="button" name="answerSubmitBtn" value="Submit" style='margin-top:10px;' class="answerElToDisable" onclick="DisplayFeedback( CheckAnswer(this,'hotspotList','') );" /></div>
        <div id="correctAnswerFeedbackDiv" style="display:none">{correctFeedback}</div>
        <div id="incorrectAnswerFeedbackDiv" style="display:none">{incorrectFeedback}</div>
    	<div style="clear:both;font-size:1px height:1px"></div>
    </div>
</div>