<div id="review">
	<div id="score">
		<div id="userscore">
			<div id="yourscore"></div>
			<div id="reviewus0" class="reviewscore zero"></div>
			<div id="reviewus1" class="reviewscore one"></div>
			<div id="reviewus2" class="reviewscore two"></div>
			<div id="reviewus3" class="reviewscore three"></div>
		</div>
		<div id="passingscore">
			<div id="masteryscore"></div>
			<div id="reviewps0" class="reviewscore zero"></div>
			<div id="reviewps1" class="reviewscore one"></div>
			<div id="reviewps2" class="reviewscore two"></div>
			<div id="reviewps3" class="reviewscore three"></div>
		</div>
	</div>
	<div id="reviewImage"></div>
	<div id="reviewText"></div>
	<div id="certificate"><a href="javascript:DisplayCertificate();"><span>Print Certificate</span></a></div>
</div>