﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Oregon Insurance Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Tennessee Insurance Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
Continuing education providers will report course completion information electronically via instructions from the
division. At the Oregon Insurance Division’s request, ProSchools no longer issues completion certificates
automatically since your completion information is reported to them electronically by us. If you wish to
have a completion certificate issued to you please call Customer Service at 800-452-4879.<br><br>
Detailed instructions regarding the submission of your license renewal may be found at the Oregon Insurance
Division website below.<br><br>
<div class="intro_ref"><a target=_blank href="http://www.cbs.state.or.us/ins/producer/application-procedures/licensingrenewal-procedures.html">http://www.cbs.state.or.us/ins/producer/application-procedures/licensingrenewal-procedures.html</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>
	<div class="intro_title">
		<b>Oregon Insurance Certificate of Completion</b><br><br>


	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr>
<tr width=100%>
	<td class="completion_center" colspan="2"><i>CONTINUING EDUCATION COURSE IDENTIFICATION</i></td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Course Provider:</td>
	<td class="completion_data">ProSchools #9912</td>
</tr>

</table>
<br>
<div class="intro_text">
<b>PROVIDER CERTIFICATION</b><br>
To the best of the provider's knowledge the producer completed and passed the examination without assistance. The Provider received the examination
results and proctor affidavit and will retain them for not less than 3 years after the completion of the course.
<br>
<img src="/Certificates/Default/mjackson_5.png" border=0 id="certificate_heading" style="style="text-align:left">
<br>
<b>STUDENT CERTIFICATION</b><br>
I hereby certify that I personally completed the course listed above in the manner required to satisfy the Continuing Education regulation.
<br>
<img src="/Certificates/Default/signhere.png" border=0 id="certificate_heading" style="style="text-align:left">
</div>

<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>