﻿/* 
    This file contains css that's applied during playback only, and is applied to
    all packages. This can be used, for example, to set cursors for menu elements, etc.

 */
#artisan-menu ul li,
#artisan-submenu ul li
{
	cursor:pointer;
	cursor:hand;
}

/* image question sizes. Needs to match the sizes specified in artisan.js for the image cropper ui */
.artisan-question-imagequestion img.artisan-answer
{
    max-height:400px;
    max-width:400px;
}

.artisan-answer-feedback
{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
    width:16px;
    height:16px;
}
.artisan-answer-feedback.incorrect
{
    /*background-color: #ff0000;*/
    background: #ffffff url('../img/icons/cross.png') no-repeat left top;
}
.artisan-answer-feedback.correct
{
    /*background-color: #00ff00;*/
    background: #ffffff url('../img/icons/tick.png') no-repeat left top;
}
.artisan-question-reset
{
    margin-right:10px;
}

.artisan-asset-alternate
{
    display: none;
}

/* Fancybox url overrides - points images to our directory structure  */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url('../images/fancybox_sprite.png'); }
#fancybox-loading div { background: url('../images/fancybox_loading.gif') center center no-repeat; }
.fancybox-nav { background: transparent url('../images/blank.gif'); /* helps IE */ }
.fancybox-overlay { background: url('../images/fancybox_overlay.png'); }
#fancybox-buttons a { background-image: url('../images/fancybox_buttons.png'); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){
	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url('../images/fancybox_sprite@2x.png'); }
	#fancybox-loading div { background-image: url('../images/fancybox_loading@2x.gif'); }
}

a.artisan-next.minimumpagetimeout-counter
{
    color: #aaa;
}


li.artisan-learningobject.disabled a:before
{
    content: '';
    width: 16px;
    height: 16px;
    background-image: url('../images/lock.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;
}


.artisan-question-longanswer .artisan-answers
{
    padding-left: 0px;
}
.artisan-answer.text-wrapper
{
    padding: 0px;
}
.artisan-answer.text-wrapper textarea
{
    width: 100%;
    height: 130px;
}



#timer-displays
{
    position: fixed;
    left: 15px;
    bottom: 25px;
    width: 80px;
    background: #444;
    background: rgba(30,30,30,0.7);
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px 5px 10px;
    font-size: 11px;
    font-weight: bold;
    z-index: 100;
    display: none;
}
#timer-displays.active
{
    display: block;
}
#timer-displays p
{
    margin: 0px 0px 5px 0px;
    font-size: 11px;
    line-height: 1.3em;
}

#timer-displays .timer
{
    display: none;
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 5px;
}

#timer-displays .timer p
{
    margin: 0px;

}

#timer-displays .timer.running
{
    display: block;
}


.character-remaining
{
    float: right;
    border: 1px solid #aaa;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    font-size: 10px;
    color: #aaa;
}

ul.list-style-None
{
    list-style-type: none;
}
ul.list-style-Arrow
{
    list-style-type: none;
}
ul.list-style-Arrow > li:before
{
    content: " ";
    border: 10px solid transparent;
    border-top-width: 4px;
    border-bottom-width: 4px;
    width: 0px;
    height: 0px;
    display: block;
    float: left;
    border-left-color: #555;
    margin-top: 6px;
    margin-left: -20px;
}
ul.list-style-Circle
{
    list-style-type: disc;
}
ul.list-style-Number
{
    list-style-type: decimal;
}
ul.list-style-Alpha
{
    list-style-type: upper-alpha;
}
ul.list-style-Roman
{
    list-style-type: upper-roman;
}

.MainWrapper {
	position: relative;
}


div.popup-menu-wrapper
{
    position: absolute;
    bottom: 22px;
    width: 400px;
}
div.popup-menu-wrapper div.pdf-menu
{
      display: none;
      position: absolute;
      bottom: 20px;
      border: 1px solid rgb(170, 170, 170);
      background: white;
      max-height: 135px;
      overflow-y: auto;
      left: 3px;
      -moz-border-radius: 5px 5px 5px 0px;
      -webkit-border-radius: 5px 5px 5px 0px;
      -o-border-radius: 5px 5px 5px 0px;
      -ms-border-radius: 5px 5px 5px 0px;
      -khtml-border-radius: 5px 5px 5px 0px;
      border-radius: 5px 5px 5px 0px;
      min-width: 120px;
      max-width: 400px;
      overflow-x: hidden;
      text-overflow: ellipsis;
}
div.popup-menu-wrapper.open div.pdf-menu
{
    display: block;
}

div.popup-menu-wrapper.open .button
{
      -moz-border-radius: 0px 0px 5px 5px;
      -webkit-border-radius: 0px 0px 5px 5px;
      -o-border-radius: 0px 0px 5px 5px;
      -ms-border-radius: 0px 0px 5px 5px;
      -khtml-border-radius: 0px 0px 5px 5px;
      border-radius: 0px 0px 5px 5px;
}

div.popup-menu-wrapper div.pdf-menu ul
{
    max-height: 120px;
    overflow: auto;
    list-style-type: none;
    margin: 5px;
    padding: 10px;

}

.version-info
{
    font-size: 8pt;
}
    .version-info > span
    {
        float: left;
        display: block;
        margin-right: 6px;
    }

#artisan-review-page-summary-quiz
{
    margin: 0px;
}


.artisan-submenu {
    display:none;
}

.ContentWrapper .quiz-instruction-text
{
    display: none;
}

.course-title-label,
.section-label,
.section-dropdown,
.font-letters-container,
.control-indicator,
.control-center,
.section-text,
.gameboard-button
{
    display: none;
}



/*
    Default Layout    
*/
h3.element_text
{
    overflow: hidden;
}
br.break
{
    clear: both;
}
.element_media
{
    text-align: center;
}
.column
{
    overflow: auto;
    vertical-align: top;
}
    .column.left
    {
        float: left;
    }
    .column.right
    {
        float: right;
    }
    .column.full
    {
        width: 100%;
        clear: both;
    }
    .column.half
    {
        width: 48%;
    }
    .column.third
    {
        width: 32%;
        float: left;
        margin-right: 2%;
    }
        
        .column.third.last
        {
            margin-right: 0%;
        }

html body.vjs-full-window .version-info,
html body.vjs-full-window .body-container #Header
{
    z-index: -1;
    position: relative;
}
/*
    Allow bullet lists in objectives content    
*/
div.objectives > ul li.course-objectives ul.jstree-ignore,
div.objectives > ul li.course-objectives ol
{
    margin: 1.4em;
    padding: 0px;
}
div.objectives > ul li.course-objectives ol li.jstree-ignore
{
    list-style-type:decimal;
    padding: 0px;
    margin-left: 18px;
}
div.objectives > ul li.course-objectives ul li.jstree-ignore
{
    list-style-type: disc;
}

div.objectives > ul li.course-objectives ol li.jstree-ignore,
div.objectives > ul li.course-objectives ul li.jstree-ignore
{
    background-image: none;
    display: list-item;
}
    div.objectives li.jstree-ignore .jstree-icon
    {
        display: none;
    }
div.objectives li.course-objectives div,
div.objectives li.course-objectives p,
div.objectives li.course-objectives li.jstree-ignore,
div.objectives li.course-objectives span
{
    white-space: normal;
}
div.objectives li.course-objectives div a
{
    display: inline;
}

.BottomPageNav div.popup-menu-wrapper {
    display: none;
}



