﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<!-------------------------------------------------------------------------->

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/tp_aes2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>


<div class="intro_text">
<br><br>This will certify that @Model.UserFullName has taken and completed our program of studies for fifteen(15)
hours of online continuing education in the course entitled:<br><br>
Nevada: Escrow Agent Essentials - 15 Hours. This course includes the following topics:
<br>
<br>-Federal Mortgage Related Laws (7 Hours)
<br>-Ethics (3 Hours)
<br>-Origination Power Through Product Knowledge (1 Hour)
<br>-Overview of Escrow Requirements in Nevada (4 Hours)
<br><br>
The provider and above courses are approved by the Nevada Division of Mortgage Lending and satisfies the
pre-licensing education requirements for Escrow Agent Applicants under NAC 645A.
<br><br>


<table width=100%>
<tr width=100%>
	<td class="completion_labeltitle2cnt" width=50% align=left ><img src="/Certificates/Default/nevadalogo.png" border=0 id="certificate_heading" style="text-align:center"><br>Issue Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data" width=50%><img src="/Certificates/Default//patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>


