﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Texas Insurance Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Texas Insurance Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
To renew your license:<br>
<ol>
<li>You are not permitted to print a copy of your completion record however ProSchools has been
electronically notified that you have completed this course, and will mail your course completion
certificate to you. You will need to keep a copy of this certificate for your records.</li>
<li>ProSchools also reports your completion status to the state electronically and you may renew your
license online once you have completed all requirements for continuing education.</li>
<li>For more information about the renewal requirements and process please visit the state’s website:</li>
</ol>
<div class="intro_ref"><a target=_blank href="http://www.tdi.texas.gov/licensing/contineduc/agent/agcehome.html#summary">http://www.tdi.texas.gov/licensing/contineduc/agent/agcehome.html#summary</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>
	<div class="intro_title">
		<b>Texas Insurance Certificate of Completion</b><br>
		<br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">License Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr>
<tr width=100%>
	<td class="completion_center" colspan="2"><i>CONTINUING EDUCATION COURSE IDENTIFICATION</i></td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Number:</td>
	<td class="completion_data">62862</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Approval Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Ethics and/or Consumer Protection Credit Hours</td>
	<td class="completion_data">@Model.GetTrainingProgramMeta("Ethics Hours")</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr>

</table>
<br>

<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>