 html, body
{
    margin: 0;
    padding: 0;
    height:100%; 
}
.cert-tp, .cert-cr
{
    width: 670px;
    height:910px;
    margin: auto;
    position: relative;
    background-image: url(../images/bewatermark.gif);
}
.cert-tp .header
{
    position: relative;
    width: 498px;
    height: 126px;
    top: 110px;
    margin: auto;
    background-image: url(../images/trainingprogramcompletionheading.gif);
}
.cert-tp .content
{
    position: relative;
    top: 170px;
    font-size: 26px;
    line-height: 35px;
    color: #777;
}
.cert-tp #StudentName, .cert-tp #CourseName, .cert-tp #TestDate
{
    font-size: 32px;
    line-height:48px;
    color: Black;
}


.cert-cr .header
{
    position: relative;
    width: 445px;
    height: 40px;
    top: 110px;
    margin: auto;
    background-image: url(../images/coursecompletionheading.gif);
}
.cert-cr .content
{
    position: relative;
    top: 170px;
    font-size: 26px;
    line-height: 35px;
    color: #777;
}
.cert-cr #StudentName, .cert-cr #CourseName, .cert-cr #TestDate
{
    font-size: 32px;
    line-height:48px;
    color: Black;
}