﻿ html, body
{
    margin: 0;
    padding: 0;
    height:100%; 
}
.cert-tp, .cert-cr
{
    width: 420px;
    height:570px;
    margin: auto;
    position: relative;
    background-image: url(../images/bewatermark-s.gif);
}
.cert-tp .header
{
    position: relative;
    width: 306px;
    height: 79px;
    top: 75px;
    margin: auto;
    background-image: url(../images/trainingprogramcompletionheading-s.gif);
}
.cert-tp .content
{
    position: relative;
    top: 108px;
    font-size: 18px;
    line-height: 24px;
    color: #777;
}
.cert-tp #StudentName, .cert-tp #CourseName, .cert-tp #TestDate
{
    font-size: 22px;
    line-height:38px;
    color: Black;
}


.cert-cr .header
{
    position: relative;
    width: 280px;
    height: 25px;
    top: 75px;
    margin: auto;
    background-image: url(../images/coursecompletionheading-s.gif);
}
.cert-cr .content
{
    position: relative;
    top: 108px;
    font-size: 18px;
    line-height: 24px;
    color: #777;
}
.cert-cr #StudentName, .cert-cr #CourseName, .cert-cr #TestDate
{
    font-size: 22px;
    line-height:38px;
    color: Black;
}