/*------------------------------------------------------------------------- */
/* General */
/*------------------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

IMG {
  border: none;
}

.HEADER, .SECTION, .FOOTER, .NAV {
  display: block;
}

.NAV UL {
  list-style: none;
  margin: 0;
  padding: 0;
}
.NAV UL LI {
  display: inline-block;
  *display: inline;
}

/*------------------------------------------------------------------------- */
/* Typography */
/*------------------------------------------------------------------------- */
BODY {
  font-size: 75%;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

PRE, CODE, TT, KBD {
  font-family: "Courier New" Courier monospace;
  font-size: 1.2em;
}

H1 {
  font-size: 18px;
  font-weight: normal;
}

H2 {
  margin: 0;
  font-size: 22px;
}

H3 {
  margin: 0;
  font-size: 18px;
}

H1, H2, H3 {
  font-family: Helvetica, Arial, sans-serif;
}

H1, H2, H3, H4 {
  color: #a0c0c2;
}

.TitleBar h1 {
  color: #fff;
}

UL, OL, DL {
  margin: 1.4em 1.4em;
}

P, div.p {
  margin: 1.4em 0;
}
EM {
  font-style: normal;
}

HR {
  height: 1px;
  border: none;
  border-bottom: 1px solid #666666;
}

.hidden {
  display: none;
}

/*------------------------------------------------------------------------- */
/* Display */
/*------------------------------------------------------------------------- */
.aligned_left {
  float: left;
  margin: 0 1em 1em 0;
}

.aligned_right {
  float: right;
  margin: 0 0 1em 1em;
}

/*------------------------------------------------------------------------- */
/* Page Backgrounds */
/*------------------------------------------------------------------------- */
BODY {
  background: #8c9394;
}

.Header {
  background: #f0f5f6 url(../img/header_bg.jpg) no-repeat center bottom;
}

.TitleBar {
  background: #96adb7 url(../img/titlebar_bg.jpg) no-repeat center top;
}

.Main {
  background: url(../img/main_bg.jpg) no-repeat center 0px;
  height:100%;
}

.MainWrapper {
  background: #f8fafb;
}

/* The -48px is a magic number that must change if the height of the
 * .TopPageNav changes. */
.ContentWrapper {
  background: #e9e8e5 url(../img/content_wrapper_bg.jpg) no-repeat center -74px;
}

/*------------------------------------------------------------------------- */
/* Grid */
/*------------------------------------------------------------------------- */
.grid_1 {
  width: 45px;
}

.grid_2 {
  width: 120px;
}

.grid_3 {
  width: 195px;
}

.grid_4 {
  width: 270px;
}

.grid_5 {
  width: 345px;
}

.grid_6 {
  width: 420px;
}

.grid_7 {
  width: 495px;
}

.grid_8 {
  width: 570px;
}

.grid_9 {
  width: 645px;
}

.grid_10 {
  width: 720px;
}

.grid_11 {
  width: 795px;
}

.grid_12 {
  width: 870px;
}

.col {
  margin: 0 15px;
  overflow: hidden;
  float: left;
  display: inline;
}

.row {
  overflow: hidden;
  *zoom: 1;
  width: 900px;
  margin: 30px auto;
}

.row .row {
  margin: 30px -15px 0;
  width: auto;
  display: inline-block;
}

/*------------------------------------------------------------------------- */
/* Structure */
/*------------------------------------------------------------------------- */
BODY {
  margin: 0;
  padding: 0 0 2em;
}

.Header .HeaderWrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.Header .Logo {
  padding: 10px 0;
  text-align: right;
}
.Header .Logo A {
  text-decoration: none;
}

.TitleBar {
  position: relative;
  padding: 6px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.TitleBar h1 {
  padding: 0;
  margin: 12px 0 12px 0;
}

.MainNav {
  position: absolute;
  right: 15px;
  top: 15px;
}
.lte7 .MainNav,
.lte7 #artisan-menu {
  /* IE7: Fix issue where sf-menu is under other elements.*/
  z-index: 1;
}

.lte7 .kwicks-menu {
	/* IE7: Fix issue where submenu is over main menu.*/
	position: static;
}

.lte7 .kwicks-menu > li,
.lte7 .kwicks-menu > li > a
{
	z-index: 0;
}

/* This is the selected item in the main navigation */
.artisan-sco .selected{
	background-color: #C01A4A;
}

.Main {
  border-top: 4px solid white;
}
.Main .MainWrapper {
  margin: 0 auto;
  padding: 0px 20px 10px;
  width: 960px;
}
.ie7 .Main .MainWrapper {
  width: 920px;
}

.Content {
  clear: both;
}
.Content .ContentWrapper {
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  min-height:400px;
  /* next 2 lines are for IE */
  height: auto !important; 
  height: 400px;
}
.Content .ContentWrapper .p,
.Content .ContentWrapper h3,
.Content .ContentWrapper .artisan-question {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #dbdbd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #f8fdff;
  padding: 1.5em 1.5em;
}

.Content .ContentWrapper h3 
{
    padding: 1em 1.5em;
}

/*---------------------*/
/*   Objectives Page   */
/*---------------------*/
.Content .ContentWrapper div.objectives .learningobject a {
	/*color: #980202;*/
}

div.objectives a 
{
	color: #333333; /* need to respecify our main color to override jstree */
	white-space: normal !important;
	height: auto;
	padding: 1px 2px;
	width: 95%;
} 
div.objectives li > ins {
	vertical-align: top;
}

div.objectives .jstree-hovered,
div.objectives .jstree-clicked {
	border: 0;
}

/*--------------------*/
/*   Question Pages   */
/*--------------------*/
ol.artisan-answers {
	margin: 0;
	padding: 5px;
	padding-left: 18px;
	list-style-type: upper-alpha;
}

ol.artisan-answers li{
	margin: 5px 0 5px 0;
}

/* Do not display numbers for True/False answers */
div.artisan-question-truefalse ol.artisan-answers{
	list-style-type: none;
	padding-left: 0;
}

/*----------------*/
/*   Navigation   */
/*----------------*/
.TopPageNav {
  overflow: hidden;
  *zoom: 1;
  z-index: 0;
  /*margin: 0 0 1em;*/
  /*display: none;*/
}

.BottomPageNav {
  clear: both;
  overflow: hidden;
  *zoom: 1;
  margin: 10px 0 0;
}
/*.ie7 .BottomPageNav {
  margin: -10px 0 20px;
}*/

/*------------------------------------------------------------------------- */
/* Buttons */
/*------------------------------------------------------------------------- */
.button, BUTTON {
  width: auto;
  overflow: visible;
  margin: 0 0.2em 0 0;
  padding: 0.1em 1em;
  vertical-align: baseline;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: normal;
  background: #9bcdd8;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border-width: 0;
}
.button:HOVER, BUTTON:HOVER {
  background-color: #d2e9ee;
}
.button:ACTIVE, BUTTON:ACTIVE {
  background-color: #64b2c3;
}

INPUT[type=submit], INPUT[type=button] {
  width: auto;
  overflow: visible;
  margin: 0 0.2em 0 0;
  padding: 0.1em 1em;
  vertical-align: baseline;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: normal;
  background: #9bcdd8;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border-width: 0;
}
INPUT[type=submit]:HOVER, INPUT[type=button]:HOVER {
  background-color: #d2e9ee;
}
INPUT[type=submit]:ACTIVE, INPUT[type=button]:ACTIVE {
  background-color: #64b2c3;
}

.button {
  padding: 0.2em 1em;
}
.ie7 .button {
  /*position: relative;*/
  top: -0.15em;
  padding: 0.2em 1em;
}

.call_to_action {
  font-size: 1.6em;
}

/*------------------------------------------------------------------------- */
/* Icons */
/*------------------------------------------------------------------------- */
.icon {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: 6px center;
}
.ie7 .icon {
  padding-left: 24px;
}

.icon_arrow {
  background-image: url(../img/icons/button_arrow.png);
}
.ie6 .icon_arrow {
  background-image: url(../img/icons/button_arrow.gif);
}

/*------------------------------------------------------------------------- */
/* Components */
/*------------------------------------------------------------------------- */
.page_nav {
  padding: 10px;
  float: right;
}
.element_media
{
    position:relative;
    padding: 5px;
}
.element_text img{
  line-height: 1px;
  display: inline;
  border: 2px solid #dbdbd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.p .icon{
	background-position: -15px -15px;
	background-repeat:no-repeat;
	padding-left:0;
}

.p .icon.definition
{
    background-image:url(../img/definition.png);
}
.p .icon.didyouknow
{
    background-image:url(../img/didyouknow.png);
}
.p .icon.important
{
    background-image:url(../img/important.png);
}
.p .icon.reminder
{
    background-image:url(../img/reminder.png);
}
.p .icon.tip
{
    background-image:url(../img/tip.png);
}

.p .icon h3{
	display:block;
	padding: 5px 0 0 75px;
	font-weight:heavy;
	color:#93c9d5;
	margin: 0;
	font-size:28px;
	background:none repeat scroll 0 0 transparent;
	border:0;
}
.p .icon p{
	display:block;
	text-indent:70px;
	font-weight:heavy;
	color:#666666;
	padding: 10px 5px 5px 5px;
	margin: 0;
}


/*------------------------------------------------------------------------- */
/* Components Instances */
/*------------------------------------------------------------------------- */
