



#title {
	font-family:Arial;
	font-size:14pt;
	font-weight:bold;
	position:relative;
	top:14px;
	left:14px;
	margin-bottom:25px;
}
p {
	margin-bottom:10px;
	margin-top:10px;
	font-family:Arial;
	font-size:11pt;
	width:600px;
	position:relative;
	left:14px;
}




/*  DELETED from ul,ol
	width:500px;
	list-style:circle;
*/


#animationRight {
position:relative;
float: right;
z-index:100;
}

#animationParagraph {
	font-family:Arial;
	font-size:11pt;
	width:10px;
	position:relative;
	left:14px;
}
