.fidelityBody {
	margin-left:14px;
	margin-top:0px;
}

.subtitle {
color:#000099;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}


#headingParagraph {
margin-left:129;
margin-bottom:18px;
margin-top:20px;
}

#column_1 {
margin-left:0;
width:100;
float:left;
}

#column_2 {
margin-left:129;
width:473;
}

#bottomParagraph {
margin-left:0;
width:600;
}

.parapgraphDiv {
margin-bottom:18px;
}