a.NTS_editablePaneVariable:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.NTS_editablePaneVariable:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.NTS_editablePaneVariable:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.NTS_editablePaneVariable:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #ff0000;
	text-decoration: none;
}
