body {

}

/* "fallback" links for non-CSS supporting browsers. */
.fallback {
 display: none;
}

/* Here's our default note styles. */
.notedefault, .notedefinition, .notedidyou, .noteimportant, .notereminder, .notetip, .notenested {
 position: absolute;
 visibility: hidden;
 top: 1.5em;
 left: 2em; width: 10em;
}
.notedefault {
 padding: 10px;
 background-color: #9ecde7;
 color:#000;
 width: 300px;
 font-family: Arial, Helvetica, sans-serif
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 4px 4px 6px 0px #666;
}
.notedefinition {
 padding: 10px;
 background-color: #4d909e;
 color:#fff;
 width: 300px;
 font-family: Arial, Helvetica, sans-serif
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 4px 4px 6px 0px #666;
}
.notedidyou {
 padding: 10px;
 background-color: #fda343;
 color:#000;
 width: 300px;
 font-family: Arial, Helvetica, sans-serif
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 4px 4px 6px 0px #666;
}
.noteimportant {
 padding: 10px;
 background-color: #cb3b3b;
 color:#fff;
 width: 300px;
 font-family: Arial, Helvetica, sans-serif
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 4px 4px 6px 0px #666;
}
.notereminder {
 padding: 10px;
 background-color: #f4f349;
 color:#000;
 width: 300px;
 font-family: Arial, Helvetica, sans-serif
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 4px 4px 6px 0px #666;
}
.notetip {
 padding: 10px;
 background-color: #f7d23e;
 color:#000;
 width: 300px;
 font-family: Arial, Helvetica, sans-serif
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 4px 4px 6px 0px #666;
}
.notenested {
 width: 8em;
 padding: 3px;
 border: 1px solid #963;
 background-color: #C96;
 color: white;
}

/* Some position-type-specific offset information. Tweak as needed! */
/*.snp-mouseoffset, .snp-triggeroffset, .snp-mousetrack {
 margin-left: -91px;
 margin-top: -22px;
}

/* Headings within notes */
.notedefault h5 {
 margin: 0 0 5px 0;
 padding: 2px;
 font-family: Arial, Helvetica, sans-serif
 color: black;
}

/* Note close marker is only shown within pinned notes. */
.note-close {
 float: right;
 margin-top: 2px;
 width: 14px;
 height: 14px;
 line-height: 14px;
 color: black;
 text-decoration: none;
 visibility: hidden
}

.snb-pinned .note-close {
 visibility: inherit;
}

.glossaryPosistion {
	text-align: right;
	z-index: 10;
}

.notePosistion {
	text-align: left;
}
