﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);


}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
	</div>
<div class="intro_text">
<br><br>
	You have completed your ProSchools' Washington Real Estate <i>@Model.TrainingProgram.Name</i> course.
	<br><br>
To review state requirements for your Broker education and license, visit the Washington State Department of Licensing Real Estate Division at: http://www.dol.wa.gov/business/realestate/brokerslicense.html
<br><br>
If you have not yet done so, visit the AMP examination site, and register as a candidate. To avoid any delay in processing your course credit hours, please visit AMP immediately to register. 
<br><br>
<b><u>Important Instructions</u></b>
<br><br>
You must register and schedule an exam with our testing vendor, AMP. To schedule an exam:
<ol>
<li>Visit the AMP website at www.goamp.com/candidateInformation.aspx</li>
<li>Choose the "Real Estate" category</li>
<li>Select "Washington Real Estate Examination Program"</li>
<li>Choose the exam you want to take</li>
<li><b>Use your Student Assigned ID to register with AMP</b></li>
</ol>
<br>
Your Student Assigned ID is: @Model.User.ID
<br><br><br>
For more information, see the Candidate Handbook at the AMP website. Candidate support information: (800) 345-6559 or wwww.goamp.com/candidateInformation.aspx
<br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>
