﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);
}
<!-------------------------------------------------------------------------->
</br>
                <form name="showcasePlayerForm" action="">
                    <table cellspacing="0" cellpadding="0" width="650" border="0" align="center">
                        <tr>
                         <td align="center">
                            <p class="certheading">
                                <input readonly="true" name="StateName" class="certinputhead" style="width:600px;font-weight:bold;" tabindex="9" value="New Hampshire"/><br/>
                                Course Completion Certificate
                            </p>
                          
                            <p class="subheading">
                                <input readonly="true" name="ProfessionCategoryName" class="certinputsubhead" style="width:600px;font-weight:bold;" tabindex="9" value="Appraisal Continuing Education"/>
                            </p>
                        
						
                            <table cellspacing="0" cellpadding="0" width="90%" border="0">
                                <tr>
                                    <td align="center">
                                        <input readonly="true" name="FullName" class="certinput_underline" style="width: 280px;" tabindex="1" value="@Model.UserFullName"/>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td class="certtext" align="center">
                                        Name
                                    </td>
                                 
                                </tr>
                               
                                <tr>
                                    <td colspan="3">
                                        &#160;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                        <input readonly="true" name="FullAddress" class="certinput_underline" style="width:600px;" tabindex="3" value="@Model.User.AddressLine1  &#160; @Model.User.City &#160; @Model.User.State  @Model.User.ZipCode"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="certtext" colspan="3" align="center">
                                        Address
                                    </td>
                                </tr>
                            </table>
                        
                            <p class="certtext">
                                has successfully completed and attended
                            </p>
							
                            <p>
                                <input readonly="true" name="Title" class="certinput" style="width: 500; font-weight: bold;" tabindex="4" value="@Model.TrainingProgram.Name"/>
                            </p>
							                           
                            <p class="certtext">
                                Course approval number:
                                <input readonly="true" name="Provider" class="certinput_underline" style="width: 300px;" tabindex="5" value="@Model.TrainingProgram.InternalCode"/>
                            </p>
							 
                            <p class="certtext">
                                for
                                <input readonly="true" name="Hours" class="certinput_underline" style="width:100px;" tabindex="7" value="@Model.TrainingProgram.Cost"/>
                                Hours of<br><input readonly="true" name="CategoryName" class="certinput" style="width:200px;text-align: right;" tabindex="7" value="Continuing Education"/>
                                for a Distance Education Course
                            </p>
                           
							
                            <table cellspacing="0" cellpadding="0" width="50%" border="0">
                                <tr>
                                    <td align="center">
                                        <input readonly="true" name="EnrollmentDate" class="certinput_underline" style="width: 200px;" tabindex="1" value="@Model.FormatDate(Model.TrainingProgram.StartDate.Value)"/>
                                    </td>
                                    <td width="1%">
                                        &#160;&#8212;&#160;
                                    </td>
                                    <td>
                                        <input readonly="true" name="CompletionDate" class="certinput_underline" style="width: 200px;" tabindex="2" value="@Model.FormatDate(targetTime)"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="certtext" align="center">
                                        Enrollment Date
                                    </td>
                                    <td width="1%">
                                        &#160;
                                    </td>
                                    <td class="certtext" align="center">
                                        Completion Date
                                    </td>
                                </tr>
                            </table>                             
							
                            <p class="certtext" >
                                This course is sponsored by:
								
                                <input readonly="true" name="BusinessName" class="certinput" style="width:600px;" tabindex="9" value="Career WebSchool Rhode Island"/><br/>
                                <input readonly="true" name="BusinessAddress" class="certinput" style="width:600px;" tabindex="10" value="3100 Cumberland Blvd., Suite 1450+"/><br/>
                                <input readonly="true" name="BusinessCity" class="certinput" style="width:600px;" tabindex="11" value="Atlanta, Georgia  30339"/><br/>
                            
								
                            </p>
                        
							
                            <p class="certtext" >
                                I certify under penalty of perjury that the above
                                information is true and correct.
                            </p>
                           
                            <table cellspacing="1" cellpadding="1" width="100%" border="0">
                                <tr>
                                    <td class="underline" width="60%">
                                        <img src="https://cdn.ordercourses.com/images/CWSSignature.jpg" border="0"/>
                                    </td>
									<td class="text" width="20%">
                                         &#160;
                                    </td>
                                    <td class="underline" width="20%">
                                        <input readonly="true" name="SignatureDate" class="certinput" tabindex="12" style="width:100px" value="@Model.FormatDate(targetTime)"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="certtext" width="60%" align="left">
                                        Authorized Signature
                                    </td>
									<td width="20%" align="left">
                                         &#160;
                                    </td>
                                    <td class="certtext" width="20%" align="left">
                                        Date
                                    </td>
                                </tr>
                                <tr>
                                    <td class="certtext"  width="90%" colspan="3">
                                        &#160;
                                    </td>
                                </tr>
                                <tr>
                                    <td class="certtext" width="90%" colspan="3">
                                        THIS COURSE IS APPROVED BY THE<input readonly="true" name="SignDate" class="certinput" style="width: 240px; font-weight:bold;" value="Rhode Island Real Estate"/>COMMISSION
                                    </td>
                                </tr>
                            </table>
                        </td>
                        </tr>
                    </table>
                </form>