﻿/**** BankersEdge Smooth theme skin: Custom for ProSchools****/

/* Sub-menu style */
body .SubNav,
body .kwicks-menu A,
body .kwicks-menu LI.selected {
  background: #d5d6d6 url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
}


.artisan-survey-items {
margin: 20px;
width: 600px;
}

#full-screen-background-image {
display: none;
}

body .kwicks-menu li {
	border-right: 1px solid #FFFFFF;
}

body .kwicks-menu A:HOVER {
  color: #6F6C6D;
  background-color:#fff;
}

body .kwicks-menu LI.selected A {
  color: #fff;
  background-color:#454545;
}

body .kwicks-menu {
	height: 60px !important;
}

/* Overall style */

BODY {
    line-height:1.6em;
	background: #bbbbbb;
}

html, body
{
	height:100%;
	width:100%;
}

H1 {
  margin: 10px 0;
  color: #73ACC6;
}

H2 {
  margin: 8 0 10px;
  font-size: 20px;
}

H3 {
  margin: 0 0 10px;
  font-size: 18px;
}

H2, H3, H4 {
  color: #069;
}

/*
UL, OL, DL {
  margin: 1.4em 0;
}*/

.Header {
  background: #bbbbbb;
}
.button {
	background: #069;
}
input[type=button]{
	background-color: #069;
}
.TitleBar {
  background: #96adb7 url(img/course_title_bg.jpg) repeat center top;
}

.Main {
  background-image: none;
  height:auto;
  background-color: #bbbbbb;
  border-top:0px solid white;
}

.MainWrapper {
  background-color: #ffffff;
}

.ContentWrapper {
  background: #ffffff;
}

.row .row {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */ 
}

.TitleBar {
  border-radius: 5px 5px 0 0;
}

.TitleBar h1{
  color: #069;
  padding-top: 10px;
}

.Content .ContentWrapper h3 
{
    padding: 1em;
    background: #f8f8f8;
}
.Content .ContentWrapper .p, .Content .ContentWrapper h3, .Content .ContentWrapper .artisan-question{
 background: #f8f8f8;
}

.Content .ContentWrapper SECTION {
  background: #fff;
  padding: 1em 2em;
}

.element_text img{
  padding: 5px;
  border: 1px solid #dbdbd8;
}

.TopPageNav {
  display: none;
  background: #d5d6d6;
}
.p {
 background: #f8f8f8
}
.p .icon h3
{
    line-height:1.2em;
}
.p .icon p
{
    color:inherit;
}


#artisan-submenu{
    border-top: 1px solid transparent;
	background: #d5d6d6 url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;;
}
/*.SubNav {
	background: #d5d6d6 url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
}
.SubNav, .kwicks-menu A, .kwicks-menu LI.selected{
	background: #d5d6d6 url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
}
*/
.artisan-site-image
{
	background-image: none;
	height: 48px;
	width: 150px;
}

#artisan-review-page-question{
	background-color:#d5d6d6 
}
.artisan-course-image
{
	background-image: none;
	height: 44px;
	width: 39px;
}
.artisan-progress-course-inner{
	background-color: #069;
}
.artisan-progress-sco-inner{
        background-color: #069;
}
.artisan-progress-course-percent {
	color: #069;
}
.artisan-progress-sco-percent {
	color: #069;
}


#Logo
{
    background-image: none;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 10px;
    background-size:207px 65px;
}
.Header .Logo{
    height:58px;
}

.minimumpagetimeout-counter{
    color:#000 !important;
}

/* Hide Question name and brackets */
.artisan-question-name {
   display: none;
}
.artisan-question-type-brackets {
   display: none;
}
