﻿<div style="padding:25px;overflow:auto;">
<p><font size="4" face="Times New Roman"><b><i>Just so you know….</i></b></font></p>
<p><font size="3" face="Times New Roman">There are several feature buttons 
on the top right of this course screen. What and how many will depend 
on what your company has selected.</font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">Exit - Closes the 
  course. If bookmarking has been selected by your company, you will return 
  to the page where you stopped when you re-enter the course. This is 
  the most likely setting.</font></li>
  <li><font size="3" face="Times New Roman">Help - Launches 
  this page. </font></li>
  <li><font size="3" face="Times New Roman">Notes - This opens 
  a window where you can type personal notes related to the learning objective 
  you are in. If you click Save, the notes will stay with that learning 
  object if you return to the course. There is a new Notes available for 
  each learning objective.</font></li>
  <li><font size="3" face="Times New Roman">Email - When set 
  by your company, you can send an email to a designated person who may 
  be a content or program expert, or to send any other type of message 
  that may be necessary.</font></li>

</ul>
 <br>
<p><font size="3" face="Times New Roman"><b>Course Playback</b></font></p>
<p><font size="3" face="Times New Roman">Click on the title of the learning 
object in the course menu to begin.</font> <br> <br></p>
<p><font size="3" face="Times New Roman"><b>Test questions</b></font></p>
<p><font size="3" face="Times New Roman">There are several methods to 
check your knowledge of the course contents. </font></p>
<ul type="DISC">
  <li><font size="3" face="Times New Roman">You may see a pre-test, 
  which may allow you to skip the content that you display a mastery of</font></li>

  <li><font size="3" face="Times New Roman">You may see questions 
  presented throughout the course, some of which must be answered correctly 
  before you can continue.</font></li>
  <li><font size="3" face="Times New Roman">You may see a comprehensive 
  test at the end of the course. This may be presented in a &quot;game 
  board&quot; format or as single questions.</font></li>
</ul>
 <br>
<p><font size="3" face="Times New Roman">The gameboard &quot;dollar 
questions&quot; are for entertainment only - they do not reflect your 
actual test score.</font> <br></p>

<p><font size="3" face="Times New Roman">When your course has questions 
that must be answered, the navigation buttons &quot;Back&quot; and &quot;Next&quot; 
are removed until the question has been answered.</font> <br>
 <br> <br> <br> <br> <br></p>
<p> <br></p>
</div>