﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}


<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Oregon Real Estate Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools' Oregon Real Estate Licensing Education course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
<b>The following document serves as Proof of Completion. Print a copy for your personal records.Additional copies may be printed at a later time by logging into your account.</b><br><br><br>
<br>
<b><u>Important Instructions to Obtain Your License</u></b><br><br>
<b>NOTICE: You must send your license application and the nonrefundable application fee to the Oregon
Real Estate Agency prior to completing all your coursework. If you have not applied for your license,
it is imperative your do so immediately. ProSchools is unable to report your course completion without
the 9-digit Application ID you receive in the e-mail confirmation from the Oregon Real Estate Agency.</b>
<br><br>
<ol>
<li>This certificate is one of seven you will receive. You do not need to send your certificates to the Oregon
Real Estate Agency. Once you have completed all seven required courses and applied for your license
with the Oregon Real Estate Agency, ProSchools will submit your education record to PSI.</li>
<li>Once your education is reported to PSI by ProSchools, you will receive an e-mail with instructions on
how to schedule your state licensing examination with PSI.</li>
<li>Upon passing your state licensing examination, you will have your fingerprints taken digitally and pay
the background check fees at the PSI test center.</li>
</ol>

<br><br><br>
Detailed instructions regarding the submission of your license application and the steps to obtain your license
may be found at the Oregon Real Estate Agency website below:
<br>
<div class="intro_ref"><a target=_blank href="http://www.oregon.gov/rea/lic/Pages/index.aspx">http://www.oregon.gov/rea/lic/Pages/index.aspx</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Certificate of Real Estate Prelicense Education</b><br>
This certifies that
<br><br>
<table width=100%>

<tr width=100%>
	<td class="completion_label">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr>
<tr width=100%>
	<td class="completion_label">9-digit Applicant ID:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr>
<tr width=100%>
	<td class="completion_label">Date of Birth:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[1])</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr>
<tr width=100%>
	<td class="completion_label">Education Provider:</td>
	<td class="completion_data">ProSchools</td>
</tr>
</table>
<br>
<div class="completion_footer2">I certify the above named student has completed the course through this institution and received a passing grade of C, or its equivalent. The Oregon Real
Estate Agency has approved this course. This orignal, signed document serves as proof of completion. Student does not send the certificate to the Oregon Real
Estate Agency. ProSchools will submit the course completion, upon the passing of all seven required courses and receiving the applicant ID confirming the
license application submission, to PSI. School maintains records for 25 years.</div>
<br>
<br><br>
Signature of School Official:<br>
<img src="/Certificates/Default/signature.png" border=0 id="certificate_heading" style="text-align:center">

<br>
<br>
<br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>
