﻿/**** BankersEdge Smooth theme skin: Custom for TDBank****/



/* Sub-menu style */
body .SubNav,
body .kwicks-menu A,
body .kwicks-menu LI.selected {
  background: rgb(0,182,36) url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
  border-right: none;
}

#artisan-submenu{
    border-top: 1px solid transparent;
	background: rgb(0,182,36) url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;;
}
/*------------------------------------------------------------------------- */
/* Superfish, skin for right flyout menu */
/*------------------------------------------------------------------------- */
body .sf-skin-main-nav, .sf-skin-main-nav UL {
  background: #00B624;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}


body .sf-skin-main-nav LI LI:HOVER,
body .sf-skin-main-nav LI LI.sfHover {
 background-color: rgb(22,61,34);
	color: rgb(237, 245, 224);
}
body .sf-skin-main-nav LI LI:HOVER A:HOVER,
body .sf-skin-main-nav LI LI.sfHover A:HOVER {
  background: url(../../../img/icons/arrow.gif) no-repeat 6px 50%;
}

body .sf-skin-main-nav LI > UL {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
body .sf-skin-main-nav LI > UL UL {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
body .sf-skin-main-nav UL {
  background: rgb(0,182,36);
  -moz-box-shadow: #ad3d3d 5px 5px 20px;
  -webkit-box-shadow: rgb(0,182,36) 5px 5px 20px;
  -o-box-shadow: #ad3d3d 5px 5px 20px;
  box-shadow: rgb(0,182,36) 5px 5px 20px;
}
body .sf-skin-main-nav UL LI.first {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -khtml-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
body .sf-skin-main-nav UL LI.last {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
body .sf-skin-main-nav UL A {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1AD01A;
}
body .sf-skin-main-nav UL A.last {
  border: none;
}

.artisan-sco .selected{
 	background-color: rgb(22,61,34);
	color: rgb(237, 245, 224);

 	
}
.MainNav {
	right: 20px;
}


#full-screen-background-image {
display: none;
}

body .kwicks-menu li {
	border-right: 1px solid #FFFFFF;
}

body .kwicks-menu A:HOVER {
  color: #6F6C6D;
  background-color:#fff;
}

body .kwicks-menu LI.selected A {
  color: rgb(22,61,34);
  background-color: rgb(237, 245, 224);
}

body .kwicks-menu {
	height: 60px !important;
}





/* Overall style */

BODY {
    line-height:1.6em;
	background: rgb(22,61,34);
}

html, body
{
	height:100%;
	width:100%;
}

H1 {
  margin: 10px 0;
  color: #73ACC6;
  font-size: 22px;
}

H2 {
  margin: 8 0 10px;
  font-size: 20px;
}

H3 {
  margin: 0 0 10px;
  font-size: 18px;
}

H2, H3, H4 {
  color: rgb(22,61,34);
}

/*
UL, OL, DL {
  margin: 1.4em 0;
}*/

.Header {
  background: rgb(22,61,34);
}
.button {
	background: rgb(0,182,36);
}
input[type=button]{
	background-color: rgb(0,182,36);
}
.button:HOVER, BUTTON:HOVER {
	background-color: #43D35A;
}


.Main {
  border-top: 0px solid white;
  background-image: none;
  height:auto;
  background-color: rgb(22,61,34);
}

.MainWrapper {
  background-color: #ffffff;
}

.ContentWrapper {
  background: #ffffff;
}

.row .row {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */ 
}

.TitleBar {
  border-radius: 5px 5px 0 0;
  background: #96adb7 url(img/course_title_bg.jpg) repeat center top;
  padding: 0px 20px;
	height: 60px
}

.TitleBar h1{
  color: rgb(22,61,34);
  padding-top: 20px;
}

.Content .ContentWrapper h3 
{
    padding: 1em;
    background: rgb(237, 245, 224);
}
.Content .ContentWrapper .p, .Content .ContentWrapper h3, .Content .ContentWrapper .artisan-question{
 background: rgb(237, 245, 224);
}

.Content .ContentWrapper SECTION {
  background: #fff;
  padding: 1em 2em;
}

.element_text img{
  padding: 5px;
  border: 1px solid #dbdbd8;
}

.TopPageNav {
  display: none;
  background: rgb(237,245,224);
}
.p {
 background: rgb(237,245,224)
}
.p .icon h3
{
    line-height:1.2em;
}
.p .icon p
{
    color:inherit;
}




.artisan-site-image
{
	background-image: url(img/site_logo.png);
	height: 30px;
	width: 178px;
}

#artisan-review-page-question{
	background-color:rgb(237,245,224);

}
.artisan-course-image
{
	background-image: url(img/tdbank_logo.png);
	height: 41px;
	width: 45px;
	margin-top: 11px;
}
.artisan-progress-course-inner{
	background-color: rgb(0,182,36);
}
.artisan-progress-sco-inner{
        background-color: rgb(0,182,36);
}
.artisan-progress-course-percent {
	color: rgb(0,182,36);
}
.artisan-progress-sco-percent {
	color: rgb(0,182,36);
}


#Logo
{
    /*background-image: url(img/site_logo.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 10px;
    background-size:178px 30px;*/
}
.Header .Logo{
    height:50px;
}