﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Florida Insurance Continuing Education </b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed Florida Insurance Continuing Education Course: <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>

Thank you for choosing OnCourse Learning. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at OnCourse Learning<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Florida Insurance Continuing Education Certificate</b><br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Producer's Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Producer's License Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr><tr width=100%>
	<td class="completion_label">Producer's Address:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number and Offering ID:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Education Provider:</td>
	<td class="completion_data">OnCourse Learning Corporation dba Proschools</td>
</tr><tr width=100%>
	<td class="completion_label">Instructor ID:</td>
	<td class="completion_data">1333905</td>
</tr>
</table>
<br>
<br>
<table width=100%>
<tr width=100%>
	<td width=100% class="intro_text"><i>I certify that the above named student has successfully completed the course listed above.</i>
	</td>
</tr>
</table>
<img src="/Certificates/Default/alancole_sm.jpg" border=0 id="certificate_heading" style="text-align:left"><br>

<div class="intro_text" style="text-align:center">____________________________________________________<br>
Alan Cole, Instructor/Provider Director</div>
<br>

<div class="intro_text" style="text-align:center"><i>I certify that I personally completed the above course.</i><br><br><br>
	______________________________________________________________<br>
Student Signature<br><br>
Licensees shall maintain records of all course completions for 5 years from the completion dates.  
<br><br>

<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>