﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<!-------------------------------------------------------------------------->

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/tp_aes2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>


<div class="intro_text">
<br><br>This will certify that @Model.UserFullName has taken and completed our program of studies for ten(10)
hours of online continuing education in the course entitled:<br><br>
Nevada: The Escrow Agent in Mortgage Lending - 10 Hours. This course includes the following topics:
<br>
<br>-Playing by the New Rules: A Guide to ATR/QM and Loan Originator Compensation (3 Hours)
<br>-Ethics in the New Landscape of Consumer Protection (3 Hours)
<br>-A Review of Securitization and the Secondary Mortgage Market (2 Hours)
<br>-Mortgage Law and Order: Nevada Edition (2 Hours)
<br><br>
The provider and above courses are approved by the Nevada Division of Mortgage Lending and satisfies the continuing
education requirements for Escrow Agents under NAC 645A.
<br><br>




<table width=100%>
<tr width=100%>
	<td class="completion_labeltitle2cnt" width=50% align=left ><img src="/Certificates/Default/nevadalogo.png" border=0 id="certificate_heading" style="text-align:center"><br>Issue Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data" width=50%><img src="/Certificates/Default//patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>


