/*------------------------------------------------------------------------- */
/* Kwicks */
/*------------------------------------------------------------------------- */
.SubNav {
  padding: 0 7px;
  border: 1px solid #dbdbd8;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

.SubNav,
.kwicks-menu A,
.kwicks-menu LI.selected {
  background: #bfcb97 url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
}
.ie6 .SubNav, .ie6
.kwicks-menu A, .ie6
.kwicks-menu LI.selected {
  background-image: none;
}

.kwicks-menu {
  white-space: nowrap;
  /*width: 100%; removed 6/19/2012 by jerod; attempt to fix ugly freakin layout */
  height: 64px;
  overflow: hidden;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.kwicks-menu LI, .kwicks-menu A {
  height: 64px;
}
.kwicks-menu A {
  display: block;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  line-height: 64px;
  border-right: 2px solid white;
}
.kwicks-menu A:HOVER {
  background-color: #aaba75;
}
.kwicks-menu LI {
  float: left;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  background: white;
}
.kwicks-menu LI.selected A {
  color: #bfcb97;
  background: white;
  border: none;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -khtml-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.kwicks-menu LI.before_selected A {
  border-right: none;
  -moz-border-radius: 0 0 7px 0;
  -webkit-border-radius: 0 0 7px 0;
  -o-border-radius: 0 0 7px 0;
  -ms-border-radius: 0 0 7px 0;
  -khtml-border-radius: 0 0 7px 0;
  border-radius: 0 0 7px 0;
}
.kwicks-menu LI.after_selected A {
  -moz-border-radius: 0 0 0 7px;
  -webkit-border-radius: 0 0 0 7px;
  -o-border-radius: 0 0 0 7px;
  -ms-border-radius: 0 0 0 7px;
  -khtml-border-radius: 0 0 0 7px;
  border-radius: 0 0 0 7px;
}
.kwicks-menu LI.last A {
  border-right: none;
}
