﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Hawaii Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed this portion of ProSchools' Hawaii Real Estate Prelicensing Course</i>.
	<br><br>
<br><br>
<b><u>Please Note</u></b><br>
<br>
As of 2/18/14 prelicense schools are required to electronically report your course completion to the state.  In order for us to do this you must first create an 'eHawaii' account on the Real Estate Education System:<br>
<br>
<div class="intro_ref"><a target=_blank href="https://pvl.ehawaii.gov/rece/app/welcome.html">http://pvl.ehawaii.gov/rece/app/welcome.html/</a></div>
<br><br>
For more information and instructions, please visit the following link and select the PDF link for "Creating and Using an Account for Prelicensees Candidates":<br>
<br>
<div class="intro_ref"><a target=_blank href="http://cca.hawaii.gov/reb/online-system-instructions/">http://cca.hawaii.gov/reb/online-system-instructions/</a></div>
<br><br>
You will need to register your full legal name as it appears on your photo ID.  It is imperative that you also provide ProSchools with the same name and email address on your 'eHawaii' account, to help avoid reporting errors--please call us if you need to update your ProSchools information.  In addition to photo ID, you'll be required to present your completion certificate at the testing facility when you take your license exam.  Your name on both documents must match.<br>
<br>
After completing your education and eHawaii account registration, you will receive an original signed certificate(via email) within 1 to 2 business days.
<br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>