/*------------------------------------------------------------------------- */
/* Superfish, base styles */
/*------------------------------------------------------------------------- */
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.sf-menu {
  line-height: 1;
  cursor: default;
}
.sf-menu A {
  display: block;
  position: relative;
}
.sf-menu UL {
  position: absolute;
  top: -999em;
  width: 200px;
}
.sf-menu UL LI {
  width: 100%;
}
.sf-menu UL LI:HOVER {
  visibility: inherit;
}
.sf-menu LI {
  float: left;
  position: relative;
}
.sf-menu LI:HOVER UL, .sf-menu LI.sfHover UL {
  left: 0;
  top: 2.5em;
  z-index: 99;
}

UL.sf-menu LI:HOVER LI UL,
UL.sf-menu LI.sfHover LI UL {
  top: -999em;
}
UL.sf-menu LI LI:HOVER UL,
UL.sf-menu LI LI.sfHover UL {
  left: 200px;
  top: 0;
}
UL.sf-menu LI LI:HOVER LI UL,
UL.sf-menu LI LI.sfHover LI UL {
  top: -999em;
}
UL.sf-menu LI LI LI:HOVER UL,
UL.sf-menu LI LI LI.sfHover UL {
  left: 200px;
  top: 0;
}

UL.sf-expand-left LI:HOVER UL,
UL.sf-expand-left LI.sfHover UL {
  left: auto;
  right: 0;
}
UL.sf-expand-left LI LI:HOVER UL,
UL.sf-expand-left LI LI.sfHover UL,
UL.sf-expand-left LI LI LI:HOVER UL,
UL.sf-expand-left LI LI LI.sfHover UL {
  left: -196px;
}
