﻿@media print {
	#print_certificate {
		display:none;
	}
}
.certificate_logo {
	position:relative;
	top:960px;
	text-align:center;
	width:670px;
	height:910px;
	#background-image: url(/images/certificate_background.gif);
	background-image: none;

}
.course_completion {
	position:absolute; 
	top:480px;
	width:670px;
	color:#aaa; 
	font-family:times new roman;
	font-size:28px; 
	text-align:center;

}
#logo_graphic {
	position:relative;
	text-align:center;
	width: 670px;
	height:910px;
	border:0;
}
.intro_text {
	font-size:16px;  
	text-align:left;
}
.intro_title {
	font-size:24px;  
	text-align:center;
}
.intro_ref {
	font-size:16px;  
	text-align:center;
}
.completion_cert {
	position: absolute;
	top: 1000px;
	width: 670px;
	font-size: 24px;
	text-align: center;
	border-style: double;
	border-width: 5px;
	border-color: black;
}
.completion_title1 {
	color: #7f7f7f;
	font-style: italic;
	font-size:18px;
	padding:20px;
	align:center;
	text-align: center;
}
.completion_header{
	color: #777777;
	font-size:18px;
	width:50%;
	text-align:right;
}
.completion_label{
	color: #777777;
	font-size:18px;
	width:50%;
	text-align:right;
}
.completion_labeltitle{
	color: #777777;
	font-size:18px;
	width:50%;
	text-align:center;
}
.completion_data {
	color:black;
	font-size:18px;
	width:100%;
	text-align:left;
}
.completion_footer1 {
	color:black;
	font-size:8px;
	float: left;
	width:100%;
	text-align:center;
}
.completion_footer2 {
	color:black;
	font-size:12px;
	float: right;
	width:100%;
	text-align:right;
}
.completion_footer3 {
	color:black;
	font-size:14px;
	width:100%;
	text-align:left;
	margin-left:10px;
}
.completion_footer4 {
	color:black;
	font-size:14px;
	width:100%;
	text-align:left;
	margin-left:10px;
}


.completion_certification_title{
	font-size:16px;
	text-align: left;
	margin-left: 5px;
}
.completion_certification{
	font-size:16px;
	text-align: left;
	margin-left: 5px;
	text-indent: 10px;

}

.completion_cert_wa {
	position: absolute;
	top: 1000px;
	width: 670px;
	font-size: 24px;
	text-align: center;
	border-style: double;
	border-width: 5px;
	border-color: black;
}

.student_name {
	position:relative; 
	width:570px; 
	color:#000; 
	font-family:times new roman;
	text-align:center;
	line-height:40px;
	font-size:32px;  
}
.font1 {
	position:relative; 
	width:570px; 
	color:#000; 
	font-family:times new roman;
	text-align:center;
	line-height:40px;
	font-size:32px; 
}
.font2 {
	position:relative;
	width:570px;
	color:#7f7f7f; 
	font-family:times new roman;
	text-align:center;
	vertical-align: bottom;
	line-height:40px;
	font-size:26px;
}
#topLayer {
	position: absolute;
	padding-top: 20px;
	padding-left: 48px;
	z-index: 10;
	text-align: center;
	height: 910px;
	width: 670px;
	border-color:black;
	border-width:4px;
}
