﻿body
{
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:11px;
}

.tp-summary .x-panel-header-default {
}
.symphony-helpfield-icon
{
    background-image: url(/images/help.png);
    position:absolute;
    right:3px;
    top:3px;
    height:16px;
    width:16px;
}

.symphony-helpfield-icon.is-checkbox {
    position: absolute;
    left: 15px;
}
.symphony-helpfield-icon.fieldset
{
    position: relative;
    top: -1px;
    left: auto;
    right: auto;
    float: right;
}

.trainingprogram-duration-display
{
    margin-top: 0px;
    padding-left: 13px;
    padding-top: 4px;
}

.symphony-helpfield-icon.symphony-pagedcombobox,
.symphony-helpfield-icon.numberfield,
.symphony-helpfield-icon.combo,

.symphony-helpfield-icon.numberfield,
.symphony-helpfield-icon.reporting-datepicker,
.symphony-helpfield-icon.reporting-courseduedatepicker,
.symphony-helpfield-icon.reporting-hiredatepicker,
.symphony-helpfield-icon.reporting-passdatepicker,
.symphony-helpfield-icon.reporting-testdatepicker,
.symphony-helpfield-icon.reporting-classstatuspicker,
.symphony-helpfield-icon.reporting-containsuserspicker,
.symphony-helpfield-icon.reporting-coursepasstypepicker,
.symphony-helpfield-icon.reporting-coursetypepicker,
.symphony-helpfield-icon.reporting-groupbypicker,
.symphony-helpfield-icon.reporting-studentstatuspicker
{
    right:23px;   
}
.symphony-helpfield-icon.reporting-audiencepicker,
.symphony-helpfield-icon.reporting-coursepicker,
.symphony-helpfield-icon.reporting-jobrolepicker,
.symphony-helpfield-icon.reporting-studentpicker,
.symphony-helpfield-icon.reporting-locationpicker,
.symphony-helpfield-icon.reporting-supervisorpicker,
.symphony-helpfield-icon.reporting-trainingprogrampicker,
.symphony-helpfield-icon.reporting-statepicker
{
    right:-8px;   
}
.symphony-helpfield-icon.license-datafieldscombo,
.symphony-helpfield-icon.license-userfieldscombo
{
    right:0px;   
    top: 0px
}

.read-only .symphony-helpfield-icon.license-datafieldscombo,
.read-only .symphony-helpfield-icon.license-userfieldscombo
{
    right: 3px;
}
.x-grid-cell-treecolumn.x-disabled
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/*.x-tree-node .x-tree-selected
{
    background-color:#44aaff;
}*/
.pure-text h4
{
    font-size:14px;
}
.pure-text p, .pure-text h4, .pure-text ol, .pure-text ul
{
    margin:15px;
}
.pure-text ol,
.pure-text ul
{
    padding-left:15px;
}
fieldset .pure-text
{
    margin-left:-15px;
}

span.notification
{
    font-style:italic;
}
.x-button-rename
{
    background-image: url(/images/pencil.png);
}
span.x-button-edit-message
{
    background-image: url(/images/pencil.png);
}
span.x-button-delete-message
{
    background-image: url(/images/bin.png);
}
span.x-button-restore-message
{
    background-image: url(/images/arrow_undo.png);
}
span.x-button-history
{
    background-image: url(/images/time.png);
}
span.x-button-all
{
    background-image:url(/images/world.png);
}
span.x-button-message-board
{
    background-image:url(/images/messages.png);
}
.x-menu-spellcheck
{
    background-image: url(/images/spellcheck.png);
}
.x-menu-revert
{
    background-image: url(/images/arrow_undo.png);
}
.x-menu-page
{
    background-image: url(/images/page.png);
}
.x-menu-content-page,
.x-btn .x-button-content-page
{
    background-image: url(/images/page_red.png);
}
.x-menu-question-page
{
    background-image: url(/images/page_green.png);
}
.x-menu-section
{
    background-image: url(/images/folder.png);
}
.x-menu-sco,
.x-grid-tree-node-expanded .x-menu-sco
{
    background-image: url(/images/folder.png);
}
.x-menu-learningobject,
.x-grid-tree-node-expanded .x-menu-learningobject
{
    background-image: url(/images/book_open.png);
}
.x-menu-calendar{
    background-image: url(/images/calendar.png);
}
.x-menu-date-move{
    background-image: url(/images/date_go.png);
}
.x-menu-date-remove{
    background-image: url(/images/date_delete.png);
}
.x-menu-view-class{
    background-image: url(/images/pencil.png);
}
.x-menu-change-date
{
    background-image: url(/images/date.png);
}
.x-menu-change-time
{
    background-image: url(/images/time.png);
}
.x-menu-change-duration
{
    background-image: url(/images/time_go.png);
}
.x-button-delete
{
    background-image: url(/images/delete.png);
}
.x-menu-test
{
    background-image: url(/images/layout_edit.png);
}
.x-menu-password
{
    background-image: url(/images/key.png);
}
a.grid-gear,
.x-menu-gear
{
    background-image: url(/images/cog.png);
}
.x-menu-switch-user
{
    background-image: url(/images/user_go.png);
}
.x-menu-exit
{
    background-image: url(/images/door_out.png);
}

.x-menu-pretest,
.x-grid-tree-node-expanded .x-menu-pretest
{
    background-image: url(/images/pencil_blue.png);
}
.x-menu-posttest,
.x-grid-tree-node-expanded .x-menu-posttest
{
    background-image: url(/images/pencil_violet.png);
}
.x-menu-survey,
.x-grid-tree-node-expanded .x-menu-survey
{
    background-image: url(/images/page_white_medal.png);
}
.x-menu-objectives,
.x-grid-tree-node-expanded .x-menu-objectives
{
    background-image: url(/images/objectives.png);
}
.x-menu-preview,
.x-grid-tree-node-expanded .x-menu-preview
{
	background-image: url(/images/page_go.png);
}
.x-menu-course-status
{
    background-image: url('/images/medal_gold_3.png');
}
.x-menu-wand,
button.x-menu-wand
{
    background-image: url(/images/wand.png);
}
.x-menu-date-edit,
button.x-menu-date-edit
{
    background-image: url(/images/date_edit.png);
}
.x-menu-date-error{
    background-image: url(/images/date_error.png);
}
.x-menu-title {
    background: #D6E3F2;
    border-style: solid;
    border-color:#DAE6F4 #99bbe8 #99bbe8 #DAE6F4;
    border-width: 1px;
    margin:-2px -2px 0;
    color:#15428b;
    font:bold 10px tahoma,arial,verdana,sans-serif;
    display:block;
    padding:3px;
}
.x-menu-information
{
    background-image: url('/images/information.png');
}
.x-menu-duration
{
    background-image: url(/images/clock.png);
}

.x-window-error
{
    background-image: url(/images/error.png);
}
.x-window-critical
{
    background-image: url(/images/exclamation.png);
}
.x-window-script
{
    background-image: url(/images/script.png);
}
span.x-button-revert
{
    background-image: url(/images/arrow_undo.png);
}
span.x-button-previous{
    background-image: url(/images/resultset_previous.png);
}
span.x-button-next{
    background-image: url(/images/resultset_next.png);
}
span.x-button-refresh{
    background-image: url(/images/arrow_refresh_small.png);
}
span.x-button-calendar{
    background-image: url(/images/calendar.png);
}
span.x-button-calendar-edit{
    background-image: url(/images/calendar_edit.png);
}
span.x-button-search{
    background-image: url(/images/magnifier.png);
}
span.x-button-properties {
    background-image: url(/images/application_form.png);
}
span.x-button-advanced-search{
    background-image: url(/images/application_form_magnify.png);
}
span.x-button-change-portal{
    background-image: url(/images/application_view_gallery.png);
}
span.x-button-lock{
    background-image: url(/images/lock.png);
}
span.x-button-unlock{
    background-image: url(/images/lock_open.png);
}
span.x-button-save{
    background-image: url(/images/accept.png);
}
span.x-button-save-disk {
    background-image: url(/images/disk.png);
}
span.x-button-launch-course{
    background-image: url(/images/accept.png);
}
span.x-button-cancel{
    background-image: url(/images/cancel.png);
}
span.x-button-incorrect{
    background-image: url(/images/cross.png);
}
.x-tab-icon-el.x-user,
.x-tab-strip-text.x-user, span.x-button-user
{
    background-image: url(/images/user.png);
}
span.x-button-openbook, .x-tab-openbook
{
    background-image: url(/images/book_open.png);
}
span.x-button-pencil
{
    background-image: url(/images/pencil.png);
}
span.x-button-palette
{
    background-image: url(/images/palette.png);
}
span.x-button-license
{
	background-image: url(/images/license2.png);
}
span.x-button-home
{
    background-image: url(/images/symphony_logo_small.png);
}
span.x-button-email
{
    background-image: url(/images/email.png);
}
span.x-button-duplicate
{
    background-image: url(/images/paste_plain.png);
}
span.x-button-message-delete
{
    background-image: url(/images/email_delete.png);
}
span.x-button-message-deleteall
{
    background-image: url(/images/email_delete.png);
}
span.x-button-meeting, .x-tab-meeting
{
    background-image: url(/images/group.png);
}
span.x-button-meeting-add
{
    background-image: url(/images/group_add.png);
}
span.x-button-meeting-edit
{
    background-image: url(/images/group_edit.png);
}
span.x-button-meeting-delete
{
    background-image: url(/images/group_delete.png);
}
span.x-button-import-preview
{
    background-image: url(/images/page.png);
}
span.x-button-import-start
{
    background-image: url(/images/page_go.png);
}
span.x-button-import
{
    background-image: url(/images/arrow_in.png);
}
span.x-button-export
{
    background-image: url(/images/arrow_out.png);
}
span.x-button-preview
{
    background-image: url(/images/page_white_magnify.png);
}
span.x-button-transcript
{
    background-image: url(/images/page.png);
}
span.x-button-help,
.question-window
{
    background-image: url(/images/help.png);
}
span.x-button-online
{
    background-image: url(/images/status_online.png);
}
span.x-button-offline
{
    background-image: url(/images/status_offline.png);
}
span.x-button-away
{
    background-image: url(/images/status_away.png);
}
span.x-button-busy
{
    background-image: url(/images/status_busy.png);
}
span.x-button-logout
{
    background-image: url(/images/door_out.png);
}
span.x-button-reporting
{
    background-image: url(/images/script.png);
}
span.x-button-transcript
{
    background-image: url(/images/script.png);
}
span.x-button-deployment-log
{
    background-image: url(/images/script.png);
}
span.x-button-asset
{
    background-image: url(/images/image.png);
}
span.x-button-upload
{
    background-image: url(/images/picture_add.png);
}
span.x-button-download
{
    background-image: url(/images/picture_save.png);
}
span.x-button-upload-delete
{
    background-image: url(/images/picture_delete.png);
}
span.x-button-add
{
    background-image: url(/images/add.png);
}
.x-menu-edit,
span.x-button-edit
{
    background-image: url(/images/pencil.png);
}
.x-menu-forward
{
    background-image: url(/images/control_fastforward.png);
}
span.x-button-delete
{
    background-image: url(/images/bin.png);
}
span.x-button-rename
{
    background-image: url(/images/pencil.png);
}
span.x-button-location
{
    background: url(/images/map.png) no-repeat;
}
span.x-button-popout
{
    background: url(/images/application_side_expand.png) no-repeat;
}
span.x-button-package
{
    background: url(/images/package_go.png) no-repeat;
}
span.x-button-deployment
{
    background: url(/images/package_go.png) no-repeat;
}
span.x-button-deploy
{
    background: url(/images/symphony.png) no-repeat;
}
span.x-button-filter
{
    background: url(/images/funnel.png) no-repeat;
}
.x-btn.x-filter
{
    width: 130px;
}
.x-btn.x-filter em
{
    width: 130px;
    float: left;
}
.x-btn.x-filter em button
{
    width: 130px;
    float: left;
    text-align: left;
}
.x-menu-item-icon.x-button-deploy-create
{
    background: url(/images/book_add.png) no-repeat;
}
.x-menu-item-icon.x-button-deploy-update
{
    background: url(/images/book_edit.png) no-repeat;
}
.x-menu-item-icon.x-button-deploy-mars
{
    background: url(/images/monitor.png) no-repeat;
}
span.x-button-publish
{
    background: url(/images/lock_go.png) no-repeat;
}
span.x-button-close-thread
{
    background: url(/images/lock_go.png) no-repeat;
}
span.x-button-new-message
{
    background: url(/images/message_edit.png) no-repeat;
}
span.x-button-eye
{
    background: url(/images/eye.png) no-repeat;
}
span.x-button-gear
{
     background: url(/images/cog.png) no-repeat;
}
span.x-button-play
{
    background: url(/images/control_play_blue.png) no-repeat;
}
span.x-button-play-big
{
    background: url(/images/nav_right_blue.png) no-repeat;
    background-size: 32px 32px;
}
span.x-button-jobrole
{
    background: url(/images/building.png) no-repeat;
}
span.x-button-audience
{
    background: url(/images/group.png) no-repeat;
}
span.x-button-cert
{
    background: url(/images/script_key.png) no-repeat;
}
span.x-button-favorite
{
    background: url(/images/star.png) no-repeat;
}
span.x-button-sticky
{
    background: url(/images/star_gold.png) no-repeat;
}
span.x-button-un-sticky
{
    background: url(/images/star_silver.png) no-repeat;
}
span.x-button-run
{
    background: url(/images/page_go.png) no-repeat;
}
span.x-button-chart
{
    background: url(/images/chart_bar.png) no-repeat;
}
span.x-button-user, .x-tab-user
{
    background-image: url(/images/user.png);
}
span.x-button-instructors 
{
    background-image: url(/images/user_gray.png);
}
span.x-button-students 
{
    background-image: url(/images/folder_page.png);
}
.x-btn.symphonybar button
{
    margin: 0 6px;
}
.symphonymainbar .x-btn-text-icon .x-btn-icon-small-left .x-btn-text
{
    height:32px;
    text-align:left;
    padding-left:20px;
}

img.x-treenode-user
{
    background: url(/images/user.png) no-repeat !important;
}
img.x-treenode-m
{
    background: url(/images/group.png) no-repeat !important;
}
img.x-treenode-m-ur
{
    background: url(/images/group_go.png) no-repeat !important;
}
img.x-treenode-m-uwl
{
    background: url(/images/group_link.png) no-repeat !important;
}
img.x-treenode-m-uaa
{
    background: url(/images/group_edit.png) no-repeat !important;
}
img.x-treenode-m-ud
{
    background: url(/images/group_delete.png) no-repeat !important;
}
img.x-treenode-m-ac
{
    background: url(/images/group.png) no-repeat !important;
}
img.x-treenode-rm
{
    background: url(/images/table_gear.png) no-repeat !important;
}
img.x-treenode-rm-rr
{
    background: url(/images/cog.png) no-repeat !important;
}
img.x-treenode-rm-nrr
{
    background: url(/images/cog_delete.png) no-repeat !important;
}
img.x-treenode-i
{
    background: url(/images/book_edit.png) no-repeat !important;
}
img.x-treenode-s
{
    background: url(/images/world.png) no-repeat !important;
}
img.x-treenode-s-ur
{
    background: url(/images/world_go.png) no-repeat !important;
}
img.x-treenode-s-uwl
{
    background: url(/images/world_link.png) no-repeat !important;
}
img.x-treenode-s-uaa
{
    background: url(/images/world_edit.png) no-repeat !important;
}
img.x-treenode-s-ud
{
    background: url(/images/world_delete.png) no-repeat !important;
}
.x-tab-icon-el.x-location,
.x-tab-strip-text.x-location, img.x-location
{
    background: url(/images/map.png) no-repeat !important;
}
.x-tab-icon-el.x-jobrole,
.x-tab-strip-text.x-jobrole, img.x-jobrole
{
    background: url(/images/building.png) no-repeat !important;
}
.x-tab-icon-el.x-audience,
.x-tab-strip-text.x-audience, img.x-audience
{
    background: url(/images/group.png) no-repeat !important;
}
.x-tab-icon-el.x-category,
.x-tab-strip-text.x-category, img.x-category
{
    background: url(/images/folder.png) no-repeat !important;
}
img.x-icon-delete
{
    background: url(/images/bin.png) no-repeat !important;
}
div.grid-online
{
    background-image: url(/images/monitor.png);
    height:16px;
    width:16px;
}
div.grid-print
{
    background-image: url(/images/printer.png);
    height:16px;
    width:16px;
}
div.grid-classroom
{
    background-image: url(/images/pencil.png);
    height:16px;
    width:16px;
}
div.grid-restore-topic
{
    background-image: url(/images/arrow_undo.png);
    height:16px;
    width:16px;
}
div.grid-delete-topic
{
    background-image: url(/images/bin.png);
    height:16px;
    width:16px;
}
a.grid-messageboard
{
   background: url(/images/messages.png) no-repeat;
    height:16px;
    width:16px; 
    cursor: pointer;
    position: relative;
    right: 5px;
    display: block;
}
.x-menu-assignments,
a.grid-assignments
{
    background: url(/images/report.png) no-repeat;
}
.instructed-class-group.unmarked a.grid-assignments
{
    background: url(/images/report_edit.png) no-repeat;
}
a.grid-gear,
a.grid-assignments
{
    height:16px;
    width:16px; 
    cursor: pointer;
    position: relative;
    right: 5px;
    display: block;
}

div.x-grid-group-title a.grid-assignments,
div.x-grid-group-title a.grid-messageboard
{
    right: 1px;
    float: right;
}

div.grid-due-date
{
    background-image: url(/images/date_next.png);
    height:16px;
    width:16px;
}
div.grid-active-date
{
    background-image: url(/images/date_go.png);
    height:16px;
    width:16px;
}
div.grid-proctor-required
{
    background-image: url(/images/eye.png);
    height:16px;
    width:16px;
}
div.grid-new-assignment
{
    background-image: url(/images/new.png);
    height: 16px;
    width: 16px;
}
div.training-program-view
{
    text-align:center;
}
div.training-program-view .title
{
    font-size:18px;
    margin:9px;
}
div.training-program-view .description
{
    margin:9px;
    max-height:60px;
    overflow:auto;
}
div.training-program-view .due
{
    margin:9px;
}
.awaiting-approval
{
    position: relative;
}

.awaiting-approval a
{
    position: absolute;
    background: url('/images/delete.png');
    width: 16px;
    height: 16px;
    display: block;
    left: 92px;
    top: -1px;
}

div.accordion-panel-first
{
    border-top:1px solid #99BBE8;
}
div.accordion-panel-last
{
    border-bottom:1px solid #99BBE8;
}

div.final-assessment .x-panel-header,
div.training-program-leaders .x-panel-header,
div.training-program-files .x-panel-header
{
    background: none repeat-x scroll 0 -9px transparent;
    background-image:url("/scripts/extjs3/resources/images/default/panel/light-hd.gif");
    color:#222;
    font-weight:normal;
}

div.final-assessment .x-panel-header .x-panel-header-text-container-default,
div.training-program-leaders .x-panel-header .x-panel-header-text-container-default,
div.training-program-files .x-panel-header .x-panel-header-text-container-default {
    font-weight:normal;
    color:#222;
}
.disabled-mask .x-mask-msg-text, 
.trainingprogramcoursesgrid-mask .x-mask-msg-text {
    background-image:none;
    padding-left:5px;
}

div.summary
{
    border:1px solid #99BBE8;
    height:100%;
    width:100%;
    text-align:center;
}
.courseassignment-summary div.summary
{
    border:0;
}
div.settings h2,
div.summary h2
{
    font-size:16px;
    padding:10px 0;
    margin: 0;
}
div.settings .group,
div.summary .group
{
    padding-bottom:14px;
}
div.settings h3,
div.summary h3
{
    font-size:13px;
    padding-bottom:7px;
    margin: 0;
}
div.summary p
{
    margin: 0;
}
.ext-el-mask-msg.disabled div
{
    background-image: none;
    background-color:#fff;
    cursor:pointer;
    cursor:hand;
}
span.error
{
    color:#ee0000;
    margin-right:3px;
}
div.message p
{
    margin: 15px;
}
div.x-layout-split
{
    border-right:1px solid #8DB2E3;
    border-left:1px solid #8DB2E3;
}
#portal .symphony-logo
{
    position:absolute;
    bottom:0;right:0;
    z-index:1;
    width:400px;
    height:200px;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin:25px;
}
.portal-class-details
{
    margin:15px 15px 15px 10px;
}
.portal-class-details p
{
    margin:10px;
}
.portal-class-details .name
{
    font-weight:bold;
}

.x-grid3-row td,.x-grid3-summary-row td
{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    behavior: url(/scripts/ie/IEUserSelectFix.htc);
}
.contentarea-layout .x-border-layout-ct,
.contentarea-panel .x-panel-body
{
    background-color:#fff;
}
.contentarea-panel .x-panel-body
{
    border: 1px solid #99BBE8;
}
.x-treenode-course,
.x-grid-tree-node-expanded .x-treenode-course
{
    background-image: url(/images/package.png);
}
span.x-button-next
{
    background-image: url(/images/next.png);
}
span.x-button-link
{
    background: url(/images/world_link.png);
}
span.x-button-previous
{
    background-image: url(/images/previous.png);
}
span.x-button-finish
{
    background-image: url(/images/tick.png);
}
span.x-button-print
{
    background-image: url(/images/printer.png);
}
span.x-button-cross
{
    background-image: url(/images/cross.png);
}
.multiline .x-tree-node
{
    white-space:normal;
}
.multiline ul li .content
{
    margin-left:15px;
    display:block;
}
.multiline ul li ul li .content
{
    margin-left:30px;
}

.multiline ul li ul li ul li .content
{
    margin-left:45px;
}

.multiline ul li ul li ul li ul li .content
{
    margin-left:60px;
}

.multiline ul li ul li ul li ul li ul li .content
{
    margin-left:75px;
}
.maxindex
{
    
}
.artisan-shim-wrap
{
    height:60px;
}


.course-editor.navigation-completion .tree-pretest a,
.course-editor.navigation-completion .tree-pretest span,
.course-editor.navigation-completion .tree-posttest a,
.course-editor.navigation-completion .tree-posttest span,
.course-editor.inline-questions-completion .tree-pretest a,
.course-editor.inline-questions-completion .tree-pretest span,
.course-editor.inline-questions-completion .tree-posttest a,
.course-editor.inline-questions-completion .tree-posttest span,
.course-editor div.x-tree-node-el.quiz + ul.x-tree-node-ct div.tree-page a,
.course-editor div.x-tree-node-el.quiz + ul.x-tree-node-ct div.tree-page span,
.course-editor .tree-page.quiz span,
.course-editor.is-mastery-enabled .x-grid-cell-treecolumn .x-menu-survey + .x-tree-node-text {
	text-decoration: line-through;
	color: #999999;
}
.course-editor.test-completion .gradable .x-form-cb-label,
.course-editor.navigation-completion .gradable .x-form-cb-label
{
    text-decoration: line-through;
	color: #999999;
}
.course-editor .gradable div.x-form-check-wrap
{
    height:21px;
}

.sub_setting
{
	position: relative;
	top: -3px;
}
.sub_setting .x-form-cb-label
{
	font-size: 11px;
}
.event-calendar .x-grid3-cell-inner
{
    overflow:auto;
}
.template-parameters .x-tree-node .x-tree-selected{
    background-color:#ffb;
}

/*** Reporting tab ***/
.report-editor-field 
{
    margin-bottom: 15px;
}

.subfield-label 
{
    position: relative;
    top: 2px;
    color: Gray;
}

.option-icon 
{
    width: 14px;
    height: 14px;
    position:relative;
    top: 2px;
}

.options .x-form-cb-label
{
	font-size: 11px;
}

.queue-download-link 
{
    margin-right: 12px;
}

/* Message Boards */
.topics-list .topic
{
    padding-left: 20px;
    min-height: 16px;
    background: url('/images/messages.png') no-repeat 0 0px;
}
.topics-list .topic-row .x-grid-cell
{
    vertical-align: top;
    padding: 4px 0px 4px 0px;
}

.topics-list .topic, 
.topics-list .lastPost 
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.topics-list .topic .title 
{
    font-size: 12px;
    font-weight: bold;
}

.topics-list .topic .createdOn 
{
    font-weight: normal;
    color: #555;
    line-height: 16px;
}

.topics-list .x-grid3-row:hover 
{
    cursor: pointer;
}
.topics-list .x-grid3-row:hover .topic .title
{
    text-decoration: underline;
}

.topics-list .preview 
{
    margin: 0px 0px 0px 0px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}
    .topics-list .preview::before,
    .topics-list .preview::after
    {
        content: '"';
    }


.topics-list .lastPost 
{
    padding-right: 5px;
}
.topics-list .lastPost .author 
{
    line-height: 14px;
}

.topics-list .lastPost .date 
{
    font-weight: bold;
}

.topics-list .x-grid3-col-posts 
{
    padding-top: 8px;
}
.topics-list .topic-row div.topic
{
    position: relative;
    min-height: 40px;
}
.topics-list .topic-row.deleted span,
.topics-list .topic-row.deleted p
{
    text-decoration: line-through;
    color: #ccc;
}
.topics-list .topic-row.deleted:before,
.topics-list .topic-row.deleted:after,
.posts .info.deleted
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.topics-list .topic-row.sticky div.topic:before 
{
    content: " ";
    position: absolute;
    top: 0px;
    right: -5px;
    width: 26px;
    height: 26px;
    display: block;
    background: url('/images/star_gold.png') no-repeat;
}
.topics-list .topic-row.locked div.topic:after 
{
    content: " ";
    position: absolute;
    right: -5px;
    top: 0px;
    width: 26px;
    height: 26px;
    display: block;
    background: url('/images/lock_go.png') no-repeat;
}

.topics-list .topic-row.sticky.locked div.topic:after
{
   right: 15px; 
}

.posts .post 
{
    white-space: normal;
    border: 1px solid #888;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    margin-left: 15px;
    margin-top: 17px;
}

.posts .post.deleted .nurp:before
{
    border-right: 15px solid #ccc;
}
.posts .post.deleted
{
    border: 1px solid #ccc;
}

.posts .post.deleted .date,
.posts .post.deleted .content,
.posts .post.deleted .reply-summary
{
    text-decoration: line-through;
    color: #ccc;
}

.post .reply-summary {
    margin-bottom: 10px;
    border-left: 4px solid #ccc;
    padding: 5px;
    background: #efefef;
    color: #333;
}

.posts .post .nurp 
{
    position: absolute;
    top: 20px;
    left: -30px;
    width: 0px;
    height: 0px;
    border-right-color: #fff;
}

.posts .post .nurp:before 
{
    content: "";
    
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 0px;
    height: 0px;
    
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #888;
    
}
.posts .post .nurp:after 
{
    content: "";
    
    position: absolute;
    top: 0px;
    left: 2px;
    
    width: 0px;
    height: 0px;
    
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    border-right-color: inherit;

}
.posts .post-row 
{
    border: none;
}
.posts .post .date 
{
    font-size: 14px;
    font-weight: bold;
    color: #888;
    margin-bottom: 15px;
}
.posts .info 
{
    text-align: center;
    position: relative;
    width: 72px;
}

.posts .info .username,
.posts .info .jobrole,
.posts .info .posts 
{
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0px 2px 0px;
}
.posts .info .posts 
{
    color: #888;
}


.posts .info .user-img 
{
    width: 100%;
    height: 80px;
    position: relative;
    overflow: hidden;
    
    border: 1px solid #999;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    background: #aaa;
    
}

.posts .info .user-img:after 
{
    position: absolute;
    content: "";
    
    width: 50px;
    height: 50px;
    
    left: 50%;
    margin-left: -28px;
    top: 5px;
    
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    
    border: 3px solid #aaa;
    
    background: #fff;
}

.posts .info .user-img:before 
{
    position: absolute;
    content: "";
    
    width: 200px;
    height: 200px;
    
    left: 50%;
    margin-left: -100px;
    top: 52px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    
    background: #fff;
}

    .posts .info .status
    {
        position: absolute;
        top: 77px;
    }

.posts .post-row.reply 
{
    margin-left: 95px;
}

.posts .x-grid3-header 
{
    display: none;
}

.posts .controls 
{
    float: right;
}
.posts .controls table.x-btn 
{   
    float: right;
    margin-top: -5px;
}

.posts.locked .controls 
{
    display: none;
}

.posts .private 
{
    position: relative;
    top: 3px;
    left: 5px;
    margin-top: -5px;
}

.edit-topic-panel .x-form-check-wrap 
{
    margin-left: 104px;
}

.messageboards .edit-messageboard 
{
    cursor: pointer;
}

.messageboards .lastPost 
{
    padding-right: 5px;
}


/* Video Chat*/
.notification .incoming 
{
    font-size: 2.5em;
}

.notification .from 
{
    font-size: 1.5em;
}
.statusPanel .statusLabels
{
    overflow: visible;
}
.statusPanel .x-panel-bwrap,
.statusPanel .x-panel-bwrap .x-panel-body
{
    overflow: visible;
}
.statusPanel .statusLabels label.status
{
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin-top: 75px;
    display: block;
}
.statusPanel .statusLabels label.reason
{
    text-align: center;
    display: block;
}
.statusPanel .statusLabels label.status:before
{
    background: url('/images/spiffygif_128x128.gif');
    content: " ";
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    margin-left: -64px;
    bottom: 100%;
    display: block;
}
.statusPanel .statusLabels label.status.declined
{
    margin-top: 0px;
}
.statusPanel .statusLabels label.status.declined:before
{
    display: none;
}
a.webcam.offline
{
    display: none;
}
a.webcam > div
{
    width: 16px;
    height: 16px;
    display: block;
    background: url(/images/webcam.png);
}
a.webcam.busy > div
{
    background: url(/images/webcam_delete.png);
}
a.webcam.away > div
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.VideoChat .msg
{
    margin-bottom: 9px;
}

.VideoChat .msg .from .date,
.VideoChat .msg.empty .from
{
    color: #666;
    font-style: italic;
    font-weight: normal;
}

.VideoChat .msg .from
{
    font-weight: bold;
}

.VideoChat .msg .text
{
    margin-top: 3px;
    line-height: 1.5em;
}

/* Training program course assignment qtip/settings panel */
.tp-course-settings-qtip h1
{
    margin-left: 3px;
    font-size: 1em;
}
.tp-course-settings-qtip p + h1
{
    margin-top: 5px;
}

.tp-course-settings-qtip h1.proctor + p
{
    display: none;
}

.tp-course-settings-qtip p
{
    margin-top: 5px;
    margin-left: 20px;
}

.tp-course-settings-qtip h1 img
{
    position: relative;
    top: 3px;
    left: -3px;
}

.tp-course-settings-qtip .x-tip-body
{
    padding-bottom: 3px;
}
.inline-form label
{
    padding-top: 3px;
}
.inline-form .hour-minute-selector
{
    margin-left: 5px;
    margin-right: 5px;
}

/* Student Panel */
.transcript-panel .transcript-detail-label
{
    font-size: 14px;
    font-weight: bold;
}
.transcript-panel .transcript-detail-label span
{
    font-size: 12px;
    font-weight: normal;
}

/* Affidavit Panel */
.affidavit-form ol
{
    list-style-type: upper-alpha;
    margin: 5px 0px 5px 30px;

}
.affidavit-form ol li
{
    margin-bottom: 5px;
}
.affidavit-form h1
{
    margin-bottom: 0.5em;
    font-size: 130%;
}
.affidavit-form p
{
    margin-bottom: 0.5em;
}
.affidavit-form hr
{
    margin-bottom: 10px;
}
.affidavit-form .x-form-item
{
    margin-left: 10px;
}
.affidavit-form .x-panel.x-form-item
{
    margin-left: 0px;
}
.affidavit-form .x-form-date-trigger
{
    right: 0px;
}
.affidavit-form button
{
    font-weight:bold;
}

/* Assignment panel */
.assignment-response-grid .x-grid3-cell-inner
{
    white-space: normal;
}
.assignment-response-grid .response h3
{
    font-size: 13px;
    font-weight: bold;
    margin: 10px 5px 5px 5px;
}
.assignment-response-grid .response h3.user::after
{
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: none;
    position:relative;
    top: 2px;
}
.assignment-response-grid .response.not-marked h3.user
{
  position: relative;
  top: 5px;
}
.assignment-response-grid .response.correct h3.user::after
{
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/images/tick.png) no-repeat;
    position:relative;
    top: 2px;

}
.assignment-response-grid .response.incorrect h3.user::after
{
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/images/cross.png) no-repeat;
    position:relative;
    top: 2px;

}
.assignment-response-grid .response.not-marked h3.user::after
{
    content: '(not yet graded by instructor)';
    font-style: italic;
    display: inline-block;
    position:relative;
    top: 0px;
    width: auto;
    font-weight: normal;
    font-size: 11px;
    margin-left: 5px;
    color: #777;

}
.assignment-response-grid .response p
{
    margin: 0px 5px;
}

.assignment-response-grid .response-status
{
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    z-index: 10;
    background: none;
    position: absolute;
    top: -30px;
    right: 20px;
}
    .assignment-response-grid .response-status .x-panel-body
    {
        z-index: 10;
    }

    .assignment-response-grid .response-status div
    {
        background: none;
    }

    .assignment-response-grid .response-status table
    {
        float: right;
    
     }
.assignment-response-grid .response.single-user.incorrect h3.correctResponseHeader,
.assignment-response-grid .response.single-user.not-marked h3.correctResponseHeader
{
    display: none;
}
.assignment-response-grid .response
{
    position: relative;
    white-space: normal;
}
    .assignment-response-grid .response .course-launch-link
    {
        position: absolute;
        left: 90px;
        top: 0px;
    }
        .assignment-response-grid .response .course-launch-link:before
        {
            content: "(";
        }
        .assignment-response-grid .response .course-launch-link:after
        {
            content: ")";
        }



/* for cert renderer */
.score
{
    position: relative;
    top: -4px;
}

.hidden {
    display: none;
}

/* MSG Box Hack 
    Sometimes there are issues when showing an Ext.Msg when there
    is a Ext.Window open. For example when showing an alert in an 
    beforeremove event fired by clicking close on a tab. Basically
    the msg box is displayed, but then the parent window is given
    focus from the tab event bringing it forward. Adding this class
    to the message box should force it to always be on top.
    */
.bringToFront
{
    z-index: 999999 !important;
}



/* Module toggles */
.artisan-disabled .artisan-module,
.gotomeeting-disabled .gotomeeting-module,
.gotowebinar-disabled .gowebinar-module,
.portal-disabled .portal-module,
.reporting-disabled .reporting-module,
.classroom-disabled .classroom-module,
.customer-disabled .customer-module,
.courseassignment-disabled .courseassignment-module,
.messageboards-disabled .messageboards-module,
.studentportal-disabled .studentportal-module,
.instructorportal-disabled .instructorportal-module,
.videochat-disabled .videochat-module,
.advancedtrainingprogram-disabled .advancedtrainingprogram-module,
.certificates-disabled .certificates-module,
.affidavit-disabled .affidavit-module,
.parameters-disabled .parameters-module,
.validation-disabled .validation-module,
.proctor-disabled .proctor-module,
.surveys-disabled .surveys-module,
.salesforce-disabled .salesforce-module,
.books-disabled .books-module,
.bulkdownload-disabled .bulkdownload-module,
.libraries-disabled .libraries-module,
.advancedadministration-disabled .advancedadministration-module
{
    display: none !important;
}

span.help-icon
{
    position: relative;
    top: -5px;
}
span.help-icon:after
{
    content: url('/images/help.png');
    position: relative;
    top: 3px;
}

.unavailable-reasons ul li
{
    list-style-type: disc;
    margin-left: 18px;
}


.x-form-item.required label:after
{
    content: "*";
    color: red;
}
.x-form-item.required span
{
    color: red;
}

.disabled-row .x-grid3-cell,
.disabled-row.x-grid3-row-selected,
.x-grid3-body .disabled-row.x-grid3-row-selected .x-grid3-td-checker
{
    background-color: #eee !important;
    background-image: none;
    color: #aaa;

}

.multilogin
{
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    margin-bottom: 80px;
    margin-top: 80px;
}

    .multilogin h1
    {
        font-size: 22px;
        margin-left: 20px;
    }
    .multilogin h2
    {
        margin-left: 20px;
        font-size: 18px;
    }
#multi_login_error p
{
    margin-left: 20px;
    font-size: 14px;
}

#multi_login_error .user_info
{
    font-weight: bold;
}
#multi_login_error a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    padding: 10px;
}

.course-grid
{
    width: 300px;
    height: 200px;
    margin: 20px;
}


    .course-grid .x-panel-header
    {
        background-image: none;
        border: none;

    }

    .course-grid .x-panel-header.x-panel .x-panel-body
    {
        background: none;
        border: none;
    }

    .course-grid .header
    {
        font-size: 16px;
        float: left;
    }
    .course-grid .name
    {
        float: left;
        clear: left;
        padding-top: 5px;
        font-size: 12px;
        color: #555;
    }

    .course-grid .courses
    {
        float: left;
        clear: left;
        color: #555;
        }

    .course-grid .x-button-big button
    {
        font-size: 14px;
        font-weight: bold;
    }




.admin-menu-attempt-count
{
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    display: block;
    left: 2px;
    width: 18px;
    top: 3px;
    text-align: center;
}

.visited-page,
.visited-sco,
.visited-lo,
.bookmarked-page,
.bookmarked-lo,
.bookmarked-sco
{
    position: relative;
}
    .visited-page:before,
    .visited-sco:before,
    .visited-lo:before,
    .bookmarked-page:after,
    .bookmarked-lo:after,
    .bookmarked-sco:after
    {
        content: ' ';
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
    }
.visited-page:before,
.visited-sco:before,
.visited-lo:before
{
    left: 0px;
    top: 0px;
    background-image: url(/images/tick.png);
}

.bookmarked-lo:after,
.bookmarked-sco:after
{
    background-image: url(/images/bullet_black.png);
    right: 0px;
    top: 0px;
}
.bookmarked-page:after
{
    background-image: url(/images/flag_blue.png);
    right: 0px;
    top: 0px;
}

.btn-text-saverelationship
{
	font-size:12px;	
}

.assignmentsTooltip table
{
    width: 100%;
    border-collapse:collapse;
}
    .assignmentsTooltip table tr th
    {
        font-weight: bold;
        border-bottom: 1px solid #999;
        padding-bottom: 3px;
    }
    .assignmentsTooltip table tr td
    {
        line-height: 16px;
    }
    .assignmentsTooltip table tr td img
    {
        position: relative;
        top: 4px;
        padding-right: 3px;
    }

/* Assignment Status Panel */
.assignmentStatus
{
    width: 100%;
    height: 100%;
    min-width: 670px;
}

    .assignmentStatus div
    {
        width: 20%;
        height: 80%;
        float: left;
        margin: 8px 0px 0px 0px;
        padding: 0px;
        text-align: center;
        position: relative;
    }

        .assignmentStatus div h1
        {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .assignmentStatus div p
        {
            font-size: 20px;
            font-weight: bold;
            margin-top: 3px;
        }

        .assignmentStatus div.total::after
        {
            position: absolute;
            width: 1px;
            height: 100%;
            content: " ";
            background: #ccc;
            right: -20px;
            top: 0px;
        }

        .assignmentStatus div.passed
        {
            color: #1e7c03;
        }

        
        .assignmentStatus div.failed
        {
            color: #bd0e0e;
        }

        .assignmentStatus div.unmarked
        {
            color: #999;
        }
/* assignment grid*/
.assignment-group .assignment-status,
.assignment-group .assignment-attempt
{
    float: right;
    text-align: right;
    padding-left: 10px;
}

.assignment-grid .old-assignment,
.assignment-grid .in-progress,
.assignment-grid .old-artisan-course
{
    color: #ccc;

}
.assignment-grid .in-progress img,
    .assignment-grid .old-assignment img,
.assignment-grid .old-artisan-course img
    {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
        filter: alpha(opacity=25);
        -moz-opacity: 0.25;
        -khtml-opacity: 0.25;
        opacity: 0.25;
    }

 /* Error message img */
.msg-box-icon
{
    float: left;
    margin-right: 10px;
}

.x-form-item.hide-label label.x-form-item-label
{
    display: none;
}

.ext-el-mask-msg ul
{
    margin-left: 20px;
    margin-top: 5px;
    list-style-type: disc;
}
.ext-el-mask-msg ul li
{
    margin-bottom: 5px;
}


.assignment .question.reset ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}
.assignment .question.reset ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
.assignment .question.reset ul ul, .assignment .question.reset ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
.assignment .question.reset ol ol, .assignment .question.reset ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}
.assignment .question.reset li
{
    display: list-item;
}

.deprecated-entity
{
    color: purple;
}
    .deprecated-entity .x-grid3-col-tagName span::after
    {
        content: ' (Deprecated)';
    }
.duplicated-entity
{
    color: red;
}
    .duplicated-entity .x-grid3-col-tagName span::after
    {
        content: ' (Duplicated)';
    }



.version-info input
{
    border: none;
    background: none;
    font-size: 11px;
    height: auto !important;
    padding: 0px;
}

.version-info
{
    position: fixed;
    bottom: 65px;
    right: 15px;
    display: block;
    color: #525252;
    
    text-align:right;
}
.version-info > span
{
    /*float: left;
    clear: left;*/
    width: 100%;
    font-size: 8pt;
    height: 1.2em;
    text-align: right;
	padding-right:5px;
}

.msg-btn-icon span
{
    position: relative;
    top: -4px;
}


/* Library */
.library-details
{
    padding: 0px 5px 0px 5px;
    height: 100%;
}

.library-details .library-name 
{
    font-size: 18px;
    margin-bottom: 0.5em;
    height: 15%;
}
    .library-details .library-description
    {
        height: 75%;
        overflow-y: scroll;
    }

    .library-details p
    {
        font-size: 12px;
        margin-bottom: 0.5em;
}


.transcript .historic-data
{
    display: none;
}

.transcript .historic-data table tbody p
{
    padding: 4px;
}

.transcript .trainingprogram-certificate-group
{
    float: right;
}
.x-gecko .transcript .trainingprogram-certificate-group
{
    position: relative;
    top: -15px;
}
.transcript .trainingprogram-certificate-group .certificate-link
{
    margin-right: 2px;
}

.transcript .certificate-link
{
    position: relative;
    right: 0px;
}

.transcript .x-grid-row.symphony-training-program .x-grid-cell,
.transcript .x-grid-row.symphony-training-program .x-grid-cell > div 
{
    overflow: visible;
}

    .transcript .x-grid-row.symphony-training-program .x-grid-cell.name > div > div
    {
        position: absolute;
        margin-top: -6px;
        width: 90%;
        overflow:hidden;
        text-overflow: ellipsis;
    }


.x-btn .swfupload
{
    position: absolute;
    z-index: 1;
}

.instructed-class-group .icons
{
    width: 20%;
    float: right;
}
.instructed-class-group .header
{
    width: 80%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.x-field.x-form-item-hidden.x-anchor-form-item
{
    margin-bottom: 0px;
}

.x-panel-transparent > .x-panel-body-default
{
    background: transparent;
}

ul.x-boxselect-list
{
    margin-top: 3px;
    margin-bottom: 3px;
}

/* begin associated image */
.associated-image-no-data {
    width:100%;
    text-align:left;
}
    .associated-image-no-data span {
        margin: auto 0;
        display:block;
    }

.associated-image-field {
    position:relative;
}

.associated-image-field-preview {
    width:100%;
}

.associated-image-instructions {
    display:none;
}

.dz-image {
    padding-right:5px;
}

.dz-invalid .dz-image img {
    border: solid 4px #ee0000;
}

.dz-filename {
    display:none;
}

.dz-error {
    font-style: italic;
    color: #ee0000;
}

.dz-details {
    
}

.dz-drag-hover {
    
}
    .dz-drag-hover .associated-image-instructions {
        display:block;
        position:absolute;
        border:3px dashed #ee0000;
        width:100%;
        height:100%;
        background-color:#fff;
    }
        .dz-drag-hover .associated-image-instructions span {
            display:block;
            margin:auto;
            width:100px;
            font-size:16px;
            text-align:center;
        }
.dz-success-mark, .dz-error-mark {
    display:none;
}

.associated-image-upload-progress {
    width:100%;
}

.associated-image-upload-progress-inner {
    background:#fff;
    height:0px;
}
/* end associated image */


.session-assignment-grid .x-grid-group-hd-collapsible .x-grid-group-title
{
    background-position: left top;
}
.session-assignment-grid .session-group,
.session-assignment-grid .session-time-group
{
    color: #333;
    font-weight: normal;
}


.daterange-button
{
    margin-left: 20px;
}

.portal-trainingprograms-grid .x-grid-empty
{
    height: 100%;
}
.portal-trainingprograms-grid .no-trainingprograms
{
    width: 100%;
    text-align: center;
    font-size: 18px;
    position: relative;
    height: 40px;
    margin-top: -20px;
    overflow: hidden;
    position: relative;
    top: 50%;
}

.portal-trainingprograms-grid .no-trainingprograms .transcript-info
{
    font-size: 14px;
}

/* apply invalid field to box select*/
.x-boxselect ul.x-form-invalid-field::after
{
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 20;
    display: block;
    width: 100%;
    height: 100%;
    content: " ";
    background: url(/images/invalid_line.gif) repeat-x bottom;
    border: 1px solid #c30;
    margin: 0px;
}


iframe.artisan-preview
{
    width: 100%;
    height: 100%;
}


.x-action-col-icon-margin
{
    margin-right: 6px;
}

.x-action-col-icon-hidden
{
    display: none;
}

.x-action-col-icon-warning
{
    background: url(/images/warning.png) no-repeat;
}

.x-action-col-icon-danger
{
    background: url(/images/danger.png) no-repeat;
}

.x-form-display-field-bold .x-form-display-field {
    font-weight: bold;
}

.x-html-editor-full-border .x-html-editor-input {
    border-top-width: 1px;
}

.trainingProgramNotificationsGrid .x-grid-rowbody
{
    padding-left: 47px;
}
.trainingProgramNotificationsGrid .messagedetails
{
    float: left;
    width: 60%;
}
    .trainingProgramNotificationsGrid .messagedetails p,
    .trainingProgramNotificationsGrid .messagedetails div
    {
        margin-left: 0px;
    }
    .trainingProgramNotificationsGrid .messagedetails > p,
    .trainingProgramNotificationsGrid .messagedetails > div
    {
        margin-left: 6px;
    }
.trainingProgramNotificationsGrid .settings
{
    float: right;
    width: 39%;
    text-align: right;
    padding-right: 16px;
}

    .trainingProgramNotificationsGrid .settings img
    {
        top: 4px;
        position: relative;
    }


.hide-disabled-action-column img.x-action-col-icon.x-item-disabled
{
    display: none;
}

.vertical-align-action-column
{
    vertical-align:middle
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Accreditation Display */
.accreditation
{
    border: 1px solid #ccc;
    border-radius: 10px;
    clear: both;
    margin-bottom: 1em;
    padding: 1em 1em 0 1em;
    width: 99%;
    overflow: hidden;
}
    .accreditation p
    {
        margin: 1em 0 1em 0;
    }
.accBoard .logo
{
    display: block;
    width: 90px;
    height: 90px;
    position: relative;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}

    .accBoard .logo img
    {
        position: absolute;
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 5px;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    .accBoard .logo::before
    {
        display: block;
        position: absolute;
        width: 84px;
        height: 84px;
        content: " ";
        border: 3px dashed #ccc;
        border-radius: 5px;
        left: 0px;
        top: 0px;
        z-index: 0;
    }
.accBoard .details
{
    float: left;
    height: 100px;
    padding-left: 10px;
}
.accBoard .details, .accBoard .logo
{
    margin-bottom: 5px;
}
.accBoard .desc
{
    clear: left;
    border-top: 1px solid #ccc;
}
.acc .details
{
    width: 100%;
    clear: both;
    overflow: hidden;
    border-top: 1px dashed #ccc;
}
.acc .details p
{
    width: 25%;
    float: left;
}
.acc .details.disclaimer p
{
    margin-bottom: 0.25em;
}

.acc .details .date
{
    text-align: center;
    width: 49%;
}
.acc .details .code
{
    text-align: right;
}
.acc .details p.accDisclaimer
{
    margin-top: 0.25em;
    margin-bottom: 1em;
    width: 100%;
    clear: both;
    float: none;
}
/* Accreditation Display V2 - Razor Template Symphony.Web/Accreditation/accreditation_template.html */
.accreditation-document .accreditation-header
{
    position: relative;
}
.accreditation-document .accreditation-header .training-program-image
{
    float: left;

}
.accreditation-document .accreditation-header .detail
{
    padding-left: 0.1em;
}
.accreditation-document .accreditation-header .training-program-title
{
    font-size: 1.75em;
    margin-top: 0px;
    margin-bottom: 0.1em; 
}
.accreditation-document .accreditation-header .training-program-authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}
.accreditation-document .training-program-details
{
    clear: both;
    padding-top: .2em;
}
.accreditation-document .accreditation-credits
{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 5px;
}
.accreditation-document .accreditation-credits .credit
{
    float: left;
    width: 80px;
    border: 1px solid #ccc;
    background: #ddd;
    border-radius: 6px;
    text-align: center;
    margin-right: 10px;
}
.accreditation-document .accreditation-professions
{
    margin-top: 10px;
}


.editor-unfocused
{
    width: 100%;
    position: relative;
    border: 1px solid #aaa;
    height: 20px;
    padding: 2px 6px 4px;
    cursor: text;
    background: #fefefe;
}
.x-border-box .x-grid-editor .x-form-text.editor-overlay
{
    margin: 2px 6px 4px;
    height: 22px;
    width: 100%;
}

.image-delete-btn {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}