﻿div.element_text 
{
    min-height: 42px;
    height: auto !important;
    height: 42px;
    border: 1px dashed transparent;
    position: relative;
}

div.element_media
{
    border: 1px dashed transparent;
    position: relative;
}