﻿div.element_text 
{
    min-height: 42px;
    height: auto !important;
    height: 42px;
    border-color: #030;
}
div.element_text:hover
{
    border-color: #090;
}
div.element_text:hover div.artisan_label
{
    background-color: #090;
}

div.element_media
{
    border-color: #900;
}
div.element_media:hover
{
    border-color: #f00;
}
div.element_media:hover div.artisan_label
{
    background-color: #f00;
}

div.element_text,
div.element_media
{
    position: relative;
    border-width: 1px;
    border-style: dashed;
}

div.element_text:hover div.artisan_label,
div.element_media:hover div.artisan_label
{
    display: block !important;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    color: #fff;
    padding: 3px;
}
