<%@ Page language="c#"  %>
<%@ Import namespace="RusticiSoftware.ScormContentPlayer.Logic"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<head>
		<title>bottom</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1"/>
		<meta name="CODE_LANGUAGE" Content="C#"/>
		<meta name="vs_defaultClientScript" content="JavaScript"/>
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>
		<link rel="stylesheet" href="<%=Integration.Implementation.GetUrlToStyleSheet(Request) %>" type="text/css" />
	</head>
	<body class="playerBody">
		<form id="Form1" method="post" runat="server">
			<div style="RIGHT: -2px; POSITION: absolute; TOP: -2px"></div>
		</form>
	</body>
</HTML>
