body,td
{
	font-size: 10pt;
	font-family: Tahoma, Sans-Serif;

}

/*Blue header graphic at top*/

#top_body
{
	background: transparent url(images/top_BG.jpg) repeat-x scroll left top;
}

#top_navMenu
{
	position:absolute;
	bottom:0px;
	width:98%;
}


#top_title
{
	font-size: 14px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	color: #BBBBBB;	
	font-weight: bold;
	position:absolute;
	top:19px;
	left:20px;
}

#top_credit a
{
	font-size: 14px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	color: #284565;	
	font-weight:100;
	position:absolute;
	top:19px;
	right:50px;
	text-decoration:none;
	cursor:pointer;
}
#top_credit a:hover {text-decoration:none;}

/*left menu (table of contents) elements*/
#left_body
{
	background: #0A1936 url(images/left_BG.jpg) no-repeat scroll left top;
}
.menulink
{
	font-size: 12px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
}

.enabledMenulink
{
	font-size: 12px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	text-decoration: underline;
	color: #BBBBBB;
}

.disabledMenulink
{
	font-size: 12px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	text-decoration: none;
	color: #BBBBBB;
}

.activeMenulink
{
	font-size: 12px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	text-decoration: underline;
	color: #BBBBBB;
	font-weight: bold;
}

.activeMenulinkDisabled
{
	text-decoration: none;
	color: #BBBBBB;
	font-weight: bold;
}

.title
{
	font-size: 14px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	color: #BBBBBB;	
	font-weight: bold;
}

/*deprecated*/
.enabledMenuItem
{
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	color: #BBBBBB;	
	cursor: pointer;
	/*cursor: hand;*/
}

.disabledMenuItem
{
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	color: Black;	
}

/*Control buttons along the top*/
.enabledTopMenuItem
{
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 10px;
	font-variant: small-caps;
	color: #C68D04;
	font-weight:bold;
	text-decoration:none;	
	cursor: hand;
	cursor: pointer;
}

a.enabledTopMenuItem:hover { color:#BBBBBB; text-decoration:none; }

.disabledTopMenuItem
{
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 10px;
	font-variant: small-caps;
	color: #000000;	
}

/*background for the entire player*/
.playerBody
{
	background-color: #DFE5EA;
}


/*Progress Bar Styles*/
.ProgressBar
{
	height: 100%;
	text-align: right;
}
.progressText
{
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 10px;
	font-variant: small-caps;
	color: #C68D04;
	font-weight:bold;
	border: 0px solid #CCCCCC; 
	border-left:0; 
	border-right:0;	
}
.progressXImage
{
	border-top: #666666 1px solid;
	border-left: #666666 1px solid;
	border-bottom: #666666 1px solid;
}
.progressYImage
{
	border-top: #666666 1px solid;
	border-right: #666666 1px solid;
	border-bottom: #666666 1px solid;
}

#exit_dialog_body
{
	margin:0px;
	background-color:#E0EAF1;
	padding-top:5px;
	
}
#exit_dialog_div
{
	font-weight:bold;
	text-align:center;
	position:relative;
	width:100%
}

.exit_dialog_btn
{
	background-color:#0A1936;
	font-size:11px;
	width:100px;
	height:25px;
	padding-top:5px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	top:35px;
}

#exit_dialog_suspend
{
	left:30%
}

#exit_dialog_exit
{
	left:60%
}

#exit_dialog_cancel
{
	position:absolute;
	top:35px;
	right:25px;
	color:#C68D04;
	font-size:90%;
	cursor: hand;
	cursor: pointer;
	font-weight:bold;
}

