<%@ Page language="c#" %>
<%@ Import namespace="RusticiSoftware.ScormContentPlayer.Logic"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>message</title>
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
    <link rel="stylesheet" href="<%=Integration.Implementation.GetUrlToStyleSheet(Request) %>" type="text/css" >
  </head>
  <body>
	
    <form id="Form1" method="post" runat="server">
 message
     </form>
	
  </body>
</html>
