﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	
    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Hawaii Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools' Hawaii Real Estate Continuing Education Course.</i>.
	<br><br>
<br><br>
<b><u>Important Instructions</u></b><br>
<ol>
<li>Real estate licenses may be renewed on-line at <a target=_blank href="https://pvl.ehawaii.gov/renewals/index.htm"> https://pvl.ehawaii.gov/renewals/index.html</a></li>
<li><b>ProSchools will submit all Course Credit Hours</b> to the DCCA within 10 days of course completion.  You may check your DCCA status and print a hard copy of your Record of Completion at <a target=_blank href="https://pvl.ehawaii.gov/renewals/index.htm"> https://pvl.ehawaii.gov/renewals/index.html</a></li>
</ol>

<br><br>
Have a question? See renewal information for all licensees, which is found at the Hawaii Department of Commerce and Consumer Affairs.
<br><br>
<div class="intro_ref"><a target=_blank href="http://www.hawaii.gov/dcca/areas/real/re_renew/re_instr/renewal_all">http://www.hawaii.gov/dcca/areas/real/re_renew/re_instr/renewal_all</a></div>
<br><br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>