﻿
.daterange-label {
    font-weight: bold;
}

.static-datepicker,
.daterange-label {
    margin: 5px !important;
}

.daterange-dateblock {
    padding: 10px;
    padding-right: 20px;
    height: 75px;
}

.daterange-button {
    left: auto !important;
    right: 10px !important;
}

/*.x-menu-plain .x-date-picker {
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.x-menu-date-range-item-range-date-button {
    margin-left:82px;
}
.fr .x-menu-date-range-item-range-date-button {
    margin-left:70px;
}
.x-date-range-menu {
    border:1px solid !important;
    padding:0 !important;
}
.x-date-range-menu .x-menu-list {
    padding:0;
}
.x-menu-date-range-item .x-panel-btns {
    padding:0;
}
.x-menu-date-range-item .x-panel-btns .x-date-bottom {
    padding:0;
}
.ext-ie .x-menu-date-range-item .x-panel-btns .x-date-bottom {
    margin: 0 0 -1px;
}
.x-menu-date-range-item .x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-top:0 none;
}
.x-menu-date-range-item .x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border-width:0;
}
.x-menu-date-range-item .x-panel-body {
    border-width:0;
    margin: 5px;
}
.x-date-mp {
    border-top-style: solid;
    border-top-width: 1px;
}*/