﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}


<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Utah Mortgage Loan Originator Prelicense Certificate of Completion</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Utah Mortgage lending Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
<ol>
<li>Utah requires a total of 35 hours of education. The hours must include a minimum of 15-hours of Utah
state-approved prelicense education and 20-hour of NMLS-approved prelicense education. The 20-hours
of NMLS-approved education must include a minimum of 3 hours of federal law, 3 hours of ethics and
2 hours related to the nontraditional mortgage market place. If you have not taken the 20 hours of
NMLS-approved education, contact ProSchools' course consultants to enroll.</li>
<li>You will also need to pass two separate exams to be licensed. You must pass a national component and
Utah component. To register for the exams, you must obtain your Unique Identifier from the NMLS and
register for the exams through the NMLS website. Below is a link to the NMLS website.</li>
</ol>


Have a question? The Utah Division of Real Estate and the NMLS website links are below.
<br>
<div class="intro_ref"><a target=_blank href="http://realestate.utah.gov/">http://realestate.utah.gov/</a></div>
<div class="intro_ref"><a target=_blank href="http://mortgage.nationwidelicensingsystem.org/Pages/default.aspx">http://mortgage.nationwidelicensingsystem.org/Pages/default.aspx</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
<b>Certificate of Completion</b><br>
<b>Utah Mortgage Loan Originator Prelicense Certificate of Completion</b><br>
<br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_labeltitle" colspan="2" ><br>This certifies that the individual named has successfully completed <br>the course requirements for:<br><br></td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Provder Name:</td>
	<td class="completion_data">OnCourse Learning Corporation <br> dba ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider License Number:</td>
	<td class="completion_data">7243800-MPLS</td>
</tr><tr width=100%>
	<td class="completion_label">Address of provider:</td>
	<td class="completion_data">10225 SW Park Way <br>
Portland, Oregon 97225</td>
</tr>

</table>
<br>

<img src="/Certificates/Default/mjackson_3.png" border=0 id="certificate_heading" style="text-align:center">
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>



	</body>
</html>