/*------------------------------------------------------------------------- */
/* Debug */
/*------------------------------------------------------------------------- */
.debug {
  display: none;
  font-family: "Courier New";
  overflow: auto;
  padding: 1em;
  background: black;
  border: 5px dashed black;
  color: #999999 !important;
}
.debug H1, .debug H2, .debug H3, .debug H4, .debug H5, .debug H6 {
  color: #cccccc !important;
}
.debug A {
  color: blue !important;
}
