#Content {
    clear: none;
    position: absolute;
    top: 89px;
    bottom: 55px;

    width: 100%;

    // margin-top: 15px;


    .ContentWrapper {
        box-shadow: 0 0 1em $box-shadow-color;
        height: 100% !important;
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;

        // TODO: Temp fix.
        overflow: scroll;

        h3 {
            color: $dark !important;
        }

        div {

            .p.element_media {

                padding: 1.5em 1.5em !important;

                .video-container {

                    width: auto !important;
                    height: 50vh !important;

                    .video-js {

                        width: auto !important;
                        height: 50vh !important;

                        .vjs-tech {

                            object-fit: fill !important;

                        }

                    }

                }
            }
        }



        .artisan-review-content{

            .p_wrap{
                #artisan-review-page-summary-quiz{
                    .artisan-review-quiz-inner{
                        .failed{
                            a.artisan-quiz-retry{
                                background-color: #E4E4E4;
                                outline: none;
                                &:hover{
                                    background-color: darken(#e4e4e4, 6);
                                }
                                &.disabled {
                                    background-color: #797979;
                                    color: #CECECE;
                                    cursor: not-allowed;
                                }
                            }
                        }
                    }
                }
            }
        }



        //uncomment for proschools, training pro, careerwebschools
        //.artisan-question-header {
        //    .artisan-question-name {
        //        display: none;
        //    }
        //
        //    .artisan-question-type{
        //        .artisan-question-type-brackets{
        //            display: none;
        //        }
        //    }
        //}

        .artisan-question{

            .artisan-question-text {

            }

            .artisan-answers{
                .artisan-answer{
                    margin-bottom: 5px;

                        label{
                            padding-left:5px;
                        }
                }
            }

            .artisan-question-feedback{
                margin-bottom:0px;
            }

            #artisan-question-submit{
                background-color: #E4E4E4;
                outline: none;
                &:hover{
                    background-color: darken(#e4e4e4, 6);
                }
                &.disabled {
                    background-color: #797979;
                    color: #CECECE;
                    cursor: not-allowed;
                }
            }
        }
    }
}
