#BottomPageNav {
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
    clear: none;

    height: 40px;

    margin: 0px;

    .page_nav {
        padding: 0;
        float: none;
        height: 100%;
        margin: 0px;

        .page_nav_inner {
            display: block;
            height: 100%;

            padding: 0px;

            line-height: 40px;

            a.button.next.artisan-previous {
                padding: 0;
                margin: 0;
                display: inline-block !important;
                vertical-align: top;
                height: 100%;

                float: none;

                line-height: 38px;

                background-color: #E4E4E4;
                border: 1px solid #D4D4D4;

                transition: background-color 0.4s ease, color 0.4s ease;

                &:hover {
                    background-color: darken(#e4e4e4, 6);
                    color: #232323;
                    cursor: pointer;
                }

                &.disabled {
                    background-color: #797979;
                    color: #CECECE;
                    cursor: not-allowed;
                }
            }

            .artisan-page-numbers {
                display: inline-block;
                vertical-align: top;
                height: 100%;

                margin: 0;
                padding: 0;

                margin-left: 10px;
                margin-right: 10px;

                float: none;
            }

            a.button.prev.artisan-next {
                &:not(.disabled) {
                    display: inline-block !important;
                }

                padding: 0;
                margin: 0;
                display: inline-block;
                vertical-align: top;
                height: 100%;

                float: none;

                line-height: 38px;

                background-color: #E4E4E4;
                border: 1px solid #D4D4D4;

                transition: background-color 0.4s ease, color 0.4s ease;

                &:hover {
                    background-color: darken(#e4e4e4, 6);
                    color: #232323;
                    cursor: pointer;
                }

                &.disabled {
                    background-color: #797979;
                    color: #CECECE;
                    cursor: not-allowed;
                }
            }

            a.button.artisan-next.minimumpagetimeout-counter {
                padding: 0;
                margin: 0;
                display: inline-block;
                vertical-align: top;
                height: 100%;

                float: none;

                line-height: 40px;

                background-color: #E4E4E4;
                border: 1px solid #D4D4D4;

                transition: background-color 0.4s ease, color 0.4s ease;

                &:hover {
                    background-color: darken(#e4e4e4, 6);
                    color: #232323;
                    cursor: pointer;
                }

                &.disabled {
                    background-color: #797979;
                    color: #CECECE;
                    cursor: not-allowed;
                }
            }
        }
    }
}

// .page_nav{
//     display: inline;
//     overflow: hidden;
//     padding:0;
//     margin-right:$page-nav-margin-right;
//     margin-top:$page-nav-margin-top;
// }

// .artisan-previous{
//     border-radius: 0 !important;
//     position: absolute;
//     background-color: $nav-button-color !important;
//     color: $nav-button-text-color !important;
//     // margin-left: $previous-margin-left;
//
// }
//
// .artisan-next{
//     border-radius: 0 !important;
//     background-color: $nav-button-color !important;
//     color: $nav-button-text-color !important;
//     // margin-left: $next-margin-left;
//     // margin-top: $next-margin-top;
// }
//
// .artisan-page-numbers{
//     // margin-left: $page-numbers-margin-left;
// }
