﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>California Insurance Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools'<i>@Model.TrainingProgram.Name. You are now prepared
for the national portion of the state exam.</i>
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<br>
<b><u>Import Instructions</u></b><br>
<ol>
<li>As of November 13th, 2012 you are required to pass your license exam with PSI and obtain from them
an Identification Number prior to applying for you license</li>
<li>You can schedule a license examination using PSI’s online service at www.psiexams.com, or call PSI at
877-392-6422</li>
<li>You are required to bring valid identification and your PSI confirmation letter with you to the test center
on exam day. You should report 30 minutes prior to your scheduled exam time.</li>
<li>Once you have passed your license exam you may apply through CDI’s online license application
service at:<br><br>
http://www.insurance.ca.gov/0200-industry/0020-apply-license/</li>
<li>Questions pertaining to licensure should be directed to:<br><br>
California Department of Insurance<br>
Phone: (800) 967-9331 or (916)322-3555<br>
Website: http://www.insurance.ca.gov</li>
</ol>

<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>California Insurance Prelicense Education</b><br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Approval Number:</td>
	<td class="completion_data">190411</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Approval Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Start Date:</td>
	<td class="completion_data">@Model.FormatDate(Model.TrainingProgram.StartDate.Value)</td>
</tr><tr width=100%>
	<td class="completion_label">Course End Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">School Location:</td>
	<td class="completion_data">9400 SW Barnes Rd. Suite 400<br>
Portland, OR 97225<br>
1-800-452-4879</td>
</tr>



</table>
<img src="/Certificates/Default/Insurance_as1.png" border=0 id="certificate_heading" style="style="text-align:left"><br>
<table width=100%>
<tr width=100%>
	<td width=50% class="completion_labelsm">Submitting a false or fraudulent Certificate of
Completion to the Insurance Commissioner may subject
any license application to denial, and any issued
license to suspension or revocation.</td>
	<td class="completion_datasm">By signing this certificate, I (student named) certify that I
personally completed the entire course (required hours of
product training) on my own without assistance from others.</td>
</tr>
<tr width=100%>
	<td colspan=2 class="completion_labeltitle2">NOTE: Please sign your Certificate and keep it for five years.</td>
	
</tr>

</table>

<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>