/*body
{
	margin: 20px auto;
	padding: 0px auto;
	color: #000;
	text-align: center;
	font-family: Helvetica;
	background-repeat: no-repeat;
	background-position: center;
	background-color:#fff;
}*/

#wrapper
{            
 overflow:hidden;
 position:relative;
 margin:0px auto;
}
        
#wrapper ul
{
 list-style:none;
 margin:0;
 padding:0; 
 -webkit-transition: -webkit-transform 0.3s linear;
 display:none;
}
        
#wrapper ul li
{
 float:left;                        
}