﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Ohio Insurance Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Ohio Insurance Prelicensing Course.
	<br><br>
<b>This is NOT your completion certificate!</b><br><br><br>
<b><u>Import Instructions</u></b><br>
<ol>
<li>After you have completed your entire course of study, ProSchools will mail you an original completion
certificate as required by the state of Ohio. You will be required to present the original completion
certificate at the test center before taking your exam.</li>
<li>Please be advised that your completion certificate is only valid for 180 days, meaning that you must
pass your state exam within that amount of time to avoid being required to repurchase and retake
education.</li>
<li>For further details regarding your exam please refer to the Prometric Licensing Information Bulletin that
ProSchools sent you upon enrollment.</li>
</ol>
Detailed instructions regarding the submission of your license application may be found at the Ohio Department
of Insurance website below.
<div class="intro_ref"><a target=_blank href="http://www.insurance.ohio.gov/Agent/Pages/AgentTab5.aspx">http://www.insurance.ohio.gov/Agent/Pages/AgentTab5.aspx</a></div>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>

