﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		Oklahoma Insurance Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Oklahoma Insurance Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
<b><u>Import Instructions</u></b><br>
To renew your license:<br>
<ol>
<li>ProSchools has been electronically notified that you have completed this course, and will report your course
completion to the state of Oklahoma within 10 business days as required. Please keep a copy of this
certificate for your records.</li>
<li>Once you have completed all required continuing education and the state has received confirmation of your
course completions you may go online to submit your license renewal application. Please visit the state’s
website for detailed instructions: <br><div class="intro_ref"><a target=_blank href="https://sbs-ok.naic.org/Lion-Web/jsp/ext/login/launch.jsp">https://sbs-ok.naic.org/Lion-Web/jsp/ext/login/launch.jsp</a></div></li>
<li>You also have an opportunity to offer comments on any continuing education course via the Oklahoma
Insurance Department website. Please visit the Oklahoma Insurance Department's website at www.ok.gov/
oid. Click on the "Contact" link on the upper right hand side of the screen, and then click on the "Continuing
Education Feedback/Complaint" in the "Regarding" drop down box to give your feedback on this
continuing education course and/or instructor.</li>
</ol>

<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>
	<div class="intro_title">
		<b>Oklahoma Insurance Certificate of Completion</b><br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee's Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Oklahoma License Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr><tr width=100%>
	<td class="completion_label">Street Address:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr><tr width=100%>
	<td class="completion_center" colspan="2"><i>CONTINUING EDUCATION COURSE IDENTIFICATION</i></td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">ETHICS:</td>
	<td class="completion_data">Number of Hours: @Model.GetTrainingProgramMeta("Ethics Hours")</td>
</tr><tr width=100%>
	<td class="completion_label">LEGISLATIVE UPDATE:</td>
	<td class="completion_data">Number of Hours: @Model.GetTrainingProgramMeta("Legislative Hours")
</td>
</tr><tr width=100%>
	<td class="completion_label">TOTAL CE:</td>
	<td class="completion_data">Number of Hours: @Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr>

</table>
<br>

<div class="intro_text">
<b>NOTICE TO THE STUDENT</b><br>
The Continuing Education (CE) provider is required to notify the Oklahoma Insurance Department within ten (10) business days of course completion.
A course may not be repeated within 24 months. The 24 months begins the first day of the month following the month the license renewed.<br>
<br>
<img src="/Certificates/Default/holly_2.png" border=0 id="certificate_heading" style="style="text-align:left">@Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
</div>

<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>