/*------------------------------------------------------------------------- */
/* Superfish, skin for right flyout menu */
/*------------------------------------------------------------------------- */
.sf-skin-main-nav, .sf-skin-main-nav UL {
  background: #d01a1a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

.sf-skin-main-nav {
  float: right;
}
.sf-skin-main-nav A {
  padding: 0.75em 1em;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.sf-skin-main-nav LI LI A {
  padding-left: 30px;
  font-weight: normal;
}
.sf-skin-main-nav LI LI:HOVER,
.sf-skin-main-nav LI LI.sfHover {
  background: #d01a1a;
}
.sf-skin-main-nav LI LI:HOVER A:HOVER,
.sf-skin-main-nav LI LI.sfHover A:HOVER {
  background: url(../../../img/icons/arrow.gif) no-repeat 6px 50%;
}
.sf-skin-main-nav LI LI:HOVER > A:HOVER,
.sf-skin-main-nav LI LI.sfHover > A:HOVER {
  background-image: url(../../../img/icons/arrow.png);
}
.sf-skin-main-nav LI > UL {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.sf-skin-main-nav LI > UL UL {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.sf-skin-main-nav UL {
  background: #e63737;
  -moz-box-shadow: #ad3d3d 5px 5px 20px;
  -webkit-box-shadow: #ad3d3d 5px 5px 20px;
  -o-box-shadow: #ad3d3d 5px 5px 20px;
  box-shadow: #ad3d3d 5px 5px 20px;
}
.sf-skin-main-nav UL LI.first {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -khtml-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.sf-skin-main-nav UL LI.last {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.sf-skin-main-nav UL A {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d01a1a;
}
.sf-skin-main-nav UL A.last {
  border: none;
}
