﻿body {
    font-size: 14px;
}

.data-field-input
{
    width: 440px;
    position: absolute;
    left: 50%;
    margin-left: -220px;
    margin-top: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

    .data-field-input label
    {
        width: 100%;
        clear: both;
        display: block;
    }

        .data-field-input input.btn
        {
            clear: both;
            margin-top: 10px;
            width: auto;
            padding: 5px;
        }
