﻿@media print {
	#print_certificate {
		display:none;
	}
}
.certificate_logo {
	position:relative;
	text-align:center;
	width:670px;
	height:910px;
	#background-image: url(/images/certificate_background.gif);
}
.certificate_logoblank {
	position:relative;
	text-align:center;
	width:670px;
	height:910px;
	background-image: none;
}
.course_completion {
	position:absolute; 
	top:450px;
	width:670px;
	color:#aaa; 
	font-family:times new roman;
	font-size:28px; 
	text-align:center;
}
#logo_graphic {
	position:relative;
	text-align:center;
	width: 670px;
	height:910px;
	border:0;
}
.student_name {
	position:relative; 
	width:570px; 
	color:#000; 
	font-family:times new roman;
	text-align:center;
	line-height:40px;
	font-size:32px;  
}
.font1 {
	position:relative; 
	width:570px; 
	color:#000; 
	font-family:times new roman;
	text-align:center;
	line-height:40px;
	font-size:32px; 
}
.font2 {
	position:relative;
	width:570px;
	color:#7f7f7f; 
	font-family:times new roman;
	text-align:center;
	vertical-align: bottom;
	line-height:40px;
	font-size:26px;
}
#topLayer {
	position:absolute;
	padding-top:80px;
	padding-left:48px;
	z-index:10;
	text-align:center;
}



/* CWS Custom Certificates */

.input2 {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 20px; 
	text-align: center;
	font-size: 14px;
}
.input3 {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 20px; 
	font-weight: bold;
	font-size: 14px;
}
.input_underline {
	BORDER-TOP: #FFFFFF 0px solid; 
	BORDER-RIGHT: #FFFFFF 0px solid; 
	BORDER-LEFT: #FFFFFF 0px solid; 
	BORDER-BOTTOM: #000000 1px solid;
	HEIGHT: 25px; 
	text-align: center;
	font-size: 16px;
}
.input_underline2 {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: groove;
	HEIGHT: 25px; 
	text-align: center;
	font-size: 14px;
}
.input3_underline {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: groove;
	HEIGHT: 20px; 
	font-weight: bold;
	font-size: 14px;
}
.input3_boxes {
	BORDER-TOP-STYLE: groove; 
	BORDER-RIGHT-STYLE: groove; 
	BORDER-LEFT-STYLE: groove; 
	BORDER-BOTTOM-STYLE: groove;
	width: 100px;
	HEIGHT: 20px; 
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.boxes {
	BORDER-RIGHT: black 2.25pt double; 
	PADDING-RIGHT: 5.4pt; 
	BORDER-TOP: black 2.25pt double; 
	PADDING-LEFT: 5.4pt; 
	PADDING-BOTTOM: 0in; 
	BORDER-LEFT: black 2.25pt double; 
	PADDING-TOP: 0in; 
	BORDER-BOTTOM: black 2.25pt double;
	text-align: center;
}
.text {
	font-family: Arial;
	font-size: 16px;
}
.text2 {
	font-family:"Monotype Corsiva";
	font-size: 10pt;
}
.text3 {
	font-family:"Monotype Corsiva";
	font-size: 14pt;	
}
.certheading {
	font-family: "Arial";
	font-size: 24pt;
	font-weight: bold;
	font-style: italic;
}
.certsubheading {
	font-family: "Arial";
	font-size: 20pt;
	font-weight: bold;
}

.certtext {
	font-family: Arial;
	font-size: 12px;
}
.certtext2 {
	font-family: Arial;
	font-size: 14px;
}
.certtext3 {
	font-family: Arial;
	font-size: 16px;
}
.certinput {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 20px; 
	text-align: center;
	font-size: 14px;
	font-weight:bold;
}
.certinputhead {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 30px; 
	text-align: center;
	font-size: 24px;
}
.certinputsubhead {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 24px; 
	text-align: center;
	font-size:20px;
}
.certinput_underline {
	BORDER-TOP: #FFFFFF 0px solid; 
	BORDER-RIGHT: #FFFFFF 0px solid; 
	BORDER-LEFT: #FFFFFF 0px solid; 
	BORDER-BOTTOM: #000000 1px solid;
	HEIGHT: 25px; 
	text-align: center;
	font-size:14px;
	font-weight:bold;
}


.heading {
	font-family: "Arial";
	font-size: 30pt;
	font-weight: bold;
	font-style: italic;
}
.subheading {
	font-family:"Monotype Corsiva";
	font-size: 16pt;
	font-weight: bold;
}
.landscape	{ 
	/*size:landscape;*/
}
/*End Certificate CWS Css*/
