﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Colorado Mortgage Loan Originator Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<br>
<b><u>Import Instructions</u></b><br><br>
<ol>
<li>Retain a copy of your certificate of completion in your files.</li>
<li>ProSchools will provide the Colorado Division of Real Estate with a quarterly list of all individuals who complete the course.</li>

</ol>

<br>
Detailed instructions regarding the submission of your license application may be found at the Department of Regulatory Agencies.
<br>
<div class="intro_ref"><a target=_blank href="www.dora.state.co.us/real-estate">www.dora.state.co.us/real-estate</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
<b>2015 Colorado Two Hour Annual Update Course</b><br>
<br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">DRE License Number:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[1])</td>
</tr><tr width=100%>
	<td class="completion_label">NMLS ID Number:</td>
	<td class="completion_data">@Model.User.NmlsNumber</td>
</tr><tr width=100%>
	<td class="completion_label">Student Address:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr><tr width=100%>
	<td class="completion_labeltitle2" colspan="2" ><br><i>This certifies that the individual named has successfully completed the course requirements for:</i></td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Date of Completion:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr>
</table>
<br>
<div class="completion_footer3">FILE AND SAFEGUARD THIS CERTIFICATE! The Colorado Division of Real Estate does not record your completion of this course. Each licensee MUST
keep records documenting proof of completion of continuing education for a period of four years. Do NOT send this certificate to the Division of Real
Estate unless specifically requested. Do not send this form with your license renewal.</div>
<br>
<img src="/Certificates/Default/abby1.png" border=0 id="certificate_heading" style="text-align:center">
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>

