﻿@using Symphony.Core.Models
@using System.Web

<div class="accreditation-document">
    <div class="accreditation-header">
        <div class="training-program-image">
            <img src="@Model.TrainingProgram.AssociatedImageData" />
        </div>
        <div class="detail">
            <h1 class="training-program-title">@Model.TrainingProgram.Name</h1>
            @if (!string.IsNullOrEmpty(Model.AuthorText)) {
                <div class="training-program-authors" title="@Model.AuthorText">
                    by @Model.AuthorText
                </div>
            }
        
            <div class="accreditation-credits">
                    @foreach (AccreditationBoard board in @Model.AccreditationBoards) {
                        foreach (TrainingProgramAccreditation accreditation in board.TrainingProgramAccreditations) {
                            <div class="credit">
                                @accreditation.CourseNumber<br />
                                @accreditation.CreditHours @accreditation.CreditHoursLabel
                            </div>
                        }
                        foreach (OnlineCourseAccreditation accreditation in board.OnlineCourseAccreditations) {
                            <div class="credit">
                                @accreditation.CourseNumber<br />
                                @accreditation.CreditHours @accreditation.CreditHoursLabel
                            </div>
                        }
                    }
            </div>
            <div class="accreditation-professions">
                This course is credentialed for: <span class="profession-list">@Model.Profession.Name</span>
            </div>
        </div>
    </div>
    <div class="training-program-details">
        <h2>Summary</h2>
        <div class="description">
            @Model.TrainingProgram.Description
        </div>
        <h2>Goals and Objectives</h2>
        <div class="objectives">
            <!-- Dummy data - replace with field referenced below-->
            The goal of this continuing education program is to provide nurses, advanced practice nurses, physicians, health educators, physical therapists, radiologic technologists, dietitians, and respiratory therapists with information about ways to improve the advance directive process. After studying the information presented here, you will be able to:
            <ul>
            <li>Identify barriers that patients, families and healthcare professionals face in implementing ADs</li>
            <li>Describe problems created by lack of an AD</li>
            <li>Describe new ways that healthcare professionals can involve patients in advance care planning</li>
            </ul>
            This course is intended for an interprofessional audience, including nurses, physicians, health educators, physical therapists, radiologic technologists, dietitians, respiratory therapists, and EMTs/paramedics.
            <!-- Need this field -->
            <!--Model.TrainingProgram.GoalsAndObjectives-->
        </div>
    </div>
        
    <div class="accreditation-information">
        <h2>Accreditation Information</h2>
        <div class="accreditation-descriptions">
            @foreach (AccreditationBoard board in @Model.AccreditationBoards) {
                <span class="accreditation-description">
                    @board.Description
                </span>
            }
        </div>
        <div class="accreditation-disclaimers">
            @foreach (AccreditationBoard board in @Model.AccreditationBoards) {
                <span class="accreditation-disclaimer">
                    @board.Disclaimer
                </span>
            }
        </div>
    </div>
</div>
