﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Tennessee Insurance Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Tennessee Prelicense Insurance Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
<ol>
<li>Sign and date your certificate. Unsigned certificates will not be considered valid. You will need to bring
your certificate with you to the test center.</li>
<li>Schedule your examination with Pearson Vue.</li>
<li>Register for fingerprinting services with https://www.cogentid.com/tn/index_tn.htm</li>
<li>Pass the required examination. Pearson Vue will electronically submit your scores to the TN Insurance
Department.</li>
<li>Submit your application and filing fee ($50.00) to the TN Department of Commerce and Insurance
electronically at www.nipr.com. Note: You must wait 48 hours from taking the examination to submit
your application electronically.</li>
<li>The Tennessee Department of Commerce and Insurance will issue your license once you pass your
examination and all other licensing requirements.</li>
</ol>
Detailed instructions on scheduling your exam may be found in the Candidate Handbook or on the Pearson Vue
website.<br>
<div class="intro_ref"><a target=_blank href="www.VUE.com">www.VUE.com</a></div>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>
	<div class="intro_title">
		<b>STATE OF TENNESSEE</b><br>
		<b>Department of Commerce and Insurance</b><br>
		Prelicense Education Proof of Completion<br><br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Student's Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Student's Address:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr><tr width=100%>
	<td class="completion_label">Social Security Number:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[1])</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Authorization Number:</td>
	<td class="completion_data">1317</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Line of Insurance:</td>
	<td class="completion_data">@Model.GetTrainingProgramMeta("Course Category Type")</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr>

</table>
<br>
<table width=100%>
<tr width=100%>
	<td width=70% class="completion_labelsm">I certify that the above named student has successfully completed the course
listed above.</td>
	<td class="completion_datasm">I certify that I personally completed the above course.</td>
</tr>


</table>
<div class="intro_text">
<img src="/Certificates/Default/paulgold_3.png" border=0 id="certificate_heading" style="style="text-align:left">@Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
</div>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>