﻿
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="../../proschools2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<div class="intro_text">
<br><br>
	This will certify that @Model.UserFullName has taken and completed our Professional Development Training program of studies of the course entitled:
@Model.TrainingProgram.Name
<br><br>
Course Type: Professional Development Self-Study
<br><br>

OnCourse Learning Corporation dba ProSchools<br>
11350 McCormick Road<br>
Executive Plaza II, Suite 1000<br>
Hunt Valley, Maryland 21031<br>
877-878-3600<br>
	</div>
<br><br>


<table width=100%>
<tr width=100%>
	<td class="completion_labeltitle2cnt" >Issue Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data"><img src="../../patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>



	</body>
</html>