﻿
@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
<div class="intro_text">
<br><br>
	This will certify that @Model.UserFullName has taken and completed our Professional Development Training program of studies of the course entitled:
@Model.TrainingProgram.Name
<br><br>
Course Type: Professional Development Self-Study
<br><br>

OnCourse Learning Corporation dba ProSchools<br>
11350 McCormick Road<br>
Executive Plaza II, Suite 1000<br>
Hunt Valley, Maryland 21031<br>
877-878-3600<br>
	</div>
<br><br>



<table width=100%>
<tr width=100%>
	<td class="completion_labeltitle2cnt" width=50%>Issue Date: @Model.FormatDate(targetTime)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data" width=50%><img src="/Certificates/Default/patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>


