﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:95px;
	height:101px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/1st.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}