#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:388px;
	height:67px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/abacus.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}