﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:315px;
	height:225px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/adirondack.png);
}
.title 
{
    background-image: url(/images/user.png);
}