﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:220px;
	height:119px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/ameris.png);
}
.title 
{
    background-image: url(/images/user.png);
}