﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
    width:405px;
     height:137px;
    background-image: url(/images/logos/anbone.png);
}
.title 
{
    background-image: url(/images/user.png);
}