﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:500px;
	height:75px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/anbtexas.png);
}
.title 
{
    background-image: url(/images/user.png);
}