#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:480px;
	height:122px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/apci.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}