﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:320px;
	height:55px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/bancobrasil.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}