﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:300px;
	height:176px;
    background-image: url(/images/logos/BankersTrust.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}