﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:202px;
	height:112px;
    background-image: url(/images/logos/baylake.png);
}
.title 
{
    background-image: url(/images/user.png);
}