﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
    height:400px;
    width:400px;
    background-image: url(/images/snowman.gif);
}
.title 
{
    background-image: url(/images/user.png);
}