﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:278px;
	height:131px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/bmtrust.png);

.title 
{
    background-image: url(/images/user.png);
}