﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:300px;
 height:37px;
    background-image: url(/images/logos/cadence.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}