﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:360px;
	height:114px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/cambridge.png);
}
.title 
{
    background-image: url(/images/user.png);
}