#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:337px;
	height:300px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/cbtfl.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}