﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:400px;
	height:152px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/century.png);
}
.title 
{
    background-image: url(/images/user.png);
}