﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
    width:135px;
     height:64px;
    background-image: url(/images/logos/CharterOne.png);
}
.title 
{
    background-image: url(/images/user.png);
}