#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:382px;
	height:172px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/citynationalbk.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}