#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:156px;
	height:65px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/cnbbandt.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}