﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:256px;
	height:122px;
    background-image: url(/images/logos/conestoga.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}