﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:381px;
	height:103px;
    background-image: url(/images/logos/continental.gif);
}
.title 
{
    background-image: url(/images/user.png);
}