#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:366px;
	height:113px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/crb.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}