#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:158px;
	height:184px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/crystal.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}