#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:245px;
	height:213px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/elmhurst.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}