﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:271px;
	height:42px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/enterprise.png);
}
.title 
{
    background-image: url(/images/user.png);
}