#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:160px;
	height:132px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/everett.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}