﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:516px;
	height:62px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/farmington.png);
}
.title 
{
    background-image: url(/images/user.png);
}