﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:124px;
	height:137px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/fcbtpa.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}