﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
    width:353px;
     height:126px;
	margin-right: 10px;
	margin-bottom: 10px;
    /*background-image: url(/images/logos/firststatetn.png); */
}
.title 
{
    background-image: url(/images/user.png);
}