#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:374px;
	height:53px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/firstcommonwealth.jpg);
}

.title 
{

    background-image: url(/images/logos/firstcommonwealth_login.jpg);
    height: 150px;
    width: 300px;
	margin-top: 10px;
    color:#dfe8f6;
	background-color:#dfe8f6
}

.x-window-body{
	background:#dfe8f6;
}

.x-window-mcw {
	color:white;
}