﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:368px;
	height:80px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/flcapital.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}