#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:313px;
	height:136px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/flintarea.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}