﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:241px;
	height:58px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/fnbalaska3_sm.png);
}
.title 
{
    background-image: url(/images/user.png);
}