﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:450px;
	height:371px;
    background-image: url(/images/logos/fnbgrantpark.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}