﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:192px;
	height:116px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/fnbgranbury.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}