#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:375px;
	height:90px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/gcdemo.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}