﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:360px;
	height:125px;
    background-image: url(/images/logos/golden_login.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}