﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:300px;
	height:224px;
    background-image: url(/images/logos/happy_portal.png);
}
.title 
{
    background-image: url(/images/user.png);
}