#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:183px;
	height:73px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/heartland.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}