#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:297px;
	height:299px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/hometown.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}