#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:303px;
	height:258px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/hometownbank.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}