﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:200px;
	height:68px;
    background-image: url(/images/logos/horizon.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}