﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:325px;
	height:69px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/insight2.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}