﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:450px;
	height:111px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/ironmountain.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}