#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:307px;
	height:144px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/jssb.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}