#page_logo
{
    position:absolute;
    right:0;
    bottom:0;

	width:300px;
	height:93px;
	right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/lhfs_standard.png);

}
.title 
{

    background-image: url(/images/logos/lhfs_university.png);
    height: 85px;
    width: 250px;
    color: black;
	background-color:black;
}

.x-window-body{
	background:black;
}

.x-window-mc {
	color:white;
}