﻿#page_logo
{
    position: absolute;
    right:auto;
    left: auto;
    bottom:0;
	width:201px;
	height:63px;
	margin-left: 20px;
	margin-right: auto;
	margin-bottom: 10px;
    background-image: url(/images/logos/merchants.png);
}
.title 
{
    background-image: url(/images/user.png);
}