﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:365px;
	height:202px;
    background-image: url(/images/logos/metro.png);
}
.title 
{
    background-image: url(/images/user.png);
}