#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:152px;
	height:37px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/midcountry.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}