#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:384px;
	height:173px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/missoulafcu.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}