#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:352px;
	height:91px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/msbedge.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}