﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:286px;
	height:130px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/nbofin.jpg);

.title 
{
    background-image: url(/images/user.png);
}