#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:382px;
	height:71px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/nbofc.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}