#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:363px;
	height:48px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/nefcu.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}