﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:400px;
	height:80px;
    background-image: url(/images/logos/nodaway.png);
}
.title 
{
    background-image: url(/images/user.png);
}