﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:359px;
	height:76px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/omniamerican.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}