#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:260px;
	height:161px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/paducah.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}