﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:407px;
	height:124px;
    background-image: url(/images/logos/RCS.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}