#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:244px;
	height:93px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/Readingcobank.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}