#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:393px;
	height:110px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/recap.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}