#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:348px;
	height:244px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/regencymortgage.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}