#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:163px;
	height:176px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/rlms.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}