﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:325px;
	height:87px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/rmhl.jpg);

.title 
{
    background-image: url(/images/user.png);
}