#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:285px;
	height:192px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/rolling.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}