﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
    width:400px;
     height:112px;
    background-image: url(/images/logos/rosedale.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}