#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:231px;
	height:99px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/royal.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}