#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:373px;
	height:154px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/sbbankofmatt.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}