#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:308px;
	height:84px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/sbbmsb.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}