#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:289px;
	height:57px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/sbcudirect.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}