#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:171px;
	height:79px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/sbfnbcorp.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}