﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:192px;
	height:46px;
    background-image: url(/images/logos/bankersedge.png);
}
.title 
{
    background-image: url(/images/user.png);
}