#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:263px;
	height:119px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/sbmcfc.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}