#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:181px;
	height:48px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/sbvantiv.png);
}
body{
	background:#363837;
}

.title 
{
    /*background-image: url(/images/user.png);*/
	font-size:14px;
	font-weight:bold;
	color:#363837;
	
}
.x-window-mc{
	background-color:#C7CBD1;
	border-color:#FFFFFF;
}