﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:341px;
	height:53px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/scbky.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}