﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:240px;
 height:86px;
    background-image: url(/images/logos/signature2.PNG);
}
.title 
{
    background-image: url(/images/user.png);
}