﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:replWidthpx;
	height:replHeightpx;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/replImageName);
}
.title 
{
    background-image: url(/images/user.png);
}