#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:390px;
	height:260px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/traversecity.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}