#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:374px;
	height:153px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/tropicalfcu.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}