#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:298px;
	height:71px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/upstart.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}