﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:131px;
	height:188px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/vsecu.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}