﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:132px;
	height:60px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/watertown.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}