﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:366px;
	height:57px;
    background-image: url(/images/logos/weichert2.png);
}
.title 
{
    background-image: url(/images/user.png);
}