﻿#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:485px;
	height:277px;
    background-image: url(/images/logos/whitaker_logon.png);
}
.title 
{
    background-image: url(/images/user.png);
}