﻿#page_logo{
	display:block;
	height:500px;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	padding-top:200px;
	font-family:Helvetica;
	font-size:14px;
}
#page_logo:after{
	content: "We are currently experiencing high load. Please try again shortly.";
}