#page_logo
{
    position:absolute;
    right:0;
    bottom:0;
	width:342px;
	height:97px;
	margin-right: 10px;
	margin-bottom: 10px;
    background-image: url(/images/logos/yellowstone.jpg);
}
.title 
{
    background-image: url(/images/user.png);
}