﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/zoologic/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools' @Model.TrainingProgram.Name.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.
<br><br><br>
<div class="intro_ref"><a target=_blank href="http://mortgage.nationwidelicensingsystem.org/">http://mortgage.nationwidelicensingsystem.org/</a></div>
<br><br><br>
<b>Certificate of Completion</b><br>
The following Certificate of Completion is for your personal records only and evidences completion of the online
coursework. <br><br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/zoologic/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>


<b>Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_header">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_header">Student ID:</td>
	<td class="completion_data">@Model.User.EmployeeNumber</td>
</tr>
</table>
<br>
<div class="completion_title1">This certifies that the individual named has successfully completed the course requirements for:<br></div>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Course Name:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Identification Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>

</tr><tr width=100%>
	<td class="completion_label">Provider Address:</td>
	<td class="completion_data">Portland, OR</td>
</tr>
</table>
<br><br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>