﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>California Insurance Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools'<i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
<ol>
<li>Sign and retain your certificate for completion in your personal records for five years.</li>
<li>ProSchools will notify the California Department of Insurance that you have completed this portion of
your continuing education requirements. Do not send your certificate to CDI.</li>
<li>The fastest way to renew your license is online at: www.insurance.ca.gov. You will need to use a credit
card to pay your renewal fees.<br><br>
You may choose to mail your renewal form (LIC 448-29A) with a check to:<br><br>
California Department of Insurance<br>
P.O. Box 311<br>
Sacramento, CA 95812-0311<br><br></li>
<li>Questions regarding renewal should be directed to:<br><br>
California Department of Insurance<br>
Phone: (800) 967-9331 or (916)322-3555<br>
Website: http://www.insurance.ca.gov</li>
</ol>

<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>California Insurance Continuing Education Certificate</b><br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Approval Number:</td>
	<td class="completion_data">190411</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Approval Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Start Date:</td>
	<td class="completion_data">@Model.FormatDate(Model.TrainingProgram.StartDate.Value)</td>
</tr><tr width=100%>
	<td class="completion_label">Course End Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">School Location:</td>
	<td class="completion_data">9400 SW Barnes Rd. Suite 400<br>
Portland, OR 97225<br>
1-800-452-4879</td>
</tr>
</table>
<img src="/Certificates/Default/Insurance_as1.png" border=0 id="certificate_heading" style="style="text-align:left"><br>

<table width=100%>
<tr width=100%>
	<td width=50% class="completion_labelsm">Submitting a false or fraudulent Certificate of
Completion to the Insurance Commissioner may subject
any license application to denial, and any issued
license to suspension or revocation.</td>
	<td class="completion_datasm">By signing this certificate, I (student named) certify that I
personally completed the entire course (required hours of
product training) on my own without assistance from others.</td>
</tr>
<tr width=100%>
	<td colspan=2 class="completion_labeltitle2">NOTE: Please sign your Certificate and keep it for five years.</td>
	
</tr>

</table>

<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>