﻿/**** BankersEdge Smooth theme skin****/

/* Sub-menu style */
.SubNav,
.kwicks-menu A,
.kwicks-menu LI.selected {
  background: #90ABB8 url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
}

.kwicks-menu A:HOVER {
  background-color: #3c6f8a;
}

.kwicks-menu LI.selected A {
  color: #73ACC6;
}

.kwicks-menu {
	height: 60px !important;
}

/* Overall style */

BODY {
    line-height:1.6em;
}

html, body
{
	height:100%;
	width:100%;
}

H1 {
  margin: 10px 0;
  color: #73ACC6;
}

H2 {
  margin: 8 0 10px;
  font-size: 20px;
}

H3 {
  margin: 0 0 10px;
  font-size: 18px;
}

H2, H3, H4 {
  color: #73ACC6;
}

/*
UL, OL, DL {
  margin: 1.4em 0;
}*/

.Header {
  background: #466373;
}

.TitleBar {
  background: #96adb7 url(img/course_title_bg.jpg) repeat center top;
}

.Main {
  background-image: url(img/main_bg.jpg);
  height:auto;
  background-color:#fff;
}

.MainWrapper {
  background-color: #ffffff;
}

.ContentWrapper {
  background: #fdfafa;
}

.row .row {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */ 
}

.TitleBar {
  border-radius: 5px 5px 0 0;
}

.TitleBar h1{
  color: #73ACC6;
}

.Content .ContentWrapper h3 
{
    padding: 1em;
}

.Content .ContentWrapper SECTION {
  background: #fff;
  padding: 1em 2em;
}

.element_text img{
  padding: 5px;
  border: 1px solid #dbdbd8;
}

.TopPageNav {
  display: none;
}

.p .icon h3
{
    line-height:1.2em;
}
.p .icon p
{
    color:inherit;
}
#artisan-submenu{
    border-top: 1px solid transparent;
}

.artisan-site-image
{
	background-image: url(img/site_logo.png);
}

.artisan-course-image
{
	display:none;
}

.Header {
    background:#fff;
}