﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Arizona Responsible Individual Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ 12-hour <i>Complete Arizona 2015 Responsible Individual CE (Non-
MLO's) course.</i>.
	<br><br>
ProSchools Complete 2015 Arizona Responsible Individual CE (non-MLO's) course satisfies the 12-hour CE
requirement. Included in the course is 5 hours of Federal law, 4 hours of ethics and 2 hours of nontraditional
mortgage products and 1 hour of Arizona mortgage law. The Arizona Responsible Individual course is not an
NMLS-approved course and cannot be reported to the NMLS. <b>If you are also a licensed MLO, you will want to
take the 8 Hour AZ SAFE Comprehensive CE course and an additional 4 hours of NMLS-approved
continuing education to meet the 12 hour requirement!</b>
<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br>
<b><u>Import Instructions</u></b>
<ol>
<li>Send a copy of the certificate to AzDFI with the renewal checklist.</li>
<li>The renewal checklist is available on the NMLS website.</li>
</ol>
<br>
Detailed instructions regarding the submission of your license renewal may be found at the Arizona Department
of Financial Institutions website and the NMLS website below.
<br><br>
<div class="intro_ref"><a target=_blank href="http://www.azdfi.gov/">http://www.azdfi.gov/</a></div>
<div class="intro_ref"><a target=_blank href="http://mortgage.nationwidelicensingsystem.org/Pages/default.aspx">http://mortgage.nationwidelicensingsystem.org/Pages/default.aspx</a></div>
<br>

Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Arizona Mortgage Lending Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Name of Attendee:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_labeltitle" colspan="2" >CONTINUING EDUCATION COURSE IDENTIFICATION</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr>
<tr width=100%>
	<td class="completion_label">Number of Credit Hours:</td>
	<td class="completion_data">12 hours</td>
</tr><tr width=100%>
	<td class="completion_label">Units Completed:</td>
	<td class="completion_data">5 hours of federal mortgage law</td>
</tr>
<tr width=100%>
	<td class="completion_label">&nbsp;</td>
	<td class="completion_data">4 hours of mortgage-related ethics</td>
</tr>
<tr width=100%>
	<td class="completion_label">&nbsp;</td>
	<td class="completion_data">2 hours of non-traditional mortgage products</td>
</tr>
<tr width=100%>
	<td class="completion_label">&nbsp;</td>
	<td class="completion_data">1 hours of Arizona mortgage-related law</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course format:</td>
	<td class="completion_data">Online</td>
</tr>
<tr width=100%>
	<td class="completion_label">Address of Mortgage Broker School:</td>
	<td class="completion_data">Portland, Oregon 97225</td>
</tr>

</table>
<br><br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.</div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode</div>
</div>
</div>
