
 @media (max-device-width:1024px ){

 html{

     body{

        .body-container {

            #timer-displays {

                width: 340px !important;

                right: 0 !important;
                left: auto !important;

            }

            #artisan-page {

                #Main {

                    .MainWrapper{

                        .page_progress{

                            width: 435px !important;

                            @media all and (orientation: landscape) {

                                width: 575px !important;

                            }

                        }
                    }
                }

            }

        }
     }
 }


 }



 @media (max-device-width:740px ), (max-device-height: 601px) {


html{

    body{

        // padding-top: 0 !important;
        padding: 10px !important;

        @media (max-device-width:320px ){


            padding-right: 10px !important;
            padding-left: 10px !important;
            padding-bottom: 25px !important;

        }
        .body-container{

            box-shadow: none !important;
            padding: 0 !important;

            #Header{

                height: 73px !important;

                @media all and (orientation: landscape) {

                    height: 62px !important;

                }

                // @media all and (orientation: landscape), (max-device-height: 320px) {
                //
                //     height: 60px !important;
                //
                // }

                .HeaderWrapper{

                    height: 100% !important;
                    position: relative;
                    width: 100% !important;

                    @import "./responsive/responsive_logo";
                    @import "./responsive/responsive_title";

                }
            }

            #timer-displays{

                top: 80px !important;
                left: 0 !important;
                padding-left: 0 !important;
                width: 230px !important;

                 @media (orientation: landscape) {

                     top: 64px !important;

                 }

                @import "./responsive/responsive_timers";


            }

            #timer-displays  {

                &.active ~ #artisan-page{

                    margin-top: 30px;

                    @media (orientation: landscape) {

                        margin-top: 40px;

                    }

                }



            }


            #artisan-page {

                height: 84% !important;
                width: 100% !important;
                bottom: auto !important;
                top: 89px !important;
                left: auto !important;
                right: auto !important;

                @media all and (orientation: landscape) {
                    top: 64px !important;
                }

                // @media all and (orientation: landscape), (max-device-height: 320px) {
                //
                //     top: 58px !important;
                //
                // }


                #Main {

                    position: relative;
                    height: 100%;

                    .MainWrapper {

                        padding-top: 0 !important;

                        .TopPageNav {

                        }

                        .SubNav {
                            display: none !important;
                            position: absolute;
                            top:0;

                        }

                        .page_progress {

                            display: none !important;

                        }

                        @import "./responsive/responsive_content_container";

                        @import "./responsive/responsive_nav";

                    }
                }
            }
        }

        .version-info {
            display: none !important;
        }

    }
}

}
