/**** Nurse.com Matchy-Matchy skin, based on BankersEdge Smooth theme skin****/

@font-face{font-family:'TradeGothicW01-BoldCn20 675334';src:url('//www.nurse.com/fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot');}

@font-face{
font-family:"tradegothic";
src:url("//www.nurse.com/fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"), url("//www.nurse.com/fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"), url("//www.nurse.com/fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");
}

/* Sub-menu style */
.SubNav {
background:#f6f6f6 !important;
height:0px;
}


/* Overall style */

BODY {
line-height:1.6em;
background:#fff;
}

html, body
{
height:100%;
width:100%;
}

#full-screen-background-image {
	display:none;
}

.Logo {
height: 65px !important;
}

.Logo, .Header {
background:none !important;
}



H1 {
margin: 10px 0;
color: #cc3537;
font-family:"Open Sans",sans-serif;
}

h1 .artisan-course-title {
color: #414042;
font-size: 36px;
font-weight: normal;
font-family:"Titillium Web",sans-serif;
padding:0 0 0 5px;
margin:0;
position:relative;
top:10px;
}

H2 {
margin: 8 0 10px;
font-size: 20px;
}

H3,
.Content .icon h3 {
background: #fff !important;
font-size: 25px;
padding: 9px 0 9px 30px !important;
font-weight: bold;
margin-bottom: 1px;
font-family: "Titillium Web",sans-serif;
color:#cc3537 !important;
border:0 !important;
border-radius:0 !important;
border-bottom:1px solid #dcdcec !important;
}

.Content .p .icon h3 {
    background:none !important;
    border:0 !important;
    padding-left: 45px !important;
}

H2, H3, H4 {
color: #cc3537;
}

/*
UL, OL, DL {
margin: 1.4em 0;
}*/

.Header {

}



.TitleBar {
background: #f6f6f6;
width: 100%;
margin: 0 auto;
padding: 0 0 15px 0;
}

.Main {
background: none;
height:auto;
background-color:#fff;

}

.MainWrapper {
background:#fff;
}

.ContentWrapper {
background: #fff;
border-radius: 0 !important;
}

.row .row {
background: #999; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */
}

.TitleBar h1{
color: #73ACC6;
margin: 0 0 0 140px;
padding:6px;
}

.Content .ContentWrapper h3
{
padding: 20px 30px !important;
}

.Content .ContentWrapper SECTION {
background: #fff;
padding: 1em 2em;
}

.element_text img{
padding: 5px;
border: 1px solid #dbdbd8;
}

.TopPageNav {
display: none;
}

.p .icon h3
{
line-height:1.2em;
}
.p .icon p
{
color:inherit;
}
#artisan-submenu{
border-top: 1px solid transparent;
width:auto;
float:left;
visibility:hidden;
}

.artisan-site-image
{
background: url(http://ezines.nurse.com/z_misc/AHIT_01/img/ahit-logo.gif) no-repeat transparent left;

top: 18px;
width: 250px;
margin-left:10px;
left: 0;
}


.artisan-course-image

{
background: url(http://ezines.nurse.com/z_misc/bankers/img/nurseN.png) no-repeat #fff left top;
background-size:contain;
display:none;
}

.Content .ContentWrapper .p {
background:#fff;
border:0;
margin:0 0 1.4em 0;
border-radius: 0;
color:#333;
padding:20px 30px;
}

.icon {
    background-position:0 10px !important;
    background-size:35px;
}

.icon p {
    text-shadow: 1px 1px 0 #fff;
}

.icon p:first-of-type span {
    display:block;
    text-indent:0;
}

.artisan-progress-item-wrap:first-of-type{
    margin-right:10px;
}

.artisan-progress-course,
.artisan-progress-item {
    width:200px;
}


.artisan-progress-course-inner{
background-color: #cc3537;
}

.artisan-progress-course-percent{
color: #cc3537;
}

.artisan-progress-sco-inner {
background-color: #414042;
}
.artisan-progress-sco-percent{
color: #414042;
}

a.button, input[type=submit], input[type=button] {
background:#f6f6f6;
padding:8px 15px;
display:block;
float:left;
min-width:90px;
text-align:center;
cursor:pointer;
color:#414042;
font-size:13px;
font-weight:bold;
}

.artisan-next {
	border-bottom-right-radius:3px !important;
	border-top-right-radius:3px !important;
	border-top-left-radius:0px !important;
	border-bottom-left-radius:0px !important;
}

.artisan-previous {
	border-bottom-left-radius:3px !important;
	border-top-left-radius:3px !important;
	border-bottom-right-radius:0px !important;
	border-top-right-radius:0px !important;
}

input[type=button] {
padding:10px 5px;
}

a.artisan-next:hover,
a.artisan-previous:hover,
a.artisan-review-next:hover,
a.artisan-review-previous:hover,
input[type=button]:hover,
input[type=submit]:hover {
background-color: darken(#e4e4e4, 6);
color: #232323;
cursor: pointer;
}

.artisan-page-numbers {
display:block;
float:left;
height:30px;
margin:5px 10px;
}

a.button.disabled,
a.button.disabled:hover,
input[type=button].disabled,
input[type=submit].disabled  {
background:#f6f6f6;
}

.artisan-progress {
float: left;
width:auto;
margin:0 -10px 0 120px;
padding:10px 0;
height:55px;
position:absolute;
right:10px;
top:-125px;
}
/*
.owlbear {
list-style-type:none;
}

.owlbear li, .owlbear img {
display:inline;
float:left;
}

*/
.artisan-submenu {
text-align: center;
}

.owlbear * {box-sizing:content-box;}
.owlbear {
list-style: none;
display: inline-table;
margin: 0;
position: absolute;
padding: 1px 0 0 6px;
z-index:99;
top:6px;
}

.owlbear li {
display: inline;
float:left;
clear:left;
width:auto;
background:#fff;
}

.owlbear #clawfore {clear:left;}

.owlbear li a,
.owlbear #clawaft,
.owlbear #clawfore {
display: block;
float: left;
text-align: left;
padding: 5px 5px;
position: relative;
margin: 0;
font-size: 14px;
text-decoration: none;
color: #414042;
width:100%;
font-weight: normal;
cursor:pointer;
}

.owlbear li a{
width: 275px;
font-weight:bold;
font-size: 14px;
line-height:29px;
padding-left:15px;
}

.owlbear #clawaft {
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
padding: 0 3px 2px 5px;
position: absolute;
width: 40px !important;
height: 37px;
left: -42px;
top:1px;
background:#e4e4e4;
}

.owlbear #clawfore {
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-top: 4px solid #fff;
padding: 0;
min-height:21px;
display:none;
}

.owlbear #clawaft .handle-all {
	display:block;
	padding-top:8px;
}

.owlbear #clawfore .handle-next::before {
    content: "+ ";
}

.owlbear .minus::before {
    content: "- " !important;
}

.owlbear li a:hover,
.owlbear .selected a{
background: #e4e4e4;
text-shadow:none;
}

.owlbear li a:hover:after,
.owlbear .selected a:after {
border-top-color: #fa5ba5;
}

#artisan-review-page-summary {
    padding-top:0;
    background:transparent;
}

.artisan-review-inner {
    width:100% !important;
}

.artisan-review-inner p {
    padding:1.5em;
    background:#fff;
    margin-top:0;
}

.artisan-review-missed-questions-header {
    width:100% !important;
    padding:0 !important;
}

.artisan-review-missed-questions-header h3 {
    margin-bottom:1em !important;
}

.artisan-review-missed-questions-header h3 span {
	line-height:11px;
}

.artisan-review-nav {
    width:100%;
    height:80px;
    padding-left:1.5em;
}

#artisan-review-page-question {
    background-color: #b2d32e !important;
    margin-top:0;
}

#artisan-review-page-question h3 {
    margin-bottom:0;
}

.artisan-question-feedback {
	margin-bottom:1em;
}



.clear{clear:both;}


/* ---------- mobile styles ------------ */
//
// @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
//
// @viewport{ zoom: 1.0; width: extend-to-zoom; }
// @-ms-viewport{ width: extend-to-zoom; zoom: 1.0; }
//
// body {
// 	background:none !important;
//     max-width:500px !important;
// }
//
// body, html {
// 	height:auto !important;
// 	padding:0 !important;
// }
//
// .no-js {
// 	max-width:500px;
// 	overflow-x:hidden;
// }
//
// .Header .HeaderWrapper,
// .TitleBar,
// .Main .MainWrapper,
// .artisan-site-image,
// #artisan-submenu {
//      width:100%;
// }
//
// .Main, #Main{
//     margin:0;
// }
//
// .Logo {
//     padding:0;
//     height:80px !important
// }
//
// .MainNav {
//     top: -77px !important;
// 	right:1px !important;
// }
//
// .MainNav a.first.last::before {
// 	content:url(../../img/menu-icon.png) !important;
//
// }
//
// .MainNav a.first.last {
// 	padding: 15px !important;
// }
//
// .MainNav a {
// 	font-size:20px !important;
// }
//
// #artisan-menu ul ul {
// 	top:74px !important;
// 	left:-200px !important;
// }
//
// #artisan-menu ul ul ul {
//   top:74px !important;
// }
//
// .sf-skin-main-nav LI LI A {
//     font-size:20px !important;
//     line-height:60px !important;
// }
//
// .artisan-progress div,
// .artisan-course-image,
// .owlbear #clawfore {
//     display:none !important;
// }
//
// .owlbear #clawaft {
// 	padding: 12px 8px 11px 5px !important;
// }
//
// .owlbear li a {
// 	line-height:50px !important;
// }
//
// .ContentWrapper {
//     padding:0 0 0 0 !important;
// }
//
// .artisan-site-image {
//     background-position:10px 15px;
// 	height:75px !important;
// }
//
// .Main .MainWrapper {
//     padding:0;
//     margin:0;
// }
//
// .SubNav {
// 	height:100px !important;
// }
//
// .artisan-progress {
//     display:none;
// }
//
// .TitleBar {
//     border-radius:0;
//     padding:0;
// }
//
// .TitleBar h1 {
//     margin:0;
// }
//
// h1 .artisan-course-title {
//     font-size: 35px;
//     line-height:35px;
//     display:block;
//     top:-11px;
//     padding:0 0 0 10px;
//     margin:0;
// }
//
// H3 {
//     padding-left:10px !important;
//     font-size:26px;
// }
//
// div.p_wrap {
//     clear: both;
//     width:100% !important;
// }
//
// .Content .ContentWrapper .p {
//     font-size:20px;
// 	line-height:26px;
//     padding:20px;
// }
//
// .element_media {
//     overflow-x:scroll !important;
// }
//
// .owlbear {
//     position:relative;
//     width:100%;
//     margin:0;
// 	left:-40px;
// 	padding: 1px 0 0 54px !important;
// }
//
// .owlbear li  {
//     width:100%;
// }
//
// .owlbear li a {
//     width:100%;
//     padding:15px 0 16px 10px;
//     font-size:20px;
//     margin: 0;
//     border-bottom:solid 1px #e4e4e4;
// }
//
// #clawaft {
// 	left:6px !important;
// 	height:59px !important;
// }
//
// #clawaft img {
// 	padding:10px 0 0 5px !important;
// }
//
// .owlbear #clawaft .handle-all {
//     padding:5px 0;
// }
//
// .page_nav {
//     width:100%;
//     padding:0;
// }
//
// .page_nav_inner {
//     width:100%;
//     display: block;
//     text-align:center;
// }
//
// .page_nav_inner .button,
// .page_nav_inner span {
//     width:25%;
//     margin:0 3%;
//     padding:30px 0;
//     text-align:center;
//     display:inline-block;
//     float:none;
// 	vertical-align:top;
// 	font-size:20px;
// }
//
// .page_nav_inner span {
//     height:90px;
//     margin:0;
// }
//
// .artisan-game {
//     display:block;
//     width:100%;
//     margin-bottom:15px;
// 	overflow-x:scroll;
// }
//
// .artisan-game table {
//     display:block;
//     margin: 0 auto;
//     width: 394px;
//
// }
//
// #game-question {
//     display:block;
//     clear:left;
//     border-top:4px solid #fff;
// }
//
// .game_total {
//     padding-top:0;
// }
//
// #game-question h3 {
//
// }
//
// }
//
// @media only screen and (max-device-width: 1250px), only screen and (max-width: 1250px) {
//
// .artisan-progress-item-wrap:first-of-type {
// 	display:inherit;
// }
//
// }
//
// @media only screen and (max-device-width: 953px), only screen and (max-width: 953px) {
//
//
// .page_progress{
// 	width: 100% !important;
// }
//
// .artisan-progress-item-wrap {
// 	// display:none;
//
// }
//
// .artisan-progress-item-wrap:first-of-type {
// 	// display:none;
//
// }
//
// .BottomPageNav {
//     clear: both;
//     margin: 10px 0 0;
//     overflow: hidden;
// 	position:relative;
// }
//
// }
//
// .owlbear li first {color:#ff000;}
