// Variables file is used for scss variables. syntax like

$theme_logo : url('../oncourseLearning_Green/img/TrainingPro_SALES_mark.jpg') !default;


// // color palette
//
// // descriptive color variables
//
// $darkblue: #05539B;
// $lightblue: #117EC1;
// $lighterblue:#7CACDC;
// $ahitdarkred: #B61F24;
// $ahitlightred: #D02128;
// $ahitlighterred: #ED4D41;
// $darkgreen: #1A9799;
// $lightgreen: #1FADAE;
// $lightergreen: #7CCDCD;
// $grey: #8a8c8e;
// $lightgrey: #c2c2c2;
// $white: white;
// $black: black;
// $almostwhite: #FBFBFB;
//
// // functional color variables
// $border-color: $lightgrey;
// $box-shadow-color: $lightgrey;
// $progressbar-completion: $lightblue;
// $progressbar-empty: $lightgrey;
// $timer-divder-bar: $lighterblue;
// $menu-button-color: $black;
// $nav-button-color: $lightblue;
// $nav-button-text-color: $white;
// $progressbar-text-color:$almostwhite;
// $breadcrumb-bar-color: $grey;
// $breadcrumb-bar-text-color: $white;
// $menu-background-color: $darkblue;
// $menu-text-color: $white;
// $title-bar-background-color: $white;
//
//
// // Body vars
// $body-max-width-1: 1080px;
// $body-padding-top: 25px;
// $body-padding-bottom: 25px;
// $padding-for-body: 25px;
//
//
// //header vars
//
// $header-height: 100px;
//
//
//
// // Timer Variables
//
// $font-size-timer: 14px;
// $timer-div-margin-bottom: 820px;
// $timer-div-margin-left: 680px;
// $timer-div-width: 180px;
//
//
// // Page Nav buttons
//
// $page-nav-margin-right: 960px;
// $page-nav-margin-top: 320px;
// $previous-margin-left: 100px;
// $next-margin-left: 200px;
// $next-margin-top: -40px;
// $page-numbers-margin-left: 52.5px;
