$version : 'Theme Version:1.2.060216';
@import 'variables';
@import 'staticVariables';
@import "skin";
@import 'responsive';
@import "main_nav_override";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

* {
    padding: 0;
    margin: 0;

}

html {
    body {
        padding: 0;
        max-width: $body-max-width-1;

        padding-top: $body-padding-top;
        padding-bottom: $body-padding-bottom;

        margin-left: auto;
        margin-right: auto;

        position: relative;

        height: 100%;

        .body-container{
            box-shadow: 0 0 1em $box-shadow-color;
            padding: $padding-for-body;
            min-height: 100%;
            position: relative;

            @import 'styles/header/main';

            #artisan-page {
                position: absolute;
                top: 92px;
                left: $padding-for-body;
                right: $padding-for-body;
                bottom: $padding-for-body;


                #Main {
                    position: relative;
                    height: 100%;

                    .MainWrapper {
                        position: relative;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        width:100%;
                        padding-top: 52px;
                        background-image : $theme_logo_bottom !important;
                        background-position: bottom right;
                        background-repeat: no-repeat;

                        .SubNav {
                            display: block !important;
                            height: 36px;
                            line-height: 36px;
                            width:100%;
                            background-color: #8a8c8e !important;
                            position: relative;
                            border: none !important;
                            padding: 0 !important;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;
                            z-index: 1;

                            #artisan-submenu{
                                position: absolute;
                                height: 100%;
                                visibility: visible;
                                width:100%;
                                border-top: none !important;
                                .kwicks-menu a,
                                .kwicks-menu li.selected{
                                    background: #8a8c8e !important;
                                }
                                ul{
                                    height: 100%;
                                    width: 100% !important;

                                    li.selected{
                                        background-color: #8a8c8e !important;
                                        z-index: 1000;
                                    }
                                    li{
                                        position: absolute;
                                        z-index: 1;
                                        height: 100%;
                                        width: 100% !important;
                                        background-color: #8a8c8e !important;
                                        border-radius: 5px;

                                        a{
                                            position: absolute;
                                            height: 100%;
                                            line-height: 36px;
                                            color: white;
                                            background: none;
                                        }
                                    }
                                }
                            }
                        }

                        @import 'styles/contentContainer';
                        @import 'styles/pageNav';
                    }
                }
            }
        }
    }
}


li.artisan-learningobject.disabled a:before
{
    background-image: none;
}


.version-info{
    bottom: 22px;

    &:after {
        text-align: right;
        content : $version;
        display: block;
        height: 3px;
        width: 100%;
        position:absolute;
        font-size: 8pt;
        bottom : -2px;
    }
}

//Next Button Fix

html body .body-container #artisan-page #Main .MainWrapper #BottomPageNav .page_nav .page_nav_inner a.artisan-next.prev.button {
    display:inline-block !important;
}

html body .body-container #artisan-page #Main .MainWrapper #BottomPageNav .page_nav .page_nav_inner a.artisan-next.prev.button.disabled {
    display:none !important;
}