﻿<%@ Page Language="C#" AutoEventWireup="true" %><script type="text/C#" runat="server">
  protected void Page_Init(object sndr, EventArgs e)
    { 
     ASPNetSpell.Helpers.renderAJAXHandler.process(Context);
    }                                                                                                
</script>