﻿/*
BankersEdge Smooth theme

-------
** HTML EDITS **
Changed "site_logo.gif" to "logo_white.png"
Added <img align="left" src="./img/icons/fs.png"> to TitleBar

** REQUIRED SKIN IMAGES **
Replaced /img/components/twicks_slider/bg.png
Added    /img/bg_4.jpg
Added    /img/course_title_bg.jpg
Added    /img/main_bg_shd.png
Added    /img/icons/fs.png
*/


/* Sub-menu style */
.SubNav,
.kwicks-menu A,
.kwicks-menu LI.selected {
  background: #90ABB8 url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
}

.kwicks-menu A:HOVER {
  background-color: #3c6f8a;
}

.kwicks-menu LI.selected A {
  color: #73ACC6;
}

.version-info > span{
	display: none;
}


/* Overall style */

BODY {
  line-height:1.6em;
  background: #c6d6de url(../img/bg_4.jpg) repeat ;
  background-size: 100%;
}

H1 {
  margin: 10px 0;
  color: #73ACC6;
}

H2 {
  margin: 8 0 10px;
  font-size: 20px;
}

H3 {
  margin: 0 0 10px;
  font-size: 14px;
}

H2, H3, H4 {
  color: #73ACC6;
}

/*
UL, OL, DL {
  margin: 1.4em 0;
}*/

.Header {
  background: #466373;
}

.TitleBar {
  background: #96adb7 url(../img/course_title_bg.jpg) repeat center top;
}

.Main {
  background:  url(../img/main_bg_shd.png) no-repeat center bottom;
}

.MainWrapper {
  background: #ffffff;
}

.ContentWrapper {
  background: #fdfafa;
}

.row .row {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */ 
}

.TitleBar {
  border-radius: 5px 5px 0 0;
}

.TitleBar h1{
  color: #73ACC6;
}
.Content .ContentWrapper SECTION {
  background: #fff;
  padding: 1em 2em;
}

.button, BUTTON {
  background: #90ABB8;
}

.artisan-page-numbers{
  color: #90ABB8;
}

.element_text img{
  padding: 5px;
  border: 1px solid #dbdbd8;
}

.TopPageNav {
  display: none;
}