﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<div id="CertificateHeading">
	<br>

</div>
<div id="NameLine" class="font2">Thank you for Completing @Model.TrainingProgram.Name </div>
<div id="StudentName" class="student_name" style="padding-bottom:5px;">@Model.UserFullName</div>  
<div id="TestDate" class="font1">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</div>


