body, td, th { font-family: Verdana; font-size: xx-small; color: black}
.title { font-size: medium; font-family: Arial; color: navy }

.propertySection { text-decoration: underline }

.sequencing { color: red }
.runtime {color: blue }
.control {color: green }
.look-ahead {color: purple }
.info {color: black }

div { margin-left: 20px;}
div.details { display: none; }

link {cursor: pointer;}

a, a#visited {color: black; text-decoration: none; cursor: pointer;}
a#hover {color: blue; cursor: pointer;}