﻿<%@ Page Title="Welcome to Artisan" MasterPageFile="~/SymphonyMaster.Master" Language="C#" AutoEventWireup="true" CodeBehind="ArtisanPopout.aspx.cs" Inherits="Symphony.Web.ArtisanPopout" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeaderContent" runat="server">
    <script type="text/javascript" src="/scripts/symphony/artisanpop.js"></script>
</asp:Content>