﻿<%@ Page Title="" MasterPageFile="~/SymphonyMaster.Master" Language="C#" AutoEventWireup="true" CodeBehind="MessageBoardPopout.aspx.cs" Inherits="Symphony.Web.MessageBoardPopout" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeaderContent" runat="server">
    <script type="text/javascript" src="/scripts/symphony/MessageBoard/Popout.js"></script>
</asp:Content>