﻿<h4>The Basics</h4>
<p>
    Message templates are complex, and as such require some extra care. Each template is composed of a subject and a body, collectively called
    <em>content areas</em>. These <em>content areas</em> are plain HTML combined with special placeholders known as <em>template parameters</em>.
    By using the template parameters, you can create dynamic messages that change according to the message you are editing.
</p>
<p>
    Which template parameters are available for a given template depends on one of two things:
</p>
<ol>
    <li>For system messages, the parameters are <em>pre-defined</em> based on the template itself</li>
    <li>For scheduled messages, the parameters are a <em>based on the reference item</em> for the schedule</li>
</ol>
<p>
    The <em>reference item</em> is the item that is used for scheduling, for example a Class Start Date or Training Program Due Date.
</p>
<h4>Creating a Template</h4>
<p>
    To create a template, start with a simple message. For this example, we'll work with a message involving Training Programs.
    We'll start with a plain message:
</p>
<p>
<code>
    Your Training Program is due!
</code>
</p>
<p>
    This is a very simple message, so let's spice it up a bit. We'll add the name of the Training Program to the message.
</p>
<p>
    To add the Training Program Name, select the <em>Name</em> parameter under the <em>Training Program</em> folder of the Template Parameters tree.
    Once you have highlighted the parameter, click the "Add" button to add the parameter to your template. The result should look like this:
</p>
<p>
<code>
    Your Training Program, {!TrainingProgram.Name}, is due!
</code>
</p>
<p>
    That's it! The Training Program's name will be automatically inserted for you. Press the <em>Preview</em> button to see
    a sample of what your template will look like.
</p>