﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Classroom Course Completion";
}
<div id="CertificateHeading">
		    <br>
		    <img src="/images/coursecompletionheading.gif" border=0 id="certificate_heading" style="text-align:center">
		    <br><br><br><br><br>
		</div>
		<div id="NameLine" class="font2">To certify that</div><br /><br />
		<div id="StudentName" class="student_name">@Model.UserFullName</div><br /><br />
		<div id="CourseLine" class="font2">Has successfully satisfied the requirements for</div><br /><br />
		<div id="CourseName" class="font1">@Model.Course.Name<br><br></div>  
		<div id="ScoreLine" class="font2">With a score of</div><br><br>
		<div id="Score" class="font1">@Model.TranscriptEntry.Score<br><br></div> 
		<div id="TestDate" class="font1">On @Model.FormatDate(Model.TranscriptEntry.EndDate.Value)</div>

<div id="Location" class="">
    <p>User Location Name: @Model.UserLocation.Name</p>
    <p>User Location Internal Code: @Model.UserLocation.InternalCode</p>
    <p>User Location Address1: @Model.UserLocation.Address1</p>
    <p>User Location Address2: @Model.UserLocation.Address2</p>
    <p>User Location City: @Model.UserLocation.City</p>
    <p>User Location State: @Model.UserLocation.State</p>
    <p>User Location ZipCode: @Model.UserLocation.PostalCode</p>
    <p>User Location TelephoneNumber: @Model.UserLocation.TelephoneNumber</p>
    <p>User Location SalesforcePartnerCode: @Model.UserLocation.SalesforcePartnerCode</p>  
</div>

<div id="Div3" class="">
    <p>Customer Location Name: @Model.CustomerLocation.Name</p>
    <p>Customer Location Internal Code: @Model.CustomerLocation.InternalCode</p>
    <p>Customer Location Address1: @Model.CustomerLocation.Address1</p>
    <p>Customer Location Address2: @Model.CustomerLocation.Address2</p>
    <p>Customer Location City: @Model.CustomerLocation.City</p>
    <p>Customer Location State: @Model.CustomerLocation.State</p>
    <p>Customer Location ZipCode: @Model.CustomerLocation.PostalCode</p>
    <p>Customer Location TelephoneNumber: @Model.CustomerLocation.TelephoneNumber</p>
    <p>Customer Location SalesforcePartnerCode: @Model.CustomerLocation.SalesforcePartnerCode</p>  
</div>

<div id="Div2" class="">
<p>Key1: @Model.GetCourseMeta("Key1")</p>
<p>State: @Model.GetCourseMeta("State")</p>
<p>NotFound: @Model.GetCourseMeta("NotFound")</p>
<p>Enumerate Keys</p>
@foreach (string key in @Model.CourseMeta.Keys) {
    @: <p>Key: @key, Value: @Model.GetCourseMeta(key)</p>
}
    </div>

<div id="Div1" class="">
<p>Key1: @Model.GetClassMeta("Key1")</p>
<p>State: @Model.GetClassMeta("State")</p>
<p>NotFound: @Model.GetClassMeta("NotFound")</p>
<p>Enumerate Keys</p>
@foreach (string key in @Model.ClassMeta.Keys) {
    @: <p>Key: @key, Value: @Model.GetClassMeta(key)</p>
}
    </div>