﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<div id="CertificateHeading">
	<br>
	<img src="/images/trainingprogramcompletionheading.gif" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br><br><br>
</div>
<div id="NameLine" class="font2">It is hereby certified that</div>
<div id="StudentName" class="student_name" style="padding-bottom:5px;">@Model.UserFullName</div>  
<div id="CourseLine" class="font2">has successfully completed</div>
<div id="Div1" class="font2">the training program</div>
<div id="CourseName" class="font1">@Model.TrainingProgram.Name<br><br></div>  
<div id="DateLine" class="font2">On the date of</div>
<div id="TestDate" class="font1">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</div>


<div id="Location" class="">
    <p>User Location Name: @Model.UserLocation.Name</p>
    <p>User Location Internal Code: @Model.UserLocation.InternalCode</p>
    <p>User Location Address1: @Model.UserLocation.Address1</p>
    <p>User Location Address2: @Model.UserLocation.Address2</p>
    <p>User Location City: @Model.UserLocation.City</p>
    <p>User Location State: @Model.UserLocation.State</p>
    <p>User Location ZipCode: @Model.UserLocation.PostalCode</p>
    <p>User Location TelephoneNumber: @Model.UserLocation.TelephoneNumber</p>
    <p>User Location SalesforcePartnerCode: @Model.UserLocation.SalesforcePartnerCode</p>  
</div>

<div id="Div3" class="">
    <p>Customer Location Name: @Model.CustomerLocation.Name</p>
    <p>Customer Location Internal Code: @Model.CustomerLocation.InternalCode</p>
    <p>Customer Location Address1: @Model.CustomerLocation.Address1</p>
    <p>Customer Location Address2: @Model.CustomerLocation.Address2</p>
    <p>Customer Location City: @Model.CustomerLocation.City</p>
    <p>Customer Location State: @Model.CustomerLocation.State</p>
    <p>Customer Location ZipCode: @Model.CustomerLocation.PostalCode</p>
    <p>Customer Location TelephoneNumber: @Model.CustomerLocation.TelephoneNumber</p>
    <p>Customer Location SalesforcePartnerCode: @Model.CustomerLocation.SalesforcePartnerCode</p>  
</div>

<div id="another" class="">
<p>Key1: @Model.GetTrainingProgramMeta("Key1")</p>
<p>State: @Model.GetTrainingProgramMeta("State")</p>
<p>NotFound: @Model.GetTrainingProgramMeta("NotFound")</p>
<p>Enumerate Keys</p>
@foreach (string key in @Model.TrainingProgramMeta.Keys) {
    @: <p>Key: @key, Value: @Model.GetTrainingProgramMeta(key)</p>
}
    </div>