﻿
@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);


}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Alabama Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Alabama Real Estate Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
<b><u>Import Instructions</u></b><br><br>
<ol>
<li>ProSchools will report your continuing education credit within 10 days of your course completion. To
check your course credit on the Alabama Real Estate Commissioner's website, click on "Online Service"
 on the home page. If incorrect information appears or if courses are not appearing that should be, please
 contact ProSchools at 1-800-452-4879 and ask for the regulatory specialist.</li>
<li>The Alabama Real Estate Commission welcomes your feedback. When checking your credit on the
Commissioner's website, you can fill out an optional evaluation for up to 30 days after completing your
course.</li>
<li>Keep a copy of this certificate for your records. This is for your records only</li>
</ol>
<br><br><br>
Detailed instruction regarding your Real Estate License Renewal may be found at the Alabama Real Estate
Commission website below.
<br>
<div class="intro_ref"><a target=_blank href="http://www.araec.alabama.gov/">http://www.araec.alabama.gov/</a></div>
<br>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Alabama Real Estate Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Licensee Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr><tr width=100%>
	<td class="completion_label">Licensee SSN:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr><tr width=100%>
	<td class="completion_labeltitle" colspan="2" >CONTINUING EDUCATION COURSE IDENTIFICATION</td>
</tr><tr width=100%>
	<td class="completion_label">Course Name:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Approval Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Category:</td>
	<td class="completion_data">Elective</td>
</tr><tr width=100%>
	<td class="completion_label">Number of Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider's Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider's Number:</td>
	<td class="completion_data">98809</td
</tr>


</table>
<img src="/Certificates/Default/garytaylor4.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>