﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Tennessee Real Estate Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You have successfully completed ProSchools’ Tennessee <i>@Model.TrainingProgram.Name</i>, the part of the Tennessee real
estate prelicense program that prepares you for the state portion of the state licensing exam.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br>
<b><u>Import Instructions</u></b><br><br>
1. All questions and registration information pertaining to the examination should be directed to PSI at the following website:<br>
<p align="center"><a target=_blank href="www.psiexams.com">www.psiexams.com</a><br>
or<br>
at (800) 733-9267<br>
</P>

2. Questions pertaining to licensure should be directed to: 
<p align="center">Tennessee Real Estate Commission (TREC)<br>
Suite 180<br>
500 James Robertson Parkway<br>
Nashville, TN 37243-1151<br>
(615) 741-2273<br>
(800) 342-4031<br>

<a target=_blank href="http://tennessee.gov/commerce/boards/trec/">http://tennessee.gov/commerce/boards/trec/</a>
</p>
3. You should report 30 minutes prior to your scheduled exam time and be able to provide two forms of
identification. One must be a driver's license, state ID or passport which bears your signature, your
photograph and a complete physical description.<br><br>
4. Affiliate brokers must complete a 30-hour “Course for New Affiliates” before a real estate license will be
issued. A certificate of completion for this 30-hour course must be sent with your license application.
Remember, the “Course for New Affiliates” is separate and in addition to the prelicense course.
<br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Tennessee Prelicense Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Approval Code:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Required Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr>




</table>
<br>

<div class="completion_footer3">This is to certify that the above-named student has successfully completed the prelicensing course in accordance with the regulations
of the Tennessee Real Estate Commission.</div>
<br>
<img src="/Certificates/Default/garycalvert3.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>