﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	
    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);
	
}



<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Oregon Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools' Oregon Real Estate Continuing Education course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies
sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed
at a later time by logging into your account.<br><br><br>
<br>
<b><u>Important Instructions</u></b><br><br>
<ol>
<li>Have your Principal Broker sign and date your certificate. Unsigned certificates will not be considered
valid.</li>
<li>Use the data on your certificate to complete license renewal using eLicense.</li>
</ol>

<br><br><br>
You can enter eLicense from the Agency's home page at:
<br>
<div class="intro_ref"><a target=_blank href="www.rea.state.or.us">www.rea.state.or.us</a></div>
<br><br>
The attached Certificate of Completion is valid in the state of Oregon. If you need Certificates of Completion for
additional states, please contact ProSchools Customer Service at 1-800-452-4879.
<br><br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.
<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Oregon Real Estate Certificate of Completion</b><br>
<br>
<table width=100%>

<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr>
<tr width=100%>
	<td class="completion_label">License Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr>
<tr width=100%>
	<td class="completion_center" colspan="2"><i>CONTINUING EDUCATION COURSE IDENTIFICATION</i></td>
</tr>
<tr width=100%>
	<td class="completion_label">Instructor's Name:</td>
	<td class="completion_data">Gary Taylor</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Delivery Format:</td>
	<td class="completion_data">Online</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr>
<tr width=100%>
	<td class="completion_label">Provider Number:</td>
	<td class="completion_data">1001</td>
</tr>
<tr width=100%>
	<td class="completion_label">Required Course Topic:</td>
	<td class="completion_data">@Model.GetTrainingProgramMeta("Course Category Type")</td>
</tr>
<tr width=100%>
	<td class="completion_label">Number of Clock Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr>

</table>
<br>
<img src="/Certificates/Default/garytaylor3.png" border=0 id="certificate_heading" style="text-align:center"><br>

<div class="completion_footer3">I hereby certify the individual named herein completed the course described above and that the course meets the criteria as a required or
elective course topic.</div>
<br><br>
<div class="completion_data">Principal Broker Signature:_____________________________________</div>
<br>
<div class="completion_data">Principal Broker Name:_______________________________________</div>


<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>
