﻿<h4>The Basics</h4>
<p>
    Message templates are complex, and as such require some extra care. Each template is composed of a subject and a body, collectively called
    <em>content areas</em>. These <em>content areas</em> are plain HTML combined with special placeholders known as <em>template parameters</em>.
    By using the template parameters, you can create dynamic messages that change according to the message you are editing. All templates accept
    full HTML markup, so feel free to get creative.
</p>
<p>
    Which template parameters are available for a given template depends on one of two things:
</p>
<ol>
    <li>For system messages, the parameters are <em>pre-defined</em> based on the template itself</li>
    <li>For scheduled messages, the parameters are a <em>based on the reference item</em> for the schedule</li>
</ol>
<p>
    The <em>reference item</em> is the item that is used for scheduling, for example a Class Start Date or Training Program Due Date.
</p>
<h4>Creating a Template</h4>
<p>
    To create a template, start with a simple message. For this example, we'll work with a message involving Training Programs.
    We'll start with a plain message:
</p>
<p>
<code>
    Your Training Program is due!
</code>
</p>
<p>
    This is a very simple message, so let's spice it up a bit. We'll add the name of the Training Program to the message.
</p>
<p>
    To add the Training Program Name, select the <em>Name</em> parameter under the <em>Training Program</em> folder of the Template Parameters tree.
    Once you have highlighted the parameter, click the "Add" button to add the parameter to your template. The result should look like this:
</p>
<p>
<code>
    Your Training Program, {!TrainingProgram.Name}, is due!
</code>
</p>
<p>
    That's it! The Training Program's name will be automatically inserted for you. Press the <em>Preview</em> button to see
    a sample of what your template will look like.
</p>
<h4>Multiple Values</h4>
<p>Some entities in Symphony have multiple values. For example, classes can have multiple dates. To use these, you use a simple looping structure. To list all the dates for a class,
your template would look like this:
</p>
<p>
<code>
    The class "{!Class.Name}" has had a scheduling change!&lt;br/&gt;<br />
    &lt;br/&gt;<br />
    New Schedule:&lt;br/&gt;&lt;br/&gt;<br /><br />
    {!foreach ClassX.ClassDates}<br />
    {!ClassDate.StartDay} beginning at {!ClassDate.StartTime} for {!ClassDate.DurationHours} hours.&lt;br/&gt;<br />
    {!end}<br />
    &lt;br/&gt;<br />
    Please update your calendar!
</code>
</p>
<p>
Notice that the "StartDay", "StartTime", and "DurationHours" are applied inside the "ClassDates" loop.
</p>
<h4>A note about dates</h4>
<p>
    Dates are a complicated subject, primarily due to timezones, but also because some involve times (such as classes) and some do not (such as training programs).
</p>
<p>
    In order to see a date *without* a time component, always select the parameter with "Day" in it's name. For example, a Training Program has a "StartDay" and "DueDay"
    parameter.
</p>
<p>
    For classes, times are adjusted as best as possible according to the class settings. If the class has a venue, and the venue has a timezone, that timezone will be used.
    If no such settings are found, or the class is Virtual, the customer's default timezone will be used (see your administrator if you are unsure of your timezone). If no 
    default timzone is found, then the time will be displayed in UTC.
</p>