﻿* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	color: #333333;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
    margin: 0;
	padding: 5px;
}

body, button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	color: #54c2f9;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Hide non-essential login elements */
.x-window-proxy,
.x-shadow,
.x-window .x-window-tl,
.x-window .x-window-bl,
#ctl00_Body_login table td.symphony-logo,
#Body_login table td.symphony-logo {
    display: none !important;
}

/* Override existing styles */
.x-window {
  position: relative !important;
  z-index: 9003 !important;
  visibility: visible !important;
  left: auto !important;
  top: auto !important;
  display: block !important;
  width: auto !important;
}

.x-window-ml,
.x-window-mr {
    background: transparent;
    padding: 0;
}

.x-window-mc {
    background: transparent;
    border: 0;
    font: inherit;
}

.x-window-body {
    padding: 0 !important;
    width: auto !important;
}

.box {
    margin: 0;
}

/* Style the login form */
#ctl00_Body_login,
#ctl00_Body_login table,
#Body_login,
#Body_login table {
    width: 85%;
    margin: 30px auto;
    padding: 20px 15px 40px;
    border-radius: 20px;
    background-color: #FFF;
    max-width: 675px;
}

#ctl00_Body_login table td,
#Body_login table td {
    display: block;
    position: relative;
    text-align: left;
}

#ctl00_Body_login label,
#Body_login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
#ctl00_Body_login input#ctl00_Body_login_UserName,
#ctl00_Body_login input#ctl00_Body_login_Password,
#Body_login input#Body_login_UserName,
#Body_login input#Body_login_Password {
    padding: .5em;
    display: inline-block;
    transition: .5s all ease;
    font-size: 1em;
    font-weight: 300;
    border: 1px solid #e6e6e6;
    width: 100% !important;
}

body {
    background-color: #FFF;
}

#ctl00_Body_login_LoginButton,
Body_login_LoginButton {
    padding: 20px 15px;
    background-color: #82b854;
    border-radius: 3px;
    display: block;
    transition: 200ms all ease-in-out;
    max-width: 300px;
    border: none;
    
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-right: 0;

    padding: 1em 2em;
    font-weight: 700;
    font-size: 1rem;
    min-width: 250px;
    position: absolute;
    right: 0;
}

Body_login_LoginButton:hover,
#ctl00_Body_login_LoginButton:hover {
    background-color: #4183c4;
}

#ctl00_Body_login_UserNameRequired,
#ctl00_Body_login_PasswordRequired,
#Body_login_UserNameRequired,
#Body_login_PasswordRequired
 {
  left: 80px;
  position: absolute;
  top: -26px;
}

#page_logo {
    position: static;
    height: 100px;
    width: 100%;
    background-image: url(/images/nurse-logo-final.png);
    background-size: contain;
    margin: auto;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}

#form1Wrapper.top {
	clear:both;
    position:relative;
	margin:0px auto;
    z-index: 1000000;
    
    /*width: 675px;*/
	width:100%;
	top:0;
	left:0;
}

/*#form1Wrapper.top*/ td.forgot-password a {
    display: none;
}

td.forgot-password {
    width:0px;
}

/*
#form1Wrapper.top #ctl00_Body_login_PasswordRecoveryLink {
    display: inline;
}
*/

.x-window-body{
	position:relative;
}

.nurse-link {
    display: block;
    padding: 0 60px 3px;
    text-align: right;
}