/* CSS Document */
	/************************************************************/
	/* 			General CSS for all THOMSON Pages				*/
	/************************************************************/
body,td,span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
}

body {
	background: #ffffff;
	color: #000000;
	margin: 0;
}

a.link {
	color: #0000FF;
	text-decoration: underline;
}

a.link:link,a.link:visited {
	color: #0000FF;
	text-decoration: underline;
}

a.link:hover,a.link:active {
	color: #0000FF;
	text-decoration: underline;
}

.clearhack {
	display: inline;
}  /*Clears Box Model Hack in IE5*/
	/************************************************************/
	/* 			End General CSS for all THOMSON Pages			*/
	/************************************************************/
	/************************************************************/
	/*				Page Content								*/
	/************************************************************/
div.globalnav {
	width: 1200px;
}

div.popupnav {
	width: 550px;
}

/*	Header Navigation */
div.headernav {
	width: 100%;
}

.head_link a:link,.head_link a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #FFFFFF;
}

.headImg {
	float: left;
	width: 165px;
	padding: 10px 0px 0px 8px;
	text-align: center;
}

.whitetext {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 150px;
	text-decoration: none;
}

#bg_navlink {
	float: right;
	width: 795px;
	padding: 3px 3px 3px 8px;
}

#bg_navlink a {
	padding: 2px;
	color: #FFFFFF;
	text-align: justify;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.bg_sm_bluehead {
	margin: 0px;
	padding: 0;
	border-top: 4px solid #003399;
}

#bg_bluehead {
	margin: 0px;
	/*border:1px solid green;*/
	float: right;
	width: 794px;
	padding: 3px 3px 3px 0px;
	background-color: #003399;
}

#bg_bluehead a {
	padding: 2px;
	color: #FFFFFF;
	text-align: justify;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.body-bgcolor {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif;
	COLOR: #333333;
}

.red {
	background-color: #990000;
}

.header_nav_divider {
	color: #FFFFFF
}

.bg_redhead {
	padding: 0px;
	width: 100%;
	float: left;
	background-color: #993333;
	height: 20px;
}

.home_group a:link,.home_group a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.home_group a:hover,.home_group a:active {
	color: #FFFFFF;
}

div.logonav {
	PADDING-RIGHT: 2em;
	PADDING-LEFT: 4em;
	FLOAT: left;
	PADDING-BOTTOM: 1em;
	WIDTH: 400px;
	PADDING-TOP: 2em;
	TEXT-ALIGN: left
}

div.utilsmain {
	MARGIN-TOP: 20px;
	FLOAT: left;
	MARGIN-LEFT: 110px;
	WIDTH: 340px
}

a.utilstab {
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/yellow_button.jpg);
	WIDTH: 103px;
	PADDING-TOP: 5px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 25px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	COLOR: #000000;
}

.headermain {
	FLOAT: left;
	MARGIN-BOTTOM: 10px;
	WIDTH: 930px
}

div.menunav {
	padding: 0em 0em 0em 0em;
}

/*	Header Navigation */
div.contentnav {
	padding-top: 2%;
	width: 100%;
	clear: both;
}

div.popupcontentnav {
	padding: 2%;
	width: 100%;
	clear: both;
}

div.errornav {
	margin-left: 30%;
	margin-right: 10%;
	margin-bottom: 2%;
	border: 1px solid #993333;
}

div.breadcrumbnav {
	padding-left: 30px;
	width: 94%;
}

div.leftnav {
	padding-left: 10px;
	padding-top: 60px;
	/*width: 20%;*/
	float: left;
}

div.leftnavnew {
	padding-top: 60px;
	width: 18%;
	float: left;
}

div.rightnav {
	padding-top: 25px;
	width: 80%;
	float: right;
}

div.rightnaveditstudent {
	padding-top: 15px;
	width: 85%;
	float: right;
}
div.rightnavStudent {
	padding-top: 20px;
	width: 80%;
	float: left;
}

.loginnav {
	width: 100%;
	float: left;
	padding: 20px 0px 0px 15px;
}

.blanknav {
	float: right;
	width: 80%;
	margin-left: 10px;
	height: 400px;
}

/*	Footer Navigation */
div.footernav {
	width: 100%;
}

div#footer {
	width: 100%;
	margin: 10px 0px 15px 0px;
	padding: 10px 0px 0px 0px;
	clear: both;
	text-align: center;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3366cc;
}

div#footer a:link {
	color: #3366cc;
	text-decoration: none;
}

div#footer a:visited {
	color: #3366cc;
	text-decoration: none;
}

div#footer a:hover {
	color: #999999;
	text-decoration: none;
}

.dividerFooter {
	margin-left: 12px;
	WIDTH: 940px;
	BACKGROUND-COLOR: #f5f5f5;
}

/*	End Footer Navigation */
.logo_outer {
	margin-left: 25px;
	width: 95%;
	height: 200px;
	border: 0px none;
	float: left;
	overflow: visible;
}

.logo_outer_small {
	margin-left: 25px;
	width: 95%;
	height: 50px;
	border: 0px none;
	float: left;
	overflow: hidden;
}

.logo_image {
	text-align: center;
	background: transparent;
}

.logo_message_box {
	border: 1px solid #000000;
	padding: 3px 3px 3px 3px;
	color: #0000FF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

img.banner {
	width: 750px;
	height: 190px;
	border: 0px none;
	padding: 3px 3px 3px 6px;
	background: transparent;
}

img.logobanner {
	width: 750px;
	height: 100px;
	border: 0px none;
	padding: 3px 3px 3px 6px;
	background: transparent;
}

/************************************************************/
	/*			End Page Content								*/
	/************************************************************/
	/************************************************************/
	/*			 Horizontal Menu Navigation						*/
	/************************************************************/
#menu {
	clear: both;
	width: 100%;
}

.menutabs {
	FLOAT: left;
	WIDTH: 930px;
	HEIGHT: 27px;
}

a.headtabfirst {
	FONT-SIZE: 14px;
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/active_tab.jpg);
	MARGIN-LEFT: 15px;
	WIDTH: 91px;
	PADDING-TOP: 7px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 30px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	COLOR: #000000;
}

a.headtab {
	FONT-SIZE: 14px;
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/active_tab.jpg);
	WIDTH: 91px;
	PADDING-TOP: 7px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 30px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	COLOR: #000000;
}

a.headtab:hover,a.headtabfirst:hover {
	color: #3399cc;
}

a.headtabactive,a.headtabactive:hover {
	FONT-SIZE: 14px;
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/active_rollover.jpg);
	WIDTH: 91px;
	PADDING-TOP: 7px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 30px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none;
	color: #FFFFFF;
}

.menubarmain {
	MARGIN-TOP: -5px;
	WIDTH: 930px
}

.menubarleftimage {
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/menubar_left.jpg);
	WIDTH: 5px;
	HEIGHT: 32px;
}

.menubarcenterimage {
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/menubar_bg.jpg);
	VERTICAL-ALIGN: top;
	WIDTH: 1140px;
	HEIGHT: 32px;
}

.menubarrightimage {
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/menubar_right.jpg);
	WIDTH: 0px;
	HEIGHT: 32px;
}

a.menuNavText,a.menuNavText:active {
	float: left;
	font-size: 12px;
	color: #ffffff;
	padding: 8px 24px;
	text-decoration: none;
	background: transparent url(../images/menu_seperator.gif) center right
		no-repeat;
}

a.menuNavText:hover {
	color: #000000;
}

/************************************************************/
	/*			End Horizontal Menu Navigation					*/
	/************************************************************/
	/****************************************/
	/* CSS For Page Content Area			*/
	/****************************************/
	/************Page Division**************/
div.activePageArea {
	clear: both;
	background-color: #FFFFFF;
	width: 100%;
}

div.activePageSmallArea {
	background-color: #FFFFFF;
	height: 30%;
	width: 350px;
}

div.pageContentDiv {
	float: left;
	width: 100%;
}

div.pageHeaderDivArea {
	width: 95%;
	margin: 0px 3px 0px 0px;
}

#pageHeaderLeft {
	float: left;
	width: 175px;
	height: 22px;
	background-color: #3399cc;
}

#pageHeader {
	float: left;
	width: 100px;
	height: 22px;
	background-color: #3399cc;
}

#pageHeaderWideLeft {
	float: left;
	width: 270px;
	height: 22px;
	background-color: #3399cc;
}

#pageHeaderRight {
	float: left;
	background-image: url(../images/sidepatch.jpg);
	width: 34px;
	height: 22px
}

div.pageContentSpacerArea {
	padding: 6px 0px 6px 0px;
}

div.pageContentArea {
	width: 95%;
	float: left;
	margin: 0px 3px 3px 0px;
	padding: 0px 0px 0px 0px;
	border: #6699cc 1px solid;
}

div.pageContentMiddleArea {
	margin-top: 10%;
	margin-left: 15%;
	padding: 0px 0px 0px 0px;
}

div.pageContent {
	padding: 6px 16px 12px 16px;
}

div.pageContentIntroArea {
	padding: 6px 6px 6px 6px;
	width: 100%;
}

/************Page Content Text**********/
div.pageHeaderText {
	font-size: 13px;
	color: #ffffff;
	padding-top: 3px;
	text-align: center;
}

div.pageContentTextLabel {
	padding: 0px 6px 6px 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 15px;
	color: #993333;
}

div.pageContentTextValue {
	padding: 0px 6px 6px 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 12px;
	color: #993333;
}

div.pageContentText {
	padding: 0px 6px 6px 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #006699;
}

div.pageContentTextNote {
	font-size: 11px;
	padding: 0px 6px 6px 6px;
	color: #cc0000;
}

div.pageContentHeadingNote {
	font-size: 11px;
	padding: 0px 6px 6px 6px;
	color: #0000FF;
	font-variant: small-caps;
	font-weight: bold;
}

div.pageSubGroupContentHeader {
	padding: 6px 6px 6px 6px;
	text-align: left;
}

span.pageGroupContentTextLabel {
	padding: 6px 0px 4px 6px;
	color: #006699;
	font-size: 13px;
}

span.pageGroupContentTextRightLabel {
	padding: 6px 0px 4px 24px;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
}

span.formFieldValueText {
	padding: 6px 0px 4px 6px;
	color: #000000;
}

span.formFieldValueText2 {
	color: #000000;
	margin: 5px 5px 5px 0px;
}

span #formFieldValueHighlightText {
	font-style: italic;
	font-weight: bold;
}

span.formFieldValueLabel {
	padding: 6px 0px 4px 0px;
	color: #000000;
}

span.formFieldMandatory {
	padding: 6px 0px 4px 0px;
	color: #cc0000;
}

span.formFieldValueReq {
	padding: 0px 2px 0px 0px;
	border: 0px;
}

span.pageContentInfoText {
	padding: 0px 6px 6px 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

span.pageContentErrorText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	list-style-image: url("../images/error.png");
	text-align: center;
	/*text-transform: capitalize;*/
	color: red;
	
}

span.pageContentHeadingText {
	padding: 0px 6px 6px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2A5FFF;
}

/************Page Footer**************/
#formFooterCol {
	height: 30px;
	border-style: double;
	border-color: #C0C0C0;
	border-width: 1px;
}

div.formActionCol {
	text-align: right;
	padding: 6px 6px 6px 6px;
}

div.formActionRightCol {
	text-align: right;
	padding: 6px 6px 6px 6px;
}

.pageActionSeperator {
	font-size: 10px;
	padding: 0px 0px 0px 6px;
}

/************Page Error Content**********/
div.errorContentCol {
	clear: both;
	margin-left: 20%;
	margin-top: 2%;
	margin-right: 2%;
}

div.errorContentCol ul {
	padding: 6px 6px 6px 12px;
	list-style-type: none;
}

div.errorContentCol ul li {
	padding: 3px 0px 3px 0px;
}

div.alertContentCol {
	clear: both;
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
}

div.alertContentCol ul {
	padding: 6px 6px 6px 12px;
	list-style-type: none;
}

div.alertContentCol ul li {
	padding: 3px 0px 3px 0px;
}

div.errorContentLowCol {
	clear: both;
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 2%;
}

/************Page Error Content**********/
div.alertContentCol {
	clear: both;
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
}

div.alertContentCol ul {
	padding: 6px 6px 6px 12px;
	list-style-type: none;
}

div.alertContentCol ul li {
	padding: 3px 0px 3px 0px;
}

div.alertContentLowCol {
	clear: both;
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 2%;
}

/*** BREAD CRUMB NAVIGATION ***/
.breadcrumb_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003399;
	font-weight: bold;
}

.breadcrumb a {
	color: #003399;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: transparent url(../images/breadcrumb.gif) no-repeat center
		right;
	text-decoration: underline;
	padding-right: 18px; /*adjust bullet image padding*/
}

.breadcrumb a:visited,.breadcrumb a:active {
	color: #003399;
	text-decoration: underline;
}

.breadcrumb a:hover {
	color: #003399;
	text-decoration: underline;
}

/****************************************/
	/* End CSS For Page Content Area		*/
	/****************************************/
	/****************************************/ /* CSS For Form							*/
	/****************************************/
	/*************Form Layout****************/
* {
	margin: 0px;
	padding: 0px;
}

form div {
	height: auto;
}

fieldset {
	clear: both;
	text-align: center;
	border: 1px solid #cccccc;
	padding: 10px 3px 50px 6px;
	margin: 0px 0px 0px 0px;
}

fieldset.formFooterSet {
	clear: both;
	text-align: center;
	border: 0px none;
	padding: 10px 3px 3px 6px;
	margin: 0px 0px 0px 0px;
}

fieldset.formGroupHearderCol {
	border-color: #cccccc;
	text-align: center;
	border-width: 1px 0px 0px 0px;
	border-style: solid none none none;
	padding: 10px 3px 3px 3px;
	margin: 0px 0px 0px 0px;
}

fieldset.formFieldSet {
	border-color: #C0C0C0;
	text-align: center;
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	padding: 10px 3px 3px 3px;
	margin: 0px 3px 3px 3px;
}

fieldset.formFieldSetStdCol {
	border-color: #C0C0C0;
	height: 200px;
	text-align: center;
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	padding: 10px 3px 3px 3px;
	margin: 0px 3px 3px 3px;
}

form fieldset legend {
	margin: 0px 0px 0px 0px;
	padding: 0px 5px;
}

div.formContentDivArea {
	width: 100%;
}

div.formPageContentCol {
	width: 100%;
}

div.formContentCol {
	clear: both;
	width: 100%;
}

#formFieldHeaderCol {
	margin: 0px 0px 0px 0px;
	padding: 6px 3px 0px 3px;
	border-left-style: solid;
	border-left-color: #666666;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
	border-top-width: 1px;
}

#formFieldContentCol {
	margin: 0px 0px 0px 0px;
	padding: 3px 3px 3px 3px;
}

#formFieldCenterContentCol {
	margin: 0px 0px 0px 0px;
	padding: 0px 3px 3px 3px;
	height: 25%;
	border-left-style: solid;
	border-left-color: #666666;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
	border-right-width: 1px;
}

#formFieldFooterCol {
	padding: 0px 3px 3px 3px;
}

#formFieldCol {
	clear: both;
	width: 98%;
	text-align: left;
	padding: 3px 3px 3px 3px;
}

#formFieldLeftCol {
	float: left;
	width: 47%;
	text-align: left;
	padding: 3px 3px 3px 3px;
}

#formFieldRightCol {
	float: right;
	width: 50%;
	text-align: left;
	padding: 3px 3px 3px 3px;
}

#formFieldFullCol {
	float: left;
	width: 98%;
	text-align: left;
	padding: 3px 3px 3px 3px;
}

div.formFieldDiv {
	width: 100%;
	clear: both;
}

#formFieldLabelDiv {
	width: 31%;
	float: left;
	padding: 6px 0px 3px 6px;
	text-align: right;
}
#formFieldWideLabelDiv {
	width: 91%;
    float:left;
	padding: 6px 0px 3px 6px;
	text-align: left;
	border:0px;
	font-size:13px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

#formFieldValueDiv {
	width: 64%;
	float: right;
	text-align: left;
	padding: 6px 0px 3px 6px;
}
#formFieldValueLeftDiv {
	width: 94%;
	float: left;
	text-align: left;
	padding: 6px 0px 3px 6px;
}
#formFieldLinkValueDiv {
	width: 10%;
	float: right;
	text-align: left;
	padding: 6px 0px 3px 6px;
}

#formFieldValueNoteDiv {
	width: 64%;
	float: right;
	text-align: left;
	padding: 0px 0px 3px 6px;
}

#formFieldLeftLabel {
	width: 43%;
	float: left;
	padding: 6px 0px 3px 24px;
	text-align: left;
}

#formFieldLeftLabelNarrowDiv {
	width: 33%;
	float: left;
	padding: 6px 0px 3px 12px;
	text-align: right;
}

#formFieldRightLabelNarrowDiv {
	width: 35%;
	float: left;
	padding: 6px 0px 3px 12px;
	text-align: right;
}

#formFieldRightLabelDiv {
	width: 49%;
	float: left;
	padding: 6px 0px 3px 12px;
	text-align: right;
}

#formFieldValueNarrowDiv {
	width: 48%;
	float: right;
	padding: 3px 0px 3px 6px;
}

#formFieldValueWideDiv {
	width: 84%;
	float: right;
	padding: 3px 0px 3px 6px;
}

#formFieldFullValueDiv {
	width: 95%;
	float: left;
	padding: 6px 0px 6px 12px;
}

#formFieldFullXValueDiv {
	width: 100%;
	float: left;
	padding: 6px 0px 6px 0px;
}

#formFieldBelowValueDiv {
	width: 80%;
	float: left;
	padding: 3px 5px 3px 5px;
}

#formFieldHalfValueDiv {
	width: 75%;
	float: left;
	padding: 3px 0px 3px 12px;
}

#formFieldHeaderValueDiv {
	width: 65%;
	float: left;
	padding: 6px 3px 6px 0px;
}

#formFieldTextCol {
	float: left;
	width: 75px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

#formFieldNarrowCol {
	float: left;
	width: 54px;
	text-align: left;
	padding: 3px 3px 3px 3px;
}

#formFieldExtraNarrowCol {
	float: left;
	width: 30px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

#formFieldDoubleNarrowCol {
	float: left;
	width: 15px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

#formFieldStdCol {
	float: left;
	width: 110px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

#formFieldExtraStdCol {
	float: left;
	width: 125px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

#formFieldWideCol {
	float: left;
	width: 180px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

#formFieldExtraWideCol {
	float: left;
	width: 260px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

#formFieldExtraDoubleWideCol {
	float: left;
	width: 480px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

#formFieldFullLabelDiv {
	float: left;
	width: 78%;
	text-align: right;
	padding: 3px 6px 3px 0px;
}

#formFieldFullLabelDivLeft {
	float: left;
	width: 78%;
	text-align: left;
	padding: 3px 6px 3px 0px;
}

#formFieldNarrowValueDiv {
	float: right;
	width: 17%;
	text-align: left;
	padding: 3px 6px 3px 0px;
	
}

#formFieldSelectPaneCol {
	float: left;
	width: 225px;
	padding: 3px 10px 0px 10px;
}

#formFieldSelectPaneNavCol {
	margin-top: 50px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

#formFieldHeaderValueDiv1,#formFieldHeaderValueDiv2 {
	float: left;
	padding: 6px 3px 6px 0px;
}

#formFieldHeaderValueDiv1 {
	width: 55%;
}

#formFieldHeaderValueDiv2 {
	width: 20%;
}

div.formAssignActionCol {
	text-align: left;
	padding: 12px 6px 6px 6px;
}

div.formAddActionCol {
	text-align: right;
	padding: 12px 150px 6px 6px;
}

/****************End Form Layout**************/
	/****************Newly-Added Form Layout**************/
#formFieldExtraDoubleWideColNew {
	float: left;
	width: 460px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

span.pageSubGroupTextNew {
	float: left;
	color: #000000;
	font-size: 11px;
	padding: 0px 0px 0px 0px;
}

div.formFieldDivNew {
	width: 100%;
	margin-bottom: 10px;
	clear: both;
}

div.pageGroupHeaderNew {
	height: 5px;
	padding: 0px 0px 0px 3px;
	font-weight: bold;
	color: #000000;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}

#formFieldFullValueDivNew {
	width: 45%;
	float: left;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	margin-left: 20px;
	margin-top: 0px;
}

#formFieldExtraDoubleWideColExtra {
	float: left;
	width: 430px;
	text-align: left;
	padding: 3px 0px 3px 0px;
}

#formFieldExtraDoubleWideExtra {
	float: left;
	width: 306px;
	text-align: left;
	padding: 3px 0px 3px 0px;
}

#formFieldValueDivNew {
	width: 64%;
	float: right;
	text-align: left;
	padding: 6px 0px 3px 6px;
}

#formFieldDoubleExtraWide {
	float: left;
	width: 370px;
	text-align: left;
	padding: 3px 0px 3px 0px;
}

/****************End Newly-Added Form Layout**************/
	/****************Search Form Layout**************/
div.searchFormContentCol {
	clear: both;
	width: 100%;
}

div.searchFormActionCol {
	clear: both;
	text-align: center;
	padding: 12px 6px 6px 6px;
}

/****************End Search Form Layout**************/
	/********CSS For Form Fields*************/
select {
	font-size: 11px;
	font-family: Arial;
	border-left-color: #666666;
	border-left-width: 1px;
	border-top-color: #666666;
	border-top-width: 1px;
	border-right-color: #C0C0C0;
	border-right-width: 1px;
	border-bottom-color: #C0C0C0;
	border-bottom-width: 1px;
}

select.stdWidth {
	width: 150px;
}
select.stdLongWidth {
	width: 200px;
}
select.narrowWidth {
	width: 90px;
}

select.extraNarrowWidth {
	width: 64px;
}

select.dateWidth {
	width: 50px;
}

select.wideWidth {
	width: 250px;
}

select.fullWidth {
	width: 300px;
}

select.fullWideWidth {
	width: 340px;
}

select.wideWidthDesc {
    width: 380px;
}

select.wideWidthBox {
	width: 420px;
}

select.halfWidth {
	width: 100px;
}

select.stdListWidth {
	width: 150px;
	height: 50px;
	overflow: scroll;
}

select.halfListWidth {
	width: 225px;
	height: 50px;
	overflow: scroll;
}

select.fullListWidth {
	width: 350px;
	height: 50px;
	overflow: scroll;
}

select.wideListWidth {
	width: 450px;
	height: 50px;
	overflow: scroll;
}

select.longListWidth {
	width: 200px;
	height: 250px;
	overflow: scroll;
}

input {
	font-size: 11px;
	font-family: Arial;
	border-left-color: #666666;
	border-left-width: 1px;
	border-top-color: #666666;
	border-top-width: 1px;
	border-right-color: #C0C0C0;
	border-right-width: 1px;
	border-bottom-color: #C0C0C0;
	border-bottom-width: 1px;
	text-align: left;
	padding: 0px 0px 0px 3px;
}

input.stdWidth {
	width: 157px;	
}

input.narrowWidth {
	width: 150px;
}

input.extraNarrowWidth {
	width: 50px;
}

input.wideWidth {
	width: 250px;
}

input.extraWideWidth {
	width: 420px;
}

input.fullWidth {
	width: 300px;
}

input.halfWidth {
	width: 100px;
}

input.codeWidth {
	width: 25px;
}

input.codeWidthNew {
	width: 35px;
}

input.codeNarrowWidth {
	width: 35px;
}

input.radio {
	width: 12px;
	border-color: #666666;
}

input.checkbox {
	width: 12px;
	border-color: #666666;
}

input.fileWidth {
	width: 300px;
}

textarea {
	font-size: 11px;
	font-family: Arial;
	border-left-color: #666666;
	border-left-width: 1px;
	border-top-color: #666666;
	border-top-width: 1px;
	border-right-color: #C0C0C0;
	border-right-width: 1px;
	border-bottom-color: #C0C0C0;
	border-bottom-width: 1px;
	text-align: left;
}

textarea.stdWidth3rows {
	width: 164px;
	height: 48px;
}

textarea.stdWidth5rows {
	width: 164px;
	height: 76px;
}

textarea.wideWidth3rows {
	width: 300px;
	height: 48px;
}

textarea.wideWidth5rows {
	width: 300px;
	height: 76px;
}

textarea.fullWidth10rows {
	width: 625px;
	height: 150px;
}

textarea.stdWidth15rows {
	width: 164px;
	height: 216px;
}

.cursor_disp_hand {
	cursor: pointer;
}

.link_blue {
	text-decoration: underline;
	color: #0000FF;
}

input.wizardInactiveButton {
	color: #FFFFFF;
	width: 20px;
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-image: url(../images/wizard_btn_blank.gif);
	border: 1px solid #FFFFFF;
}

input.wizardActiveButton {
	color: #FFFFFF;
	width: 20px;
	height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-image: url(../images/wizard_btn_a_blank.gif);
	border: 1px solid #FFFFFF;
}

input.button {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	width: 110px;
	text-align: center;
	height: 22px;
	border: 0px none;
}

img.image {
	height: 20px;
	width: 20px;
	padding: 6px 3px 3px 6px;
	background: transparent;
}

img.imagelink {
	height: 10px;
	width: 20px;
	border: 0px none;
	padding: 6px 3px 3px 6px;
	background: transparent;
}

input.buttonWide {
	background-image: url(../images/5.JPG);
	background-repeat: no-repeat;
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	width: 150px;
	height: 22px;
	border: 0px none;
}

input.buttonWideAckn {
	background-image: url(../images/sumbitAck.jpg);
	background-repeat: no-repeat;
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	width: auto;
	height: 22px;
	border: 0px none;
}

span.dummyButton {
	background-color: #E4E5D7;
	color: #993333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	width: 175px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	text-decoration: none;
}

input.buttonExtraWide {
	background-color: #E4E5D7;
	color: #993333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	width: 175px;
	border-left-style: solid;
	border-left-color: #E4E5D7;
	border-top-style: solid;
	border-top-color: #E4E5D7;
	border-right-style: solid;
	border-right-color: #000000;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

input.buttonGo {
	background-color: #E4E5D7;
	color: #993333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	width: 24px;
	border-left-style: double;
	border-left-color: #E4E5D7;
	border-top-style: double;
	border-top-color: #E4E5D7;
	border-right-style: double;
	border-right-color: #000000;
	border-bottom-style: double;
	border-bottom-color: #000000;
}

input.stdFileUpload {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 164px;
	height: 20px;
}

input.wideFileUpload {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 380px;
	height: 20px;
}

/****End CSS For Form Fields*************/
	/****************************************/ /* End CSS For Form						*/
	/****************************************/
	/****************************************/
	/* CSS For Text Content					*/
	/****************************************/
#oddRow {
	overflow-x: visible;
	overflow-y: visible;
	/*height: 100%;*/
	background-color: #FFFFFF;
	border-left-style: double;
	border-left-color: #DDF8FF;
	border-right-style: double;
	border-right-color: #DDF8FF;
	border-bottom-style: double;
	border-bottom-color: #DDF8FF;
	border-width: 1px;
}

#evenRow {
	overflow-x: visible;
	overflow-y: visible;
	/*height: 100%;*/
	background-color: #DDF8FF;
	border-left-style: double;
	border-left-color: #DDF8FF;
	border-right-style: double;
	border-right-color: #DDF8FF;
	border-bottom-style: double;
	border-bottom-color: #DDF8FF;
	border-width: 1px;
}

#evenRow1 {
	background-color: #DDF8FF;
	border-left-style: double;
	border-left-color: #DDF8FF;
	border-right-style: double;
	border-right-color: #DDF8FF;
	border-bottom-style: double;
	border-bottom-color: #DDF8FF;
	border-width: 1px;
}

#headerRow {
	background-color: #3399cc;
}

#footerRow {
	background-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #FFFFFF;
}

#highlightedRow {
	background-color: #A0A0A0;
}

#highlightedBlankRow {
	padding: 3px 0px 6px 0px;
	border-left: 1px double #cccccc;
	border-right: 1px double #cccccc;
	border-bottom: 1px double #cccccc;
	background-color: #FFFFFF;
}

div.listRowGroupHeader {
	height: 15px;
	padding: 6px 3px 6px 3px;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	clear: left;
}

div.listRowSubGroupHeader {
	height: 20px;
	padding: 6px 3px 6px 3px;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	clear: left;
}

div.listRowSubGroupText {
	
	padding: 6px 3px 6px 3px;
	font-size: 11px;
	font-variant: normal;
	color: #000000;
	clear: left;
}

div.listRowGroupText {
	padding: 6px 3px 6px 3px;
	font-size: 11px;
	font-variant: normal;
	color: #000000;
	clear: left;
}

div.listRowNavArea {
	width: 100%;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-top-style: double;
	border-top-color: #3399cc;
	border-width: 1px;
	clear: both;
}

div.listRowHeader {
	height: 20px;
	padding: 3px 3px 3px 3px;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	clear: left;
}

div.listRowLargeHeader {
	height: 30px;
	padding: 3px 3px 3px 3px;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	clear: left;
}

div.listRowValue {
	/*height: auto;*/
	padding: 2px 3px 2px 3px;
	font-size: 11px;
	overflow: hidden;
	color: #000000;
	clear: left;
}
div.sublistRowValue {
	height: auto;
	margin-top:10px;
	width:100%;
	border-bottom:blue;
	padding-left:20px;padding-right:20px;
}
div.listRowValueDesc{
	/*height: auto;*/
	padding: 2px 3px 15px 3px;
	font-size: 11px;
	overflow: hidden;
	color: #000000;
	clear: left;
}
div.listRowLargeValue {
	height: 86px;
	padding: 2px 3px 2px 3px;
	font-size: 11px;
	overflow: hidden;
	color: #000000;
	clear: left;
}

div.listRowWideValue {
	height: 20px;
	padding: 3px 3px 3px 3px;
	overflow: hidden;
	color: #000000;
	clear: left;
}

div.activeRow {
	color: #000000;
}

div.inActiveRow {
	color: #993333;
}
#listRowMoreNarrowCol {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 40px;
	padding: 0px 3px 0px 3px;
}
#listRowMoreNarrowColomn {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 40px;
	font-weight:bold;
	font-family:Times New Roman;
	font-size:14px;
	padding: 0px 3px 0px 6px;
}
#listRowExtraNarrowColomn {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 60px;
	padding: 0px 3px 0px 3px;
}
#listRowNarrowCol {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 54px;
	padding: 0px 3px 0px 3px;
}

#listRowDoubleNarrowCol {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 74px;	
	padding: 0px 3px 0px 3px;
}

#listRowExtraDoubleNarrowCol {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 70px;
	padding: 0px 3px 0px 3px;
}

#listRowExtraNarrowCol {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 95px;
	padding: 2px 3px 2px 3px;
}

#listRowSmallCol {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 24px;
	padding: 2px 3px 2px 3px;
}
#listRowCol {
	float: left;
	text-align: left;
	width: 100px;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 12px 2px 3px;
}

#listRowBigCol {
	float: left;
	text-align: left;
	width: 130px;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 12px 2px 3px;
}

#listRowDoubleBigCol {
	float: left;
	text-align: left;
	width: 160px;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 12px 2px 3px;
}

#listRowWideCol {
	float: left;
	width: 175px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listRowWideCol_Student {
	float: left;
	width: 165px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listRowSelectCol {
	float: left;
	width: 75px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listRowDoubleWideCol {
	float: left;
	width: 200px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listRowWideColExtra {
	float: left;
	width: 230px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 15px 2px 3px;
}

#listRowExtraWideCol {
	float: left;
	width: 260px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listRowExtraDoubleWideCol {
	float: left;
	width: 270px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listRowFullWideCol {
	float: left;
	width: 340px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}
#listRowMediumWideCol {
	float: left;
	width: 420px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}
#listRowExtraDoubleWideCol {
	float: left;
	width: 450px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listRowFullCol {
	float: left;
	width: 580px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listRowNavCol {
	float: left;
	width: 75px;
	text-align: center;
	padding: 2px 3px 2px 3px;
}

#listStudentRowNavCol {
	float: left;
	width: 70px;
	text-align: center;
	padding: 2px 3px 2px 3px;
}

#listShowCaseRowSelectCol {
	float: left;
	width: 140px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 18px 2px 3px;
}

#listBranchRowCol {
	float: left;
	text-align: left;
	width: 95px;	
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	vertical-align: middle;
	padding: 2px 12px 2px 3px;
}

#listRowNavWithoutCol {
	float: left;
	width: 75px;
	text-align: left;
	padding: 2px 3px 2px 3px;
}

div.pageGroupHeaderBredCumb {
	height: 15px;
	padding: 3px 3px 3px 3px;
	font-weight: bold;
	color: #000000;
	clear: left;
	background-color: #EDEDED;
	margin-left: 75%;
}

div.pageGroupHeader {
	height: 20px;
	padding: 3px 3px 3px 3px;
	font-weight: bold;
	color: #000000;
	clear: left;
	background-color: #EDEDED;
}

div.pageGroupText {
	height: 35px;
	padding: 3px 3px 3px 3px;
	font-variant: normal;
	color: #000000;
	clear: left;
}

#cdrom_listRowBigCol {
	float: left;
	text-align: left;
	width: 134px;
	overflow-x: hidden;
	overflow-y: hidden;
	height: auto;
	vertical-align: middle;
	padding: 2px 12px 2px 3px;
}

#cdrom_listRowCol {
	float: left;
	text-align: left;
	width: 100px;
	overflow-x: hidden;
	overflow-y: hidden;
	height: auto;
	vertical-align: middle;
	padding: 2px 12px 2px 3px;
}

#cdrom_listRowNarrowCol {
	overflow-x: visible;
	overflow-y: visible;
	height: auto;
	float: left;
	width: 60px;
	padding: 0px 3px 0px 3px;
}

div.cdrom_listRowNavArea {
	width: 105%;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-top-style: double;
	border-top-color: #3399cc;
	border-width: 1px;
	clear: both;
}

span.resultPageHeaderText {
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 150px;
	margin-bottom: 10px;
}

span.resultPageNarrowSubHeadingText {
	font-weight: bold;
	font-variant: small-caps;
	margin-bottom: 10px;
	font-size: 17px;
	margin-left: 200px;
	font-family: Times New Roman, Times, serif;
}

span.resultPageSubHeadingText {
	font-weight: bold;
	font-variant: small-caps;
	margin-bottom: 10px;
	font-size: 17px;
	margin-left: 225px;
	font-family: Times New Roman, Times, serif;
}

span.orientationPageSubHeadingText {
	font-weight: bold;
	font-variant: small-caps;
	margin-bottom: 10px;
	font-size: 17px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

/****************************************/
	/* End CSS For Text Content				*/
	/****************************************/
	/****************************************/
	/* 	css For Self Student Register		*/
	/****************************************/
div.backgroundstudent {
	background-color: #CCCCCC;
}

div.signin {
	width: 18%;
	float: left;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin-left: 20px;
	height: 18px;
}

span.signin {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 15px;
	padding-left: 40px;
	font-weight: bold;
	text-align: center;
}

div.yourinfo {
	width: 18%;
	float: left;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin-left: 20px;
	height: 18px;
}

span.yourinfo {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 15px;
	padding-left: 30px;
	font-weight: bold;
	text-align: center;
}

div.pay {
	width: 25%;
	float: left;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin-left: 20px;
	height: 18px;
}

span.pay {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 15px;
	padding-left: 10px;
	font-weight: bold;
	text-align: center;
}

div.checkout {
	width: 20%;
	float: left;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin-left: 20px;
	height: 18px;
}

span.checkout {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 15px;
	padding-left: 10px;
	font-weight: bold;
	text-align: center;
}

#formFieldValueNarrowDivNew {
	width: 40%;
	float: left;
	padding: 3px 0px 3px 6px;
	margin-left: 10px;
}

/****************************************/
/* 	End css For Self Student Register	*/
/****************************************/

/****************************************/
/* CSS For Pagination					*/
/****************************************/
div.paginationArea{
	float: right;
	width:200px;
	padding: 6px 0px 0px 0px;
}

div.paginationNarrowArea {
	width: 100%;
	padding: 6px 0px 0px 0px;
}

#paginationLinkCol {
	float: left;
	width: 20px;
	text-decoration: none;
	text-align: center;
	padding: 0px 8px 0px 8px;
}

#paginationLinkNumCol {
	float: left;
	width: 35px;
	text-decoration: none;
	text-align: right;
	padding: 0px 0px 0px 10px;
	color: #000000;
}

#paginationGo {
	float: left;
	margin-top: 3px;
	margin-left: 2px
}

#paginationLinkNumCol2 {
	width: 33px;
	float: left;
	font-size: 12px;
	margin-left: 3px;
}

/****************************************/
	/* End CSS For Pagination				*/
	/****************************************/
	/****************************************/
	/* CSS For Text alignment				*/
	/****************************************/
span.pageContentDisplayFullWideText {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 11px;
	border-left: #eeeeee 1px solid;
	float: left;
	text-align: left;
	width: 490px;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	color: #000000;
	padding-left: 4px;
}

.pageContentDisplayDoubleWideText {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 11px;
	border-left: #eeeeee 1px solid;
	width: 770px;
	text-align: left;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	color: #000000;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

span.pageContentDisplayRange1 {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 11px;
	border-left: #eeeeee 1px solid;
	float: left;
	text-align: left;
	width: 390px;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	color: #000000;
	padding-left: 4px;
}

span.pageContentDisplayWideText {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 11px;
	border-left: #eeeeee 1px solid;
	width: 250px;
	float: left;
	text-align: left;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	color: #000000;
	padding-left: 4px;
}

span.pageContentDisplayText {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 11px;
	border-left: #eeeeee 1px solid;
	width: 200px;
	float: left;
	text-align: left;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	color: #000000;
	padding-left: 4px;
}

span.pageContentDisplayNarrowText {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 8pt;
	border-left: #eeeeee 1px solid;
	width: 90px;
	float: left;
	text-align: left;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	color: #000000;
	padding-left: 4px;
}

span.pageContentDisplayExtraNarrowText {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 11px;
	border-left: #eeeeee 1px solid;
	width: 75px;
	float: left;
	text-align: center;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	color: #000000;
	padding-left: 4px;
}

span.pageContentDisplayBelowNarrowText {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 11px;
	border-left: #eeeeee 1px solid;
	width: 45px;
	float: left;
	text-align: left;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-right: 10px;
	color: #000000;
	padding-left: 4px;
}

span.pageGroupHeaderText {
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

span.pageGroupValueText {
	color: #000000;
	font-size: 11px;
	font-variant: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

span.pageSubGroupTitle {
	padding: 3px 3px 3px 16px;
	float: left;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

span.pageSubGroupHighlightedTitle {
	padding: 3px 3px 3px 16px;
	float: left;
	color: #000000;
	font-size: 11px;
	font-variant: normal;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

span.pageSubGroupText {
	float: left;
	color: #000000;
	font-size: 11px;
	padding: 3px 3px 3px 16px;
}

span.pageSubGroupTextHighLighted {
	float: left;
	color: #FF0000;
	font-size: 11px;
	padding: 3px 3px 3px 16px;
}

span.pageSubGroupTitleRightCol {
	margin-left: 80%;
	margin-right: 2px;
	float: left;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	padding: 0px 0px 0px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

span.pageContentPopUpText {
	color: #993333;
	font-size: 11px;
	padding: 3px 3px 3px 3px;
}

span.pageContentUnSelectedText {
	color: #000000;
	text-decoration: line-through;
	font-size: 11px;
	padding: 3px 3px 3px 3px;
}

span.pageContentSelectedText {
	color: #FF0000;
	text-decoration: none;
	font-size: 11px;
	padding: 3px 3px 3px 3px;
}

li.pageContentLinkItem {
	list-style-image: url(../images/active_arrow.jpg);
}

/****************************************/
	/* End CSS For Text alignment			*/
	/****************************************/
	/****************************************/ /* 	CSS For LeftNav						*/
	/****************************************/
div.secnavmain {
	width: 100%;
}

div.secnavdiv {
	height: 30px;
	width: 100%;
}

span.secnavbutton {
	float: left;
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	width: 200px;
	padding-top: 4px;
	height: 22px;
	border: 0px none;
	font-variant: small-caps;
}

span.secnavbuttonnarrow {
	float: left;
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	width: 150px;
	padding-top: 4px;
	height: 22px;
	border: 0px none;
	font-variant: small-caps;
}

a.leftNavText {
	text-decoration: none;
	color: #000000;
}

span.secnavbuttonleft {
	float: left;
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	width: 200px;
	height: 22px;
	border: 0px none;
	font-variant: small-caps;
}

a.leftNavTextLeft {
	text-decoration: none;
	color: #000000;
	padding-top: 4px;
	padding-left: 10px;
	text-align: left;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-variant: small-caps;
}

/****************************************/
	/* 	End css For LeftNav					*/
	/****************************************/
	/****************************************/
	/* 	       CSS For lOGIN				*/
	/****************************************/
.login_outer {
	padding-left: 160px;
	padding-top: 100px;
	float: left;
}

.login_name {
	width: 6%;
	float: left;
}

.login_submit {
	width: 35%;
	float: left;
}

.login_submit_extra {
	width: 40%;
	float: left;
}

div.loginArea {
	width: 60%;
	float: left;
	margin: 0px 3px 3px 0px;
	padding: 0px 0px 0px 0px;
	border: #6699cc 1px solid;
}

.logintext,.logintext1 {
	font-family: Arial;
	font-size: 12px;
	color: #000099;
	float: left;
	text-align: right;
	width: 32%;
}

.logintext {
	margin-top: 28px;
}

.logintext1 {
	margin-top: 11px;
}

.loginfield,.passfield {
	float: left;
	width: 45%;
	text-align: right;
	padding-left: 3px;
}

.loginfield {
	margin-top: 25px;
}

.passfield {
	margin-top: 8px;
}

.login_button {
	float: left;
	margin-top: 15px;
}

.login_newUser {
	float: right;
	font-weight: bold;
	padding-bottom: 5px;
	color: #0000FF;
	padding-right: 30px;
}

.login_newUserOuter {
	float: left;
	width: 40%;
}

/****************************************/
	/*         End CSS For lOGIN			*/
	/****************************************/
	/****************************************/
	/* 	       New lOGIN				    */
	/****************************************/
.ct_logintext {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 15px;
	color: #993333;
	margin-left: 112px;
	margin-top: 100px;
	float: left;
	text-decoration: underline;
}

.ct_arrow {
	margin-left: 100px;
	margin-top: 30px;
	width: 3%;
	float: left;
}

.ct_studenttext a:link,.ct_studenttext a:visited {
	width: 30%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	margin-top: 30px;
	float: left;
}

.ct_studenttext a:hover {
	text-decoration: underline;
}

/****************************************/ /* 			New Login					*/
	/****************************************/
	/****************************************/ /* CSS For Pop Up						*/
	/****************************************/
div.popUpFormContentDivArea {
	width: 98%;
}

div.popUpPaginationArea {
	margin-left: 260px;
	width: 45%;
	padding: 6px 0px 0px 0px;
}
div.popUpPaginationArea1 {
	margin-left: 260px;
	width: 180px;
	padding: 6px 0px 0px 0px;
}
#popUpFormFieldHeaderCol {
	margin: 0px 0px 0px 0px;
	padding: 6px 3px 0px 3px;
	border-left-style: solid;
	border-left-color: #C0C0C0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #C0C0C0;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #C0C0C0;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
	border-bottom-width: 1px;
}

#popUpFormFieldContentCol {
	margin: 0px 0px 0px 0px;
	padding: 6px 3px 0px 3px;
	border-left-style: solid;
	border-left-color: #C0C0C0;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #C0C0C0;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
	border-bottom-width: 1px;
}

#popUpLink {
	display: block;
	position: absolute;
	top: 200px;
	left: 0;
	width: 125px;
	padding: 5px;
	margin: 10px;
	z-index: 100;
	color: #AAA;
	background: black;
	font: 10px Verdana, sans-serif;
	text-align: center;
}

.submitbuttons {
	width: 100px;
	float: right;
	margin-right: 15px;
	background-image: url(../images/business/view_charge_button.jpg);
	height: 30px;
	background-repeat: no-repeat;
	font-size: 13px;
	text-align: center;
	padding-top: 3px;
	text-decoration: none;
	color: black;
}

/****************************************/ /* End CSS For Pop Up					*/
	/****************************************/
	/*************************************/
	/* Start CSS For Bharani for Student */
	/*************************************/
span.pageGroupContentTextLabelNew {
	padding: 6px 5px 4px 2px;
	color: #000000;
	font-size: 11px;
	padding-left: 5px;
}

#formFieldFont {
	float: left;
	width: 500px;
	text-align: left;
	padding: 3px 3px 3px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

span.pageContentDisplayLowNarrowText {
	width: 42px;
}

span.pageContentDisplayHighText {
	width: 55px;
}

span.pageContentDisplayLowNarrowText,span.pageContentDisplayHighText {
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	font-size: 11px;
	border-left: #eeeeee 1px solid;
	float: left;
	border-bottom: #bebebe 2px solid;
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-right: 2px;
	color: #000000;
	padding-left: 2px;
}

.common_class {
	width: 100%;
	float: left
}

.title_box_receipt {
	height: 15px;
	width: 74%;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	border-bottom: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}

.title_box_second_receipt {
	height: 15px;
	width: 15%;
	float: left;
	margin-top: 10px;
	margin-left: 12px;
	border-bottom: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}

.title_receipt {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-left: 2px;
}

#formFieldHeaderValueDivBelow {
	width: 300px;
	margin-left: 125px;
}

/*************************************/
	/* End CSS For Bharani for Student */
	/*************************************/ /**************************/
	/* Start CSS For Vijayan */ /*************************/
#formFieldTextColExtra {
	float: left;
	width: 188px;
	text-align: left;
	padding: 3px 3px 3px 0px;
}

.goButton {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 13px;
	BACKGROUND: url(../images/go.jpg) no-repeat center top;
	FLOAT: right;
	BORDER-LEFT: 0px;
	WIDTH: 40px;
	MARGIN-RIGHT: 15px;
	BORDER-BOTTOM: 0px;
	HEIGHT: 23px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}

#formFieldValueDivView {
	width: 75%;
	float: right;
	text-align: left;
	padding: 6px 0px 3px 26px;
}

#formFieldViewExtra {
	float: left;
	width: 30px;
	text-align: left;
	padding: 3px 13px 3px 0px;
}

/**************************/ /* End CSS For Vijayan */
	/*************************/
	/***************************************************/
	/* Start CSS For Select student school course page */
	/**************************************************/
.studentEmptyInfo {
	float: left;
	width: 20px
}

.studentConInfo {
	width: 435px;
	float: left;
	font-weight: bold;
	margin-left: 5px;
}

.studentMediaInfo {
	font-weight: bold;
	width: 75px;
	float: left;
}

.studentHoursInfo {
	font-weight: bold;
	width: 65px;
	float: left;
	margin-left: 10px;
}

.studentHoursInfoBranch {
	font-weight: bold;
	width: 55px;
	float: left;
	margin-left: 10px;
}

.studentPriceInfo {
	font-weight: bold;
	width: 50px;
	float: left;
	margin-left: 9px;
}

.studentPriceInfoBranch {
	font-weight: bold;
	width: 40px;
	float: left;
	margin-left: 9px;
}

.totalDisply {
	width: 380px;
	float: left;
}

.totalDisply1 {
	width: 130px;
	float: left;
	font-weight: bold;
	margin-top: 4px;
}

.totalDisply2 {
	width: 180px;
	float: left;
	text-align: center
}

.textBoxLeft {
	width: 60px;
	float: left;
}

.textBoxLeft1 { /*BORDER-RIGHT: #bebebe 2px solid; 
	BORDER-TOP: #eeeeee 1px solid; 
	PADDING-LEFT: 4px; 
	FONT-SIZE: 11px; 
	FLOAT: left; 
	MARGIN-LEFT: 0px; 
	BORDER-LEFT: #eeeeee 1px solid; 
	COLOR: #000000; 
	BORDER-BOTTOM: #bebebe 2px solid; 
	BACKGROUND-COLOR: #ffffff;
	width:50px;
	float:left;	
	text-align:right;*/
	width: 35px;
	text-align: left;
	float: left;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 6px;
	padding-left: 2px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.textBoxLeft2 {
	width: 65px;
	text-align: right;
	float: left;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 6px;
	padding-left: 2px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.studentConInfoBorder {
	width: 420px;
	float: left;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 2px;
	margin-left: 3px;
	padding-left: 2px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.studentMediaInfoBorder {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	width: 78px;
	float: left;
	margin-right: 2px;
	margin-left: 3px;
	padding-left: 2px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.studentHoursInfoBorder {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	margin-right: 15px;
	margin-left: 3px;
	padding-left: 2px;
	width: 45px;
	float: left;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.studentHoursInfoBorderBranch {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	margin-right: 11px;
	margin-left: 3px;
	padding-left: 2px;
	width: 35px;
	float: left;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.studentPriceInfoBorder {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	width: 65px;
	float: left;
	text-align: right;
	text-decoration: line-through;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.studentPriceInfoBorderBranch {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	width: 65px;
	float: left;
	text-align: right;
	margin-left: 2px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.studentPriceInfoBorderExtra {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	width: 9.9%;
	float: left;
	text-align: right;
	/*border-top:1px solid #CCCCCC;*/
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	color: #FF0000;
}

.studentdiscountExtra {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	width: 65px;
	float: left;
	text-align: right;
	margin-left: 2px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	color: #FF0000;
}

.studentgrandTotal {
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	width: 65px;
	float: left;
	text-align: right;
	margin-left: 2px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}

.stuButton {
	FONT-SIZE: 13px;
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/1.jpg);
	WIDTH: 160px;
	PADDING-TOP: 4px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 25px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}

.stuMain {
	MARGIN-TOP: 25px;
	FLOAT: left;
	WIDTH: 150px;
	/*padding-left:25px;	*/
}

.contDesc {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	margin-left: 22px;
	margin-top: 15px;
	border: 1px solid #CCCCCC;
	width: 550px;
}

.stuButtonSec {
	HEIGHT: 30px;
	float: left;
}

.stuButtonSec1 {
	WIDTH: 10px;
	HEIGHT: 30px;
}

.leftNavStuButton {
	font-size: 11px;
	font-variant: small-caps;
	color: #000000;
	padding: 5px 3px 0px 6px;
	text-align: center;
	FLOAT: left;
	BACKGROUND-IMAGE: url(../images/1.jpg);
	WIDTH: 150px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 30px;
	TEXT-DECORATION: none
}

.studentSumbit {
	FONT-SIZE: 13px;
	FLOAT: right;
	BACKGROUND-IMAGE: url(../images/1.jpg);
	WIDTH: 150px;
	MARGIN-RIGHT: 15px;
	PADDING-TOP: 5px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 18px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}

.billingSumbit {
	FONT-SIZE: 13px;
	FLOAT: right;
	BACKGROUND-IMAGE: url(../images/4.jpg);
	WIDTH: 105px;
	MARGIN-RIGHT: 15px;
	PADDING-TOP: 5px;
	BACKGROUND-REPEAT: no-repeat;
	HEIGHT: 18px;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}

.purchaseLeft {
	FLOAT: left;
	WIDTH: 130px;
	HEIGHT: 22px;
	BACKGROUND-COLOR: #3399cc
}

.purchaseLeft1 {
	FLOAT: left;
	WIDTH: 150px;
	HEIGHT: 22px;
	BACKGROUND-COLOR: #3399cc
}

.addbranchleftNew {
	FLOAT: left;
	WIDTH: 280px;
	HEIGHT: 22px;
	BACKGROUND-COLOR: #3399cc
}

/** Breadcums */
div.rightnavBcr {
	width: 75%;
	float: right;
}

.colorNav {
	font-size: 11px;
	color: #003399;
	font-weight: bold;
}

.colorNavNtBold {
	font-size: 11px;
	color: #003399;
}

input.boxWidth {
	width: 12px;
}

input.boxWidth3 {
	width: 36px;
}

input.boxWidth2 {
	width: 24px;
}

input.boxWidth4 {
	width: 48px;
}

fieldset.formFooterSet {
	clear: both;
	text-align: center;
	border: 0px none;
	padding: 10px 3px 16px 6px;
	margin: 0px 0px 0px 0px;
}

/***************************************************/
	/* End CSS For Select student school course page  */
	/**************************************************/
	/***************************************************/
	/* CSS For Course Description  */
	/**************************************************/
span.markTextInBlack {
	color: #000000;
	font-weight: bold;
}

span.unmarkTextInBlack {
	color: #000000;
	text-decoration: line-through;
}

span.warningTextInRed {
	color: #CC0000;
	font-weight: bold;
}

ol.listHeader {
	color: #000000;
}

li.listItem {
	color: #000000;
	list-style-type: decimal;
}

/***************************************************/
	/* End CSS For Course Description  */
	/**************************************************/
	/***************************************************/
	/* CSS For Showcase Player  */
	/**************************************************/
a.alert_link {
	color: #FF0000;
}

a.alert_link:link,a.alert_link:visited {
	color: #FF0000;
}

a.alert_link:hover,a.alert_link:active {
	color: #000000;
}

span.unmarkText {
	color: #FF0000;
	text-decoration: line-through;
}

span.markText {
	color: #336633;
	font-weight: bold;
}





div.showcase_listRowHeader {
	height: 26px;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	clear: left;
	
}



#showcase_listRowBigCol{
	float: left;
	text-align: left;
	width: 75px;
	overflow-x: visible;
	overflow-y: visible;
	vertical-align: middle;
	
	
}

#showcase_listRowWideCol {
	float: left;
	width: 225px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	vertical-align: middle;
	
	
}

div.listRowValuew {
	padding: 2px 3px 2px 3px;
	font-size: 11px;
	overflow: hidden;
	color: #000000;
	clear: both;
}


#showcase_oddRow{
	overflow-x: visible;
	overflow-y: visible;
	background-color: #FFFFFF;
	border-left-style: double;
	border-left-color: #DDF8FF;
	border-right-style: double;
	border-right-color: #DDF8FF;
	border-bottom-style: double;
	border-bottom-color: #DDF8FF;
	border-width: 1px;
}

#showcase_evenRow{
	overflow-x: visible;
	overflow-y: visible;
	background-color: #DDF8FF;
	border-left-style: double;
	border-left-color: #DDF8FF;
	border-right-style: double;
	border-right-color: #DDF8FF;
	border-bottom-style: double;
	border-bottom-color: #DDF8FF;
	border-width: 1px;
}


.showcase_rows{
	font-size: 11px;
	overflow: hidden;
	color: #000000;
	clear: both; 
	padding: 2px 0px 5px 2px;
}

.showcase_courseTitle{
	float:left;
	text-align:left;
	overflow-x:visible;	
	overflow-y:visible;
	width:225px;
	vertical-align: middle;
	padding: 2px 0px 5px 2px;
	}

.showcase_expDate{
	float:left;
	text-align:left;
	overflow-x:visible;	
	overflow-y:visible;
	width:75px;
	vertical-align: middle;
	padding: 2px 0px 5px 2px;
	
	}

.showcase_req{
	float:left;
	text-align:left;
	overflow-x:visible;	
	overflow-y:visible;
	width:225px;
	vertical-align: middle;
	padding: 2px 0px 5px 2px;
	
	}

#showcase_listRowFullWideCol {
	float: left;
	width: 340px;
	text-align: left;
	overflow-x: visible;
	overflow-y: visible;
	vertical-align: middle;
	padding: 2px 0px 5px 2px;
}


.mainSummaryTitle{
	height:15px;
	width:65%;float:
	left;margin-top:10px;
	margin-left:10px;
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	border-bottom: #bebebe 2px solid;
	border-left: #eeeeee 1px solid;
}

.summaryTitle{
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	padding-left:2px;
}

.mainSummaryTitleRight{
	height:19px;
	width:80%;
	float:left;	
	margin-top:10px;
	margin-left:10px;	
}
.summaryTitleRight{
	width:100%;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	float:right;
	text-align: right;
	padding-left:0px;
}

.mainSummaryTitleBox{
	height:15px;
	width:15%;
	float:right;
	margin-left:10px;
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	border-bottom: #bebebe 2px solid;
	border-left: #eeeeee 1px solid;
	margin-top:10px;
}
.summaryTitleBox{
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	padding-left:2px;
}

#formFieldLeftLabelright{
	width: 43%;
	float: right;
	padding: 6px 0px 3px 24px;
	text-align: left;
	
}

.review_info{
	height:15px;
	width:220px;
	float:left;
	margin-top:10px;
	padding-right:5px;
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	border-bottom: #bebebe 2px solid;
	border-left: #eeeeee 1px solid;
}

.review_info_extended{
	height:15px;
	width:500px;
	float:left;
	margin-top:10px;
	padding-right:5px;
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	border-bottom: #bebebe 2px solid;
	border-left: #eeeeee 1px solid;
}

.review_total{
	height:15px;
	border-right: #bebebe 2px solid;
	border-top: #eeeeee 1px solid;
	border-bottom: #bebebe 2px solid;
	border-left: #eeeeee 1px solid;
	margin-top:10px;
}

.reveiw_user_link{
    width:195px;
}

.too_tip{
    position:absolute;
    visibility:hidden;
    background:lightyellow;
	border:1px solid gray;
	padding:2px;font-size:8pt;
	font-family:Verdana;
}
/*Start Certificate Css*/
.input2 {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 20px; 
	text-align: center;
	font-size: 14px;
}
.input3 {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 20px; 
	font-weight: bold;
	font-size: 14px;
}
.input_underline {
	BORDER-TOP: #FFFFFF 0px solid; 
	BORDER-RIGHT: #FFFFFF 0px solid; 
	BORDER-LEFT: #FFFFFF 0px solid; 
	BORDER-BOTTOM: #000000 1px solid;
	HEIGHT: 25px; 
	text-align: center;
	font-size: 16px;
}
.input_underline2 {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: groove;
	HEIGHT: 25px; 
	text-align: center;
	font-size: 14px;
}
.input3_underline {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: groove;
	HEIGHT: 20px; 
	font-weight: bold;
	font-size: 14px;
}
.input3_boxes {
	BORDER-TOP-STYLE: groove; 
	BORDER-RIGHT-STYLE: groove; 
	BORDER-LEFT-STYLE: groove; 
	BORDER-BOTTOM-STYLE: groove;
	width: 100px;
	HEIGHT: 20px; 
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.boxes {
	BORDER-RIGHT: black 2.25pt double; 
	PADDING-RIGHT: 5.4pt; 
	BORDER-TOP: black 2.25pt double; 
	PADDING-LEFT: 5.4pt; 
	PADDING-BOTTOM: 0in; 
	BORDER-LEFT: black 2.25pt double; 
	PADDING-TOP: 0in; 
	BORDER-BOTTOM: black 2.25pt double;
	text-align: center;
}
.text {
	font-family: Arial;
	font-size: 16px;
}
.text2 {
	font-family:"Monotype Corsiva";
	font-size: 10pt;
}
.text3 {
	font-family:"Monotype Corsiva";
	font-size: 14pt;	
}
.certheading {
	font-family: "Arial";
	font-size: 24pt;
	font-weight: bold;
	font-style: italic;
}
.certsubheading {
	font-family: "Arial";
	font-size: 20pt;
	font-weight: bold;
}

.certtext {
	font-family: Arial;
	font-size: 12px;
}
.certtext2 {
	font-family: Arial;
	font-size: 14px;
}
.certtext3 {
	font-family: Arial;
	font-size: 16px;
}
.certinput {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 20px; 
	text-align: center;
	font-size: 14px;
	font-weight:bold;
}
.certinputhead {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 30px; 
	text-align: center;
	font-size: 24px;
}
.certinputsubhead {
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BORDER-BOTTOM-STYLE: none;
	HEIGHT: 24px; 
	text-align: center;
	font-size:20px;
}
.certinput_underline {
	BORDER-TOP: #FFFFFF 0px solid; 
	BORDER-RIGHT: #FFFFFF 0px solid; 
	BORDER-LEFT: #FFFFFF 0px solid; 
	BORDER-BOTTOM: #000000 1px solid;
	HEIGHT: 25px; 
	text-align: center;
	font-size:14px;
	font-weight:bold;
}


.heading {
	font-family: "Arial";
	font-size: 30pt;
	font-weight: bold;
	font-style: italic;
}
.subheading {
	font-family:"Monotype Corsiva";
	font-size: 16pt;
	font-weight: bold;
}
.landscape	{ 
	/*size:landscape;*/
}
/*End Certificate Css*/

/***************************************************/
	/* End CSS For Showcase Player  */
	/**************************************************/
#mrktng{
	margin-top: 10px;
	padding: 10px;
	font-size: 1.7em;
	text-align: center;
	color: #003399;
	
	}
	.fax{
	font-size: 54pt;
	}
	/*for manual purchase*/
.pageContentText2{
	color:black;
	padding:25px;
	padding-right:0px;
	font-size:11px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
}
.text6 {
	font-family: Arial;
	font-size:10px;
}
.text10 {
	font-family: Arial;
	font-size: 16px;
}