﻿@media print {
	#print_certificate {
		display:none;
	}
}
.certificate_logo {
	position:relative;
	text-align:center;
	width:670px;
	height:910px;
	background-image: url(../images/bewatermark.gif);
}
.course_completion {
	position:absolute; 
	top:450px;
	width:670px;
	color:#aaa; 
	font-family:times new roman;
	font-size:28px; 
	text-align:center;
}
#logo_graphic {
	position:relative;
	text-align:center;
	width: 670px;
	height:910px;
	border:0;
}
.student_name {
	position:relative; 
	width:570px; 
	color:#000; 
	font-family:times new roman;
	text-align:center;
	line-height:40px;
	font-size:32px;  
}
.font1 {
	position:relative; 
	width:570px; 
	color:#000; 
	font-family:times new roman;
	text-align:center;
	line-height:40px;
	font-size:32px; 
}
.font2 {
	position:relative;
	width:570px;
	color:#7f7f7f; 
	font-family:times new roman;
	text-align:center;
	vertical-align: bottom;
	line-height:40px;
	font-size:26px;
}
#topLayer {
	position:absolute;
	padding-top:80px;
	padding-left:48px;
	z-index:10;
	text-align:center;
}