﻿
@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);
}
<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Arizona Insurance Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools' Arizona Insurance Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<br>
<b><u>Import Instructions</u></b><br>
To Renew Your License:
<ol>
<li>ProSchools reports continuing education credit to Prometric within 15 calendar days of course
completion as required by the Arizona Department of Insurance.</li>
<li>Keep your original certificate of completion in your file for 5 years.</li>
</ol>
<br><br><br>
For more information, visit the Arizona Department of Insurance online at:
<br>
<div class="intro_ref"><a target=_blank href="http://www.id.state.az.us/">http://www.id.state.az.us/</a></div>
<br>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>State of Arizona</b><br>
		<b>Department of Insurance</b><br>
		<b>Certificate of Completion</b><br>
	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Producer's Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Producer's License Number</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Eduction Provider:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Number:</td>
	<td class="completion_data">S16596</td>
</tr>

<tr width=100%>
	<td class="completion_labelsm">I certify that the student named on this certificate completed the course
identified on this certificate.</td>
	<td class="completion_datasm">I certify that I personally completed the above course. In understand that submitting a<br>
false or fraudulent certificate of completion to the Arizona Department of Isurance may<br>
subject any application for an insurance license to denial and any issued license to<br>
suspension or revocation, may subject me to other civil and/or criminal actions and may<br>
impact my ability to become licensed in the future.</td>
</tr>

</table>
<img src="/Certificates/Default/Insurance_as1.png" border=0 id="certificate_heading" style="style="text-align:left"><br>


<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>