﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<div id="CertificateHeading">
	<br>

</div>
<div id="NameLine" class="font2">This completion certificate notice is not your official certificate of completion and is not approved by TREC. Your TREC approved certificate will be mailed to you via US mail. Thank you for Completing @Model.TrainingProgram.Name . </div>
<div id="StudentName" class="student_name" style="padding-bottom:5px;">@Model.UserFullName</div>  
<div id="TestDate" class="font1">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</div>


