﻿/**** BankersEdge Default theme skin ****/

#full-screen-background-image 
{
	display: none;
}

.TopPageNav {
  display: none;
}

.artisan-site-image
{
	background-image: url(img/site_logo.png);
}

.artisan-course-image
{
	background-image: url(img/course_logo.png);
}