﻿    <link href="./js/media_players/VideoJS_5/video-js_min.css" rel="stylesheet" />
    <script type="text/javascript" src="./js/media_players/VideoJS_5/ie8/videojs-ie8_min.js"></script>
    <script type="text/javascript" src="./js/media_players/VideoJS_5/video_min.js"></script>