.Money {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	text-align: right;
	width:90px;
	border: 1 solid Black;
}
.InvMoney {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	text-align: right;
	width:90px;
	border: 1 solid red;
}
.MoneyTotal {
	font-family: "Courier New", Courier, mono;
	font-weight : 700;
	font-size: 13px;
	width: 90px;
	border: 1px solid White;
	text-align: right
}
.MoneyDisabled {
	font-family: "Courier New", Courier, mono;
	font-weight : normal;
	font-size: 11px;
	text-align: right;
	width: 90px;
	border: 0px solid White;
}
.MoneyBox {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	text-align: right;
	border: 1 solid;
}
.InvMoneyBox {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	text-align: right;
	border: 1 solid red;
}

body>form>table {
	background-color:#00FF00;
	font-size: 12px;
	margin-left:14px;
}

body>table {
	background-color:#00FF00;
	font-size: 12px;
	margin-left:14px;
}

form {
}

td  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
}

tr  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
}

th {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 700;
    text-align: left;    
}

.alt {
    background-color : D8F2FF;
}

.BSheading {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 700;
  	border-top : thin solid Black;
  	border-bottom : thin solid Black;    
}

TABLE  {
	border : thin solid Black; 
}

.spanCaption {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 700;
}

A.lnk {
	font-family : Arial;
	font-size : 15px;
	color : Black;
}
