﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Colorado Real Estate Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Colorado Real Estate Prelicense Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<br>
<b><u>Import Instructions</u></b><br><br>
&#8226; Use the data on your certificate to complete license renewal paperwork for the Colorado Real Estate Division.<br>
&#8226; All questions and requests for information about the licensing examination should be directed to: 
<p align="center">PSI licensure: certification<br>
3210 E. Tropicana<br>
Las Vegas, NV 89121<br>
phone: (800) 733-9267 fax: (702) 932-2666<br>
</p>
<br>
Detailed instructions regarding the submission of your license application may be found at the Colorado Real
Estate Division's website below.
<br>
<div class="intro_ref"><a target=_blank href="www.dora.state.co.us/real-estate/licensing/licinfo.htm">www.dora.state.co.us/real-estate/licensing/licinfo.htm</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Colorado Prelicense Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_labeltitle" colspan="2" >PRELICENSE COURSE IDENTIFICATION</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">&nbsp;</td>
	<td class="completion_data">@Model.TrainingProgram.Description</td>
</tr><tr width=100%>
	<td class="completion_label">Course #:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Start Date:</td>
	<td class="completion_data">@Model.FormatDate(@Model.TrainingProgram.StartDate.Value)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr>


<tr width=100%>
	<td class="completion_label">Provder Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Instructor Name:</td>
	<td class="completion_data">Home Study</td
</tr>
<tr width=100%>
	<td class="completion_label">Required Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Correspondence</td>
	<td class="completion_data">Yes</td>
</tr>



</table>
<br>
<div class="completion_footer4"><b>PROVIDER CERTIFICATION</b><br>I hereby certify that this course was conducted as approved by the Colorado Division of Real Estate. I further certify that the person whose name appears
above did personally complete this course on the date cited.</div>


<img src="/Certificates/Default/garytaylor3.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>