﻿/**** Aslan theme ****/

/* Sub-menu style */
body .SubNav,
body .kwicks-menu A,
body .kwicks-menu LI.selected 
{
    /* 73ACC6 */
    background: #786a57 url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
	
}
body .kwicks-menu li {
	border-right: 1px solid #FFFFFF;
}

body .kwicks-menu A:HOVER {
  color: #cd1719;
  background-color:#fff;
}

body .kwicks-menu LI.selected A {
  color: #fff;
  background-color:#cd1719;
}

body .kwicks-menu {
	height: 60px !important;
}

.artisan-progress {
	display:none;
}

/* Overall style */

BODY {
    line-height:1.6em;
}

html, body
{
	height:100%;
	width:100%;
	background-color:#bfbfbf;
}

H1 {
  margin: 10px 0;
  color: #73ACC6;
}

H2 {
  margin: 8 0 10px;
  font-size: 20px;
}

H3 {
  margin: 0 0 10px;
  font-size: 18px;
}

H2, H3, H4 {
  color: #786a57;
}

/*
UL, OL, DL {
  margin: 1.4em 0;
}*/

.Header {
  background: #f7f7f7;
}

.Header .Logo {
  height:10px;
}
.Header .Logo A {
  display:none;
}

.TitleBar {
  background: #96adb7 url(img/course_title_bg.jpg) repeat center top;
}

.Main {
  height:auto;
  background:#bfbfbf;
}
.MainWrapper {
  background-color: #ffffff;
}

.ContentWrapper {
  background: #fdfafa;
}

.row .row {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */ 
}

.TitleBar {
  border-radius: 5px 5px 0 0;
}

.TitleBar h1{
  color: #786A57;
  padding-top:7px;
}

.Content .p .icon h3{
	color:#786a57;
}

.Content .ContentWrapper {
  border:1px solid #DBDBD8;
  border-top:0;
}

.Content .ContentWrapper .p,
.Content .ContentWrapper h3,
.Content .ContentWrapper .artisan-question {
  background: #fff;
}

.Content .ContentWrapper h3 
{
    padding: 1em;
}

.Content .ContentWrapper SECTION {
  background: #fff;
  padding: 1em 2em;
}

.element_text img{
  padding: 5px;
  border: 1px solid #dbdbd8;
}

.TopPageNav {
  display: none;
}

.p .icon h3
{
    line-height:1.2em;
}
.p .icon p
{
    color:inherit;
}
#artisan-submenu{
    /*border-top: 1px solid transparent;*/
}
#full-screen-background-image
{
    display:none;
}

.artisan-page-numbers {
	color: #786a57;
}

.button, BUTTON {
  background: #786a57;
}
.button:HOVER, BUTTON:HOVER {
  background-color: #786a57;
}
.button:ACTIVE, BUTTON:ACTIVE {
  background-color: #786a57;
}

INPUT[type=submit], INPUT[type=button] {
  background: #786a57;
}

.artisan-site-image
{
	background-image: url(img/site_logo.png);
}

.artisan-course-image
{
	background-image: url(img/course_logo.png);
	width: 144px;
	height: 39px;
}