﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Wyoming Real Estate</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Wyoming Real Estate Course, <i>@Model.TrainingProgram.Name</i>
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies
sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed
at a later time by logging into your account.<br>
<br>
<b><u>Import Instructions</u></b><br><br>
<ol>
<li>Retain your certificate of completion. You will need to submit it as part of your real estate license
application process.</li><br>
<li>Complete Salesperson II course in a classroom setting. Refer to the Wyoming Real Estate Commission
site for a list of schools that provide this 24-hour course.
</li><br>
<li>Apply for and pass the state licensing exam.</li>
</ol>
<br>
Detailed instructions regarding the submission of your license application may be found at the Wyoming Real
Estate Division's website below.
<br>
<div class="intro_ref"><a target=_blank href="realestate.state.wy.us">realestate.state.wy.us</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Wyoming Real Estate Prelicense Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr>

<tr width=100%>
	<td class="completion_labeltitle" colspan="2" >PRELICENSE COURSE IDENTIFICATION</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Instructor Name:</td>
	<td class="completion_data">Gary Taylor</td>
</tr><tr width=100%>
	<td class="completion_label">Number of Clock Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr>




</table>
<br>


<img src="/Certificates/Default/garytaylor3.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>