﻿.certificate_logo{
    background-image: url(/images/logos/waterstone_cert.jpg);
}
.font1
{
    color:#3B5A6F;
    font-family:"Bell MT";
    font-weight:bold;
  
}
.font2
{
    color:#808080;
     font-family:"Bell MT";
     font-weight:bold;
     font-size:32px;

}
.student_name
{
    color:#3B5A6F;
     font-family:"Bell MT";
     font-weight:bold;

}
