.bodyBase {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.mainBodyText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;

}
.headerBase {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.zHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;

}
