   body{
	scrollbar-3dlight-color: Blue;
	scrollbar-arrow-color: White;
	scrollbar-darkshadow-color: #EFEBF7;
	scrollbar-highlight-color: White;
	scrollbar-shadow-color: Blue;
	scrollbar-track-color : #C6C7E7;
	scrollbar-face-color : #A5A2D6;
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11pt;
	font-style : normal;
	font-weight : normal;
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	text-align: left ;
	font-weight: bold;
}
.standard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}
.standardBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold
}
.standard9pts {
	font-family: Arial;
	font-size: 9pt;
}

.symbol {
	font-family: Symbol;
	font-size: 14px;
	font-weight: bold
}

.creditsPlain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	margin-left : 5px;
}
.creditsBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #990000
}

.bullets {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: normal;
	text-indent: 0pt
}

.hSliderTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: bold
}
.hSliderLabels {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal
}

.tableNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal
}
.tableBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold
}
.centered_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.glossaryDefinition {
	font-family: Arial;
	font-size: 8pt;
	font-weight: normal
}
.glossaryVocablary {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold
}
.exerciseAnswer {
	font-family: Arial;
	font-size: 14pt;
	font-style: normal;
	font-weight: normal
}
.exerciseAnswerForUser {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold
}
.exerciseInstructions {
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold
}
.exerciseCorrect {
	font-family: Arial;
	font-size: 8pt;
	color: #009900;
	font-weight: bold
}
.exerciseIncorrect {
	font-family: Arial;
	font-size: 8pt;
	color: #990000;
	font-weight: bold
}

a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #990000
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #993300;
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #0000FF;
	text-decoration : none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #0000FF;
	text-decoration : none;
}

a.lesson:link {
	COLOR: Blue;
	TEXT-DECORATION: none;
	font : 11pt Arial, Helvetica, sans-serif;
}
a.lesson:visited {
	COLOR: Blue;
	TEXT-DECORATION: none;
	font : 11pt Arial, Helvetica, sans-serif;
}
a.lesson:hover {
	COLOR: Blue;
	TEXT-DECORATION: none;
	font : 11pt Arial, Helvetica, sans-serif;
}

a.lesson9pt:link {
	COLOR: Blue;
	TEXT-DECORATION: none;
	font : 9pt Arial, Helvetica, sans-serif;
}
a.lesson9pt:visited {
	COLOR: Blue;
	TEXT-DECORATION: none;
	font : 9pt Arial, Helvetica, sans-serif;
}
a.lesson9pt:hover {
	COLOR: Blue;
	TEXT-DECORATION: none;
	font : 9pt Arial, Helvetica, sans-serif;
}

a.glossary:active {
	color: Red;
	text-decoration : underline;
	font : 11pt Arial, Helvetica, sans-serif;
}
a.glossary:link {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : 11pt Arial, Helvetica, sans-serif;
}
a.glossary:visited {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : 11pt Arial, Helvetica, sans-serif;
}
a.glossary:hover {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : 11pt Arial, Helvetica, sans-serif;
}
a.glossary9ptbold:active {
	color: Red;
	text-decoration : underline;
	font : bold 9pt Arial, Helvetica, sans-serif;
}
a.glossary9ptbold:link {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : bold 9pt Arial, Helvetica, sans-serif;
}
a.glossary9ptbold:visited {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : bold 9pt Arial, Helvetica, sans-serif;
}
a.glossary9ptbold:hover {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : bold 9pt Arial, Helvetica, sans-serif;
}
a.glossary9pt:active {
	color: Red;
	text-decoration : underline;
	font : normal 9pt Arial, Helvetica, sans-serif;
}
a.glossary9pt:link {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : normal 9pt Arial, Helvetica, sans-serif;
}
a.glossary9pt:visited {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : normal 9pt Arial, Helvetica, sans-serif;
}
a.glossary9pt:hover {
	COLOR: Black;
	TEXT-DECORATION: underline;
	font : normal 9pt Arial, Helvetica, sans-serif;
}
a.dyk:link {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.dyk:visited {
	font : 11pt Arial, Helvetica, sans-serif;
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.dyk:hover {
	font : 11pt Arial, Helvetica, sans-serif;
	COLOR: Blue;
	TEXT-DECORATION: none
}

a.popUp:link {
	font : 11pt Arial, Helvetica, sans-serif;
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.popUp:visited {
	font : 11pt Arial, Helvetica, sans-serif;
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.popUp:hover {
	font : 11pt Arial, Helvetica, sans-serif;
	COLOR: Blue ;
	TEXT-DECORATION: none
}

a.web:link {
	font : 11pt Arial, Helvetica, sans-serif;
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.web:visited {
	font : 11pt Arial, Helvetica, sans-serif;
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.web:hover {
	font : 11pt Arial, Helvetica, sans-serif;
	COLOR: Blue;
	TEXT-DECORATION: none
}


.input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-color: Black Black Black Black;
	text-align: center;
	width: 12px;
	height: 17px;
	vertical-align: middle;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-size: 10px
}
.inputText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: Black;
	text-align: center;
	vertical-align: middle;
	font-size: 10px ;
	border-style: none
}
.valueInterval {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4A657B;
	padding-left: 17px;
	padding-right: 17px
}
.dialogueTable {  border: 1px outset}
.shadow {
	filter: DropShadow(Color=#848484, OffX=1, OffY=1, Positive=1);
	text-decoration: none ;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	text-align : center;
	font-weight : bold;
}
.total {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal}

a.editableVariable:link {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #000000; text-decoration: none; }
a.editableVariable:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #000000; text-decoration: none; }
a.editableVariable:active {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #ff0000; text-decoration: none; }

a.editablePaneVariable:link {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #000000; text-decoration: none; }
a.editablePaneVariable:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #000000; text-decoration: none; }
a.editablePaneVariable:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #000000; text-decoration: none; }
a.editablePaneVariable:active {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #ff0000; text-decoration: none; }

.NEFinput {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-color: Black Black Black Black;
	text-align: center;
	width: 15px;
	height: 20px;
	vertical-align: middle;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-size: 11px
}

.NEFinputText {
	font-family: Arial, Helvetica, sans-serif;
	color: Black;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	border-style: none;
	font-weight : bold;
}


.pageFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
a.pageFooterLink:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

a.pageFooterLink:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

a.pageFooterLink:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
