﻿* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	color: #333333;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
    margin: 0;
	padding: 5px;
}

body, button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	color: #54c2f9;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Hide non-essential login elements */
#page_logo,
.x-window-proxy,
.x-shadow,
.x-window .x-window-tl,
.x-window .x-window-bl,
#ctl00_Body_login table td.symphony-logo,
#Body_login table td.symphony-logo {
    display: none !important;
}

/* Override existing styles */
.x-window {
  position: relative !important;
  z-index: 9003 !important;
  visibility: visible !important;
  left: auto !important;
  top: auto !important;
  display: block !important;
  width: auto !important;
}

.x-window-ml,
.x-window-mr {
    background: transparent;
    padding: 0;
}

.x-window-mc {
    background: transparent;
    border: 0;
    font: inherit;
}

.x-window-body {
    padding: 0 !important;
    width: auto !important;
}

.box {
    margin: 0;
}

/* Style the login form */
#ctl00_Body_login,
#ctl00_Body_login table,
#Body_login,
#Body_login table {
    width: 100%;
}

#ctl00_Body_login table td,
#Body_login table td {
    display: block;
    position: relative;
    text-align: left;
}

#ctl00_Body_login label,
#Body_login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#ctl00_Body_login input#ctl00_Body_login_UserName,
#ctl00_Body_login input#ctl00_Body_login_Password,
#Body_login input#Body_login_UserName,
#Body_login input#Body_login_Password {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
	margin-bottom: 20px;
    padding: 6px 12px;
    width: 100% !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#ctl00_Body_login_LoginButton,
Body_login_LoginButton {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #50b8ec;
    background: -moz-linear-gradient(top, #54c2f9 0%, #4badde 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54c2f9), color-stop(100%, #4badde));
    background: -webkit-linear-gradient(top, #54c2f9 0%, #4badde 100%);
    background: -o-linear-gradient(top, #54c2f9 0%, #4badde 100%);
    background: -ms-linear-gradient(top, #54c2f9 0%, #4badde 100%);
    background: linear-gradient(to bottom, #54c2f9 0%, #4badde 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54c2f9', endColorstr='#4badde', GradientType=0);
    -webkit-box-shadow: 0px 1px 3px 0px #666666;
    box-shadow: 0px 1px 3px 0px #666666;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    padding: 3px 12px;
    min-width: 138px;
    font-size: 20px;
    font-family: 'Open Sans Condensed', 'Open Sans', Helvetica, Arial, sans-serif;
    float: right;
}
    Body_login_LoginButton:hover,
    #ctl00_Body_login_LoginButton:hover {
        background-color: #70c5ef;
        background: -moz-linear-gradient(top, #76cefa 0%, #69bbe4 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76cefa), color-stop(100%, #69bbe4));
        background: -webkit-linear-gradient(top, #76cefa 0%, #69bbe4 100%);
        background: -o-linear-gradient(top, #76cefa 0%, #69bbe4 100%);
        background: -ms-linear-gradient(top, #76cefa 0%, #69bbe4 100%);
        background: linear-gradient(to bottom, #76cefa 0%, #69bbe4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76cefa', endColorstr='#69bbe4', GradientType=0);
        color: #ffffff;
        text-decoration: none;
    }
    Body_login_LoginButton:focus,
    #ctl00_Body_login_LoginButton:focus {
        outline: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

#ctl00_Body_login_UserNameRequired,
#ctl00_Body_login_PasswordRequired,
#Body_login_UserNameRequired,
#Body_login_PasswordRequired
 {
  left: 80px;
  position: absolute;
  top: -26px;
}