﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}
<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Idaho Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	Congratulations! You have successfully completed ProSchools’ Idaho Real Estate Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
<b><u>Import Instructions</u></b><br><br>
To renew your license:
<ol>
<li>ProSchools has been electronically notified that you have completed this course, and will report your
course completion to the state of Idaho within 5 days as required. Please keep a copy of this certificate
for your records.</li>
<li>Once the state has received confirmation of your course completion and you have received your renewal
 application in the mail you may go online to submit your license renewal request. Please visit the state’s
 website for detailed instructions:</li>
</ol>
<br>

<br>
<div class="intro_ref"><a target=_blank href="http://irec.idaho.gov/index.html">http://irec.idaho.gov/index.html</a></div>
<br>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Idaho Real Estate Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Licensee Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr><tr width=100%>
	<td class="completion_labeltitle" colspan="2" >CONTINUING EDUCATION COURSE IDENTIFICATION</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Approval Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Enrollment Date:</td>
	<td class="completion_data">@Model.FormatDate(@Model.TrainingProgram.StartDate.Value)</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr>


</table>
<br><br><br><br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>