body, td, th { font-family: Verdana; font-size: xx-small; color: black}
.title { font-size: medium; font-family: Arial; color: navy }

.propertySection { text-decoration: underline }

.sequencing { color: red }
.runtime {color: blue }
.control {color: green }
.lookahead {color: purple }
.info {color: black }
.sequencingreadable {color: maroon }

.sequencingreadable .info  {color: maroon }

div { margin-left: 20px;}
div.details { display: none; }

link {cursor: pointer;}

a, a#visited {color: black; text-decoration: none; cursor: pointer;}
a#hover {color: blue; cursor: pointer;}

li {list-style: none}

#errorreport 
{
    display: none; 
    padding: 10px; 
    border: 3px solid red; 
    width: 50%; 
    height:50%; 
    background-color: #eee9e9; 
    font-size: 10pt; 
    font-weight: bold 
}