﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<!-------------------------------------------------------------------------->

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/tp_aes2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<div class="intro_text">
<br><br>
	This will certify that @Model.UserFullName has taken and completed our program of studies for the course entitled:
<br><br>
@Model.TrainingProgram.Name
<br>
Course Number: @Model.TrainingProgram.InternalCode
<br><br>
The Provider and above course(s) are approved by the Nationwide Mortgage Licensing System and Registry, and satisfy the 8 hours of required education under the S.A.F.E. Mortgage Licensing Act.
<br><br>
Course Provider ID: 1400013
	</div>
<br><br>


<table width=100%>
<tr width=100%>
	<td class="completion_labeltitle2cnt" width=50%>Issue Date: @Model.FormatDate(targetTime)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data" width=50%><img src="/Certificates/Default/patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>


