﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>NMLS Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	Congratulations! You’ve successfully completed your NMLS online coursework.
	<br><br>
<b>Banking Credit Hours</b><br>
Official notification of your course completion will take place electronically when ProSchools uploads your
student record to the National Mortgage Licensing System and Registry (NMLS). Please be aware that
NMLS allows education providers seven calendar days to upload student credit completion data. Completion records 
are typically uploaded two business days following the session end date.
<br><br>
To ensure your credit hours are promptly banked, you must ensure the NMLS Unique ID and the name on your
Certificate of Completion identically matches your NMLS record. The NMLS website and NMLS Call Center
are helpful resources if you need assistance verifying your information. The NMLS Call Center phone number is 1-855-NMLS-123 
 or visit the website at:<br><br><br>
<div class="intro_ref"><a target=_blank href="http://mortgage.nationwidelicensingsystem.org/">http://mortgage.nationwidelicensingsystem.org/</a></div>
<br><br><br>
<b>Certificate of Completion</b><br>
The following Certificate of Completion is for your personal records only and evidences completion of the online
coursework. Official notification of your completion to NMLS will occur electronically<br><br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
<b>NMLS Prelicense Education</b><br>
<b>Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">NMLS Unique ID:</td>
	<td class="completion_data">@Model.User.NmlsNumber</td>
</tr><tr width=100%>
	<td class="completion_label">Course Name:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Identification Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">OnCourse Learning Corporation <br> dba ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">NMLS ProviderID:</td>
	<td class="completion_data">1400010</td
</tr><tr width=100%>
	<td class="completion_label">Provider Address:</td>
	<td class="completion_data">Portland, OR</td>
</tr>
</table>
<br><br><br><br><br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>
