﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<!-------------------------------------------------------------------------->


<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/tp_aes2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<div class="intro_text">
<br><br>
	This will certify that @Model.UserFullName has taken and completed our program of studies of studies for twelve
units (12) of continuing education for Responsible Individuals in the course entitled "12 Hour Arizona Responsible
Individual Continuing Education: The Practical Originator's Guide to Mortgage Industry Essentials_2015" which is
comprised of the following units:<br><br>
<br>-Observation and Analysis: A Review of the New Integrated Disclosures (3 hours)
<br>-Privacy and Consumer Protection: Ethical Considerations for Mortgage Professionals (2 hours)
<br>-FHA Fundamentals (2 hours)
<br>-Keys to Compliance in Arizona Mortgage Lending (1 hour)
<br>-A Guide to Accurate Advertising: From A to (Reg) Z (1 hour)
<br>-Fair and Square: Promoting Fair Lending Practices in Mortgage Transactions (3 hours)
<br><br>
The Provider and above course satisfy the continuing education requirements for Arizona Responsible Individuals under
Arizona law.
<br><br>



<table width=100%>
<tr width=100%>
	<td class="completion_labeltitle2cnt" width=50% align=left >Issue Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data" width=50%><img src="/Certificates/Default//patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>


