﻿/**** BankersEdge Smooth theme skin: Custom for American Savings Bank****/



/* Sub-menu style */
body .SubNav,
body .kwicks-menu A,
body .kwicks-menu LI.selected {
  background: rgb(163, 217, 99) url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;
  border-right: none;
}

#artisan-submenu{
    border-top: 1px solid transparent;
	background: rgb(163, 217, 99) url(../../img/components/twicks_slider/bg.png) repeat-x 0 0;;
}



.MainNav {
	right: 20px;
}


#full-screen-background-image {
display: none;
}

body .kwicks-menu li {
	border-right: 1px solid #FFFFFF;
}

body .kwicks-menu A:HOVER {
  color: #6F6C6D;
  background-color:#fff;
}

body .kwicks-menu LI.selected A {
  color: #8fd16a
  background-color: rgb(237, 245, 224);
}

body .kwicks-menu {
	height: 60px !important;
}





/* Overall style */

BODY {
    line-height:1.6em;
	background: rgb(163, 217, 99);
}

html, body
{
	height:100%;
	width:100%;
}

H1 {
  margin: 10px 0;
  color: #73ACC6;
  font-size: 22px;
}

H2 {
  margin: 8 0 10px;
  font-size: 20px;
}

H3 {
  margin: 0 0 10px;
  font-size: 18px;
}

H2, H3, H4 {
  color: #003865 ;
}

/*
UL, OL, DL {
  margin: 1.4em 0;
}*/

.Header {
  background: rgb(163, 217, 99);
}
.button {
	background: #003865;
}
input[type=button]{
	background-color: #003865 ;
}
.button:HOVER, BUTTON:HOVER {
	background-color: #8fd16a;
}


.Main {
  border-top: 0px solid white;
  background-image: none;
  height:auto;
  background-color: #003865  
}

.MainWrapper {
  background-color: #ffffff;
}

.ContentWrapper {
  background: #ffffff;
}

.row .row {
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */ 
}

.TitleBar {
  border-radius: 5px 5px 0 0;
  background: #96adb7 url(img/course_title_bg.jpg) repeat center top;
  padding: 0px 20px;
	height: 60px;
}

.TitleBar h1{
  color: #003865  ;
  padding-top: 20px;
}

.Content .ContentWrapper h3 
{
    padding: 1em;
    background: rgb(242,247,253);
}
.Content .ContentWrapper .p, .Content .ContentWrapper h3, .Content .ContentWrapper .artisan-question{
 background: rgb(242,247,253);
}

.Content .ContentWrapper SECTION {
  background: #fff;
  padding: 1em 2em;
}

.element_text img{
  padding: 5px;
  border: 1px solid #dbdbd8;
}

.TopPageNav {
  display: none;
  background: rgb(237,245,224);
}
.p {
 background: rgb(237,245,224)
}
.p .icon h3
{
    line-height:1.2em;
}
.p .icon p
{
    color:inherit;
}




.artisan-site-image
{
	background-image: url(img/site_logo.png);
	height: 30px;
	width: 178px;
}

#artisan-review-page-question{
	background-color:rgb(237,245,224);

}
.artisan-course-image
{
	background-image: url(img/kalo.png);
	height: 41px;
	width: 42px;
	margin-top: 11px;
}
.artisan-progress-course-inner{
	background-color: rgb(255,192,0);
}
.artisan-progress-sco-inner{
        background-color: rgb(112,48,160);
}
.artisan-progress-course-percent {
	color: rgb(255,192,0);
}
.artisan-progress-sco-percent {
	color: rgb(112,48,160);
}


#Logo
{
    /*background-image: url(img/site_logo.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 10px;
    background-size:178px 30px;*/
}
.Header .Logo{
    height:50px;
}