﻿#portal .symphony-logo
{
/*    background-image:url(/images/logos/jssb.gif); */
    background-image:url(/images/logos/jssb.jpg); 

}
#login .symphony-logo
{
    /*background-image:url(/images/user.png);*/
}