﻿#portal .symphony-logo
{
   background-image:url(/images/logos/merchants.png); 
	right: auto;
	left: 0;
	height: 75px;
	background-position: bottom left;

}
#login .symphony-logo
{
    /*background-image:url(/images/user.png);*/
}