﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);


	
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Washington Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools' Washington Real Estate Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
<b>The following document serves as Proof of Completion.</b> Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<br>
<b><u>Important Instructions</u></b><br>

<ol>
<li>Sign and date your certificate. Unsigned certificate will not be considered valid.</li>
<li>Use the data on your certificate to complete license renewal paperwork for the Washington Department of Licensing.</li>
</ol>

<br>
Detailed instructions regarding the submission of your license renewal may be found at the Washington Department of Licensing website below.
<br>
<div class="intro_ref"><a target=_blank href="http://www.dol.wa.gov/business/realestate/">www.dol.wa.gov/business/realestate</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert_wa">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>

<b>Washington Real Estate Certificate of Completion</b><br>
<br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_center" colspan="2">CONTINUING EDUCATION COURSE IDENTIFICATION</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Certification#:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Start Date:</td>
	<td class="completion_data">@Model.FormatDate(@Model.TrainingProgram.StartDate.Value)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Certification Number:</td>
	<td class="completion_data">S1066</td
</tr><tr width=100%>
	<td class="completion_label">Instructor Name:</td>
	<td class="completion_data">Lynnell Morgan #I3436</td>
</tr>
<tr width=100%>
	<td class="completion_label">Number of Clock Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Exam Taken:</td>
	<td class="completion_data">Yes</td>
</tr>
</table>
<br>
<div class="completion_certification_title"><b><i>PROVIDER CERTIFICATION</b></i></div>
<div class="completion_certification"><i>I hereby certify that this course was conducted as approved by the Washington Real Estate Commission. I further certify that the person whose name appears above did personally complete this course on the date cited.</i></div>
<table width=100%>
<tr width=100%>
	<td class="completion_certification" width="30%" style="verticdal-align:top">Administrator Signature:</td>
	<td><img src="/Certificates/Default/PS WA CE/wa_signature.png" border=0 id="certificate_heading" style="text-align:left"></td>
</tr>
</table>
<div class="completion_certification_title"><b><i>STUDENT CERTIFICATION</b></i></div>
<div class="completion_certification"><i>I hereby certify that I personally completed the course listed above in the manner required to satisfy the Continuing Education regulation.</i></div>
<br>
<div class="completion_certification">Signature:_____________________________________________________________________</div>
<div class="completion_certification">Real Estate License Number: <u>&nbsp;@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber&nbsp;&nbsp;&nbsp</u> Date: ________________</div>

<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>
