﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/zoologic/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Washington Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools' Washington Real Estate Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.
<br><br><br>
<b><u>Important Instructions</u></b><br>
1. Sign and date your certificate. Unsigned certificate will not be considered valid.<br>
2. Use the data on your certificate to complete license renewal paperwork for the Washington Department of Licensing.
<br><br><br>
Detailed instructions regarding the submission of your license renewal may be found at the Washington Department of Licensing website below.
<br>
<div class="intro_ref"><a target=_blank href="http://www.dol.wa.gov/business/realestate/">www.dol.wa.gov/business/realestate</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/zoologic/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Washington Real Estate Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_data" colspan="2">CONTINUING EDUCATION COURSE IDENTIFICATION</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Name:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Certification#:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Start Date 2:</td>
	<td class="completion_data">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Certification Number:</td>
	<td class="completion_data">S1066</td
</tr><tr width=100%>
	<td class="completion_label">Instructor Name:</td>
	<td class="completion_data">Lynnell Morgan #I3436</td>
</tr>
<tr width=100%>
	<td class="completion_label">Number of Clock Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Exam Taken:</td>
	<td class="completion_data">Yes</td>
</tr>
</table>
<div class="completion_certification_title">PROVIDER CERTIFICATION</div>
<div class="completion_certification">I hereby certify that this course was conducted as approved by the Washington Real Estate Commission. I further certify that the person whose name appears above did personally complete this course on the date cited.</div>
<br>
<div class="completion_certification">Administrator Signature: </div>
<br><br>
<div class="completion_certification_title">STUDENT CERTIFICATION</div>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>