﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);


}
<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Ohio Insurance Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Ohio Insurance Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
To renew your license:<br>
<ol>
<li>ProSchools reports continuing education credit to Prometric within 15 calendar days of course
completion as required by the North Carolina Department of Insurance.</li>
<li>Keep your original certificate of completion in your file for 5 years.</li>
<li>For more information, visit the Ohio Department of Insurance online at:</li>
</ol>
<div class="intro_ref"><a target=_blank href="http://insurance.ohio.gov/Pages/default.aspx">http://insurance.ohio.gov/Pages/default.aspx</a></div>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>
	<div class="intro_title">
		<b>Ohio Department of Insurance</b><br>
		Continuing Education Course Completion Certification<br><br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Producer's Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">National Producer Number (NPN):</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr><tr width=100%>
	<td class="completion_center" colspan="2"><i>This certifies that the individual named has successfully completed the course requirements for:</i></td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Number:</td>
	<td class="completion_data">53079</td>
</tr>
<tr width=100%>
	<td class="completion_label">Provider Address:</td>
	<td class="completion_data">9400 SW Barnes Rd. Suite 400, Portland, OR 97225</td>
</tr>
</table>
<br>


<table width=100%>
<tr width=100%>
	<td width=70% class="completion_labelsm">I certify that the above named student has successfully completed the course
listed above.</td>
	<td class="completion_datasm">I certify that I personally completed the above course.</td>
</tr>


</table>
<img src="/Certificates/Default//mjackson_4.png" border=0 id="certificate_heading" style="style="text-align:left"><br>

<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>