﻿/* everything in here needs to be editor-specific */
.mceContentBody .element_text,
.mceContentBody .element_media
{
    border-color: #030;
    border-width: 1px;
    border-style: dashed;
    min-height:1.2em; /* all items always get at least a height of 1.2em */
}

/* videos get a background, because we don't load videos.js in the editor */
.video-container
{
    background: url(/images/video-play.png) no-repeat center #000;
}
.video-container video
{
    display:none;
}

body#tinymce > div.pdf-menu
{
    top: 18px;
    left: 20px;
    bottom: auto;
    overflow-y: auto;
    display: block;
}

body#tinymce > div.pdf-menu ul
{
    max-height: 120px;
    overflow: auto;
    list-style-type: none;
    margin: 5px;
    padding: 10px;

}