﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}
   

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Pennsylvania Life and Health Insurance Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Pennsylvania Insurance Prelicense Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
<ol>
<li>Save your certificate of completion. You must take it with you to the Prometric testing center, along
with a photo ID.</li>
<li>Register for your state exam by contacting Prometric at www.prometric.com or 1-800-715-2418.</li>
</ol>
Detailed instructions regarding the submission of your license submission may be found at the Commonwealth of
Pennsylvania Insurance Department.
<br>
<br>
<div class="intro_ref"><a target=_blank href="http://www.ins.state.pa.us">http://www.ins.state.pa.us</a></div>
<br>

<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>
	<div class="intro_title">
		<b>Pennsylvania Insurance Department Pre-Licensing Course Completion Certificate</b><br><br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Social Security Number:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr><tr width=100%>
	<td class="completion_center" colspan="2"><i>This certifies that the individual named has successfully completed the course requirements for:</i></td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Name</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Number:</td>
	<td class="completion_data">74051</td>
</tr>
<tr width=100%>
	<td class="completion_label">Provider Address:</td>
	<td class="completion_data">9400 SW Barnes Rd. Suite 400, Portland, OR 97225</td>
</tr>
<tr width=100%>
	<td class="completion_label">Provider Phone:</td>
	<td class="completion_data">800-452-4879</td>
</tr>
</table>
<br>

<div class="intro_text">
<img src="/Certificates/Default/paulgold_1.png" border=0 id="certificate_heading" style="style="text-align:left">@Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
</div>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>