﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Classroom Course Completion";
}
<div id="CertificateHeading">
		    <br>
		    <img src="/images/coursecompletionheading.gif" border=0 id="certificate_heading" style="text-align:center">
		    <br><br><br><br><br>
		</div>
		<div id="NameLine" class="font2">To certify that</div><br /><br />
		<div id="StudentName" class="student_name">@Model.UserFullName</div><br /><br />
		<div id="CourseLine" class="font2">Has successfully satisfied the requirements for</div><br /><br />
		<div id="CourseName" class="font1">@Model.Course.Name<br><br></div>  
		<div id="ScoreLine" class="font2">With a score of</div><br><br>
		<div id="Score" class="font1">@Model.TranscriptEntry.Score<br><br></div> 
		<div id="TestDate" class="font1">On @Model.FormatDate(Model.TranscriptEntry.EndDate.Value)</div>

<div id="CertificateHours" class="font1"> You have completed @Model.Course.Credit creidt hours</div>