/*------------------------------------------------------------------------- */
/* Superfish, skin for right flyout menu */
/*------------------------------------------------------------------------- */

#artisan-menu ul {
}

#artisan-menu ul ul {
  box-sizing:border-box;
  border:0;
  position:absolute;
  top:38px;
  left:0px;
  width:290px;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.15);
}

#artisan-menu ul ul ul {
  box-sizing:border-box;
  border:0;
  position:absolute;
  top:0;
  right:0;
  left:290px;
  width:290px;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.15);
}

#artisan-menu ul ul li.selected {
  background:#fff;
}

#artisan-menu ul ul ul li.selected {
  background:#f6f6f6;
}

#artisan-menu ul ul ul li.selected a {
  color:#cc3537 !important;
  font-weight:bold !important;
}

#artisan-menu ul ul ul li a {
  font-weight:normal !important;
}

.sf-skin-main-nav, .sf-skin-main-nav UL {
  
}

.sf-skin-main-nav {
  float: right;
}
.sf-skin-main-nav A {
  padding: 10px;
  text-decoration: none;
  color: #414042;
}
.sf-skin-main-nav LI LI A {  
  font-size:13px;
  text-align:left;
  line-height:18px;
}

.sf-skin-main-nav LI LI LI A {  
  font-size:13px;
  text-align:left;
  line-height:18px;
  color:#414042!important;
}

.sf-skin-main-nav LI LI LI A:hover {  
  font-size:13px;
  text-align:left;
  line-height:18px;
}

.sf-skin-main-nav LI LI:HOVER,
.sf-skin-main-nav LI LI.sfHover {
  background: #f6f6f6 !important;
}
.sf-skin-main-nav LI LI:HOVER A:HOVER,

.sf-skin-main-nav LI LI:HOVER > A:HOVER,
.sf-skin-main-nav LI LI.sfHover > A:HOVER {
  background:none;
  border:0;
}
.sf-skin-main-nav LI > UL {
 /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;*/
}
.sf-skin-main-nav LI > UL UL {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.sf-skin-main-nav UL {
  background: #fff;
 /* -moz-box-shadow: #cc3537 5px 5px 20px;
  -webkit-box-shadow: #cc3537 5px 5px 20px;
  -o-box-shadow: #cc3537 5px 5px 20px;
  box-shadow: #cc3537 5px 5px 20px;*/
}
.sf-skin-main-nav UL LI.first {
  
}
.sf-skin-main-nav UL LI.last {
  
}
.sf-skin-main-nav UL A {

}
.sf-skin-main-nav UL A.last {
  border: none;
}

.sf-skin-main-nav UL UL A.first {
  border-top:0px solid #bbb;
}


.MainNav {
    position:absolute;
    top:10px;
    left:10px;
}

.MainNav li.first.last {

}

.MainNav a.first.last {
    background:#cc3537;
    color: #fff;
    font-size:13px;
	padding:12px 25px;
}
/* Removed by BC 8.15.2015 for IE8 compat mode fix 
.MainNav a.first.last::before {content:'Course Menu';} 
*/

.MainNav a.first.last:hover {
    background:#cc3537;
    color:#fff;
    text-shadow:none;
}

.MainNav ul ul ul a.first.last {
    background:#fff;
    color: #414042;
    font-size:13px;
	padding:12px 25px;
}
.MainNav ul ul ul a.first.last::before {content:'';}

.MainNav ul ul ul a.first.last:hover {
    background:#f6f6f6;
    color:#414042;
    text-shadow:none;
}

.sf-skin-main-nav {
    background:none !important;
}