/*------------------------------------------------------------------------- */
/* Superfish, skin for right flyout menu */
/*------------------------------------------------------------------------- */
.sf-skin-sub-nav, .sf-skin-sub-nav UL {
  background: #66aab9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

UL.sf-skin-sub-nav {
  float: left;
}
UL.sf-skin-sub-nav A {
  padding: 0.75em 1em;
  text-decoration: none;
  color: white;
}
UL.sf-skin-sub-nav LI {
  width: 280px;
}
UL.sf-skin-sub-nav LI LI:HOVER,
UL.sf-skin-sub-nav LI LI.sfHover {
  background: #66aab9;
}
UL.sf-skin-sub-nav LI:HOVER UL, UL.sf-skin-sub-nav LI.sfHover UL {
  top: 2.2em;
}
UL.sf-skin-sub-nav LI {
  background: url(../../../img/icons/plus.gif) no-repeat 252px 50%;
}
UL.sf-skin-sub-nav LI LI {
  background-image: none;
}
UL.sf-skin-sub-nav > LI {
  background-image: url(../../../img/icons/plus.png);
}
UL.sf-skin-sub-nav LI > UL {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  opacity: 0.96;
}
UL.sf-skin-sub-nav LI > UL UL {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
UL.sf-skin-sub-nav UL {
  background: #89bdc9;
  -moz-box-shadow: #879598 5px 5px 20px;
  -webkit-box-shadow: #879598 5px 5px 20px;
  -o-box-shadow: #879598 5px 5px 20px;
  box-shadow: #879598 5px 5px 20px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
UL.sf-skin-sub-nav UL LI.first {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -khtml-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
UL.sf-skin-sub-nav UL LI.last {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
UL.sf-skin-sub-nav UL A {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66aab9;
}
UL.sf-skin-sub-nav UL A.last {
  border: none;
}
UL.sf-skin-sub-nav UL {
  width: 280px;
}
UL.sf-skin-sub-nav LI LI:HOVER UL, UL.sf-skin-sub-nav LI LI.sfHover UL {
  left: 280px;
}
UL.sf-skin-sub-nav LI LI LI:HOVER UL, UL.sf-skin-sub-nav LI LI LI.sfHover UL {
  left: 280px;
}
