﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Nevada Insurance Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
		You’ve successfully completed ProSchools’ Insurance Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>


<ol>
<li>Provide your original, signed "Certificate of Completion" to the Nevada Division of Insurance upon
renewal of your license.</li>
<li>ProSchools reports your continuing education credit(s) automatically to Sircon.</li>
<li>Keep a copy of your certificate in your files for four years.</li>
</ol>

Department of Business and Industry - Division of Insurance<br><br>

<table width=100%>
<tr width=100%>
	<td>1818 E. College Pkwy, Suite 103<br>
Carson City, NV 89706<br>
(775) 687-0700 (phone)<br>
(775) 687-0787 (fax)<br></td>

	<td>2501 East Sahara Avenue, Ste. 102<br>
Las Vegas, NV 89104-4137<br>
(702) 486-4009 (phone)<br>
(702) 486-4007 (fax)<br></td>
</tr>
</table>
<br>

<br>

<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="completion_cert_nvce">
	<br>
	<br>
	<div class="intro_title_nv">
		<b>STATE OF NEVADA<br>
DEPARTMENT OF BUSINESS AND INDUSTRY<br>
<u>DIVISION OF INSURANCE</u><br>
1818 E. Pkwy, Suite 103<br>
Carson City Nv 89706<br>
(775) 687-0700<br>
<br>
Certificate Of Completion Of Continuing Education Requirement<br>
	</b></div>
<br>
<div class="intro_text_nvce">
<table width=100%>
<tr width=100%>
<td class="completion_data_nv" width=70%>@Model.UserFullName</td>
<td class="completion_data_nv" width=30%>@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>

</tr>
<tr ><td colspan=4 class="completion_datasm">_______________________________________________________________________________________________________________________________________________________</td>
</tr>
<tr width=100%>
<td class="completion_datalabel_nv" width=70%>Student Name</td>
<td class="completion_datalabel_nv" width=30%>Last 4 digits of SSN</td>

</tr>
</table>

<br>



<table width=100%>
<tr width=100%>
<td class="completion_data_nv" width=50%>@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[1])</td>
<td class="completion_data_nv" width=20%>@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[2])</td>
<td class="completion_data_nv" width=15%>@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[3])</td>
<td class="completion_data_nv" width=15%>@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[4])</td>
</tr>
<tr ><td colspan=4 class="completion_datasm">_______________________________________________________________________________________________________________________________________________________</td>
</tr>
<tr width=100%>
<td class="completion_datalabel_nv" width=50%>Residence Address</td>
<td class="completion_datalabel_nv" width=20%>City</td>
<td class="completion_datalabel_nv" width=15%>State</td>
<td class="completion_datalabel_nv" width=15%>Zip</td>
</tr>
</table>
<br><br>

<table width=100%>
<tr width=100%>
<td class="completion_datalabel_nv" width=35%>Nevada License Number:</td>
<td class="completion_datalabel_nv" width=65% colspan=2>@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr>
</tr>
<tr width=100%>
<td class="completion_datalabel_nv" width=35%>Name, Address, Phone of Provider:</td>
<td class="completion_datalabel_nv" width=35%><b>ProSchools</b><br>
6771 W Charleston Blvd, Ste C<br>
Las Vegas, NV 89146<br></td>
<td class="completion_datalabel_nv" width=30%>&nbsp;</td>
</tr>
<tr width=100%>
<td class="completion_datalabel_nv" width=70% colspan=2>Title of Course: @Model.TrainingProgram.Name </td>
<td class="completion_datalabel_nv" width=30%>Physical Location of Course: Online</td>
</tr>
<tr width=100%>
<td class="completion_datalabel_nv" width=35%><b>Provider Number: 108077</b> </td>
<td class="completion_datalabel_nv" width=35%><b>Course Number: @Model.TrainingProgram.InternalCode</b></td>
<td class="completion_datalabel_nv" width=30%>Hours of Credit: @Model.TrainingProgram.Cost</td>
</tr>
<tr width=100%>
<td class="completion_datalabel_nv" width=35%>Beginning Date: @Model.FormatDate(@Model.TrainingProgram.StartDate.Value)</td>
<td class="completion_datalabel_nv" width=65% colspan=2>Completion Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)</td>

</tr>
</table>


<b>Name of Instructor: Alan Cole, Director of Insurance</b><br>
<br>
I certify that the above named licensee successfully completed the continuing education course listed abouve and the number of credit
hours of instruction indicated were related to the techinical aspects of insurance.
<br>
<img src="/Certificates/Default/mjackson_6.png" border=0 style="style="text-align:left">Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)
<br>
<br>
<div class="completion_labelsm">This is a computer-generated original Certificate of Completion.</div>
<br>

</div>
<div class="completion_footer4">THIS <u>CONTINUING EDUCATION PROVIDER</u> MUST PROVIDE THE ORIGINAL SIGNED "CERTIFICATE OF COMPLETION" TO THE LICENSEE <u>TO
PRESENT TO THE DIVISION UPON RENEWAL OF HIS LICENSE</u>. THE PROVIDER MUST ALSO ENTER THE COURSE COMPLETION IN SIRCON.
FAILURE BY THE PROVIDER TO ENTER THE COURSE COMPLETION WILL RESULT IN NONCOMPLIANCE FOR THE LICENSEE.
</div>
<br>
<div class="completion_footer1">NDOI 260 Certificate of CE Requirement (Rev. 1.8.09)<br><br>The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>