.artisan-progress {
    float: none;
    width: auto;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    left:0px;
    top: 0px;

    height: 37px;

    width: 572px;
    display: inline-block;

    .artisan-progress-inner {
        height: 100%;
        .artisan-progress-course-wrap {
            position: relative;

            height: 16px;
            width: 100%;

            margin-bottom: 5px;
            margin-right: 0px;



            .artisan-progress-text {
                display: none;
            }

            .artisan-progress-course {
                width: 100%;
                height: 100%;
                border-radius: 3px;
                background-color: $progressbar-empty;

                .artisan-progress-course-inner {
                    background-color: $progressbar-completion;
                    border-radius: 3px;
                    padding: 0px;
                }
            }

            .artisan-progress-course-percent {
                position: absolute;
                top: 0;
                left: 0;

                max-width: 80% !important;
                min-width: 8% !important;

                padding-right: 0px;

                color: $progressbar-text-color;
                line-height: 16px;
                height: 16px;


                span:nth-child(1) {
                    position: absolute;
                    right: 5px;
                    display: inline-block;
                    vertical-align: top;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500 !important;
                }

                span:nth-child(2) {
                    display:none;
                }

                &::after{
                    content: "Overall Progress";
                    position: absolute;
                    left: 100%;
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500 !important;
                }

            }
        }

        .artisan-progress-sco-wrap{
            position: relative;

            height: 16px;
            width: 100%;

            .artisan-progress-text {
                display: none;
            }

            .artisan-progress-sco {
                width: 100%;
                height: 100%;
                border-radius: 3px;
                background-color: $progressbar-empty;

                .artisan-progress-sco-inner {
                    padding: 0px;
                    border-radius: 3px;
                    background-color: $progressbar-completion;
                }
            }

            .artisan-progress-sco-percent {
                position: absolute;
                top: 0;
                left: 0;

                max-width: 80% !important;
                min-width: 8% !important;

                padding-right: 0px;

                color: $progressbar-text-color;
                line-height: 16px;
                height: 16px;

                span:nth-child(1) {
                    position: absolute;
                    right: 5px;
                    display: inline-block;
                    vertical-align: top;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500 !important;
                }

                span:nth-child(2) {
                    display:none;
                }

                &::after{
                    content: "Section Progress";
                    position: absolute;
                    left: 100%;
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 5px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500 !important;
                }
            }
        }

        .artisan-progress-lo {
            display: none;
        }
    }
}

// .artisan-progress-course-inner{
//     position: relative;
//     // margin-bottom: 10px !important;
//     background-color: $progressbar-completion;
//     // border-radius: 0px;
// }

// .artisan-progress-course{
//
//     height: 20px;
// }


// .artisan-progress-item{
//     // border-radius: 0px;
//     width: 550px;
// }
//
// .artisan-progress-item-inner{
//     border-radius: 3px;
//
// }

//
// .artisan-progress-sco-inner {
//     position: relative;
//     background-color: $progressbar-completion;
//     // margin-top:15px;
//
// }



// .artisan-progress-sco-percent, .artisan-progress-course-percent{
//     // position: relative;
//     // overflow:hidden;
//     margin-top: -16px;
//     color:$progressbar-text-color;
//     // margin-left: 3%;
// }

// .artisan-progress-course-words{
//     position: absolute;
//     display: inline-block;
//     height: 100%;
//     // overflow:visible;
//     // margin-top: -16px;
//     // color:$progressbar-text-color;
//     // margin-right: -100px;
//
// }

// .percent{
//     position: absolute;
//     display: inline-block;
//     height: 100%;
//     // position: absolute;
//     // overflow:visible;
//     // margin-top: -16px;
//     // color:$progressbar-text-color;
//     margin-right: 30px !important;
//     // margin-left:10px;
// }

// .artisan-progress-percent{
//     font-size: 12px;
//     height: 100%;
// }

// ****** Start of new *******
// // index.html starts at 137
// .artisan-progress-inner{
//     box-shadow: 2px 2px 3px $box-shadow-color;
//     width: 100%;
//     margin: 0 auto;
//     padding-top: 10px;
//     display: block;
// }
//
// .artisan-progress-percent{
//     position: relative;
//     border-top: 1px solid black;
//     background-color: $progressbar-completion;
//     border-radius: 5px 5px;
//     color: white;
//     width: 15% !important;
// }
//
// .artisan-progress-section-wrap{
//     margin-top: 10px;
// }
//

//
//
// .artisan-progress-item-wrap{
//     // width: 50%;
//     background-color: $progressbar-empty;
//     border-top: 10px solid white;
//     border-top-right-radius: 17.5px;
//     border-top-left-radius: 20px;
//     border-bottom-right-radius: 10px;
//     border-bottom-left-radius: 10px;
//     display: block;
// }
//
// .artisan-progress-lo-inner{
//     display:none;
// }