.Logo {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0px;
    text-align: left;
    // uncomment below for for proschools styles logos
    height: 47px !important;
    // CUNA / bocopa
    //height: 63px !important;
    //width: 250px;

    .artisan-site-image {
        height: 100%;
        //width: 100%;
        margin: 0px;
        position: relative;
        top: 0;
        left: 0;
        background-image: $theme_logo !important;
        // uncomment for proschools style logos
        background-size: auto 47px;
        // CUNA
        //background-size : auto 110px;
        //bocopa
        //background-size : 124px 62px;
        // rincon / soboba
        //background-size : 61px 61px;
    }
}