@import 'headerProgressBars';
@import 'timer';



#Header {
    margin-bottom: 20px;
    z-index:2;
    .HeaderWrapper {
        margin: 0;
        width: 100%;
        height: 47px;

        @import 'logo';
        @import 'title';
    }
}
