#artisan-menu {
    pointer-events: auto;

    ul.sf-menu {

        li.artisan-sco.topitem >{

            a:first-child{

                text-transform: uppercase;
                background-color: $menu-background-color;
                border-radius: 3px;
                transition: padding-left 0.4s;
                transition: padding-right 0.4s;
                // &::before{
                //     font-family: 'Open Sans', sans-serif !important;
                //     content: 'MENU' !important;
                // }
            }
        }
        li.artisan-sco.topitem {

            background-color: transparent !important;
            a{
                height: 37px;
                z-index: 25;
                .first{

                }
            }
            ul{

                width:0px;
                opacity: 0;
                display: block !important;
                visibility: visible !important;
                transition: width 0.4s, opacity 0.7s;

                li.artisan-sco{

                    background-color: white !important;
                    display: none;
                    visibility: hidden;
                    width:0px;
                    transition: width 0.4s;
                    ul{
                        li{

                            a{

                            }
                        }
                    }
                }

                li.artisan-sco.disabled {


                    a{
                        background-image : none !important;
                        content          : "\f023" !important;
                    }

                }

            }

            .page_progress {
                display: none;
            }

        }
        li.artisan-sco.topitem.sfHover >{
            z-index: 25;
            background-color: white !important;
            a{
                height: 37px;
                z-index: 3;
                padding-right: 300px;
                padding-left: 15px !important;
                border-bottom-right-radius: 0px;

            }
            ul{
                z-index: 2;
                min-height: 765px;
                box-shadow: 0 0 1em $box-shadow-color;
                padding-top: 20px;
                // padding-left: 10px;
                opacity: 1;
            }
        }
        li.artisan-sco.topitem.sfHover {

            ul {

                position: relative;
                top: 0;
                float:right;
                width: 300px;
                li.artisan-sco.sfHover >{
                    font-weight: bold;
                    background-color: white !important;
                    a {
                        padding-top: 0;
                        padding-bottom: 0;
                        padding-right: 5px;
                        // padding-left: 10px !important;
                        // text-indent: -10px;

                        height: auto;
                        line-height: 20px;

                        margin-left: 20px;

                        background-color: white !important;
                        outline: none;

                        font-weight: bold;
                    }

                    a::before {
                        display: inline-block;
                        content: '\f107';
                        font-family: FontAwesome;
                        padding-right: 5px;
                        width: 9px;
                        margin-right: 0;
                    }
                }
                li.artisan-sco >{
                    background-color: white !important;
                    a {
                        padding-top: 0;
                        padding-bottom: 0;
                        padding-right: 5px;
                        // padding-left: 10px !important;
                        // text-indent: -10px;

                        font-weight: bold;

                        margin-left: 20px;

                        height: auto;
                        line-height: 20px;
                        background-color: white !important;

                        outline: none;
                    }

                    a::before {
                        display: inline-block;
                        content: '\f105';
                        font-family: FontAwesome;
                        padding-right: 5px;
                        width: 9px;
                        margin-right: 0;
                    }
                }
                li.sfHover{
                    background-color: white !important;
                    display:block;
                    visibility: visible;
                    width:100%;
                    ul{
                        position: relative;
                        left:0;
                        opacity: 1;

                        li{
                            background-color: white !important;
                            display: block;
                            visibility: visible;

                            a{
                                font-weight: bold;
                                padding-top: 0;
                                padding-bottom: 0;
                                height: auto;
                                line-height: 20px;
                                text-align: left;
                                padding-left: 55px;
                                background-color: white !important;


                            }
                            a:hover{
                                color:$menu-background-color !important;


                            }

                        }
                    }
                }

                li.artisan-sco.disabled {
                    background-color: white !important;
                    a{

                        cursor: not-allowed;
                        &::after{

                            display: inline-block;
                            content:"\f023";
                            font-family: FontAwesome;
                            padding-left: 5px;
                            color: black;
                            cursor: not-allowed;


                        }

                    }
                    ul{
                        li{
                            background-color: white !important;
                            a{
                                font-weight: bold;
                                padding-top: 0;
                                padding-bottom: 0;
                                height: auto;
                                line-height: 20px;
                                cursor: not-allowed;
                                &::before{
                                    content: '' !important;
                                }

                                &::after{
                                    content:"\f023";
                                    font-family: FontAwesome;
                                    padding-left: 5px;
                                    color: black;
                                    cursor: not-allowed;
                                }
                            }
                        }
                    }

                }

                li.enabled {
                    background-color: white !important;

                    a {
                        //&::after {
                        //    display: inline-block;
                        //    content: "\f13e";
                        //    font-family: FontAwesome;
                        //    padding-left: 5px;
                        //    color: $menu-background-color;
                        //}
                    }
                    ul{
                        li{
                            background-color: white !important;
                            a{
                                font-weight: bold;
                                padding-top: 0;
                                padding-bottom: 0;
                                height: auto;
                                line-height: 20px;
                                background-color: white !important;
                                //&::after{
                                //    content:"\f13e";
                                //    font-family: FontAwesome;
                                //    padding-left: 5px;
                                //    color:$menu-background-color;
                                //}
                            }
                        }
                    }

                }
                li.selected {
                    background-color: white !important;
                    ul{
                        li{
                            background-color: white !important;
                            a{
                                padding-top: 0;
                                padding-bottom: 0;
                                height: auto;
                                line-height: 20px;
                                background-color: white !important;
                                //font-weight: 900 !important;
                                color: black !important;
                                // &::after{
                                //     content:"\f13e";
                                //     font-family: FontAwesome;
                                //     padding-left: 5px;
                                //     color:$menu-background-color;
                                // }
                            }
                        }
                    }

                }

                li{
                    background-color: white !important;
                    display:block;
                    visibility: visible;
                    position: relative;
                    width:100%;
                    word-wrap: break-word;
                    ul{
                        box-shadow: none !important;
                        position: relative;
                        left:0;

                        li{
                            display: none;
                            visibility: hidden;

                            a{
                                padding-top: 0;
                                padding-bottom: 0;
                                background-color: white !important;
                                height: auto;
                                line-height: 20px;
                                text-align: left;
                                padding-left: 55px;
                                font-weight: bold !important;

                            }

                        }
                    }
                }
            }
        }
    }
}
