#timer-displays {
    display: block;

    padding: 0;
    text-align: left;

    position: absolute;
    right: 25px;
    top: 92px;
    left: auto;
    bottom: auto;

    width: 455px;

    padding-left: 40px;

    background-color: transparent;

    color: black;

    z-index: 1 !important;

    // overflow: hidden;



    &.active {
        .clock-icon {
            display: inline-block;
        }
        .timers {
            div:nth-child(4){
                display:none !important;
            }
            #Course-time-remaining.running ~ #Sco-time-remaining.running {
                .timer-divider-bar{
                    display: inline-block;
                }
            }
        }
    }

    p {
        display: none;
    }

    .clock-icon {
        display: none;
        vertical-align: top;

        .fa-stack {
            margin-top: -4px;

            .fa-circle-thin {

            }
            .fa-angle-down {
                transform: rotate(45deg);
            }
        }
    }

    .timers {
        display: inline-block;

        div:nth-child(4){
            display:none !important;
        }

        #Course-time-remaining {
            margin: 0;
            padding: 0;
            display: none;
            vertical-align: top;

            margin-left: 10px;
            margin-right: 10px;

            width: 100px;

            text-align: center;

            .type {
                display: none;
            }

            &::before{
                content: 'Overall Timer';
                display: block;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
            }

            .counter-text {
                display: block;
                font-weight: 800;
                font-size: 20px;
                font-family: 'Open Sans', sans-serif;
            }

            &.running{
                display: inline-block;
            }
        }

        .timer-divider-bar {
            margin-top: -3px;


            display: none;
            vertical-align: top;

            height: 46px;

            background-color: $timer-divder-bar;

            width: 4px;
            border-radius: 5px;
        }

        #Sco-time-remaining {
            margin: 0;
            padding: 0;
            display: none;
            vertical-align: top;

            margin-left: 10px;
            margin-right: 10px;

            width: 100px;

            text-align: center;

            .type {
                display:none;
            }

            &::before{
                content: 'Section Timer';
                display: block;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
            }

            .counter-text {
                display: block;
                font-weight: 800;
                font-size: 20px;
                font-family: 'Open Sans', sans-serif;
            }
            &.running{
                display: inline-block;
            }
        }

        #Lo-time-remaining {

        }
    }
}