.TitleBar {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    padding-left: 260px;

    background: rgba(0, 0, 0, 0);

    .TitleBarInner {
        height: 100%;
        width: 100%;

        .artisan-course-image {
            display: none;
        }

        h1 {
            padding: 0;
            margin: 0;

            width: 75%;
            height: 100%;

            // &:hover{
            //     .artisan-course-title{
            //         overflow: visible;
            //         word-wrap: break-word;
            //         display: block;
            //         cursor: pointer;
            //
            //     }
            //     .artisan-content{
            //         background-color: white;
            //         // border: 1px solid black;
            //         padding: 5px;
            //     }
            // }

            .artisan-content {
                display: none;
            }

            .artisan-course-title {
                z-index: 15;
                position: relative;
                display: block;

                padding: 0;
                margin: 0;
                top: 0;

                height: 100%;
                width: 100%;

                font-size: 20px;




                .artisan-content {
                    // width: 50%;
                    padding: 5px;
                    overflow: hidden;
                    display: block;
                    font-family: 'Open Sans', sans-serif;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    // display: -webkit-box;
                    // &:hover{
                    //     box-shadow: 0 0 1em $box-shadow-color;
                    //     overflow: visible;
                    //     word-wrap: break-word;
                    //     display: block ;
                    // }

                }
            }
        }

        .MainNav {
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 25;



            @import 'menu';
        }
    }
}