﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/zoologic/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>NMLS Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	Congratulations! You’ve successfully completed your NMLS online coursework.
	<br><br>
<b>Reporting Credit Hours</b><br>
Official notification of your course completion will take place electronically when ProSchools uploads your
specific information to the National Mortgage Licensing System and Registry (NMLS). Please be aware that
NMLS allows education providers seven calendar days to upload student credit completion data. You may wish
to log in to your NMLS account to view your education credits.<br><br><br>
To ensure prompt transmission of your credit hours, you must ensure the NMLS Unique ID and the name on your
Certificate of Completion identically matches your NMLS record. The NMLS website and NMLS Call Center
are helpful resources if you need assistance verifying your information. Contact the NMLS Call Center at (240)
386-4444 or visit the website at:<br><br><br>
<div class="intro_ref"><a target=_blank href="http://mortgage.nationwidelicensingsystem.org/">http://mortgage.nationwidelicensingsystem.org/</a></div>
<br><br><br>
<b>Certificate of Completion</b><br>
The following Certificate of Completion is for your personal records only and evidences completion of the online
coursework. Official notification of your completion to NMLS will occur within seven days of course
completion.<br><br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/zoologic/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>NMLS Continuing Education</b><br>
<b>Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_header">Student Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_header">NMLS Unique ID:</td>
	<td class="completion_data">@Model.User.EmployeeNumber</td>
</tr>
</table>
<br>
<div class="completion_title1">This certifies that the individual named has successfully completed the course requirements for:<br></div>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Course Name:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Identification Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">NMLS ProviderID:</td>
	<td class="completion_data">1400010</td
</tr><tr width=100%>
	<td class="completion_label">Provider Address:</td>
	<td class="completion_data">Portland, OR</td>
</tr>
</table>
<br><br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>