* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	color: #333333;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
    margin: 0;
	padding: 5px;
}

body, button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	color: #54c2f9;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Hide non-essential login elements */
#page_logo,
.x-window-proxy,
.x-shadow,
.x-window .x-window-tl,
.x-window .x-window-bl,
#ctl00_Body_login table td.symphony-logo {
    display: none !important;
}

/* Override existing styles */
.x-window {
  position: relative !important;
  z-index: 9003 !important;
  visibility: visible !important;
  left: auto !important;
  top: auto !important;
  display: block !important;
  width: auto !important;
}

.x-window-ml,
.x-window-mr {
    background: transparent;
    padding: 0;
}

.x-window-mc {
    background: transparent;
    border: 0;
    font: inherit;
}

.x-window-body {
    padding: 0 !important;
    width: auto !important;
}

.box {
    margin: 0;
}

/* Style the login form */
#ctl00_Body_login,
#ctl00_Body_login table {
    width: 100%;
}

#ctl00_Body_login table td {
    display: block;
    position: relative;
    text-align: left;
}

#ctl00_Body_login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#ctl00_Body_login input#ctl00_Body_login_UserName,
#ctl00_Body_login input#ctl00_Body_login_Password {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
	margin-bottom: 20px;
    padding: 6px 12px;
    width: 100% !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#ctl00_Body_login_LoginButton {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: right;
}
    #ctl00_Body_login_LoginButton:hover {
        background-color: #70c5ef;
        color: #ffffff;
        text-decoration: none;
    }
    #ctl00_Body_login_LoginButton:focus {
        outline: none;
    }

#ctl00_Body_login_UserNameRequired,
#ctl00_Body_login_PasswordRequired {
  left: 80px;
  position: absolute;
  top: -26px;
}


.forgot-password {
    display: none;
}