#Content {

    top: 37px !important;
    width: 100%;

    .ContentWrapper {

        height: 100%;

        min-height: auto !important;

        h3 {
            padding-top: 0 !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
            padding-bottom: 5px !important;

            line-height: 25px !important;

        }

        .p {

            padding: 5px !important;

        }

        .artisan-question-header {

        }

        .artisan-question {

            .artisan-question-text{

                height: auto;

            }

            .artisan-answers {





                li {



                }

            }

        }

    }

}
