#Logo{

    height: 100% !important;
    width: 285px !important;

    position: absolute;
    left: 0;
    top:0;

    a{

        .artisan-site-image {

            background-size: auto 40px !important;

            position: absolute;
            top: 0px !important;

            vertical-align: top;

            height: 60% !important;
            width: 100%;

            @media all and (orientation: landscape) {

                background-size: auto 35px !important;

            }

        }
    }
}
