.TitleBar {

    padding-left: 0 !important;

    width: 100%;
    height: 100%;

    .TitleBarInner {

        height: 100%;
        width: 100%;

        h1 {

            .artisan-course-title {

                margin-top: 10px;

                .artisan-content {

                    position: absolute !important;
                    bottom: -7px !important;


                    width: 100% !important;
                    height: auto !important;

                    margin: auto;
                    // padding: 5px !important;
                    font-size:  25px !important;

                    @media all and (orientation: landscape) {

                        bottom: -3px !important;

                    }


                }
            }
        }

        .MainNav {
            // display: none !important;

            @import "responsive_menu";
        }
    }
}
