
&.active {
    .clock-icon {
        display: none !important;
    }
    .timers {
        div:nth-child(4){
            display:none !important;
        }
        #Course-time-remaining.running ~ #Sco-time-remaining.running {
            .timer-divider-bar{
                display: inline-block;
            }
        }
    }
}


.timers {
    display: inline-block;

    div:nth-child(4){
        display:none !important;
    }

    #Course-time-remaining {
        margin: 0;
        padding: 0;
        display: none;
        vertical-align: top;

        margin-left: 0px !important;
        margin-right: 0 !important;

        width: 100px;

        text-align: auto !important;

        .type {
            display: none;
        }

        &::before{
            content: 'Overall Timer';
            display: block;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
        }

        .counter-text {
            display: block;
            font-weight: 800;
            font-size: 14px !important;
            font-family: 'Open Sans', sans-serif;
        }

        &.running{
            display: inline-block;
        }
    }

    .timer-divider-bar {
        display: none;
    }

    #Sco-time-remaining {
        margin: 0;
        padding: 0;
        display: none;
        vertical-align: top;

        margin-left: 10px;
        margin-right: 10px;

        width: 100px;

        text-align: auto;

        .type {
            display:none;
        }

        &::before{
            content: 'Section Timer';
            display: block;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
        }

        .counter-text {
            display: block;
            font-weight: 800;
            font-size: 14px !important;
            font-family: 'Open Sans', sans-serif;
        }
        &.running{
            display: inline-block;
        }
    }

}
