#artisan-menu {

             ul.sf-menu {

                 li.artisan-sco.topitem.sfHover > {

                     a{

                         // margin-bottom: 50px !important;

                     }

                     ul {
                         padding-top: 50px !important;
                         min-height: 456px !important;
                         // padding-top: 50px !important;
                         li {

                         }

                     }

                 }

                 li.artisan-sco.topitem.sfHover {

                     a {

                     }

                     ul {





                         li {



                             a {

                             }

                             ul {

                                 li {

                                     a{

                                     }

                                 }

                             }

                         }

                     }

                     .page_progress {

                         display: inline-block;
                         position: absolute;
                         top: 40px;

                         .artisan-progress-inner {

                             .artisan-progress-item-wrap.artisan-progress-course-wrap {

                                 @media (orientation: landscape){
                                     position: absolute;
                                     top: 0;
                                     left: 140px;
                                     z-index: 100;
                                 }

                                 @media (max-device-width: 320px), (orientation: portrait) {

                                     position: absolute;
                                     top: 0;
                                     left: 100px;
                                     z-index: 100;


                                 }

                                 position: absolute;
                                 top: 0;
                                 left: 110px;
                                 z-index: 100;



                                 .artisan-progress-course.artisan-progress-item {

                                     background-color: white;
                                     border: none;
                                     overflow: hidden;
                                     width: auto;

                                     .artisan-progress-course-inner.artisan-progress-item-inner {

                                         background-color: white;

                                         border: none;
                                     }
                                 }
                                 .artisan-progress-percent.artisan-progress-course-percent {

                                     color: #414042 !important;
                                     font-size: 12px;
                                     font-weight: bold !important;
                                     line-height: 20px;

                                     span {

                                         position: absolute;
                                         left: 110px;
                                         right: auto;
                                         font-weight: bold !important;
                                         line-height: 20px;



                                     }

                                     span {

                                     }



                                     }

                                     .artisan-progress-course-percent::after {

                                         content: "Overall Progress:";
                                         left: 0;
                                         font-weight: bold !important;
                                         line-height: 20px;
                                     }

                                 }

                             .artisan-progress-item-wrap.artisan-progress-sco-wrap {

                                 @media (orientation: landscape){
                                     position: absolute;
                                     top: 20px;
                                     left: 140px;
                                     z-index: 100;
                                 }

                                 @media (max-device-width: 320px), (orientation: portrait)  {

                                     position: absolute;
                                     top: 20px;
                                     left: 100px;
                                     z-index: 100;


                                 }

                                 position: absolute;
                                 top: 20px;
                                 left: 110px;
                                 z-index: 100;


                                 .artisan-progress-sco.artisan-progress-item {

                                     background-color: transparent;
                                     border: none;

                                     .artisan-progress-sco-inner.artisan-progress-item-inner {

                                         background-color: transparent;

                                         border: none;
                                     }
                                 }
                                 .artisan-progress-percent.artisan-progress-sco-percent {

                                     color: #414042 !important;
                                     font-size: 12px !important;
                                     font-weight: bold;
                                     line-height: 20px;

                                     span {

                                         position: absolute;
                                         left: 110px;
                                         right: auto;
                                         font-weight: bold !important;
                                         line-height: 20px;


                                     }

                                     span {

                                     }



                                     }

                                     .artisan-progress-sco-percent::after {

                                         content: "Section Progress:";
                                         left: 0;
                                         font-weight: bold !important;
                                     }

                             }



                         }

                     }

                 }

             }

         }
