#BottomPageNav {

    position: absolute !important;
    bottom: 0 !important;

    height: 40px !important;
    width: 100% !important;

    @media all and (orientation: landscape) {
        bottom: 10px !important;
    }


    .page_nav {

        height: 100%;

        .page_nav_inner {
            position: relative !important;
            bottom: 0 !important;

            .next {
                position: absolute !important;
                bottom: 0 !important;
                left: 0 !important;
                height: 33px !important;
                line-height: 33px !important;
            }

            .artisan-page-numbers {
                position: absolute !important;
                left: 43% !important;
                bottom: 0 !important;
                height: auto !important;
            }

            .prev {
                position: absolute !important;
                bottom: 0 !important;
                right: 0 !important;
                height: 33px !important;
                line-height: 33px !important;
            }
        }
    }
}
