#courseName {
	color:#FFFFFF;
}

.headerCourseBar{
	background-color:#002d62;
}

#objectivewrapper{
	font-family: Verdana, Arial, sans-serif;
}

#objectivesTree .x-tree-node  .aggregate{
	background-color:#edeeee;
	border-bottom:1px solid #cac9ca;
	font-weight: bold;
	font-size:13px;
}

#objectivesTree .x-tree{
	border:1px solid #cac9ca;
	border-bottom:0;
}

#objectivesTree .x-tree-node-leaf{
	border-bottom:1px solid #cac9ca;
}

#objectivesTree .x-tree-node{
	color:#6d6e71;
}

#introduction{
	border:1px solid #cac9ca;
	font-family: Verdana, Arial, sans-serif;
}

#introHeader{
	font-size:36px;
}

#review,
#reviewText p,
#introText p{
	font-family: Verdana, Arial, sans-serif;
}