﻿/* page CSS properties */
html, body {
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}
.headerCourseBar {
	background-color: rgb(159, 197, 232);
	background-repeat:no-repeat;
}
#courseName {
	color:#333333;
}

/* loading block CSS properties */
#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}

/* header CSS properties */
.headerBar {
	background-image: url('../images/header.bar.gif');
	background-repeat: repeat-x;
	height:20px;
}
#studentName {
	position:relative;
	float:left;
	padding-top:4px;
	left:0px;
}
.headerNavigation {
	position:relative;
	vertical-align:middle;
	float:right;
}
.headerNavigation a {
	background: url('../images/header.button.gif');
	height:20px;
	padding:2px 10px 2px 10px;
	font-family:verdana;
	text-decoration:none;
	font-size:12px;
	color:#000;
	border-left:1px #999 solid;
	position: inherit;
	position: relative;
}
.headerNavigation a:Hover {
	background-image: url('../images/header.button.hover.gif');	
	color:#fff;
}
.headerCourseBar {
	height:45px;
	background-position:right;
	position:relative;	
}

/* footer CSS properties */
#center{
	position: absolute;
	bottom: 50px;
	top: 75px;
	width:100%;
	overflow:auto;
}
#south{
	position: absolute;
	bottom: 0;
	background-color: #fff;
}
.footerBar {
	background-image: url('../images/footer.bar.gif');
	background-repeat: repeat-x;
	height: 23px;
}
.footerBarCurve {
	background-image: url('../images/footer.bar.curve.inverted.gif');
	background-repeat: no-repeat;
	height: 23px;
	position: relative;
	float: right;
	padding-right: 24px;
}
.footerBarLeft {
	background-image: url('../images/footer.bar.right.gif');
	background-repeat: no-repeat;
	height: 23px;
	position: relative;
	float: right;
	padding-right: 24px;
}
.footerNavigation {
	width: 200px;
	background-color: #fff;
	position: relative;
	float: right;
	margin-right: 0px;
	text-align: center;
	font-family:Verdana;
	font-size:12px;
	display:block;
}
.footerNavigationLeft {
	position:relative;
	float:left;
	width:60px;
	text-align:left;
	left:5px;	
}
.footerNavigationStatus {
	position:relative;
	right:65px;
	float:right;
	text-align:center;
	width:70px;
	margin-top:2px;
}
#navigationBack {
	background-image: url('../images/footer.back.gif');
	width: 43px;
	height:23px;
	position:absolute;
	float:left;
	left:5px;
	top:-2px;
}
#navigationBack:Hover {
	background-image: url('../images/footer.back.hover.gif');
}
.footerNavigationRight {
	position:absolute;
	float:right;
	width:60px;
	right:5px;
	text-align:right;
}
#navigationNext {
	background-image: url('../images/footer.next.gif');
	width: 43px;
	height:23px;
	position:absolute;
	right:5px;
	top:-2px;
	z-index:auto;
}
#navigationNext:Hover {
	background-image: url('../images/footer.next.hover.gif');
}
.footerBarRight {
	background-image: url('../images/footer.bar.left.gif');
	background-repeat: no-repeat;
	height: 23px;
	position: relative;
	float: right;
	padding-right: 24px;
}

/* common font CSS properties */
.baseFont {
	font-family: Verdana;
	color: #666;
	padding-left: 5px;
	vertical-align:middle;
}
.small {
	font-size: 11px;
}
.large {
	padding-left:10px;
	font-weight:bold;
	font-size:18px;
	line-height:45px;
	vertical-align:middle;
}
.jeopardyContainer {
	margin-left:50px;
	margin-top:13px;
	border:1px #fff solid;
	width:697px;	
}
.jeopardyButtonContainer {
	width:355px;
	height:440px;
	border:1px solid #000;
	left:30%;
	margin-top:13px;
	position:relative;
	background-image:url('../images/grey.gradient.gif');
	background-repeat:repeat-x;	

}
.jeopardyColumnOne {
	left:10px;
	float:left;
}
.jeopardyColumnTwo {
	left:95px;
}
.jeopardyColumnThree {
	left:180px;
}
.jeopardyColumnFour {
	right:10px;
	float:right;
}
.jeopardyRowOne {
	top:11px;
	bottom:10px;
}
.jeopardyRowTwo {
	top:82px;
	bottom:10px;
}
.jeopardyRowThree {
	top:153px;
	bottom:10px;
}
.jeopardyRowFour {
	top:224px;
	bottom:10px;
}
.jeopardyRowFive {
	top:295px;
	bottom:10px;
}
.jeopardyButton {
	position:absolute;
	background-image:url('../images/jeopardy.none.gif');
	width:75px;
	height:60px;	
}
.jeopardyButton a {
	display:none;
	border:0px solid #fff;
	width:75px;
	height:60px;
	text-align:center;
}
.jeopardyQuestionOff {
	display:none;
	border:0px solid #fff;
	width:75px;
	height:60px;
	background-image:url('../images/jeopardy.off.gif');
	
}
.jeopardyButtonShadow {
	background-image:url('../images/jeopardy.shadow.gif');
	width:75px;
	height:20px;
	position:absolute;
	bottom:10px;
	top:366px;
}
.jeopardyTotalContainer {
	width:354px;
	top:396px;
	height:42px;
	position:relative;
	text-align:center;
	background-image:url('../images/jeopardy.total.bar.gif');
	background-repeat:repeat-x;
}

/* common content specific CSS properties */
.template320x175 .imageLandscape img {
	max-width: 320px;
	height: 175px;
}
.template700x175 .imageLandscape img {
	max-height: 175px;
	width: 700px;
}
.template700x420 .imageLandscape img {
	width: 700px;
	max-height: 420px;
}
.template320x420 .imagePortrait img {
	max-height: 420px;
	width: 320px;
}
.template320x140 .imageLandscape img {
	max-width: 320px;
	height: 140px;
}
.template210x130 .imageLandscape img {
	max-width: 210px;
	height: 130px;
}
.template320x210 .imageLandscape img {
	max-width: 320px;
	height:210px;
}
/*.objectivewrapper{*/
#objectiveswrapper{
	width:95%;
	padding:10px;
}

#correctAnswerFeedbackDiv, #incorrectAnswerFeedbackDiv{
	border:1px solid black;
	margin:12px 0px 12px 0px;
	padding:5px;
	float:right;
	text-align:center;
	width:300px;
	color:white;
	position:relative;
	right:35px;
}

#correctAnswerFeedbackDiv{
	background-color:green;
}

#incorrectAnswerFeedbackDiv{
	background-color:red;
}

.correctAnswerIndicator /* the answer should be chosen, and they chose it */
{
	padding-left:12px;
	margin-left:12px;
	padding-bottom:2px;
}

/* overrides for multiple choice so we don't get checks for everything */
/*#trueFalseList .correctAnswerIndicator, #multipleChoiceList .correctAnswerIndicator{
	background-image:none;
}*/

.correctAnswerIndicator.answered{
	background:url(../images/accept.png) no-repeat;
}

.incorrectAnswerIndicator /* the answer was chosen, and shouldn't have been, or vice versa */
{
	padding-left:12px;
	margin-left:12px;
	background:url(../images/cancel.png) no-repeat;
	padding-bottom:2px;
}

.correctButGotItWrong{ /* the answer should be chosen, and they did not choose it */
	padding-left:12px;
	margin-left:12px;
	background:url(../images/arrow_left.png) no-repeat;
	padding-bottom:2px;
}

.imageAreaSelector{
    background-image: url(../images/cursor.png);
}

#objectiveswrapper h3{
	font-size:14px;
	padding-top:10px;
	padding-left:10px;
}
#objectivesTree{
	height: 290px;
	overflow: auto;
	position: relative;
	padding-left:10px;
}
#objectivesTree .aggregate .x-tree-node-icon{
	margin-top:2px;
	background: url(../images/bricks.png) no-repeat;
}

#objectivesTree .loName .x-tree-node-icon{
	margin-top:2px;
	background: url(../images/brick.png) no-repeat;
}
#objectivesTree span.descriptionTitle, 
#objectivesTree span.objectivesTitle{
	font-weight: bold;
	display:block;
	float:left;
	margin-left:35px;
}
#objectivesTree span.descriptionContent,
#objectivesTree span.objectivesContent{
	display:block;
	margin-left:105px;
	white-space: normal;
}
#objectivesTree  span.loName{
	padding-top:3px;
	font-weight: bold;
	font-size: 13px;
}
#objectivesTree ul{
	margin:0;
	padding:0;
}
#objectivesTree ul li{
	list-style-type:none;
	margin:0;
	padding:0;
}
/* intro to a test */
#sequentialContainer{
	border:1px #fff solid;
}

#introduction{
	width:100%;
	left:10%;
	position:relative;
	padding:15px;
	margin-top:20px;
	background:url('../images/gradient_background.gif') repeat-x;
}

#introHeader{
	padding-bottom:15px;
}

#finishTest{
	display:none;
	position:absolute;
	text-align:center;
	top:50px;
	left:50%;
	margin:auto auto auto -150px;
	border:1px solid #000;
	background-color:#fff;
}

#beginTestWrap{
	text-align:center;
}

#beginTestButton{
	background: url(../images/begin_button.gif) no-repeat;
	height:70px;
	width:75px;
	border:0;
	cursor:pointer;
	cursor:hand;
}

/* both intro and review*/
#reviewText p,
#introText p{
	padding:0;
	margin-bottom:15px;
}

/* review page */
#review{
	position:relative;
	top:15px;
	left:70px;
	width:693px;
	background:url('../images/gradient_background.gif') repeat-x;
	border:1px solid #cac9ca;
}
#reviewImage{
	height:500px; /* big height so our floating content to the right stays to the right */
	width:54px;
	margin:5px;
	float:left;
}
.failed #reviewImage{
	background:url('../images/stop_sign.gif') no-repeat;
}
.passed #reviewImage{
	background:url('../images/go_sign.gif') no-repeat;
}
#score{
	background:url('../images/review.bar.gif') repeat-x;
	height:62px;
	width:693px;
	padding-bottom:15px;
}
.reviewscore{
	position:absolute;
	height:62px;
	width:28px;
	z-index:1;
}
.reviewscore.zero{
	width:37px;
	background:url('../images/review.0.0.gif');
}
.reviewscore.one{
	background:url('../images/review.1.0.gif');
}
.reviewscore.two{
	background:url('../images/review.2.0.gif');
}
.reviewscore.three{
	background-image:url('../images/review.3.gif');
	width:68px;
}

#reviewus0{
	left:182px;
}

#reviewus1{
	left:219px;
}

#reviewus2{
	left:247px;
}

#reviewus3{
	left:275px;
}

#reviewps0{
	left:523px;
}
#reviewps1{
	left:560px;
}
#reviewps2{
	left:588px;
}
#reviewps3{
	left:616px;
}

#yourscore{
	background:url('../images/review.yourscore.gif') no-repeat;
	height:62px;
	width:188px;
	position:absolute;
}

#masteryscore{
	background:url('../images/review.masteryscore.gif') no-repeat;
	height:62px;
	width:188px;
	left:336px;
	position:absolute;
}

#certificate span{
	visibility:hidden;	
}
#certificate{
	width:100%;
}
#certificate a{
	background:url('../images/print_cert_button.gif') no-repeat;
	display:block;
	width:152px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
}
#certificate span{
	display:none;
}


.x-tree-node .x-tree-node-over{
	background-color:white;
	cursor:default;
}
.x-tree-node .x-tree-node-over a{
	cursor:default;
}
.x-tree-node{
	cursor:default;
}
.x-tree-node .x-tree-selected{
	background-color:white;
}
img.x-tree-icon { 
	width:16px; 
}
img.x-tree-ec-icon { 
	width:16px; 
}