@charset "UTF-8";
/* CSS Document */
.TemplateHolder
{
	width: 750px;
	position:relative;
}
.RadEContentBordered *,
.TemplateHolder *
{
	padding: 0;
	margin: 0;
}
.RadEContentBordered .imagequestiontemplate,
.TemplateHolder .imagequestiontemplate
{
	position:relative;
}

.RadEContentBordered h1,
.TemplateHolder h1
{
	font-size: x-large
}
.RadEContentBordered h2,
.TemplateHolder h2
{
	font-size: large
}
.RadEContentBordered h3,
.TemplateHolder h3
{
	font-size: medium
}
.RadEContentBordered h4,
.TemplateHolder h4
{
	font-size: medium;
	font-style: italic
}
.RadEContentBordered h5,
.TemplateHolder h5
{
	font-size: small;
}
.RadEContentBordered h6, .TemplateHolder h6
{
	font-size: small;
	font-style: italic;
}
.TemplateHolder h1, 
.RadEContentBordered h1,
.TemplateHolder h2, 
.RadEContentBordered h2,
.TemplateHolder h3, 
.RadEContentBordered h3,
.TemplateHolder h4, 
.RadEContentBordered h4,
.TemplateHolder h5, 
.RadEContentBordered h5,
.TemplateHolder h6, 
.RadEContentBordered h6,
.TemplateHolder p, 
.RadEContentBordered p,
.TemplateHolder ul, 
.RadEContentBordered ul,
.TemplateHolder ol, 
.RadEContentBordered ol,
.TemplateHolder dl,
.RadEContentBordered dl
{
	margin-bottom: 1.5em;
}

.TemplateHolder ul ul,
.RadEContentBordered ul ul,
.TemplateHolder ol ul,
.RadEContentBordered ol ul,
.TemplateHolder ul ol,
.RadEContentBordered ul ol,
.TemplateHolder ol ol,
.RadEContentBordered ol ol {
	margin-bottom: 0;
}

/* Temporarily show borders of content areas

.TemplateHolder .Col1,
.TemplateHolder .Col2,
.TemplateHolder .Col3
{
	border: solid #c00 1px;
}
------------------------------------------------*/
.RadEContentBordered ul, .RadEContentBordered ol, .RadEContentBordered blockquote,
.TemplateHolder ul, .TemplateHolder ol, .TemplateHolder blockquote {
	margin-left:2em;
}
.RadEContentBordered ul li, .TemplateHolder ul li
{
	margin-left: 2em;
	list-style-type: disc;
}
.RadEContentBordered ol li, .TemplateHolder ol li
{
	list-style-type:decimal;
	margin-left: 2em;
}

#allThatApplyList li, #multipleChoiceList li
{
	list-style-type:lower-alpha;
}
#trueFalseList li
{
	list-style-type:none;
}

.RadEContentBordered, .TemplateHolder 
{
	font-size:100%;
}
/* bold/em */
.TemplateHolder strong, .TemplateHolder b
{
	font-weight:bold;
}
.TemplateHolder em, .TemplateHolder i
{
	font-style:italic;
}
.TemplateHolder u
{
	text-decoration:underline;
}
#RadEContentIframeradEditor
{
	margin-left:0px;
}


.question ol li {
	list-style-type:lower-alpha;
}
.imagequestiontemplate img {
	max-height:400px;
	max-width:500px;
}
