﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Arizona Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools' Arizona Real Estate Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<br>
<b><u>Import Instructions</u></b><br><br>
&#8226; Use the data on your certificate to complete license renewal paperwork for the Arizona Department of Real Estate.
<br><br><br>
Detailed instructions regarding the submission of your license renewal may be found at the Arizona Department of Real Estate website below.
<br>
<div class="intro_ref"><a target=_blank href="www.re.state.az.us">www.re.state.az.us</a></div>
<br>
<br>
The attached Certificate of Completion is valid in the state of Arizona. If you need Certificates of Completion for
additional states, please contact ProSchools Customer Service at 1-800-452-4879.
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Arizona Real Estate Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_labeltitle" colspan="2" >CONTINUING EDUCATION COURSE IDENTIFICATION</td>
</tr><tr width=100%>
	<td class="completion_label">Sponsor's Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Sponsor's Certificate Number:</td>
	<td class="completion_data">S00-0016</td
</tr>
<tr width=100%>
	<td class="completion_label">Course Name:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Certification:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Start Date:</td>
	<td class="completion_data">@Model.FormatDate(@Model.TrainingProgram.StartDate.Value)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Number of Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Category:</td>
	<td class="completion_data">@Model.GetTrainingProgramMeta("Course Category Type")</td>
</tr>

<tr width=100%>
	<td class="completion_label">Administrator Name:</td>
	<td class="completion_data">Gary Taylor</td>
</tr>

</table>
<img src="/Certificates/Default/garytaylor3.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>