﻿
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/tp_aes.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<div class="intro_text">
<br><br>
	This will certify that @Model.UserFullName has taken and completed our program of studies for Twenty (20) hours of Online Instructor Led Pre-licensing Education in the course entitled:
<br><br>
@Model.TrainingProgram.Name
<br>
Course Number: @Model.TrainingProgram.InternalCode
<br><br>
The Provider and above course(s) are approved by the Nationwide Mortgage Licensing System and Registry and satisfy the pre-licensing education requirements for mortgage professionals under the S.A.F.E. Mortgage Licensing Act of 2008.
<br><br>
Course Provider ID: 140013
	</div>
<br><br>


<table width=100%>
<tr width=100%>
	<td class="completion_labeltitle2cnt" >Issue Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data"><img src="/Certificates/Default/patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>



	</body>
</html>