﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}


<!-------------------------------------------------------------------------->


<div class="completion_cert_ins_wa">

	<div class="intro_title">
	<img src="/Certificates/Default/wa_ce_logo.png" border=0 id="certificate_heading" style="text-align:center">
	</div>

<div class="completion_cert_ins_wa_border">
<br>
<table width=100%>
<tr width=100%>
	<td class="completion_label_left" colspan="2">STUDENT NAME: @Model.UserFullName</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2">WAOIC#: @Model.TrainingProgram.PrimaryLicense.UserLicenseNumber </td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2">&nbsp;</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2"><b>CONTINUING EDUCATION COURSE IDENTIFICATION</b></td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2">&nbsp;</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2"><b>Provider's Name</b>: ProSchools Inc</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2"><b><u>Provider's Number</b></u>: 34386</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2">&nbsp;</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2"><b>Instruction method(Classroom,Webinar, or Self Study): Self Study</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2"><b>Course Title</b>: @Model.TrainingProgram.Name</td>
</tr>
<tr width=100%>
	<td class="completion_label_left"><b><u>Course Number:</b></u> @Model.TrainingProgram.InternalCode</td>
	<td class="completion_label_left"><b><u>Course Completion Date:</b></u> @Model.FormatDate(targetTime)</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2">Total Number of cerdit hours: @Model.TrainingProgram.Cost</td>
</tr>
<tr width=100%>
	<td class="completion_label_left" colspan="2"><i>Including Ethics cerdit hours</i>: @Model.GetTrainingProgramMeta("Ethics Hours")  (if applicable)</td>
</tr>


</table>
<br>
<div class="intro_text">
PROVIDER CERTIFICATION<br><br>
I hereby certify that this course was conducted as approved by Washington State's Office of
Insurance Commissioner. I further certify that the person whose name appears above did personally
complete this course on the date indicated.
<br>
Name: Bonnie Dryden
<br>
Signature: <img src="/Certificates/Default/bonnie1.jpg" border=0 id="certificate_heading" style="style="text-align:left"> @Model.FormatDate(Model.TrainingProgram.DateCompleted)
<br>
<br>
STUDENT CERTIFICATION<br><br>
I hereby certify that I personally completed the course listed above in the manner required to satisfy the Continuing
Education regulation.
<br>
<img src="/Certificates/Default/signhere.png" border=0 id="certificate_heading" style="style="text-align:left">
<br>
This certificate is valid for 24 months from completion date.
</div>

<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.</div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode  WAOCICCERT2015(6/29)</div>
</div>
</div>
</div>