.instruction {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	clip:  rect(   )
}
.WVCTfont {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   font-style: normal;
   line-height: 21px
}
.WVCTmyZoologic {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   font-style: normal;
   line-height: 21px
}
.WVCTfontInput {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   font-style: normal
}
.WVCTfontText {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   font-style: normal
}
.term {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9pt;
   font-weight: bold
; padding-top: 10px
}
.definition {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9pt;
   font-weight: normal
}
.contentList {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   font-style: normal;
   line-height: 21px
}
.pageNumber {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 9pt;
   font-weight: bolder;
   text-align: center
}
.courseHeading {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11pt;
   font-weight: bold
}
.testHeading {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 14pt;
   font-weight: bolder
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	text-align: left ;
	font-weight: bold;
}
.standard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}
.standardBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold
}
.standard9pts {
	font-family: Arial;
	font-size: 9pt;
}
.input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-color: #666666 #666666 #333333 #333333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-position: center;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	height: 25px;
	width: 20px
}
.inputText {
	color: #000000;
	font-weight: normal;
	font-size: 16px
}
.symbol {
	font-family: Symbol;
	font-size: 14px;
	font-weight: bold
}

.creditsPlain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal
}
.creditsBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #990000
}

.bullets {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: normal;
	text-indent: 0pt
}

.hSliderTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: bold
}
.hSliderLabels {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal
}

.tableNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal
}
.tableBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold
}
.centered_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
.timeoutText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: 21px
}
.timeoutCount {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: red;
	font-size: 8pt;
	font-style: normal;
	line-height: 21px
}
.glossaryDefinition {
	font-family: Arial;
	font-size: 8pt;
	font-weight: normal
}
.glossaryVocablary {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold
}
.exerciseAnswer {
	font-family: Arial;
	font-size: 14pt;
	font-style: normal;
	font-weight: normal
}
.exerciseAnswerForUser {
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold
}
.exerciseInstructions {
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold
}
.exerciseCorrect {
	font-family: Arial;
	font-size: 8pt;
	color: #009900;
	font-weight: bold
}
.exerciseIncorrect {
	font-family: Arial;
	font-size: 8pt;
	color: #990000;
	font-weight: bold
}

a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #990000
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
   font-size: 11pt;
	color: #993300;
	text-decoration: none
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #0000FF
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #0000FF
}

a.lesson:link {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.lesson:visited {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.lesson:hover {
	COLOR: #0099FF;
	TEXT-DECORATION: none
}

a.link:link {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   COLOR: Blue;
   line-height: 21px;
   TEXT-DECORATION: underline
}
a.link:visited {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   COLOR: Blue;
   line-height: 21px;
   TEXT-DECORATION: underline
}
a.link:hover {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   COLOR: Blue;
   line-height: 21px;
   TEXT-DECORATION: underline
}
a.toclink:link {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   COLOR: Blue;
   background-color: #FFFFFF
}
a.toclink:visited {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   COLOR: Blue
}
a.toclink:hover {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   COLOR: Blue
}

a.glossary:link {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.glossary:visited {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.glossary:hover {
	COLOR: #666666;
	TEXT-DECORATION: none
}

a.dyk:link {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.dyk:visited {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.dyk:hover {
	COLOR: #CC0000;
	TEXT-DECORATION: none
}

a.popUp:link {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.popUp:visited {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.popUp:hover {
	COLOR: #009900 ;
	TEXT-DECORATION: none
}

a.web:link {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.web:visited {
	COLOR: Blue;
	TEXT-DECORATION: none
}
a.web:hover {
	COLOR: Aqua;
	TEXT-DECORATION: none
}
.demoHomeHeading {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold}
.demoHomeBody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal}
.demoHomeSpacer {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 4px}
.instructionText {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal}
a:link {  }
a:hover {  }
.feedback { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal ; padding-top: 10px}

a.headerLink:link {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   font-style: normal;
   COLOR: Blue;
   TEXT-DECORATION: underline;
   vertical-align: middle;
}
a.headerLink:visited {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   font-style: normal;
   COLOR: Blue;
   TEXT-DECORATION: underline;
   vertical-align: middle;
}
a.headerLink:hover {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt;
   font-style: normal;
   COLOR: Blue;
   TEXT-DECORATION: underline;
   vertical-align: middle;
}
.tableEntryFont {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: normal
}