﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Washington Insurance Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as your proof of completion of your continuing education clock hours. Print a
copy for your personal records and other copies sufficient to prove your completion of this course to your
regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br>
<b><u>Import Instructions</u></b><br>

<ol>
<li>Sign and date your certificate. Unsigned certificates will not be considered valid.</li>
<li>Register for your state exam with Pearson VUE. They can be reached at: www.pearsonvue.com
or (800) 274-8949.</li>
<li>You are required to bring your signed and dated certificate to the testing center.</li>
</ol>

All questions and registration information pertaining to the examination should be directed to Pearson VUE.<br><br>

All questions pertaining to licensure should be directed to:<br><br>
		Washington Office of Insurance Commissioner<br>
		Phone: (360) 725-7144<br>
		FAX: (360) 586-2019<br>
		E-Mail: LicInfo@oic.wa.gov<br>
<br>
<div class="intro_ref"><a target=_blank href="www.insurance.wa.gov">www.insurance.wa.gov</a></div>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br>
The Staff at ProSchools<br>
	</div>
</div>


<div class="completion_cert_wa">
	
	<div class="intro_title">
		<table width=100%>
		<tr width=100%><td class=".completion_labeltitle"><img src="/Certificates/Default//wa_ins_pe.png" border=0 id="certificate_heading" style="text-align:center">
		</td>
		<td class=".completion_labeltitle">
		State of Washington<br>
		Approved<br>
		Pre-License Education<br><br>
		</td>
		<tr><td colspan=2><b>CERTIFICATE OF COMPLETION</b></td></tr>
	</div>

<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label_leftwa">&nbsp;</td>
	<td class="completion_data">&nbsp;</td>
</tr>
<tr width=100%>
	<td class="completion_label_leftwa" colspan="2" ><b>Student Name:</b></td>
	<td class="completion_data" colspan="2">@Model.UserFullName</td>
</tr>
<tr width=100%>
	<td class="completion_label_leftwa" colspan="2">&nbsp;</td>
	<td class="completion_data" colspan="2">&nbsp;</td>
</tr>
<tr width=100%>
	<td class="completion_label_leftwa" colspan="4"><b>Pre-License Course Identification</b></td>
</tr><tr width=100%>
	<td class="completion_label_leftwa" colspan="1" width=5%>&nbsp;&nbsp;</td>
	<td class="completion_label_leftwa" colspan="1" width=45%>Provider's Name:</td>
	<td class="completion_data" colspan="2">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label_leftwa" colspan="1" width=5%>&nbsp;&nbsp;</td>
	<td class="completion_label_leftwa" colspan="1" width=45%>Provider's Location:</td>
	<td class="completion_data"colspan="2" >9400 SW Barnes Rd. Suite 400</td>
</tr><tr width=100%>
	<td class="completion_label_leftwa" colspan="1" width=5%>&nbsp;&nbsp;</td>
	<td class="completion_label_leftwa" colspan="1" width=45%>Provider's School Code#:</td>
	<td class="completion_data" colspan="2">34386</td>
</tr><tr width=100%>
	<td class="completion_label_leftwa" colspan="2">&nbsp;</td>
	<td class="completion_data" colspan="2">&nbsp;</td>
</tr><tr width=100%>
	<td class="completion_label_leftwa" colspan="2"><b>Course Subject</b></td>
	<td class="completion_label_leftwa" colspan="1" ><b>Credit Hours</b></td>
	<td class="completion_label_leftwa" colspan="1"><b>Completion Date</b></td>
</tr>
<tr width=100%>
	<td class="completion_label_leftwa" colspan="2">@Model.TrainingProgram.Name</td>
	<td class="completion_label_leftwa" colspan="1" >@Model.TrainingProgram.Cost</td>
	<td class="completion_label_leftwa" colspan="1">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</td>
</tr>
<tr width=100%>
	<td class="completion_label_leftwa" colspan="2">&nbsp;</td>
	<td class="completion_data" colspan="2">&nbsp;</td>
</tr>
<tr width=100%>
	<td class="completion_label_leftwa" colspan="4"><img src="/Certificates/Default/instructor_2.png" border=0 id="certificate_heading" style="style="text-align:left"></td>
</tr>

</table>
<br>
<div class="intro_text">
<b>PROVIDER CERTIFICATION</b><br>
I hereby certify that this course was conducted as approved by Washington State's Office of
Insurance Commissioner. I further certify that the person whose name appears above did
personally complete this course on the date indicated.
<br>
<img src="/Certificates/Default/Insurance_alancole_1.png" border=0 style="style="text-align:left">
<br>
<br>
<b>STUDENT CERTIFICATION</b><br>
I hereby certify that I personally completed the course listed above in the manner required to
satisfy the pre-license education regulation.
<br>
<img src="/Certificates/Default/signhere.png" border=0  style="style="text-align:left"><br>
This certificate is valid for 12 months from completion date.
<br>

</div>

<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>