// Variables file is used for scss variables. syntax like
$theme_logo : url('{PrimaryImage}');
$theme_logo_bottom : url('{SecondaryImage}');
// color palette
$primary: {PrimaryColor};
$secondary: {SecondaryColor};
$tertiary: {TertiaryColor};
$quaternary: {Quaternary};

// descriptive color variables
$grey: #8a8c8e;
$lightgrey: #c2c2c2;
$white: white;
$black: black;
$almostwhite: #FBFBFB;
$dark : $quaternary;

// functional color variables
$border-color: $secondary;
$box-shadow-color: $secondary;
$progressbar-completion: $primary;
$progressbar-empty: $secondary;
$timer-divder-bar: $secondary;
$menu-button-color: $black;
$nav-button-color: $tertiary;
$nav-button-text-color: $white;
$progressbar-text-color:$almostwhite;
$breadcrumb-bar-color: $quaternary;
$breadcrumb-bar-text-color: $white;
$menu-background-color: $tertiary;
$menu-text-color: $white;
$title-bar-background-color: $quaternary;


// Body vars
$body-max-width-1: 1080px;
$body-padding-top: 25px;
$body-padding-bottom: 25px;
$padding-for-body: 25px;


//header vars

$header-height: 100px;



// Timer Variables

$font-size-timer: 14px;
$timer-div-margin-bottom: 820px;
$timer-div-margin-left: 680px;
$timer-div-width: 180px;


// Page Nav buttons

$page-nav-margin-right: 960px;
$page-nav-margin-top: 320px;
$previous-margin-left: 100px;
$next-margin-left: 200px;
$next-margin-top: -40px;
$page-numbers-margin-left: 52.5px;
