﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<!-------------------------------------------------------------------------->


<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/tp_aes2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<div class="intro_text">
<br><br>
	This will certify that @Model.UserFullName has taken and completed our program of studies for twenty
(20) hours of Georgia pre-licensing education:<br><br>
<br>- Georgia Mortgage Basics: Increasing Knowledge, Creating Opportunities - 20 Hour Broker Pre-Licensing
<br><br>
The provider and above course are approved by the National Association of Mortgage Brokers in conjunction with the
Georgia Department of Banking and Finance. This course satisfies twenty(20) of the required forty (40) hours of
pre-licensing education requirements for mortgage brokers under Rule 80-11-4.01(4)(d).
<br><br>



<table width=100%>
<tr width=100%>
	<td class="completion_labeltitle2cnt" width=50% align=left >Issue Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data" width=50%><img src="/Certificates/Default//patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>


