﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Montana Real Estate Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Montana <i>@Model.TrainingProgram.Name</i> course, the part of the Montana real estate prelicense program that prepares you for the state portion of the state licensing exam.
	<br><br>
The following document is official course completion certificate.<br>
<br>
<b><u>Import Instructions</u></b><br><br>
<ol>
<li>All questions and registration information pertaining to the examination should be directed to AMP at the
following website: <br><a target=_blank href="http://www.goamp.com">http://www.goamp.com</a><br></li>
<li>Questions pertaining to licensure should be directed to:<br><br>
Montana Board of Realty Regulation<br>
301 South Park, 4th Floor<br>
P.O. Box 200513<br>
Helena, MT 59620-0513<br>
Phone: (406) 444-2961<br>
website: http://mt.gov/dli/rre/<br><br></li>
<li>You should report 30 minutes prior to your scheduled exam time and be able to provide two forms of
identification.</li>
</ol>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Montana Prelicense Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr>

<tr width=100%>
	<td class="completion_labeltitle" colspan="2" PRELICENSE COURSE IDENTIFICATION</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">State of Montana Course #:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Start Date:</td>
	<td class="completion_data">@Model.FormatDate(@Model.TrainingProgram.StartDate.Value)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provder Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Address</td>
	<td class="completion_data">9400 SW Barnes Rd. Suite 400<br>
Portland, OR 97225</td
</tr>
<tr width=100%>
	<td class="completion_label">Number of Clock Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr>



</table>
<br>


<img src="/Certificates/Default/garycalvert4.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>