﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<!-------------------------------------------------------------------------->


<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/tp_aes2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<div class="intro_text">
<br><br>
	This will certify that @Model.UserFullName has taken and completed our program of studies for 2 hours of mortgage core continuing education in the course entitled:
<br><br>
@Model.TrainingProgram.Name
<br>
Certification Number: @Model.TrainingProgram.InternalCode
<br><br>
The Provider and above course satisfy the state-specific continuing education requirements under Utah Division of Real Estate law. 
<br><br>
Student Signature: _______________________________________________
	</div>
<br><br>


<table width=100%>
<tr width=100%>
	<td width=50% class="completion_labeltitle2cnt" >Issue Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data"><img src="/Certificates/Default//patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>


