﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Tennessee Insurance Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Tennessee Insurance Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<b><u>Import Instructions</u></b><br>
To renew your license in Tennessee:<br>
<ol>
<li>ProSchools reports your continuing education credit to SBS.</li>
<li>Keep your original certificate of completion in your file for 2 years. Do not sent to the Insurance
Commission</li>
<li>Visit NIPR.com to renew your license online. You must wait 72 hours or 3 business days before
renewing your license with NIPR</li>
</ol>

<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br>
	<div class="intro_title">
		<b>STATE OF TENNESSEE</b><br>
		<b>Department of Commerce and Insurance</b><br>
		Continuing Education Course Completion Certification<br><br>

	</div>

<table width=100%>
<tr width=100%>
	<td class="completion_label">Agent's Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Agent's License Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr><tr width=100%>
	<td class="completion_label">Social Security Number:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr>
<tr width=100%>
	<td class="completion_center" colspan="2"><i>CONTINUING EDUCATION COURSE IDENTIFICATION</i></td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Line of Insurance:</td>
	<td class="completion_data">@Model.GetTrainingProgramMeta("Course Category Type")</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Number:</td>
	<td class="completion_data">1317</td>
</tr>

</table>
<br>
<table width=100%>
<tr width=100%>
	<td width=70% class="completion_labelsm">I certify that the above named student has successfully completed the course
listed above.</td>
	<td class="completion_datasm">I certify that I personally completed the above course.</td>
</tr>


</table>
<div class="intro_text">
<img src="/Certificates/Default/paulgold_2.png" border=0 id="certificate_heading" style="style="text-align:left">@Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
</div>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>