﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<!-------------------------------------------------------------------------->


<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/tp_aes2.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<div class="intro_text">
<br><br>
	This will certify that @Model.UserFullName has taken and completed our program of studies for 40 hours of Utah Mortgage Pre-Licensing Education the course entitled:
<br><br>
@Model.TrainingProgram.Name
<br>

<br><br>
The Provider and above courses are approved by the State of Utah Department of Commerce Division of Real Estate.
The course satisfies a portion of the Pre-Licensing requirements for Principle Lending Managers under the Utah SAFE
Act.
<br><br>
YOU MUST SUBMIT A COMPLETE MORTGAGE CANDIDATE EDUCATION CERTIFYING DOCUMENT TO
THE TESTING CENTER ON THE DAY OF YOUR EXAM. PLEASE DO NOT SUBMIT YOUR CERTIFICATE OF
COMPLETION TO THE TESTING CENTER FOR IT WILL NOT BE ACCEPTED.
	</div>
<br><br>


<table width=100%>
<tr width=100%>
	<td width=50% class="completion_labeltitle2cnt" >Issue Date: @Model.FormatDate(Model.TrainingProgram.DateCompleted)<br>
Authentication Number:@Model.User.ID - @Model.TrainingProgram.InternalCode
</td>
	<td class="completion_data"><img src="/Certificates/Default/patrick.png" border=0 id="certificate_heading" style="text-align:center"></td>
</tr>
</table>

</div>
</div>