﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
}

<div id="CertificateHeading">
	<br>
	<img src="/images/trainingprogramcompletionheading.gif" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br><br><br>
</div>
<div id="NameLine" class="font2">It is hereby certified by <b>NMLS</b> and <b>CourseConversion</b> that</div>
<div id="StudentName" class="student_name" style="padding-bottom:5px;">@Model.UserFullName</div>  
<div id="CourseLine" class="font2">has successfully completed</div>
<div id="Div1" class="font2">the training program</div>
<div id="CourseName" class="font1">@Model.TrainingProgram.Name<br><br></div>  
<div id="DateLine" class="font2">On the date of</div>
<div id="TestDate" class="font1">@Model.FormatDate(Model.TrainingProgram.DateCompleted)</div>
