﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);


	
}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Iowa Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Iowa Real Estate Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
<b><u>Import Instructions</u></b><br><br>
To renew your license:
<ol>
<li>Keep your original certificate of completion on file in the event you are chosen as part of a continuing
education audit by the Iowa Real Estate Commission.</li>

</ol>
<br><br><br>
For more information, visit the Iowa Real Estate Commission online at:
<br>
<div class="intro_ref"><a target=_blank href="http://www.state.ia.us/government/com/prof/sales/home.html">http://www.state.ia.us/government/com/prof/sales/home.html</a></div>
<br>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Iowa Real Estate Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Licensee Address:</td>
	<td class="completion_data">@Model.GetLicenseDataMeta(@Model.LicenseDataFieldNames[0])</td>
</tr><tr width=100%>
	<td class="completion_labeltitle" colspan="2" >This certifies that the individual named has successfully completed the course requirements for:</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Number:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Credit:</td>
	<td class="completion_data">Continuing Education</td>
</tr><tr width=100%>
	<td class="completion_label">Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">School Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">School Number:</td>
	<td class="completion_data">246</td
</tr><tr width=100%>
	<td class="completion_labeltitle" colspan="2" >I certify that the student named on this certificate completed the course identified on this certificate.</td>
</tr>


</table>
<img src="/Certificates/Default/mjackson_2.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>