﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Montana Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Montana Real Estate Continuing Education Course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>
The following document serves as Proof of Completion. Print a copy for your personal records and other copies sufficient to prove your completion of this course to your regulatory authority. Additional copies may be printed at a later time by logging into your account.<br><br><br>
<br>
<b><u>Import Instructions</u></b><br><br>
<ol>
<li>Retain this certificate of completion for your records.</li>
<li>ProSchools will electronically submit your course completion to the State of Montana Board of Realty
Regulation. Education providers have 20 days to report completed courses.</li>
<li>Renew your license on a timely basis. Regular renewals are due September 1-October 31. You may
obtain hardcopy renewal forms or renew your license online at:</li>
</ol>
<br>
<div class="intro_ref"><a target=_blank href="mt.gov/dli/rre">mt.gov/dli/rre</a></div>
To renew online, you will need your license number and PIN number, which is printed on your renewal notice.
<br>
<br>
The attached Certificate of Completion is valid in the State of Montana. If you need Certificates of Completion
for additional states, please contact ProSchools Customer Service at 1-800-452-4879.
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Montana Continuing Education Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Licensee Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_label">Licensee Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr>

<tr width=100%>
	<td class="completion_labeltitle" colspan="2" >CONTINUING EDUCATION COURSE IDENTIFICATION</td>
</tr><tr width=100%>
	<td class="completion_label">Instructor #:</td>
	<td class="completion_data">10-002 Distance Education</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">State of Montana Course#:</td>
	<td class="completion_data">2014 BroSales Core Online</td>
</tr><tr width=100%>
	<td class="completion_label">Course Approval #:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provder Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Course Topic:</td>
	<td class="completion_data">Mandatory</td
</tr>
<tr width=100%>
	<td class="completion_label">Number of Clock Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr>



</table>
<br>
<div class="completion_footer3"><br>I hereby certify the individual named herein completed the course described above and that the course meets the criteria as a required or
elective course topic.</div>


<img src="/Certificates/Default/garycalvert4.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>