﻿
@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);


}

<!-------------------------------------------------------------------------->
<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Nevada Insurance Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You have successfully completed ProSchools’ Life Basics course, the part of the Nevada insurance prelicense
program that prepares you for the national portion of the state licensing exam. Your next step is as follows:
	<br><br>
<ol>
<li>If taking Life Basics only then your next step is to proceed to Nevada Laws and Rules, which will
prepare you for the state portion of the exam.</li>
<li>If also taking Health Basics, the next step is to complete Health Basics and Beyond and lastly Nevada
Laws and Rules, which will prepare you for the state portion of the exam. The state portion of the state
exam is more difficult, so you'll want to complete Nevada Laws and Rules last to ensure that the
information is fresh in your mind when you take the state exam.</li>
</ol>
<b>In the bottom right corner is a serial number. Save your serial number! You will need to enter it when you
are ready to receive your completion certificate.</b> Your official course completion certificate will be mailed to
you upon passing ProSchools' Nevada Laws and Rules final exam. It will serve as your official certificate of
completion and will include your name, course title, and date of course completion.<br><br>

<br><br><br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>

<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode</div>

	</div>
</div>

