body.glossaryBody 
{

 }

 

.glossaryTerm 
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	 margin-top:  4; 	 
	 margin-bottom: 12   ; 
 }

 .glossaryDef
{
 	font-family: Arial, Helvetica, sans-serif;
 }
