﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);
}


<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>Nevada Real Estate Prelicense Education</b>
	</div>
<div class="intro_text">
<br><br>
	You’ve successfully completed ProSchools’ Nevada <i>@Model.TrainingProgram.Name</i> course, the part of the Nevada real estate prelicense program that prepares you for the state portion of the state licensing exam.
	<br><br>
The following document is official course completion certificate.<br>
<br>
<b><u>Import Instructions</u></b><br><br>
<ol>
<li>All questions and registration information pertaining to the examination should be directed to PSI at the
following website: <br>www.psiexams.com<br>
or<br>
at (800) 733-9267<br></li><br>
<li>Questions pertaining to licensure should be directed to:<br><br>
<table>
	<tr><td>Nevada Real Estate Division – Carson City Office&nbsp;&nbsp;&nbsp;</td>
		<td>Nevada Real Estate Division – Las Vegas Office</td>
	</tr>
	<tr><td>788 Fairview Avenue, Ste. 200</td>
		<td>2501 East Sahara Avenue, Ste. 102</td>
	<tr><td>Carson City, NV 89701-5453</td>
		<td>Las Vegas, NV 89104-4137</td>
	<tr><td>(775) 687-4280 ext. 301</td>
		<td>(702) 486-4033</td>
	</tr>
</table>
www.red.state.nv.us<br>
</li>
<li>You should report 30 minutes prior to your scheduled exam time and be able to provide two forms of
identification.</li>
</ol>
<br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>


<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>Nevada Prelicense Certificate of Attendance</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr>

<tr width=100%>
	<td class="completion_labeltitle" colspan="2" >has successfully completed a computer-based training offering</td>
</tr><tr width=100%>
	<td class="completion_label">Course Title:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr><tr width=100%>
	<td class="completion_label">Course Approval #:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr><tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Number of Clock Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr><tr width=100%>
	<td class="completion_label">This course is Sponsored By:</td>
	<td class="completion_data">ProSchools, Inc<br>10225 SW Park Way<br>
Portland, OR 97225</td>
</tr>




</table>
<br>


<img src="/Certificates/Default/garytaylor3.png" border=0 id="certificate_heading" style="text-align:center"><br>
<br>
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>