﻿@{
    Layout = "certificate";
    ViewBag.Title = @Model.Customer.Name + " Online Training - Training Program Completion";
	
	    var timeUtc = Model.TrainingProgram.DateCompleted;
    TimeZoneInfo zone = TimeZoneInfo.FindSystemTimeZoneById(string.IsNullOrEmpty(@Model.Customer.TimeZone) ? "Pacific Standard Time" : @Model.Customer.TimeZone);
    DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, zone);

	
}

<div id="CertificateHeading" style="align:center">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>
	<div class="intro_title">
		<b>Completion Record</b><br>
		<b>California Real Estate Continuing Education</b>
	</div>
<div class="intro_text">
<br><br>
	Congratulations! You’ve successfully completed ProSchools California Real Estate continuing education course, <i>@Model.TrainingProgram.Name</i>.
	<br><br>

<b><u>Important Instructions</u></b><br>
<br>
To Renew Your License:
<ol>
<li>Please keep a copy of this certificate for your records. You will need information found on your
certificate to complete the license renewal process.</li>
<li>Once you have completely satisfied your continuing education requirements you may apply online to
renew your license with California's eLicensing system. You may use eLicensing or submit your
renewal application 90 days prior to your license expiration date. Instructions and a link to the system
can be found here:</li>
</ol>
<div class="intro_ref"><a target=_blank href="http://dre.ca.gov/lic_renew.html">http://dre.ca.gov/lic_renew.html</a></div>
<br><br>
<br>
Thank you for choosing ProSchools. If you have any comments about this course, please feel free to contact us at
feedback@proschools.com. We value your input.<br><br><br>
The Staff at ProSchools<br><br><br><br><br><br>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>

<div class="completion_cert">
	<br>
	<img src="/Certificates/Default/proschools.png" border=0 id="certificate_heading" style="text-align:center">
	<br><br><br>

<b>CalBRE Continuing Education Certificate of Completion</b><br>
<br><br>
<table width=100%>
<tr width=100%>
	<td class="completion_label">Participant Name:</td>
	<td class="completion_data">@Model.UserFullName</td>
</tr><tr width=100%>
	<td class="completion_data" colspan="2"><i>Certifies under the penalty of perjury that the participant enrolled in the course is the person who completed the course and passed the final
examination with a minimum score of 70% to demonstrate course completion.</i></td>
</tr>
<tr width=100%>
	<td class="completion_label">Participant Signature:</td>
	<td class="completion_data">_____________________________________________</td>
</tr>
<tr width=100%>
	<td class="completion_label">Real Estate License Number:</td>
	<td class="completion_data">@Model.TrainingProgram.PrimaryLicense.UserLicenseNumber</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Name:</td>
	<td class="completion_data">@Model.TrainingProgram.Name</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Category Type:</td>
	<td class="completion_data">@Model.GetTrainingProgramMeta("Course Category Type")</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Identification Number#:</td>
	<td class="completion_data">@Model.TrainingProgram.InternalCode</td>
</tr>
<tr width=100%>
	<td class="completion_label">Credit Hours:</td>
	<td class="completion_data">@Model.TrainingProgram.Cost</td>
</tr>
<tr width=100%>
	<td class="completion_label">Credit Delivery Method:</td>
	<td class="completion_data">Online (Correspondence/Home Study)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Registration Date:</td>
	<td class="completion_data">@Model.FormatDate(@Model.TrainingProgram.StartDate.Value)</td>
</tr>
<tr width=100%>
	<td class="completion_label">Course Completion Date:</td>
	<td class="completion_data">@Model.FormatDate(targetTime)</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Name:</td>
	<td class="completion_data">ProSchools</td>
</tr><tr width=100%>
	<td class="completion_label">Provider Address:</td>
	<td class="completion_data">9400 SW Barnes Rd. Suite 400 Portland, Oregon 97225</td
</tr><tr width=100%>
	<td class="completion_label">Provider Telephone:</td>
	<td class="completion_data">1-800-452-4879</td>
</tr>
<tr width=100%>
	<td class="completion_data" colspan="2"><b>Proctor Verfication: I certify the final examination was administered in accordance with the examination rules.</b></td>
</tr>
</table>
<img src="/Certificates/Default/garycalvert2.png" border=0 id="certificate_heading" style="text-align:left">
<div class="completion_footer1">The certificate serial number uniquely identifies this certificate of completion and its bearer.
To confirm the validity of this certificate, call 1-800-452-4879.<div>
<div class="completion_footer2">Cert Serial Number:@Model.User.ID - @Model.TrainingProgram.InternalCode<div>
</div>
</div>